<h3>{{area.name}}</h3>

<p><AnsiFormat @text={{area.summary}} /></p>

{{#if area.rooms}}

<p><b>Locations</b></p>
<ul>
  {{#each area.rooms as |r|}}
  <li><LinkTo @route="location" @model={{r.id}}>{{r.name}}</LinkTo>  </li>
  {{/each}}
</ul>
{{/if}}

{{#if area.children}}
<p><b>Areas Within</b></p>

<ul>
  {{#each area.children as |c| }}
  <li><LinkTo @route="area" @model={{c.id}}>{{c.name}}</LinkTo></li>
  {{/each}}
</ul>
{{/if}}

<br>
<div class="row">
  <div class="col col-xs-12">
    <LinkTo @route="area" @model={{area.id}}>Learn More...</LinkTo>
  </div>
</div>
