<div class="row">
  <div class="col col-xs-4">
    {{char-icon char=char}}

    {{#if char.id}}
    {{#link-to 'char' char.name}}View Full Profile{{/link-to}}
    {{/if}}
    
  </div>  
  <div class="col col-xs-8">
    {{#if (not char.is_ooc)}}
      {{#each char.demographics as |demo|}}
      <div class="row">
          <div class="col-sm-3">
            <b>{{demo.name}}</b> 
          </div>
          <div class="col-sm-9">
            {{demo.value}}
          </div>
      </div>
      {{/each}}
    {{/if}}
    
    {{#if char.status_message}}
    <br>
    <div class="alert alert-info">
      {{char.status_message}}
    </div>
    {{/if}}
    
    
  </div>
</div>
    
<div class="row">
  <div class="col col-xs-12">
    
    {{{ansi-format text=char.description}}}
    
  </div>
</div>
    
