<div class="scene-card">
<div class="row">
  <div class="col col-4">
    <CharIcon @char={{this.char}} />

    {{#if this.char.id}}
    <LinkTo @route="char" @model={{this.char.name}} target="_blank">View Full Profile</LinkTo>
    {{/if}}
    
  </div>  
  <div class="col col-8">
    {{#if (not this.char.is_ooc)}}
      {{#each this.char.demographics as |demo|}}
      <div class="row">
          <div class="col col-xs-3">
            <b>{{demo.name}}</b> 
          </div>
          <div class="col col-xs-9">
            {{demo.value}}
          </div>
      </div>
      {{/each}}
      {{#if (not this.char.demographics)}}
      No demographics available.  Try reloading the scene page.
      {{/if}}
    {{/if}}
    
    {{#if this.char.status_message}}
    <br>
    <div class="alert alert-info">
      {{this.char.status_message}}
    </div>
    {{/if}}
    
    
  </div>
</div>

<hr>    

{{#if this.char.description}}
<AnsiFormat @text={{this.char.description}} />
{{/if}}
    
<hr>

{{#if this.char.fs3}}

<div class="card-abilities">
  {{#each this.char.fs3.attributes as |ability|}}
  <span class="card-ability">{{ability.name}}: {{ability.rating}}</span>
  {{/each}}
</div>

<div class="card-abilities">
  {{#each this.char.fs3.action_skills as |ability|}}
  <span class="card-ability">{{ability.name}}: {{ability.rating}}</span>
  {{/each}}
</div>


<div class="card-abilities">
  {{#each this.char.fs3.backgrounds as |ability|}}
  <span class="card-ability">{{ability.name}}: {{ability.rating}}</span>
  {{/each}}
</div>

<div class="card-abilities">
  {{#each this.char.fs3.languages as |ability|}}
  <span class="card-ability">{{ability.name}}: {{ability.rating}}</span>
  {{/each}}
</div>

{{#if this.char.fs3.advantages}}
<div class="card-abilities">
  {{#each this.char.fs3.advantages as |ability|}}
  {{ability.name}}: {{ability.rating}}
  {{/each}}
</div>
{{/if}}

{{/if}}
</div>