{{#each achievements as |achieve| }}
<p>
<i class="fa {{achieve.type_icon}} fa-2x" aria-hidden="true"></i>

&nbsp;

{{achieve.message}} 

{{#if achieve.count}}
({{achieve.count}})
{{/if}}
</p>
{{/each}}

{{#if sceneStats}}
<hr>

<p><b>Words Written in Scenes:</b> {{sceneStats.pose_word_count}}</p>
<p><b>Scenes Participated In:</b> {{sceneStats.scenes_participated_in}}</p>
<p><b>Words Per Scene (average):</b> {{sceneStats.words_per_scene}}</p>
{{/if}}