<h1>Spells</h1>

<div class="row">
  {{#each char.major_spells_list as |spell|}}
  <div class="spell-block">
    <div  class="col-sm-7 col-md-6">
      <b>{{spell.name}}</b>
    </div>
    <div  class="col-sm-2 col-md-2">
      <i>Level {{spell.level}} </i>
    </div>
    <div  class="col-sm-3 col-md-4">
      <a href="/wiki/{{spell.school}}">{{spell.school}}</a>
    </div>
    <br>
  </div>
  {{/each}}
  <hr>
</div>



<div class="row">
  {{#each char.spells as |spell|}}
  <div class="spell-block">
    <div  class="col-sm-7 col-md-6">
      <b>{{spell.name}}</b>
    </div>
    <div  class="col-sm-2 col-md-2">
      <i>Level {{spell.level}} </i>
    </div>
    <div  class="col-sm-3 col-md-4">
      <a href="/wiki/{{spell.school}}">{{spell.school}}</a>
    </div>
    <br>
  </div>
  {{/each}}
</div>
