<div id="general" class="tab-pane fade in active">
    
    {{#each-in model.char.demographics as |key demo|}}
    <div class="form-group row">
        <div class="col-sm-3">
                <b>{{demo.name}}</b> 
        </div>
        <div class="col-sm-9">
            {{#if (eq demo.name 'Gender') }}
                
                <PowerSelect @selected={{model.char.demographics.gender}} @searchField="value" @options={{genders}} @onchange={{action "genderChanged"}} as |gender|>
                  {{gender.value}}
                </PowerSelect>
                
            {{else}}
                <Input @type="text" @size={{25}} @value={{demo.value}} />
            {{/if}}
        </div>
    </div>
    {{/each-in}}
    
    <div class="form-group row">
        <div class="col-sm-3">
                <b>Profile Image</b>
        </div>
        
        <div class="col-sm-9">
            <PowerSelect @selected={{model.char.profile_image}} @allowClear={{true}} @searchField="name" @options={{model.char.files}} @onchange={{action "profileImageChanged"}} as |file|>
            {{file.name}}
            </PowerSelect>
            
            <p class="hint">See <LinkTo @route="help-topic" @model="icons">Icons</LinkTo> for tips on selecting and sizing your profile image.</p>
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-sm-3">
                <b>Profile Icon</b>
        </div>
        
        <div class="col-sm-9">
            <PowerSelect @selected={{model.char.profile_icon}} @allowClear={{true}} @searchField="name" @options={{model.char.files}} @onchange={{action "profileIconChanged"}} as |file|>
            {{file.name}}
            </PowerSelect>
            
            <p class="hint">See <LinkTo @route="help-topic" @model="icons">Icons</LinkTo> for tips on selecting and sizing your profile image.</p>
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-sm-3">
                <b>Profile Gallery</b>
        </div>
        
        <div class="col-sm-9">
          
          <div class="profile-gallery-input">
          <Textarea @value={{model.char.profile_gallery}} @cols="80" @rows={{3}} />
          
            <p class="hint">List image files in the order you want them shown (<code>folder/file1.jpg /folder/file2.jpg</code> etc.), or leave this blank to just show all images from your character's folder.</p>
            
            </div>
            
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-sm-3">
                <b>Page Tags</b>
        </div>
        
        <div class="col-sm-9">
            <Input @type="text" @size={{50}} @value={{model.char.tags}} />
            
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-sm-3">
                <b>Share Background</b>
        </div>
        
        <div class="col-sm-9">
              <Input @type="checkbox" @checked={{model.char.bg_shared}} />
        </div>
    </div>
    
    
    <div class="form-group row">
        <div class="col-sm-3">
                <b>Last Will</b>
        </div>
        
        <div class="col-sm-9">
              <MarkdownEditor @text={{model.char.lastwill}} />
        </div>
    </div>
    
    
    
    
</div>

