<span style="display: inline-block">
{{#link-to "char" char.name}}
    {{#if char.icon}}
    <img class="small-profile-icon {{icon-class}}" src="/game/uploads/{{char.icon}}" />
    {{else}}
    <img class="small-profile-icon {{icon-class}}" src="/game/uploads/theme_images/noicon.png" />
    {{/if}}
{{/link-to}}

{{#link-to "char" char.name}} {{char.name}} {{/link-to}}
</span>