<div id="mythic" class="tab-pane fade show">
  <div class="form-group row">
    <div class="col-sm-3">
      <b>Name</b>
    </div>
    <div class="col-sm-9">
      <Input @type="text" size={{25}} @value={{char.custom.mythic_name}} />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-3">
      <b>Gender</b>
    </div>
    <div class="col-sm-9">
      <Input @type="text" size={{25}} @value={{char.custom.mythic_gender}} />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-3">
      <b>About</b>
    </div>
    <div class="col-sm-9">
      <MarkdownEditor @text={{char.custom.mythic_about}} />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-3">
      <b>Description</b>
    </div>
    <div class="col-sm-9">
      <MarkdownEditor @text={{char.custom.mythic_desc}} />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-3">
      <b>Short desc</b>
    </div>
    <div class="col-sm-9">
      <Input @type="text" size={{50}} @value={{char.custom.mythic_shortdesc}} />
    </div>
  </div>
</div>