<div id="profile" class="tab-pane fase show">
    <p><b>Section Order:</b> <Input @type="text" size={{50}} @value={{this.model.char.profile_order}} placeholder="Order (Optional)." /></p>
   <p class="hint">List section names, separated by commas, in the order you want them to appear on your profile display.</p>
   
   <hr>
   
   {{#each this.model.char.profile as |profile|}}
   <p>
   <Input @type="text" size={{25}} @value={{profile.name}} placeholder="Enter section name." />
   <button class="btn btn-secondary" {{action 'removeProfile' profile.key}}><i class="fa fa-trash" aria-label="Remove Section"></i></button>
   </p>
   <MarkdownEditor @text={{profile.text}} />
    <hr>
   {{/each}}
   
   <button class="btn btn-secondary" {{action 'addProfile'}}>Add Profile Section <i class="fa fa-plus" aria-label="Add Section"></i></button>
</div>
