
<div id="relationships" class="tab-pane fade in">
    <p><b>Category Order:</b> <Input @type="text" @size={{50}} @value={{model.char.relationships_category_order}} placeholder="Order (Optional)." /></p>
    <p class="hint">List categories, separated by commas, in the order you want them to appear on your relationship display.</p>
    <hr>

    {{#each model.char.relationships as |relationship|}}
    <p>
    <Input @type="text" @size={{25}} @value={{relationship.name}} placeholder="Enter name." />
    
    Category: <Input @type="text" @size={{25}} @value={{relationship.category}} placeholder="Enter category." />
                
    <button class="btn btn-default" {{action 'removeRelationship' relationship.key}}><i class="fa fa-trash" aria-label="Remove Relationship"></i></button>
    </p>
    
    <p>
    
    Order: <Input @type="text" @size={{25}} @value={{relationship.order}} placeholder="Order (Optional)." />
                
    Off-Game NPC: <Input @type="checkbox" @checked={{relationship.is_npc}} /> 
    
    {{#if relationship.is_npc}}
    NPC Image: <Input @type="text" @size={{25}} @value={{relationship.npc_image}} placeholder="folder/filename.ext (Optional)." />
    {{/if}}
    
    </p>
    
    <MarkdownEditor @text={{relationship.text}} />
    
    <hr>
    {{/each}}
   
    <button class="btn btn-default" {{action 'addRelationship'}}>Add Relationship <i class="fa fa-plus" aria-hidden="true"></i></button>
    
  
</div>
