<div id="descs" class="tab-pane fase show">
   
   <ul class="nav nav-tabs" role="tablist">
       <li class="nav-item"><a data-bs-toggle="tab" class="nav-link active" href="#desccurrent">Main Description</a></li>
       <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#descshort">Short Desc</a></li>
       <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#descoutfits">Outfits</a></li>
       <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#descdetails">Details</a></li>
   </ul>
   
  <div class="tab-content">     
   <div id="desccurrent" class="tab-pane fase show active">
     <MarkdownEditor @text={{this.model.char.descs.current}} />
   </div>
   
   <div id="descshort" class="tab-pane fase show">
     <MarkdownEditor @text={{this.model.char.shortdesc}} />
   </div>

   <div id="descoutfits" class="tab-pane fase show">
     
     {{#each this.model.char.descs.outfits as |outfit|}}
     <p>
     <Input @type="text" size={{25}} @value={{outfit.name}} placeholder="Enter outfit name." />
     <button class="btn btn-secondary" {{action 'removeOutfit' outfit.key}}><i class="fa fa-trash" aria-label="Remove Outfit"></i></button>
     </p>
     <MarkdownEditor @text={{outfit.desc}} />
      <hr>
     {{/each}}
   
     <button class="btn btn-secondary" {{action 'addOutfit'}}>Add Outfit <i class="fa fa-plus" aria-label="Add Outfit"></i></button>
   
   </div>

   <div id="descdetails" class="tab-pane fase show">
     {{#each this.model.char.descs.details as |detail|}}
     <p>
     <Input @type="text" size={{25}} @value={{detail.name}} placeholder="Enter detail name." />
     <button class="btn btn-secondary" {{action 'removeDetail' detail.key}}><i class="fa fa-trash" aria-label="Remove Detail"></i></button>
     </p>
     <MarkdownEditor @text={{detail.desc}} />
      <hr>
     {{/each}}
   
     <button class="btn btn-secondary" {{action 'addDetail'}}>Add Detail <i class="fa fa-plus" aria-label="Add Detail"></i></button>
    </div>
  </div>
</div>
