<div role="tabpanel" class="tab-pane" id="magic">

  <div class="chargen-section-title">Magic</div>
  <div class="cg-tip"><AnsiFormat @text={{char.custom.magic_blurb}} /></div>
  <br>

  <div class="form-group row">
    <div class="col-sm-3">
      <b>Mage School</b>
    </div>
    <div class="col-sm-9">
      <PowerSelect @selected={{this.char.custom.major_school}} @searchEnabled=true @searchField="value" @options={{this.char.custom.major_schools}} @onChange={{action "majorschoolChanged"}} as |school|>
        {{school}}
      </PowerSelect>
    </div>
  </div>

  <br>
  <div class="form-group row">
    <div class="col-sm-3">
      <b>Mage Spells</b>
    </div>

    <div class="col-sm-9">
      <PowerSelectMultiple @selected={{this.char.custom.mage_starting_spells}} @allowClear=true @options={{this.char.custom.mage_cg_spells}} @searchEnabled=true @searchField="name"  @onChange={{action "mageSpellsChanged"}} as |spell|>
        {{spell.name}} (Level {{spell.level}} {{spell.school}})
      </PowerSelectMultiple>
    </div>
  </div>

  <div class="chargen-section-title">Mythic</div>
  <div class="cg-tip"><AnsiFormat @text={{this.char.custom.mythic_blurb}} /><br><br></div>


  <div class="form-group row">
    <div class="col-sm-3">
      <b>Name</b>
    </div>
    <div class="col-sm-9">
      <Input @type="text" size={{25}} @value={{this.char.custom.mount_name}} />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-3">
      <b>Mythic Type</b>
    </div>
    <div class="col-sm-9">
      <PowerSelect @selected={{this.char.custom.mount_type}} @searchEnabled=true @searchField="value" @options={{this.char.custom.mount_types}} @onChange={{action "mounttypeChanged"}} as |type|>
        {{type}}
      </PowerSelect>
    </div>
  </div>

    <div class="form-group row">
    <div class="col-sm-3">
      <b>Mythic Gender</b>
    </div>
    <div class="col-sm-9">
      <PowerSelect @selected={{this.char.custom.mount_gender}} @searchEnabled=true @searchField="value" @options={{this.char.custom.mount_genders}} @onChange={{action "mountGenderChanged"}} as |type|>
        {{type}}
      </PowerSelect>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-3">
      <b>Description</b>
    </div>
    <div class="col-sm-9">
      <MarkdownEditor @text={{this.char.custom.mount_desc}} rows={{5}}/>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-3">
      <b>Short Description</b>
    </div>
    <div class="col-sm-9">
      <Input @type="text" size={{50}} @value={{char.custom.mount_shortdesc}} />
    </div>
  </div>

  <div class="cg-tip">{{{ansi-format text=char.custom.mythic_magic_blurb}}}</div><br>
  <div class="form-group row">
    <div class="col-sm-3">
      <b>Mythic School</b>
    </div>
    <div class="col-sm-9">
      <PowerSelect @selected={{this.char.custom.minor_school}} @searchEnabled=true @searchField="value" @options={{this.char.custom.minor_schools}} @onChange={{action "minorschoolChanged"}} as |school|>
        {{school}}
      </PowerSelect>
    </div>
  </div>

    <div class="form-group row">
    <div class="col-sm-3">
      <b>Mythic Spells</b>
    </div>

    <div class="col-sm-9">
      <PowerSelectMultiple @selected={{this.char.custom.mythic_starting_spells}} @allowClear=true @options={{this.char.custom.mythic_cg_spells}} @searchEnabled=true @searchField="name"  @onChange={{action "mythicSpellsChanged"}} as |spell|>
        {{spell.name}} (Level {{spell.level}} {{spell.school}})
      </PowerSelectMultiple>
    </div>
  </div>

  {{!-- <div class="cg-tip">{{{ansi-format text=this.char.custom.lorehook_blurb}}}</div><br>
  <div class="form-group row">
    <div class="col-sm-3">
      <b>Lore Hook Preference</b>
    </div>
    <div class="col-sm-9">
      <PowerSelect @selected={{char.custom.lore_hook_pref }} @searchEnabled=true @searchField="value" @options={{char.custom.lore_hook_prefs}} @onChange={{action "lorehookPrefChanged"}} as |pref|>
        {{pref.value}} - {{pref.desc}}
      </PowerSelect>


    </div>
  </div> --}}

</div>



