<span class="inline-block">
  {{#if hideLink}}
      <CharIconStatusBase @char={{char}} @iconClass="small-profile-icon" />
  {{else}}
    <LinkTo @route="char" @model={{char.name}}>
        <CharIconStatusBase @char={{char}} @iconClass="small-profile-icon" />
    </LinkTo>
  {{/if}}

{{#if hideLink}}
  {{#if char.nick}}
    {{char.nick}}
  {{else}}
    {{char.name}} 
  {{/if}}
{{else}}
  <LinkTo @route="char" @model={{char.name}}> 
    {{#if char.nick}}
      {{char.nick}}
    {{else}}
      {{char.name}} 
    {{/if}}
  </LinkTo>
{{/if}}
</span>