<div id="files" class="tab-pane fade in">
    <div class="cg-tip">Files need to be in a folder matching the creature's name.  They will show up in the gallery and banner image selection lists.  </div>

    <hr>

    <div>
      {{#each model.creature.files as |file|}}

      <div class="thumbnail-gallery">
        <LinkTo @route="file" @models={{array file.folder file.name}}>
          {{file.path}} <img src="/game/uploads/{{file.path}}" alt="{{file.name}}" class="thumbnail">
        </LinkTo>
      </div>
      {{/each}}
    </div>
    <div class="clearfix"/>

    <p><LinkTo @route="files" target="_blank">All Files</LinkTo></p>

    <FileUploader @folder={{model.creature.name}} @uploaded={{action "fileUploaded"}} />
</div>
