<div class="dropdown {{if this.dropup 'dropup' ''}}">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="{{this.id}}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{this.title}}
  </a>

  <ul class="dropdown-menu" aria-labelledby="{{this.id}}">
      {{yield}}
  </ul>
</div>