<div class="panel panel-default">
    <div class="panel-heading">
        Upload Files
    </div>

    <div class="panel-body">

        {{#if showSelector}}
        <p>Select files for upload...</p>
        
        <p class="alert alert-info">Please consider copyright when uploading images, and add attributions to pages where they're used as needed.</p>
        
        {{#if allowMulti}}
        <input type="file"
           multiple
           accept="image/*" 
           onchange={{action "filesSelected"}}>
        {{else}}
        <input type="file"
           accept="image/*" 
           onchange={{action "filesSelected"}}>
        {{/if}}
        
        {{else}}

           <div class="alert alert-info"> 
             {{fileCount}} files selected for upload. Review the options, then click the upload button for <b>each file</b> to commence the upload.
             </div>

            <table class="table">
        
            {{#each files as |f|}}
            <tr>
                <td><img class="upload-preview" alt="preview image" src="{{f.url}}" ></td>
                <td>
                    {{#if (not f.upload_success)}}
                      {{#if lockProperties}}
                      <p><label class="col-xs-5">Folder:</label> {{f.folder}}</p>
                      {{else}}
                      <p><label class="col-xs-5">Name:</label> <Input @type="text" @value={{f.name}} /></p>
                      <p><label class="col-xs-5">Folder:</label> <Input @type="text" @value={{f.folder}} /></p>
                      <p><label class="col-xs-5">Overwrite?</label> <Input @type="checkbox" @checked={{f.allowOverwrite}} /></p>
                      {{/if}}
                    {{/if}}
                    
                    {{#if f.upload_message}}
                        {{#if f.upload_success}}
                            <span class="label label-success">{{f.upload_message}}</span>
                        {{else}}
                            <span class="label label-danger">{{f.upload_message}}</span>
                        {{/if}}
                    {{/if}}
                    
                </td>
                <td>{{f.sizeKb}}KB</td> 
                <td>
                    {{#if (not f.upload_success)}}
                        <button class="btn btn-default" {{action 'removeFile' f}}><i class="fa fa-ban" aria-label="Remove File"></i></button>
                        <button class="btn btn-primary" {{action 'uploadFile' f}}><i class="fa fa-upload" aria-label="Upload File"></i></button>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </table>

        <button class="btn btn-default" {{action 'reset'}}>Reset Uploader</button>
        {{/if}}
    </div>
</div>
