<div class="panel panel-default">
    <div class="panel panel-heading">
        Upload Files
    </div>

    <div class="panel panel-body">

        {{#if showSelector}}
        <p>Select files for upload...</p>
        
        <input type="file" 
           multiple="true" 
           accept="image/*" 
           onchange={{action "filesSelected"}}
        />
        
        {{else}}

            {{fileCount}} files selected for upload.

            <table class="table">
        
            {{#each files as |f|}}
            <tr>
                <td><img class="upload-preview" src="{{f.url}}" /></td>
                <td>
                    {{#if (not f.upload_success)}}
                    
                    <p><label class="col-xs-5">Name:</label> {{input type='text' value=f.name}}</p>
                    <p><label class="col-xs-5">Folder:</label> {{input type='text' value=f.folder}}</p>
                    <p><label class="col-xs-5">Overwrite?</label> {{input type='checkbox' checked=f.allowOverwrite}}</p>
                    {{/if}}
                    
                    {{#if f.upload_message}}
                        {{#if f.upload_success}}
                            <span class="label label-success">{{f.upload_message}}</span>
                        {{else}}
                            <span class="label label-danger">{{f.upload_message}}</span>
                        {{/if}}
                    {{/if}}
                    
                </td>
                <td>{{f.sizeKb}}KB</td> 
                <td>
                    {{#if (not f.upload_success)}}
                        <button class="btn btn-default" {{action 'removeFile' f}}><i class="fa fa-ban" aria-hidden="true"></i></button>
                        <button class="btn btn-primary" {{action 'uploadFile' f}}><i class="fa fa-upload" aria-hidden="true"></i></button>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </table>

        <button class="btn btn-default" {{action 'reset'}}>Reset Uploader</button>
        {{/if}}
    </div>
</div>
