<div class="row"> 
<div class="col-sm-7">
{{yield}}
</div>

<div class="col-sm-1">
<button id="dec-attr" {{action "decrement"}}>-</button>
</div>

<div class="col-sm-2">
{{rating}} ({{ratingName}})
</div>

<div class="col-sm-1">
<button id="inc-attr" {{action "increment"}}>+</button>
</div>

</div>

<div class="row">
<div class="col-sm-12" style="background:#f9f9f9;">&nbsp;</div>
</div>