<div class="row fs3-abilitybox"> 
  <div class="col col-sm-7">
    {{yield}}
  </div>

  <div class="col col-sm-5">
    <div class="fs3-rating-control">
      <button class="fs3-skillbutton" {{action "decrement"}}>-</button>

      <div class="fs3-rating-display">
        <Fs3Dots @rating={{this.rating}} @max={{1}} />
        <br>
        {{this.ratingName}}
      </div>

      <button class="fs3-skillbutton" {{action "increment"}}>+</button>
    </div>
    
  </div>
</div>
