
<div class="table-responsive">

<table class="table">
<thead>
    <th>Name</th>
    <th>Damage</th>
    <th>Weapon</th>
    <th>Armor</th>
    <th>Vehicle</th>
    <th>Stance</th>
    <th>Action</th>
    <th></th>

</thead>

<tbody>

{{#each this.combat.teams as |t| }}    

<tr><td colspan="6"><h3>Team {{t.team}}</h3></td></tr>

    {{#each t.combatants as |c| }}
    
    <tr>
        <td>
          {{#if c.is_npc}}
            {{c.name}}
          {{else}}
            <LinkTo @route="char" @model={{c.name}} target="_blank">{{c.name}}</LinkTo>
          {{/if}}
        </td>
        
        <td>
            {{#if c.is_ko}}
            <span class="combat-damage hint--left" aria-label="{{c.wound_display}}">
                <i class="fa fa-crosshairs" aria-label="Knocked Out"></i>
                K O 
                <i class="fa fa-crosshairs" aria-hidden="true"></i>
            </span>
            {{else}}
              <span class="combat-damage hint--left" aria-label="{{c.wound_display}}">                
                {{#each c.damage_boxes}}
                    <i class="fa fa-heartbeat combat-damage" aria-label="Damage Box"></i>
                {{/each}}
              </span>
            {{/if}}
        </td>
        
        <td>
            {{c.weapon}} {{c.ammo}}
        </td>
        <td>
            {{c.armor}}
        </td>
        
        <td>
            {{c.vehicle}}
        </td>
        
        <td>
            {{c.stance}}
        </td>
        
        <td>
            {{c.action}}
        </td>
        
        <td>
            {{#if this.combat.can_manage}}
                <LinkTo @route="combatant-edit" @model={{c.id}} target="_blank">
                <TooltipIcon @position="left" @message="Edit combatant." @icon="fa fa-edit" />
                </LinkTo>
            {{/if}}
        </td>
    </tr>
    
    {{/each}}
  

{{/each}}

    
</tbody>
</table>

</div>