<div class="row fs3-abilitybox"> 
  <div class="col col-sm-7">
    {{yield}}
  </div>

  <div class="col col-sm-5">
    <div class="fs3-rating-control">
      <button class="fs3-skillbutton" {{action "decrement"}}>-</button>

      <div class="fs3-rating-display">
        <Fs3Dots @rating={{this.rating}} @max={{4}} />
        <br>
        {{this.ratingName}}
      </div>

      <button class="fs3-skillbutton" {{action "increment"}}>+</button>
    </div>
    
  </div>
  

  {{#if this.specialties}}
    <div class="fs3-specialty-select">

      {{#if (gt this.rating 2)}}
      <div class="cg-tip">Specialty is required for ratings 3+.</div>
      {{else}}
      <div class="cg-tip">Specialty is optional for ratings 1-2.</div>
      {{/if}}
       
        {{#each this.specialties as |spec|}}
      
            <span class="text">&nbsp; {{spec.name}}:</span>
            <Input @type="checkbox" @checked={{spec.selected}} /> 
        {{/each}}
    </div>
  {{/if}}
  
</div>
