<div class="row"> 
<div class="col-sm-7">
{{yield}}
</div>

<div class="col-sm-1">
<button class="fs3-skillbutton" id="dec-skill" {{action "decrement"}}>-</button>
</div>

<div class="col-sm-3">
<Fs3Dots @rating={{rating}} @max={{8}} />
<br>
{{ratingName}}
</div>

<div class="col-sm-1">
<button class="fs3-skillbutton" id="inc-skill" {{action "increment"}}>+</button>
</div>

</div>

{{#if specialties}}
  <div class="row">
  <div class="col-sm-12">
    {{#if (gt rating 2)}}
    <div class="cg-tip">Specialty is required for ratings 3+.</div>
    {{else}}
    <div class="cg-tip">Specialty is optional for ratings 1-2.</div>
    {{/if}}
       
      {{#each specialties as |spec|}}
      
          <span class="text">&nbsp; {{spec.name}}:</span>
          <Input @type="checkbox" @checked={{spec.selected}} /> 
          

      {{/each}}
      
  </div>
  </div>
{{/if}}

<div class="row">
<div class="col-sm-12 fs3-divider">&nbsp;</div>
</div>