<b>Attributes</b>
<ul class="char-ability-list">
{{#each char.fs3.attributes as |ability| }}
<li>
  {{ability.name}}: {{ability.rating_name}}
</li>
{{/each}}
</ul>

<b>Action Skills</b>
<ul class="char-ability-list">
{{#each char.fs3.action_skills as |ability| }}
<li>
  {{ability.name}}: {{ability.rating_name}}
</li>
{{/each}}
</ul>

<b>Background Skills</b>
<ul class="char-ability-list">
{{#each char.fs3.backgrounds as |ability| }}
<li>
  {{ability.name}}: {{ability.rating_name}}
</li>
{{/each}}
</ul>

<b>Language Skills</b>
<ul class="char-ability-list">
{{#each char.fs3.languages as |ability| }}
<li>
  {{ability.name}}: {{ability.rating_name}}
</li>
{{/each}}
</ul>
{{#if char.fs3.use_advantages}}
<b>Advantages</b>
<ul class="char-ability-list">
{{#each char.fs3.advantages as |ability| }}
<li>
  {{ability.name}}: {{ability.rating_name}}
</li>
{{/each}}
</ul>
{{/if}}
