<div class="row"> 
<div class="col-sm-7">
{{yield}}
</div>

<div class="col-sm-1">
<button class="fs3-skillbutton" id="dec-attr" {{action "decrement"}}>-</button>
</div>

<div class="col-sm-2">
<Fs3Dots @rating={{rating}} @max={{3}} />
<br>
{{ratingName}}
</div>

<div class="col-sm-1">
<button class="fs3-skillbutton" id="inc-attr" {{action "increment"}}>+</button>
</div>

</div>

<div class="row">
<div class="col-sm-12 fs3-divider">&nbsp;</div>
</div>