     <ul class="nav nav-tabs" role="tablist">

            {{#if model.char.fs3.reset_needed}}
           <li role="presentation" class="active"><a href="#fs3reset" aria-controls="fs3reset" role="tab" data-toggle="tab">Reset</a></li>
           {{else}}
           <li role="presentation" class="active"><a href="#fs3attrs" aria-controls="fs3attrs" role="tab" data-toggle="tab">Attributes</a></li>
           <li role="presentation"><a href="#fs3action" aria-controls="fs3action" role="tab" data-toggle="tab">Action Skills</a></li>
           <li role="presentation"><a href="#fs3bg" aria-controls="fs3bg" role="tab" data-toggle="tab">Background Skills</a></li>
           <li role="presentation"><a href="#fs3lang" aria-controls="fs3lang" role="tab" data-toggle="tab">Languages</a></li>
           {{#if model.char.fs3.use_advantages}}
       <li role="presentation"><a href="#fs3adv" aria-controls="fs3adv" role="tab" data-toggle="tab">Advantages</a></li>
            {{/if}}

           {{/if}}

         </ul>

     <div class="tab-content">


{{#if model.char.fs3.reset_needed}}
  <div role="tabpanel" class="tab-pane active" id="fs3reset">
  <p>Starting your abilities will set you up with default attribute and skill values.  Your other character information will be saved.</p>

  {{#if anyGroupMissing}}
  <div class="alert alert-warning">If you set your groups first, you'll be given the appropriate starting skills based on your groups.</div>
  {{/if}}

  <button name="reset" {{action 'reset'}} class="btn btn-primary">Start Abilities</button>
  </div>

{{else}}

  <div role="tabpanel" class="tab-pane active" id="fs3attrs">

  <div class="panel panel-default">
       <div class="panel-heading">
           Attributes
       </div>
   <div class="panel-body">

     <p class="cg-tip">{{{ansi-format text=model.cgInfo.fs3.abilities.attrs_blurb}}}</p>

     <div class="cg-tip-table">
       <p><b>What level should I choose?</b></p>
       <table>
       <thead>
         <tr>
           <th>Rating</th>
           <th>Summary</th>
           <th>Description</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>1</td>
           <td>Poor</td>
           <td>You are below average.  (less than 40th percentile)</td>
         </tr>
         <tr>
           <td>2</td>
           <td>Average</td>
           <td>You are about average.  (40-60th percentile)</td>
         </tr>
         <tr>
           <td>3</td>
           <td>Good</td>
           <td>You’re better than average.   (60-80th percentile)</td>
         </tr>
         <tr>
           <td>4</td>
           <td>Exceptional</td>
           <td>You’re considerably above average. (more than 80th percentile)</td>
         </tr>
       </tbody>
     </table>
     </div>
     <br>
     {{#each model.char.fs3.fs3_attributes as |att|}}
     {{#fs3-attrbox rating=att.rating ratingName=att.rating_name maxRating=model.cgInfo.fs3.max_attr_rating  updated=(action "abilityChanged")}}
         <b>{{att.name}}</b> - {{att.desc}}
     {{/fs3-attrbox}}
     {{/each}}

   </div>
  </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="fs3action">

  <div class="panel panel-default">
       <div class="panel-heading">
           Action Skills
       </div>
   <div class="panel-body">

     <p class="cg-tip">{{{ansi-format text=model.cgInfo.fs3.abilities.action_blurb}}}</p>

     <br>

     <div class="cg-tip-table">
       <p><b>What level should I choose?</b></p>
         <table>
         <tr>
         <th class="tg-0pky">Level</th>
         <th class="tg-0pky">Label</th>
         <th class="tg-0pky">Description</th>
         <th class="tg-0pky">Examples</th>
         </tr>
         <tr>
         <td class="tg-0lax">0</td>
         <td class="tg-0lax">Unskilled</td>
         <td class="tg-0lax">Worse than most people, specifically bad or lacking even the most basic knowledge.</td>
         <td class="tg-0lax">You grew up in a cave or something and know absolutely nothing about this.</td>
         </tr>
         <tr>
         <td class="tg-0pky">1</td>
         <td class="tg-0pky">Everyman</td>
         <td class="tg-0pky">You know what the average inhabitant of the game world would know.</td>
         <td class="tg-0pky">Everyone is capable at this level except through special circumstances.</td>
         </tr>
         <tr>
         <td class="tg-0pky">2</td>
         <td class="tg-0pky">Fair</td>
         <td class="tg-0pky">You’ve still got a lot to learn, but you can handle easy stuff.</td>
         <td class="tg-0pky"> A high school graduate, a year or less in a job, a year or two of casual training from someone experienced.</td>
         </tr>
         <tr>
         <td class="tg-0pky">3</td>
         <td class="tg-0pky">Competent</td>
         <td class="tg-0pky">You have competence at a junior-professional level, but lack finesse or experience.</td>
         <td class="tg-0pky">An undergraduate student, two to five years in a job, several years of casual training from someone experienced.</td>
         </tr>
         <tr>
         <td class="tg-0pky">4</td>
         <td class="tg-0pky">Good</td>
         <td class="tg-0pky">You are thoroughly competent at a general professional level.</td>
         <td class="tg-0pky">A bachelor's degree, five to seven years in a job, more than 5 years of casual training from someone experienced.</td>
         </tr>
         <tr>
         <td class="tg-0pky">5</td>
         <td class="tg-0pky">Great</td>
         <td class="tg-0pky">You understand nuances and shortcuts, and can handle even challenging situations with ease.</td>
         <td class="tg-0pky">Seven to fifteen years in a job, more than 10 years of casual training from someone experienced.</td>
         </tr>
         <tr>
         <td class="tg-0pky">6</td>
         <td class="tg-0pky">Exceptional</td>
         <td class="tg-0pky">You are an expert, and can pull through even in dire circumstances.</td>
         <td class="tg-0pky">A PhD or MD, more than fifteen years in a job.</td>
         </tr>
         <tr>
         <td class="tg-0pky">7</td>
         <td class="tg-0pky">Amazing</td>
         <td class="tg-0pky">You have mastered your field and few can compare.</td>
         <td class="tg-0pky">A leading expert in a field. A star athlete, known physician, well-published author, etc.</td>
         </tr>
         <tr>
         <td class="tg-0pky">8</td>
         <td class="tg-0pky">Legendary</td>
         <td class="tg-0pky">You are one of the best that’s ever lived. </td>
         <td class="tg-0pky">Einstein, Stephen Hawking, Shakespeare, or Beethoven.</td>
         </tr>
         </table>
       </div>
       <br>
       {{#each model.char.fs3.fs3_action_skills as |skill|}}
       {{#fs3-actionbox name=skill.name rating=skill.rating ratingName=skill.rating_name maxRating=model.cgInfo.fs3.max_skill_rating minRating=model.cgInfo.fs3.min_action_skill_rating updated=(action "abilityChanged") specialties=skill.specialties}}
           <b>{{skill.name}}</b> - {{skill.desc}}
       {{/fs3-actionbox}}
       {{/each}}

   </div>
  </div>

  </div>

  <div role="tabpanel" class="tab-pane" id="fs3bg">


  <div class="panel panel-default">
       <div class="panel-heading">
           Background Skills
       </div>
   <div class="panel-body">

     <p class="cg-tip">{{{ansi-format text=model.cgInfo.fs3.abilities.background_blurb}}} To remove a background skill, set its rating to Everyman.</p>


     <button class="btn btn-default" id="addbg" {{action (mut selectBackgroundSkill) true}}>Add Background Skill</button>
     <br>
     <div class="cg-tip-table">

       <p><b>What level should I choose?</b></p>
       <table>
       <tr>
         <th>Label</th>
         <th>Description</th>
         <th>Examples</th>
       </tr>
       <tr>
         <td>Everyman</td>
         <td>You know what the average inhabitant of the game world would know. <br><br>There is no need to add a background skill for this level. It is assumed everyone generally has everyman capabilities.</td>
         <td>Everyone is capable at this level except through special circumstances.</td>
       </tr>
       <tr>
         <td>Fair</td>
         <td>Interests and casual studies.</td>
         <td>Playing in a bar league, a hobby, some college or equivalent study short of a degree</td>
       </tr>
       <tr>
         <td>Good</td>
         <td>Professional or semi-professional competence.</td>
         <td>A minor league or college athlete, a serious, long-term hobbyist, a college degree, professional experience.    </td>
       </tr>
       <tr>
         <td>Exceptional</td>
         <td>Notable expertise in your field</td>
         <td>A major league athlete, an advanced degree such as a PhD, a renowned expert. </td>
       </tr>
     </table>
     </div>
     <br>
     {{#each model.char.fs3.fs3_backgrounds as |skill|}}

     {{#fs3-bgbox rating=skill.rating ratingName=skill.rating_name updated=(action "abilityChanged")}}
         <b>{{input type="text" value=skill.name size=25}}</b>
     {{/fs3-bgbox}}
     {{/each}}

   </div>
  </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="fs3lang">

   <div class="panel panel-default">
       <div class="panel-heading">
           Language Skills
       </div>
     <div class="panel-body">


         <p class="cg-tip">{{{ansi-format text=model.cgInfo.fs3.abilities.language_blurb}}} To remove a language, set its rating to Everyman.</p>

       {{#each model.char.fs3.fs3_languages as |skill|}}
       {{#fs3-langbox rating=skill.rating ratingName=skill.rating_name updated=(action "abilityChanged")}}
           <b>{{skill.name}}</b> {{skill.desc}}
       {{/fs3-langbox}}
       {{/each}}

     </div>
   </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="fs3adv">

     <div class="panel panel-default">
         <div class="panel-heading">
             Advantages
         </div>
       <div class="panel-body">


           <p class="cg-tip">{{{ansi-format text=model.cgInfo.fs3.abilities.advantages_blurb}}} To remove an advantage, set its rating to Everyman.</p>

         {{#each model.char.fs3.fs3_advantages as |skill|}}
         {{#fs3-advantagebox rating=skill.rating ratingName=skill.rating_name updated=(action "abilityChanged")}}
             <b>{{skill.name}}</b> - {{skill.desc}}
         {{/fs3-advantagebox}}
         {{/each}}

       </div>
     </div>
   </div>

{{/if}}

</div>


{{#bs-modal-simple
    title="Add Background Skill"
    closeTitle="Cancel"
    submitTitle="Add"
    size=null
    fade=false
    open=selectBackgroundSkill
    onSubmit=(action "addBackgroundSkill")
    onHide=(action (mut selectBackgroundSkill) null)}}
    <p>Enter a skill name.</p>
    {{input type="text" size=25 id="bgSkill" enter=(action "addBackgroundSkill")  value=newBgSkill}}

  {{/bs-modal-simple}}
