     <ul class="nav nav-tabs" role="tablist">

            {{#if model.char.fs3.reset_needed}}
           <li role="presentation" class="active"><a href="#fs3reset" aria-controls="fs3reset" role="tab" data-toggle="tab">Reset</a></li>
           {{else}}
           <li role="presentation" class="active"><a href="#fs3attrs" aria-controls="fs3attrs" role="tab" data-toggle="tab">Attributes</a></li>
           <li role="presentation"><a href="#fs3action" aria-controls="fs3action" role="tab" data-toggle="tab">Action Skills</a></li>
           <li role="presentation"><a href="#fs3bg" aria-controls="fs3bg" role="tab" data-toggle="tab">Background Skills</a></li>
           <li role="presentation"><a href="#fs3lang" aria-controls="fs3lang" role="tab" data-toggle="tab">Languages</a></li>
           {{#if model.char.fs3.use_advantages}}
       <li role="presentation"><a href="#fs3adv" aria-controls="fs3adv" role="tab" data-toggle="tab">Advantages</a></li>
            {{/if}}
       
           {{/if}}
           
         </ul>

     <div class="tab-content">

           
{{#if model.char.fs3.reset_needed}}
  <div role="tabpanel" class="tab-pane active" id="fs3reset">
  <p>Starting your abilities will set you up with default attribute and skill values.  Your other character information will be saved.</p>

  {{#if anyGroupMissing}}
  <div class="alert alert-warning">If you set your groups first, you'll be given the appropriate starting skills based on your groups.</div>
  {{/if}}

  <button name="reset" {{action 'reset'}} class="btn btn-primary">Start Abilities</button>
  </div>

{{else}}

  <div role="tabpanel" class="tab-pane active" id="fs3attrs">

  <div class="panel panel-default">
       <div class="panel-heading">
           Attributes
       </div>
   <div class="panel-body">

     <p class="cg-tip"><AnsiFormat @text={{model.cgInfo.fs3.abilities.attrs_blurb}} /></p>


     {{#each model.char.fs3.fs3_attributes as |att|}}
     <Fs3Attrbox @rating={{att.rating}} @ratingName={{att.rating_name}} @maxRating={{model.cgInfo.fs3.max_attr_rating}} @updated={{action "abilityChanged"}}>
         <b>{{att.name}}</b> - {{att.desc}}
     </Fs3Attrbox>
     {{/each}}

   </div>
  </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="fs3action">

  <div class="panel panel-default">
       <div class="panel-heading">
           Action Skills
       </div>
   <div class="panel-body">

     <p class="cg-tip"><AnsiFormat @text={{model.cgInfo.fs3.abilities.action_blurb}} /></p>
     
     <br>
   
     {{#each model.char.fs3.fs3_action_skills as |skill|}}
     <Fs3Actionbox @name={{skill.name}} @rating={{skill.rating}} @ratingName={{skill.rating_name}} @maxRating={{model.cgInfo.fs3.max_skill_rating}} @minRating={{model.cgInfo.fs3.min_action_skill_rating}} @updated={{action "abilityChanged"}} @specialties={{skill.specialties}}>
         <b>{{skill.name}}</b> - {{skill.desc}}
     </Fs3Actionbox>
     {{/each}}
     

   </div>
  </div>

  </div>

  <div role="tabpanel" class="tab-pane" id="fs3bg">


  <div class="panel panel-default">
       <div class="panel-heading">
           Background Skills
       </div>
   <div class="panel-body">

     <p class="cg-tip"><AnsiFormat @text={{model.cgInfo.fs3.abilities.background_blurb}} /> To remove a background skill, set its rating to Everyman.</p>


     {{#each model.char.fs3.fs3_backgrounds as |skill|}}

     <Fs3Bgbox @rating={{skill.rating}} @ratingName={{skill.rating_name}} @updated={{action "abilityChanged"}}>
         <b><Input @type="text" @value={{skill.name}} @size={{25}} /></b>
     </Fs3Bgbox>
     {{/each}}

     <button class="btn btn-default" id="addbg" {{action (mut selectBackgroundSkill) true}}>Add Background Skill</button>

   </div>
  </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="fs3lang">

   <div class="panel panel-default">
       <div class="panel-heading">
           Language Skills
       </div>
     <div class="panel-body">


         <p class="cg-tip"><AnsiFormat @text={{model.cgInfo.fs3.abilities.language_blurb}} /> To remove a language, set its rating to Everyman.</p>

       {{#each model.char.fs3.fs3_languages as |skill|}}
       <Fs3Langbox @rating={{skill.rating}} @ratingName={{skill.rating_name}} @updated={{action "abilityChanged"}}>
           <b>{{skill.name}}</b> 
           {{#if skill.desc}}- {{skill.desc}}{{/if}}
       </Fs3Langbox>
       {{/each}}
                
     </div>
   </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="fs3adv">

     <div class="panel panel-default">
         <div class="panel-heading">
             Advantages
         </div>
       <div class="panel-body">


           <p class="cg-tip"><AnsiFormat @text={{model.cgInfo.fs3.abilities.advantages_blurb}} /> To remove an advantage, set its rating to Everyman.</p>

         {{#each model.char.fs3.fs3_advantages as |skill|}}
         <Fs3Advantagebox @rating={{skill.rating}} @ratingName={{skill.rating_name}} @updated={{action "abilityChanged"}}>
             <b>{{skill.name}}</b> - {{skill.desc}}
         </Fs3Advantagebox>
         {{/each}}
                
       </div>
     </div>
   </div>
 
{{/if}}

</div>


<BsModalSimple @title="Add Background Skill" @closeTitle="Cancel" @submitTitle="Add" @size={{null}} @fade={{false}} @open={{selectBackgroundSkill}} @onSubmit={{action "addBackgroundSkill"}} @onHide={{action (mut selectBackgroundSkill) null}}>
    <p>Enter a skill name.</p>
    <Input @type="text" @size={{25}} @id="bgSkill" @enter={{action "addBackgroundSkill"}} @value={{newBgSkill}} />

  </BsModalSimple>