<div class="sidebar-box {{boxStyle}}">
  {{#link-to 'search-wiki'}}<i class="fa fa-search" aria-hidden="true"></i> Search{{/link-to}}
</div>


<div class="sidebar-box {{boxStyle}}">
  <div class="sidebar-heading">
      <h2>Game Status <i class="fa fa-video" aria-hidden="true"></i></h2>
  </div>
  {{#if (not socketConnected)}}
    <div class="alert alert-warning">The website is not receiving live updates from the game.  Try reloading the page.</div>
  {{/if}}

  {{#if versionWarning}}
    <div class="alert alert-danger">The website and game have {{#link-to 'server-info'}}different versions{{/link-to}}.  Try reloading the page.</div>
  {{/if}}

   {{#if model.game_down}}
    <div class="alert alert-danger">The website can't contact the game.  It may be down.</div>
   {{else}}
   
    <p>Today is {{model.game.ictime}}.
    <br>{{model.game.who_count}} character(s) online.
    <br>{{model.game.scene_count}} scene(s) are in progress.
  </p>
  
  {{#if model.motd}}
  <p>{{{ansi-format text=model.motd}}}</p>
  {{/if}}
  
  <p>{{#link-to 'scenes-live'}}Active Scenes{{/link-to}} | 
      {{#link-to 'who'}}Who's Online{{/link-to}}</p>
  
{{/if}}

</div>

    
    
{{#if (not model.game.disabled_plugins.events)}}
<div class="sidebar-box {{boxStyle}}">
  <div class="sidebar-heading">
      <h2>Upcoming Events <i class="fa fa-calendar" aria-hidden="true"></i></h2>
  </div>
  {{#each model.upcoming_events as |event|}}
  <p><b>{{#link-to 'event' event.id}}
    
    {{#if event.is_signed_up}}
    <i class="fas fa-calendar-check" aria-label="Signed Up"></i>
    {{/if}}
    {{event.title}}
    
    {{/link-to}}</b> 
    {{#if event.content_warning}}
    {{content-warning-tag warning=event.content_warning position='top-left'}}
    {{/if}}
  <br>{{event.date}} {{event.start_datetime_local}} ({{event.start_time_standard}})</p>
  {{/each}}
   <br>
  <p>{{#link-to 'events'}}All Events{{/link-to}}</p>
  
</div>
{{/if}}



<div class="sidebar-box {{boxStyle}}">
   <div class="sidebar-heading">
       <h2>Recent Scenes <i class="fa fa-book" aria-hidden="true"></i></h2>
       
   </div>
   {{#each model.recent_scenes as |scene|}}
   <p>{{#link-to 'scene' scene.id}}{{scene.icdate}} - {{scene.title}}{{/link-to}}
       {{scene-tag scene=scene}}
       {{#if scene.content_warning}}
       {{content-warning-tag warning=scene.content_warning position='top-left'}}
       {{/if}}
       <br></p>
   {{/each}}
   <br>
   <p>{{#link-to 'scenes'}}All Scenes{{/link-to}}</p>
</div>

<div class="sidebar-box {{boxStyle}}">
   <div class="sidebar-heading">
       <h2>Recent Forum Posts <i class="fa fa-comments" aria-hidden="true"></i></h2>
       
   </div>
   {{#each model.recent_forum as |post|}}
   <p>{{post.author.name}} 
          {{#if post.is_reply}}    
            replied to 
          {{else}}
            posted 
          {{/if}}
          {{#link-to 'forum-topic' post.category_id post.id}}{{post.subject}}.{{/link-to}}
   </p>
   {{/each}}
   <br>
   <p>{{#link-to 'forum'}}View Forum{{/link-to}}</p>
</div>

<div class="sidebar-box {{boxStyle}}">
   <div class="sidebar-heading">
       <h2>Recent Changes <i class="fa fa-file-alt" aria-hidden="true"></i></h2>
       
   </div>
   {{#each model.recent_changes as |change|}}
   <p class='sidebar-list'>
     {{recent-change-link change=change}}
   </p>
   {{/each}}
   
   <br>
   <p>{{#link-to 'recent-changes'}}More Changes{{/link-to}}</p>
   
</div>