<nav class="navbar navbar-inverse">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
   </div>
   <div id="navbar" class="navbar-collapse collapse">

     <ul class="nav navbar-nav navbar-right">
                  
            <li>{{#link-to 'home'}}Home{{/link-to}}</li>

            {{#if isAuthenticated}}


            <li class="dropdown hidden-xl  hidden-lg  hidden-md">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      
                      Welcome {{currentUser.name}}  
                      {{#if model.notification_count}}
                          <span class="label label-pill label-primary" id="notificationBadge"><i class="fa fa-bell" aria-label="New Notifications"></i> {{model.notification_count}}</span>
                      {{/if}}
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li>{{#link-to 'notifications'}}Notifications{{/link-to}}</li>
                        <li>{{#link-to 'char' currentUser.id}}Profile{{/link-to}}</li>
                        <li>{{#link-to 'mail'}}Mail{{/link-to}}</li>
                        <li>{{#link-to 'jobs'}}{{#if model.jobs_admin}}Jobs{{else}}Requests{{/if}}{{/link-to}}</li>
                        <li>{{#link-to 'account'}}Account{{/link-to}}</li>

                        {{#if model.alts}}
                        {{#each model.alts as |alt|}}
                          {{#if (not (eq alt.name currentUser.name)) }}
                            <li><a href="#" {{action 'switchAlt' alt.name}}>Switch to {{alt.name}}</a></li>
                          {{/if}}
                        {{/each}}
                        {{/if}} 

                        <li>{{#link-to 'logout'}}Logout{{/link-to}}</li>
                        
                      </ul>
                    </li>
                  {{else}}
                  <li class="hidden-xl  hidden-lg  hidden-md">{{#link-to 'login' (query-params redirect=currentRoute)}}Login{{/link-to}}</li>
                  {{/if}}

            
            {{#each topNavbar as |sec|}}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            
                {{sec.title}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {{#each sec.menu as |navItem|}}
                    {{#if navItem.url}}
                        <li><a href="{{navItem.url}}" target="{{navItem.target}}">{{{navItem.title}}}</a></li>
                    {{else if navItem.divider}}
                        <li><hr></li>
                    {{else}}
                      <li>
                      {{#if navItem.id}}
                        {{#link-to navItem.route navItem.id}}{{{navItem.title}}}{{/link-to}}
                      {{else}}
                        {{#link-to navItem.route}}{{{navItem.title}}}{{/link-to}}
                      {{/if}}
                      </li>
                    {{/if}}
                  {{/each}}
                </ul>
              </li>            
            {{/each}}
                    
            {{#if (or isAdmin isCoder)}}
            
                   <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      
                             Admin <span class="caret"></span></a>
                             <ul class="dropdown-menu">
                               <li>{{#link-to 'jobs'}}Jobs{{/link-to}}</li>
                               <li>{{#link-to 'setup'}}Setup{{/link-to}}</li>
                               <li>{{#link-to 'manage'}}Manage{{/link-to}}</li>
                               <li>{{#link-to 'logs'}}Logs{{/link-to}}</li>
                               <li>{{#link-to "files"}}Files{{/link-to}}</li>
                               <li>{{#link-to "server-info"}}Server{{/link-to}}</li>

                               {{#if isCoder}}
                               <li>{{#link-to 'tinker'}}Tinker{{/link-to}}</li>
                               {{/if}}
                             </ul>
                           </li>
                   
            {{/if}}
            
           </ul>
            
   
   </div><!--/.navbar-collapse -->
   
   
   
</nav>