<nav class="navbar navbar-inverse">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
   </div>
   <div id="navbar" class="navbar-collapse collapse">

     <ul class="nav navbar-nav navbar-right">
                  
            <li><LinkTo @route="home">Home</LinkTo></li>

            {{#if isAuthenticated}}


            <li class="dropdown hidden-xl  hidden-lg  hidden-md">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      
                      Welcome {{currentUser.name}}  
                      {{#if model.notification_count}}
                          <span class="label label-pill label-primary" id="notificationBadge"><i class="fa fa-bell" aria-label="New Notifications"></i> {{model.notification_count}}</span>
                      {{/if}}
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><LinkTo @route="notifications">Notifications</LinkTo></li>
                        <li><LinkTo @route="char" @model={{currentUser.name}}>Profile</LinkTo></li>
                        <li><LinkTo @route="mail">Mail</LinkTo></li>
                        <li><LinkTo @route="jobs">{{#if model.jobs_admin}}Jobs{{else}}Requests{{/if}}</LinkTo></li>
                        <li><LinkTo @route="account">Account</LinkTo></li>

                        {{#if model.alts}}
                            <li><a href="#" {{action (mut showAltSelection) true}}>Switch Alt</a></li>
                        {{/if}} 

                        <li><LinkTo @route="logout">Logout</LinkTo></li>
                        
                      </ul>
                    </li>
                  {{else}}
                  <li class="hidden-xl  hidden-lg  hidden-md"><LinkTo @route="login" @query={{hash redirect=currentRoute}}>Login</LinkTo></li>
                  {{/if}}

            
            {{#each topNavbar as |sec|}}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            
                {{sec.title}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {{#each sec.menu as |navItem|}}
                    {{#if navItem.url}}
                        <li><a href="{{navItem.url}}" target="{{navItem.target}}">{{{navItem.title}}}</a></li>
                    {{else if navItem.divider}}
                        <li><hr></li>
                    {{else}}
                      <li>
                      {{#if navItem.id}}
                        <LinkTo @route={{navItem.route}} @model={{navItem.id}}>{{{navItem.title}}}</LinkTo>
                      {{else}}
                        <LinkTo @route={{navItem.route}}>{{{navItem.title}}}</LinkTo>
                      {{/if}}
                      </li>
                    {{/if}}
                  {{/each}}
                </ul>
              </li>            
            {{/each}}

            {{#if (or isAdmin isCoder)}}
            
                   <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      
                             Admin <span class="caret"></span></a>
                             <ul class="dropdown-menu">
                               <li><LinkTo @route="jobs">Jobs</LinkTo></li>
                               <li><LinkTo @route="setup">Setup</LinkTo></li>
                               <li><LinkTo @route="manage">Manage</LinkTo></li>
                               <li><LinkTo @route="logs">Logs</LinkTo></li>
                               <li><LinkTo @route="files">Files</LinkTo></li>
                               <li><LinkTo @route="server-info">Server</LinkTo></li>

                               {{#if isCoder}}
                               <li><LinkTo @route="tinker">Tinker</LinkTo></li>
                               {{/if}}
                             </ul>
                           </li>
                   
            {{/if}}
            
            {{#if isWikiMgr}}
            <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
               
                      Admin <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><LinkTo @route="setup-colors">Theme Colors</LinkTo></li>
                        <li><LinkTo @route="textfile" @models={{array 'text' 'website.txt'}}>Home Page Text</LinkTo></li>
                        <li><LinkTo @route="textfile" @models={{array 'style' 'custom_style.scss'}}>Custom CSS</LinkTo></li>
                        <li><LinkTo @route="files">Files</LinkTo></li>
                      </ul>
                    </li>
            {{/if}}
            
           </ul>
            
   
   </div><!--/.navbar-collapse -->
   
   
   
</nav>


  
<BsModalSimple @title="Select Alt" @submitTitle="Done" @size={{null}} @fade={{false}} @closeTitle="Cancel" @open={{showAltSelection}}  @onHide={{action (mut showAltSelection) null}} @onSubmit={{action (mut showAltSelection) null}}>

  <table class="alts-switcher">
  
    {{#each model.alts as |alt|}}
      {{#if (not (eq alt.name currentUser.name)) }}
        <tr><td>
        <CharIconInline @char={{alt}} @hideLink="true" /> {{alt.name}}
        </td>
        <td><a href="#" {{action 'switchAlt' alt.name}} class="btn btn-default">Switch</a></td>
        </tr>
      {{/if}}
    {{/each}}
  </table>
</BsModalSimple>