<div class="sidebar-box {{boxStyle}}">



    <p style="margin-top:10px;"><label class="fa fa-search" aria-hidden="true" style="margin-right:5px;"></label><b>Wiki</b> {{input type="text" size=20 height="21px" id="text"  value=searchText enter="search"}} <button class="btn btn-primary" {{action 'search'}}>Search</button></p>

  {{#link-to 'search-wiki'}}<i class="fa fa-search" aria-hidden="true"></i> Other Searches{{/link-to}}
  <hr>
  <p><center><a href="/wiki/create">New</a> &middot; <a href="/wiki/all">All</a> &middot; <a href="/wiki/tags">Tags</a> &middot; <a href="/wiki/recent-changes">Recent</a> &middot; <a href="/files">Files </a> &middot; <a href="/help/markdown">Help</a></center></p>
</div>


<div class="sidebar-box {{boxStyle}}">
  <div class="sidebar-heading">
      <h2>Game Status <i class="fa fa-video" aria-hidden="true"></i></h2>
  </div>
{{#if model.game_down}}
    <p>The website can't contact the game.  It may be down.</p>
{{else}}
    <p>Today is {{model.game.ictime}}.
    <br/>{{model.game.who_count}} character(s) online.
    <br/>{{model.game.scene_count}} scene(s) are in progress.

  {{#if model.game.unread_scenes_count}}
  <br/><span class="label label-pill label-primary"> <i class="fa fa-flag" aria-hidden="true"></i></span> New activity in your scenes!
  {{/if}}
  </p>

  <p>{{#link-to 'scenes-live'}}Active Scenes{{/link-to}} |
      {{#link-to 'who'}}Who's Online{{/link-to}}</p>

{{/if}}

</div>



{{#if (not model.game.disabled_plugins.events)}}
<div class="sidebar-box {{boxStyle}}">
  <div class="sidebar-heading">
      <h2>Upcoming Events <i class="fa fa-calendar" aria-hidden="true"></i></h2>
  </div>
  {{#each model.upcoming_events as |event|}}
  <p><b>{{#link-to 'event' event.id}}{{event.title}}{{/link-to}}</b>
  <br/>{{event.date}} {{event.start_datetime_local}} ({{event.start_time_standard}})</p>
  {{/each}}
   <br/>
  <p>{{#link-to 'events'}}All Events{{/link-to}}</p>

</div>
{{/if}}



<div class="sidebar-box {{boxStyle}}">
   <div class="sidebar-heading">
       <h2>Recent Scenes <i class="fa fa-book" aria-hidden="true"></i></h2>

   </div>
   {{#each model.recent_scenes as |scene|}}
   <p>{{#link-to 'scene' scene.id}}{{scene.icdate}} - {{scene.title}}{{/link-to}}
       {{scene-tag scene=scene}}<br/></p>
   {{/each}}
   <br/>
   <p>{{#link-to 'scenes'}}All Scenes{{/link-to}}</p>
</div>

<div class="sidebar-box {{boxStyle}}">
   <div class="sidebar-heading">
       <h2>Recent Forum Posts <i class="fa fa-comments" aria-hidden="true"></i></h2>

   </div>
   {{#each model.recent_forum as |post|}}
   <p>{{post.author.name}}
          {{#if post.is_reply}}
            replied to
          {{else}}
            posted
          {{/if}}
          {{#link-to 'forum-topic' post.category_id post.id}}{{post.subject}}.{{/link-to}}
   </p>
   {{/each}}
   <br/>
   <p>{{#link-to 'forum'}}View Forum{{/link-to}}</p>
</div>

<div class="sidebar-box {{boxStyle}}">
   <div class="sidebar-heading">
       <h2>Recent Changes <i class="fa fa-file-alt" aria-hidden="true"></i></h2>

   </div>
   {{#each model.recent_changes as |change|}}
   {{#if (eq change.change_type 'char')}}
   <p>{{#link-to 'char' change.name}}{{change.title}}{{/link-to}}</p>
   {{else}}
   <p>{{#link-to 'wiki-page' change.name}}{{change.title}}{{/link-to}}</p>
   {{/if}}
   {{/each}}

   <br/>
   <p>{{#link-to 'recent-changes'}}More Changes{{/link-to}}</p>

</div>
