{{search-box}}

<div class="sidebar-box">
  <div class="sidebar-heading">
      <h2>Game Status <i class="fa fa-users" aria-hidden="true"></i></h2>
  </div>
  
{{#if model.game_down}}
<p>The website can't contact the game.  It may be down.</p>
{{else}}
<p>Today is {{model.game.ictime}}.
<br/>{{model.game.who_count}} character(s) online.
<br/>{{model.game.scene_count}} active scene(s).
</p>
<p>{{#link-to 'who'}}View Status{{/link-to}}</p>
{{/if}}
</div>

{{#if (not model.game.disabled_plugins.events)}}
<div class="sidebar-box">
  <div class="sidebar-heading">
      <h2>Upcoming Events <i class="fa fa-calendar" aria-hidden="true"></i></h2>
  </div>
  {{#each model.upcoming_events as |event|}}
  <p><b>{{#link-to 'events.event' event.id}}{{event.title}}{{/link-to}}</b>
  <br/>{{event.date}} {{event.start_datetime_local}} ({{event.start_time_standard}})</p>
  {{/each}}
   <br/>
  <p>{{#link-to 'events'}}All Events{{/link-to}}</p>
  
</div>
{{/if}}



<div class="sidebar-box">
   <div class="sidebar-heading">
       <h2>Recent Scenes <i class="fa fa-book" aria-hidden="true"></i></h2>
       
   </div>
   {{#each model.recent_scenes as |scene|}}
   <p>{{#link-to 'scenes.scene' scene.id}}{{scene.icdate}} - {{scene.title}}{{/link-to}}
       {{scene-tag scene=scene}}<br/></p>
   {{/each}}
   <br/>
   <p>{{#link-to 'scenes'}}All Scenes{{/link-to}}</p>
</div>

