<div class="sidebar-box {{boxStyle}} text-center">
  <SidebarSearch @model={{model}} />
</div>

<div class="sidebar-box {{boxStyle}}">
  <div class="sidebar-heading">
      <h2>Game Status <i class="fa fa-video" aria-hidden="true"></i></h2>
  </div>
  {{#if (not socketConnected)}}
    <div class="alert alert-warning">The website is not receiving live updates from the game.  Try reloading the page.</div>
  {{/if}}

  {{#if versionWarning}}
    <div class="alert alert-danger">The website and game have <LinkTo @route="server-info">different versions</LinkTo>.  Try reloading the page.</div>
  {{/if}}

   {{#if model.game_down}}
    <div class="alert alert-danger">The website can't contact the game.  It may be down.</div>
   {{else}}
   
    <p>Today is {{model.game.ictime}}.
    <br>{{model.game.who_count}} character(s) online.
    <br>{{model.game.scene_count}} scene(s) in progress.
  </p>
  
  {{#if model.motd}}
  <p><AnsiFormat @text={{model.motd}} /></p>
  {{/if}}
  
  <p>       
      <LinkTo @route="play">Play</LinkTo> | 
      <LinkTo @route="scenes-live">Active Scenes</LinkTo> | 
      <LinkTo @route="who">Who's Online</LinkTo> 
  </p>
{{/if}}

</div>

    
    
{{#if (not model.game.disabled_plugins.events)}}
<div class="sidebar-box {{boxStyle}}">
  <div class="sidebar-heading">
      <h2>Upcoming Events <i class="fa fa-calendar" aria-hidden="true"></i></h2>
  </div>
  {{#each model.upcoming_events as |event|}}
  <p><b><LinkTo @route="event" @model={{event.id}}>
    
    {{#if event.is_signed_up}}
    <i class="fas fa-calendar-check" aria-label="Signed Up"></i>
    {{/if}}
    {{event.title}}
    
    </LinkTo></b> 
    {{#if event.content_warning}}
    <ContentWarningTag @warning={{event.content_warning}} @position="top-left" />
    {{/if}}
  <br>{{event.date}} {{event.start_datetime_local}} ({{event.start_time_standard}})</p>
  {{/each}}
   <br>
  <p><LinkTo @route="events">All Events</LinkTo></p>
  
</div>
{{/if}}



<div class="sidebar-box {{boxStyle}}">
   <div class="sidebar-heading">
       <h2>Recent Scenes <i class="fa fa-book" aria-hidden="true"></i></h2>
       
   </div>
   {{#each model.recent_scenes as |scene|}}
   <p><LinkTo @route="scene" @model={{scene.id}}>{{scene.icdate}} - {{scene.title}}</LinkTo>
       {{#if scene.content_warning}}
       <ContentWarningTag @warning={{scene.content_warning}} @position="top-left" />
       {{/if}}
       <SceneTypeTag @scene={{scene}} />
       <br></p>
   {{/each}}
   <br>
   <p><LinkTo @route="scenes">All Scenes</LinkTo></p>
</div>

<div class="sidebar-box {{boxStyle}}">
   <div class="sidebar-heading">
       <h2>Recent Forum Posts <i class="fa fa-comments" aria-hidden="true"></i></h2>
       
   </div>
   {{#each model.recent_forum as |post|}}
   <p>{{post.author.name}} 
          {{#if post.is_reply}}    
            replied to 
          {{else}}
            posted 
          {{/if}}
          <LinkTo @route="forum-topic" @models={{array post.category_id post.id}}>{{post.subject}}.</LinkTo>
   </p>
   {{/each}}
   <br>
   <p><LinkTo @route="forum">View Forum</LinkTo></p>
</div>

<div class="sidebar-box {{boxStyle}}">
   <div class="sidebar-heading">
       <h2>Recent Changes <i class="fa fa-file-alt" aria-hidden="true"></i></h2>
       
   </div>
   {{#each model.recent_changes as |change|}}
   <p class='sidebar-list'>
     <RecentChangeLink @change={{change}} />
   </p>
   {{/each}}
   
   <br>
   <p><LinkTo @route="recent-changes">More Changes</LinkTo></p>
   
</div>