<li><a href="#" {{action (mut this.selectCastSpell) true}} class="dropdown-item">Cast a Spell</a></li>

<BsModalSimple @title="Select a Spell to Cast" @closeTitle="Cancel" @submitTitle="Cast" @size={{null}} @fade={{true}} @open={{this.custom.selectCastSpell}} @onSubmit={{action "addSceneSpell"}} @onHide={{action (mut this.custom.selectCastSpell) false}}>


    <p><b>Select or Type Spell</b></p>
    <select onchange={{action (mut this.custom.spellString) value="target.value"}}>
      {{#each this.spells as |spell|}}
        <option value={{spell}}>{{spell}}</option>
      {{/each}}
    </select>
    <Input @type="text" @size={{25}} @id="spellString" @enter={{action "addSceneSpell"}} @value={{this.custom.spellString}} />

    <p><b>Other Options</b></p>
    <p>
      Target: <Input @type="text" @size={{15}} @id="targetName" @enter={{action "addSceneSpell"}} @value={{this.custom.targetName}} />

      Mod: <Input @type="text" @size={{15}} @id="mod" @enter={{action "addSceneSpell"}} @value={{this.custom.mod}} />
    </p>
</BsModalSimple>
