<li role="separator" class="divider"></li>

<li><a href="#" {{action (mut selectSkillRoll) true}}>Add Ability Roll</a></li>
<li><a href="#" {{action (mut selectSpendLuck) true}}>Spend Luck</a></li>
{{#if scene.fs3combat_enabled}}
  {{#if scene.combat}}
  <li><LinkTo @route="combat" @model={{scene.combat}} @target="_blank">View Combat</LinkTo></li>
  {{else}}
  <li><a href="#" {{action 'startCombat'}}>Start Combat</a></li>
  {{/if}}
{{/if}}

<BsModalSimple @title="Spend a Luck Point" @closeTitle="Cancel" @submitTitle="Spend" @size={{null}} @fade={{false}} @open={{selectSpendLuck}} @onSubmit={{action "spendLuck"}} @onHide={{action (mut selectSpendLuck) null}}>
  
  <b>Reason:</b> <Input @type="text" @size={{25}} @id="luckReason" @enter={{action "spendLuck"}} @value={{luckReason}} />

</BsModalSimple>


<Fs3Roll @scene={{scene}} @destinationType="scene" @abilities={{abilities}} @selectSkillRoll={{selectSkillRoll}} />