<div class="play-scene-context-wrap">
    <!-- <a data-toggle="collapse" href="#scene-context" class="play-scene-context-prompt">
    {{scene.location.name}} - {{scene.icdate}}

    <TooltipIcon @position="right" @message="Expand scene details." @icon="fa fa-caret-square-down" />
   </a> -->

   {{#if showSceneDetails}}
     <a data-toggle="collapse" href="#scene-context" aria-expanded="true" {{action (mut showSceneDetails) false}} class="play-scene-context-prompt">
       {{scene.location.name}} - {{scene.icdate}}

     <TooltipIcon @position="right" @message="Hide scene details." @icon="fas fa-minus-square" /></a>
   {{else}}
     <a data-toggle="collapse" href="#scene-context" aria-expanded="false" {{action (mut showSceneDetails) true}}>
       {{scene.location.name}} - {{scene.icdate}}
       <TooltipIcon @position="right" @message="Show Scene Details" @icon="fas  fa-plus-square" /> </a>

   {{/if}}

<div id="scene-context" class="panel-collapse collapse">

  <div class="panel panel-default">
      <div class="panel-body scene-details">

          <p><b>{{scene.location.name}}</b></p>

          {{#if scene.summary}}
          <p> <AnsiFormat @text={{scene.summary}} /> </p>
          <hr>
          {{/if}}

          {{#if scene.content_warning}}
          <div class="alert alert-danger"><b>Content Warning:</b> {{scene.content_warning}}</div>
          {{/if}}

          {{#if scene.location.description}}
          <AnsiFormat @text={{scene.location.description}} />
          {{/if}}

          {{#if scene.location.weather}}
            <div class="row weather">
              <div class="col col-xs-2">
                <img src={{scene.location.weather_icon}} style="padding:0px;">
              </div>
              <div class="col col-xs-9">
                <AnsiFormat @text={{scene.location.weather}} />
              </div>
            </div>
          {{/if}}

          {{#each scene.location.details as |detail|}}
          <p><i>{{detail.name}}:</i> <AnsiFormat @text={{detail.desc}} /></p>
          {{/each}}

          {{#if scene.location.scene_set}}
          <div class="scene-set-pose">
            <AnsiFormat @text={{scene.location.scene_set}} />
          </div>
          {{/if}}

          <div class="icon-row">
          {{#each scene.participants as |who|}}
            <CharIconInline @char={{who}} />
          {{/each}}
          </div>

          <hr>

          <ScenePrivacyTag @scene={{scene}} />
          <ScenePacingTag @scene={{scene}} />
          <SceneTypeTag @scene={{scene}} />

          {{#if scene.limit}}
          <p><b>Notes:</b> {{scene.limit}}</p>
          {{/if}}
      </div>
  </div>
</div>

</div>
