<div class="panel panel-default">
    <div class="panel-heading">
        {{scene.location.name}}
    </div>
    <div class="panel-body">
        {{#if scene.location.description}}
        {{{ansi-format text=scene.location.description}}}
        {{/if}}
    
        {{#if scene.location.scene_set}}
        <div class="scene-set-pose">
          {{{ansi-format text=scene.location.scene_set}}}
        </div>
        {{/if}}
        
        {{#each scene.participants as |who|}}
         <div class="small-who-icon">
             {{#link-to "char" who.name}}
                 {{#if who.icon}}
                 <img class="small-profile-icon" src="/game/uploads/{{who.icon}}" />
                 {{else}}
                 <img class="small-profile-icon" src="/game/uploads/theme_images/noicon.png" />
                 {{/if}}
             {{/link-to}}

             {{#link-to "char" who.name}} 
                 {{who.name}} 
             {{/link-to}}
        </div>
        {{/each}}
    </div>
</div>