{{#if this.scene.fs3combat_enabled}}
  {{#if this.scene.combat}}

  <li><a href="#" {{action (mut this.showCombat) true}} class="dropdown-item">Combat HUD</a></li>
  
  {{#if this.scene.combat.in_combat}}
    <li> <a href="#" {{action "combatHero"}} class="dropdown-item">Hero Recovery</a></li>
    <li> <a href="#" {{action (mut this.showCombatCommand) true}} class="dropdown-item">Send Command</a></li>

    <li><LinkTo @route="combat" @model={{this.scene.combat}} target="_blank" class="dropdown-item">Manage Combat</LinkTo></li>
    {{#if this.scene.combat.can_manage}}
      <li><a href="#"  {{action 'newTurn'}} class="dropdown-item">Start New Turn</a></li>
    {{/if}}
  {{else}}
    <li><a href="#" {{action 'joinCombat'}} class="dropdown-item">Join Combat</a></li>
  {{/if}}
  
{{else}}
  <li><a href="#" {{action 'startCombat'}} class="dropdown-item">Start Combat</a></li>
  {{/if}}
{{/if}}


    
<BsModalSimple @title="Combat HUD" @closeTitle="Close" @size={{null}} @fade={{true}} @open={{this.showCombat}} @onHide={{action (mut this.showCombat) false}}>
  
    <Fs3CombatHud @combat={{this.scene.combat}} />
  
</BsModalSimple>


    
<BsModalSimple @title="Send Combat Command" @closeTitle="Close" @size={{null}} @fade={{true}} @open={{this.showCombatCommand}} @onHide={{action (mut this.showCombatCommand) false}}>
  
    <Input @value={{this.combatCommand}} @enter={{action "sendCommand"}} size={{25}} />

    <button class="btn btn-secondary" {{action 'sendCommand'}} >Send Command</button>
    <div class="badge bg-info">{{this.commandResponse}}</div>
  
</BsModalSimple>
