<a href="#" {{action "scrollDown"}}><i class="fas fa-chevron-circle-down"></i> Jump to End</a>
 &nbsp; 
  {{#if scrollPaused}}
          <a href="#" {{action "unpauseScroll"}}><i class="fas fa-play">
          </i> Resume Scrolling</a>
  {{else}}
          <a href="#" {{action "pauseScroll"}}><i class="fas fa-pause"></i> Pause Scrolling</a>
  {{/if}}
  
   &nbsp; 
  {{#if scene.is_watching}}
  <a href="#" {{action 'watchScene' false}}><i class="fas fa-eye-slash"></i> Unwatch Scene</a>
  {{else}}
  <a href="#" {{action 'watchScene' true}}><i class="fas fa-eye"></i> Watch Scene</a>
  {{/if}}

 &nbsp; 
    {{#if scrollPaused}}
    <br>
       <span class="label label-warning">Scrolling is paused!</span>
    {{/if}}
    
    {{#if (not scene.is_watching)}}
    <br>
       <span class="label label-warning">You are not watching this scene and will not be notified of new scene activity.</span>

    {{/if}}
    
    <div class="ansi scene-log" id="live-scene-log">
    

    {{#each scene.poses as |pose|}}    
            <div class="hint pull-right">
                
                
                {{#if (not pose.is_system_pose)}}
                  <TooltipIcon @position="left" @message={{pose.timestamp}} @icon="fas fa-clock" />
                {{/if}}
                {{#if (not scene.reload_required)}}
                  {{#if (and isApproved pose.can_edit)}}
                    {{#if (not pose.editActive)}}
                    <a href="#" {{action 'editScenePose' pose}}>
                      <TooltipIcon @position="left" @message="Edit Pose" @icon="fa fa-edit" />
                    </a>
                    {{#if pose.can_delete}}
                    <a href="#" {{action (mut confirmDeleteScenePose) pose}}>
                      <TooltipIcon @position="left" @message="Delete Pose" @icon="fa fa-trash" />                      
                    </a>
                    {{/if}}
                    {{/if}}
                  {{/if}}
                {{/if}}
            </div>
        
            {{#if pose.is_system_pose}}
                <div class="scene-system-pose">
                <AnsiFormat @text={{pose.pose}} />
                </div>
            {{else}}
                <div class="scene-pose-header">		
                  {{#if pose.restarted_scene_pose}}
                      <img alt="System Profile Icon"  class="small-profile-icon <IconClass />"  src="/game/uploads/theme_images/noicon.png" >
                      Combined Poses
                  {{else}}
                      <a href="#" {{action (mut characterCard) pose.char.name}}>
                          {{#if pose.char.icon}}
                          <img alt="{{pose.char.name}}'s icon" class="small-profile-icon <IconClass />" src="/game/uploads/{{pose.char.icon}}" >
                          {{else}}
                          <img alt="{{pose.char.name}}'s icon" class="small-profile-icon <IconClass />" src="/game/uploads/theme_images/noicon.png" >
                          {{/if}}
                          
                          {{pose.char.name}}
                      </a>
                    {{/if}}
                </div>
                 {{#if pose.editActive}}
                    <MarkdownEditor @text={{pose.raw_pose}} />
                                        
                    <div class="pull-right">
                    <button class="btn-default" {{action 'cancelScenePoseEdit' pose}}>Cancel</button>
                    <button class="btn-warning" {{action 'saveScenePose' pose false}}>Typo</button>
                    <button class="btn-primary" {{action 'saveScenePose' pose true}}>Save</button>
                    </div>
                    <div class="clearfix"></div>
                    
                 {{else}}
                   
                     {{#if pose.is_setpose}}
                        <div class="scene-set-pose">
                        <AnsiFormat @text={{pose.pose}} />
                        </div>
                    {{else if pose.is_ooc}}
                        <div class="scene-ooc-pose">
                        <span class="label label-pill label-primary"> OOC</span>	
                        <AnsiFormat @text={{pose.pose}} />
                        </div>
                    {{else}}        
                        <div class="scene-pose">	
                          {{#if pose.place_name}}
                            <b>At {{pose.place_name}}</b>
                          {{/if}}
                          
                            <AnsiFormat @text={{pose.pose}} />
                        </div>
                    {{/if}}
                 {{/if}}
            {{/if}}
    {{/each}}

    </div>

  {{#if scrollPaused}}
     <span class="label label-warning">Scrolling is paused!</span>
  {{/if}}
  

    {{#if (not scene.is_watching)}}
       <span class="label label-warning">You are not watching this scene and will not be notified of new scene activity.</span>
    {{/if}}


    {{#if scene.reload_required}}
      <div class="alert alert-warning">
        This scene has changed status since you opened it.  Please reload the page.
      </div>

    {{else if (not isApproved)}}
      <div class="alert alert-warning">You must be approved to join a scene.</div>
      
    {{else}}

          {{#if (not scene.completed)}}
          
            <PoseOrder @poseOrder={{scene.pose_order}} @playerName={{playerName}} />

              <div class="pull-right markdown-controls">
                  <LinkTo @route='help-topic' @model='markdown' @target="_blank">
                    <TooltipIcon @position="right" @message="Formatting help." @icon="fa fa-question-circle" />
                  </LinkTo>

                  <LinkTo @route='emoji' @target="_blank">
                    <TooltipIcon @position="right" @message="Emoji help." @icon="fa fa-smile" />
                  </LinkTo>
              </div>
                        
            <CmdBox @value={{scenePose}} @rows={{6}} @allowMultiLine={{true}} @class="scene-pose-box" @onEnter={{action "addPose" poseType.id}} />

           {{/if}}
           
 <div class="row pose-ui">
    
         <div class="col col-sm-6 col-xs-12 scene-buttons">
             {{#if (not scene.completed)}}                

             <div class="pose-buttons">
                 <button {{action 'addPose' poseType.id}} class="btn btn-primary">Add {{poseType.title}}</button>
                 <button {{action 'addPose' 'ooc'}} class="btn btn-default">Add OOC</button>
                 
                 {{#if txtExtraInstalled}}
                   <LiveSceneTxt @scenePose={{scenePose}} @scene={{scene}} />
                 {{/if}}
                
             <LiveSceneCustomScenepose @scenePose={{scenePose}} @scene={{scene}} />
             </div>
                
             <div class="scene-pose-select">
                 <PowerSelect @selected={{poseType}} @options={{poseTypes}} @searchField="title" @onchange={{action "poseTypeChanged"}} as |poseType|>
                     {{poseType.title}}
                 </PowerSelect>
             </div>
                
             <div class="scene-char-select" >
                 <PowerSelect @selected={{poseChar}} @options={{scene.poseable_chars}} @searchField="name" @onchange={{action "poseCharChanged"}} as |poseChar|>
                     <CharIconTiny @char={{poseChar}} />
                 </PowerSelect>
             </div>
             {{/if}}
            
         </div>
                
         <div class="col col-sm-6 col-xs-12 scene-dropdowns">
                
             {{#if (not scene.completed)}}
                 <ul class="nav scene-menu">    
                     <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                             <span class="btn btn-default" href="#">Play <span class="caret"></span></span>
                         </a>
                         <ul class="dropdown-menu">
                             {{#if scene.can_edit}}
                                 <li><a href="#" {{action (mut selectLocation) true}}>Change Location</a></li>
                             {{/if}}

                             <LiveScenePlaces @scene={{scene}} />

                             <li role="separator" class="divider"></li>
                        
                             <li><a href="#" {{action (mut managePoseOrder) true}}>Manage Pose Order</a></li>
                    
                             {{#if scene.fs3_enabled}}
                                 <LiveSceneFs3 @abilities={{abilities}} @scene={{scene}} />
                             {{/if}}
                             
                             {{#if cookiesExtraInstalled}}
                               <LiveSceneCookies @scene={{scene}} />
                             {{/if}}                             
                          
                             <LiveSceneCustomPlay @scene={{scene}} @abilities={{abilities}} />
                          
                         </ul>
                     </li>
                 </ul>         
             {{/if}}

             <ul class="nav scene-menu">    
                 <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                         <span class="btn btn-default" href="#">Manage <span class="caret"></span></span>
                     </a>
                     <ul class="dropdown-menu">
                         {{#if scene.can_edit}}
                             <li><LinkTo @route="scene-edit" @model={{scene.id}}>Edit Scene</LinkTo></li>
                             {{#if (not scene.completed)}}
                                 <li><a href="#" {{action 'changeSceneStatus' 'stop'}}>Stop Scene</a></li> 
                             {{else}}
                                 <li><a href="#" {{action 'changeSceneStatus' 'restart'}}>Restart Scene</a></li> 
                                 <li><a href="#" {{action 'changeSceneStatus' 'share'}}>Share Scene</a></li> 
                                 <li><a href="#" {{action 'collapseScene'}}>Collapse Scene Poses</a></li> 
                             {{/if}}
   
                             {{#if scene.can_delete}}
                                 <li role="separator" class="divider"></li>
                                 <li><a href="#" {{action (mut confirmDeleteScene) true}}>Delete Scene</a></li> 
                             {{/if}}
                         {{/if}}
                     </ul>
                 </li>
             </ul>
             
             <ul class="nav scene-menu">    
                 <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                         <span class="btn btn-default" href="#">Other <span class="caret"></span></span>
                     </a>
                     <ul class="dropdown-menu">
                         <li><LinkTo @route="scene-download" @model={{scene.id}}>Download Scene</LinkTo></li> 
                         <li><a href="#" {{action (mut confirmReportScene) true}}>Report Abuse</a></li> 
                     </ul>
                 </li>
             </ul>
             
         </div>

     </div>        
     
    {{/if}}          

    <FlashMessages />

        <hr>


    <BsModalSimple @title="Confirm Delete" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{false}} @open={{confirmDeleteScenePose}} @onSubmit={{action "deleteScenePose"}} @onHide={{action (mut confirmDeleteScenePose) null}}>
      You're about to delete this scene pose. This cannot be undone.  Are you sure?
    </BsModalSimple>
    
    <BsModalSimple @title="Confirm Report" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{false}} @open={{confirmReportScene}} @onSubmit={{action "reportScene"}} @onHide={{action (mut confirmReportScene) null}}>
      <p>If someone is behaving badly in a scene, you can bring it to the game admin's attention - along with an automatic, verified log of the scene (including OOC chat and any previously-edited or deleted poses).  </p>
      
      <p><b>Reason for Report:</b></p>
      
      <Textarea @value={{reportReason}} @cols="40" @rows={{5}} />
      
    </BsModalSimple>
    
    <BsModalSimple @title="Confirm Delete" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{false}} @open={{confirmDeleteScene}} @onSubmit={{action "deleteScene"}} @onHide={{action (mut confirmDeleteScene) null}}>
        You're about to delete this scene. This cannot be undone.  Are you sure?
    </BsModalSimple>

    <BsModalSimple @title="Change the Scene Location" @closeTitle="Cancel" @submitTitle="Select" @size={{null}} @fade={{false}} @open={{selectLocation}} @onSubmit={{action "changeLocation"}} @onHide={{action (mut selectLocation) null}}>
        <p>Select a location from the list or type one into the bottom box.</p>
        <p>
          <PowerSelect @selected={{newLocation}} @options={{locations}} @onchange={{action "locationSelected"}} as |location|>
        {{location}}
      </PowerSelect>
       <b>Custom Location:</b> <Input @type="text" @size={{25}} @id="newLocation" @enter={{action "changeLocation"}} @value={{newLocation}} />
         </p>
    </BsModalSimple>
    
    <BsModalSimple @title="Manage Pose Order" @closeTitle="Cancel" @size={{null}} @fade={{false}} @open={{managePoseOrder}} @onHide={{action (mut managePoseOrder) null}}>
        
        <table>
        {{#each scene.pose_order as |po|}}
        <tr>
        <td>
        {{po.name}} 
        </td>
        <td>
           <a href="#" {{action 'dropPoseOrder' po.name}}> <TooltipIcon @position="left" @message="Skip Turn" @icon="fa fa-times-circle" /> </a>
        </td>
        </tr>
        {{/each}}
      </table>
      
      <br>
      
      {{#if (eq scene.pose_order_type '3-per')}}
        Switch to regular pose order: <a href="#" {{action 'switchPoseOrderType' 'normal'}}>
          <TooltipIcon @position="left" @message="Regular Order" @icon="fa fa-user" /></a>
      {{else}}
        Switch to 3-per pose order: <a href="#" {{action 'switchPoseOrderType' '3-per'}}>
          <TooltipIcon @position="left" @message="3-Per Order" @icon="fa fa-users" />
        </a>
      {{/if}}
    </BsModalSimple>
    
    <BsModalSimple @title="Character Card" @closeTitle="Close" @size={{null}} @fade={{false}} @open={{characterCard}} @onHide={{action (mut characterCard) null}}>
      
      {{#if scene.use_custom_char_cards}}
        <CharCardCustom @char={{characterCardInfo}} />
      {{else}}
        <CharCard @char={{characterCardInfo}} />
      {{/if}}
      
    </BsModalSimple>
    
          