<a href="#" {{action "scrollDown"}}><i class="fas fa-chevron-circle-down"></i> Jump to End</a>
 &nbsp; 
  {{#if scrollPaused}}
          <a href="#" {{action "unpauseScroll"}}><i class="fas fa-play">
          </i> Resume Scrolling</a>
  {{else}}
          <a href="#" {{action "pauseScroll"}}><i class="fas fa-pause"></i> Pause Scrolling</a>
  {{/if}}
  
   &nbsp; 
  {{#if scene.is_watching}}
  <a href="#" {{action 'watchScene' false}}><i class="fas fa-eye-slash"></i> Unwatch Scene</a>
  {{else}}
  <a href="#" {{action 'watchScene' true}}><i class="fas fa-eye"></i> Watch Scene</a>
  {{/if}}

 &nbsp; 
    {{#if scrollPaused}}
    <br/>
       <span class="label label-warning">Scrolling is paused!</span>
    {{/if}}
    
    {{#if (not scene.is_watching)}}
    <br/>
       <span class="label label-warning">You are not watching this scene and will not be notified of new scene activity.</span>

    {{/if}}
    
    <div class="ansi scene-log" id="live-scene-log">
    

    {{#each scenePoses as |pose|}}    
            <div class="hint pull-right">
                
                
                {{#if (not pose.is_system_pose)}}
                <i class="fas fa-clock" >
                  {{#bs-tooltip placement="left"}}{{pose.timestamp}}{{/bs-tooltip}}
                </i>
                {{/if}}
                
                {{#if (not scene.reload_required)}}
                  {{#if (and isApproved pose.can_edit)}}
                    {{#if (not pose.editActive)}}
                    <a href="#" {{action 'editScenePose' pose}}><i class="fa fa-edit" aria-hidden="true">
                      {{#bs-tooltip placement="left"}}Edit pose.{{/bs-tooltip}}
                    </i></a>
                    {{#if pose.can_delete}}
                    <a href="#" {{action (mut confirmDeleteScenePose) pose}}><i class="fa fa-trash" aria-hidden="true">
                      {{#bs-tooltip placement="left"}}Delete pose.{{/bs-tooltip}}
                    </i></a>
                    {{/if}}
                    {{/if}}
                  {{/if}}
                {{/if}}
            </div>
        
            {{#if pose.is_system_pose}}
                <div class="scene-system-pose">
                {{{ansi-format text=pose.pose}}}
                </div>
            {{else}}
                <div class="scene-pose-header">		
                  {{#if pose.restarted_scene_pose}}
                      <img class="small-profile-icon {{icon-class}}" src="/game/uploads/theme_images/noicon.png" />
                      Scene Restarted
                  {{else}}
                      {{#link-to "char" pose.char.name}}
                          {{#if pose.char.icon}}
                          <img class="small-profile-icon {{icon-class}}" src="/game/uploads/{{pose.char.icon}}" />
                          {{else}}
                          <img class="small-profile-icon {{icon-class}}" src="/game/uploads/theme_images/noicon.png" />
                          {{/if}}
                      {{/link-to}}

                      {{#link-to "char" pose.char.name}} {{pose.char.name}} {{/link-to}}
                    {{/if}}
                </div>
                 {{#if pose.editActive}}
                    {{markdown-editor text=pose.raw_pose}}
                                        
                    <div class="pull-right">
                    <button class="btn-default" {{action 'cancelScenePoseEdit' pose}}>Cancel</button>
                    <button class="btn-warning" {{action 'saveScenePose' pose false}}>Typo</button>
                    <button class="btn-primary" {{action 'saveScenePose' pose true}}>Save</button>
                    </div>
                    <div class="clearfix"></div>
                    
                 {{else}}
                     {{#if pose.is_setpose}}
                        <div class="scene-set-pose">
                        {{{ansi-format text=pose.pose}}}
                        </div>
                    {{else if pose.is_ooc}}
                        <div class="scene-ooc-pose">
                        <span class="label label-pill label-primary"> OOC</span>	
                        {{{ansi-format text=pose.pose}}}
                        </div>
                    {{else}}        
                        <div class="scene-pose">	
                            {{{ansi-format text=pose.pose}}}
                        </div>
                    {{/if}}
                 {{/if}}
            {{/if}}
    {{/each}}

    </div>

  {{#if scrollPaused}}
     <span class="label label-warning">Scrolling is paused!</span>
  {{/if}}
  

    {{#if (not scene.is_watching)}}
       <span class="label label-warning">You are not watching this scene and will not be notified of new scene activity.</span>
    {{/if}}


    {{#if scene.reload_required}}
      <div class="alert alert-warning">
        This scene has changed status since you opened it.  Please reload the page.
      </div>

    {{else}}
    
      {{#if isApproved}}

          {{#if (not scene.completed)}}
          
            {{cmd-box value=scenePose rows=6 allowMultiLine=true onEnter=(action "addPose" "pose")}}
            
            {{pose-order poseOrder=scene.pose_order playerName=playerName}}
          {{/if}}
          
          
        
      {{else}}
           <p>You must be approved to join a scene.</p>
      {{/if}}
    
    
    
      <div class="row">
          <div class="col col-xs-12">

              <ul class="nav navbar-nav">    
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                    <span class="btn btn-default" href="#" role="button">Scene Menu <span class="caret"></span></span> </a>
                    <ul class="dropdown-menu">

                      {{#if scene.can_edit}}
                      <li>{{#link-to 'scene-edit' scene.id}}Edit Scene{{/link-to}}</li>
                      <li><a href="#" {{action (mut selectLocation) true}}>Change Location</a></li>
                      {{/if}}
                    
                      {{#if isApproved}}
                        {{#if (not scene.completed)}}
                    
                        {{#if rollEnabled}}
                        <li><a href="#" {{action (mut selectSkillRoll) true}}>Add Roll</a></li>
                        {{/if}}
                                         
                         <li role="separator" class="divider"></li>

                         <li><a href="#" {{action 'changeSceneStatus' 'stop'}}>Stop Scene</a></li> 
                         {{else}}
                         <li><a href="#" {{action 'changeSceneStatus' 'restart'}}>Restart Scene</a></li> 
                         <li><a href="#" {{action 'changeSceneStatus' 'share'}}>Share Scene</a></li> 
                         {{/if}}
                       {{/if}}
                       
                       {{#if scene.can_delete}}
                       <li><a href="#" {{action (mut confirmDeleteScene) true}}>Delete Scene</a></li> 
                       {{/if}}
                   
                   
                    <li>{{#link-to 'scene-download' scene.id}}Download Scene{{/link-to}}</li> 

                    </ul>
                  </li>
              </ul>
        
              {{#if isApproved}}
        
                <div class="pull-right">
                
                  {{#if (not scene.completed)}}
                  <button {{action 'addPose' 'setpose'}} class="btn btn-default">Add Scene Set</button>
                  <button {{action 'addPose' 'gm'}} class="btn btn-default">Add GM Pose</button>
                  <button {{action 'addPose' 'ooc'}} class="btn btn-default">Add OOC Comment</button>
                  <button {{action 'addPose' 'pose'}} class="btn btn-primary">Add Pose</button>


                  {{/if}}
        
                
        
                </div>
        
              {{/if}}
    

           </div>
       </div>
     
    {{/if}}          


    {{flash-messages}}

    {{#if (and scene.can_edit selectLocation)}}
    <div class="row">
        <div class="col col-xs-4">
           <p>
                {{#power-select selected=newLocation options=locations onchange=(action "locationSelected") as |location|}}
              {{location}}
            {{/power-select}}
        
            <div class="btn btn-default" {{action 'changeLocation'}}>Select Location</div>
        </p>
        </div>
    </div>
    {{/if}}

        <hr/>


    {{#bs-modal-simple
        title="Confirm Delete"
        closeTitle="Cancel"
        submitTitle="Confirm"
        size=null
        fade=false
        open=confirmDeleteScenePose
        onSubmit=(action "deleteScenePose")
        onHide=(action (mut confirmDeleteScenePose) null)}}
        You're about to delete this scene pose. This cannot be undone.  Are you sure?
      {{/bs-modal-simple}}
      
      {{#bs-modal-simple
          title="Confirm Delete"
          closeTitle="Cancel"
          submitTitle="Confirm"
          size=null
          fade=false
          open=confirmDeleteScene
          onSubmit=(action "deleteScene")
          onHide=(action (mut confirmDeleteScene) null)}}
          You're about to delete this scene. This cannot be undone.  Are you sure?
        {{/bs-modal-simple}}
  
      {{#bs-modal-simple
          title="Select a Skill to Roll"
          closeTitle="Cancel"
          submitTitle="Roll"
          size=null
          fade=false
          open=selectSkillRoll
          onSubmit=(action "addSceneRoll")
          onHide=(action (mut selectSkillRoll) null)}}
          <select onchange={{action (mut rollString) value="target.value"}}>
            {{#each abilities as |ability|}}
              <option value={{ability}}>{{ability}}</option>
            {{/each}}
          </select>
          {{input type="text" size=25 id="rollString" enter="addSceneRoll" value=rollString}}
          
        {{/bs-modal-simple}}