<li role="separator" class="divider"></li>

{{#if (not this.scene.completed)}}
  <li><a href="#" {{action 'viewPlaces'}}>View Places</a></li>
  <li><a href="#" {{action (mut this.selectPlace) true}}>Join a Place</a></li>
  <li><a href="#" {{action 'leavePlace'}}>Leave Place</a></li>
{{/if}}
          
<BsModalSimple @title="View Places" @closeTitle="Done" @size={{null}} @fade={{true}} @open={{this.showPlaces}} @onHide={{action (mut this.showPlaces) false}}>
  {{#each this.scene.places as |place|}}
    <p><b>{{place.name}}</b></p>
    {{#each place.chars as |char|}}
    <CharIconInline @char={{char}} />
    {{/each}}
    <hr>
  {{/each}}
</BsModalSimple>


<BsModalSimple @title="Join a Place" @closeTitle="Cancel" @submitTitle="Select" @size={{null}} @fade={{true}} @open={{this.selectPlace}} @onSubmit={{action "changePlace"}} @onHide={{action (mut this.selectPlace) false}}>
  <p>Select an existing place or a name for a new one.</p>
  <select onchange={{action (mut this.newPlace) value="target.value"}}>
    {{#each this.scene.places as |place|}}
      <option value={{place.name}}>{{place.name}} -- 
      {{#each place.chars as |char|}}
      {{char.name}}
      {{/each}}
      </option>
    {{/each}}
  </select>
  <Input @type="text" size={{25}} id="newPlace" enter={{action "changePlace"}} @value={{this.newPlace}} />

</BsModalSimple>