{{#if this.scene.fs3combat_enabled}}
  {{#if this.scene.combat}}

  <li><a href="#" {{action (mut this.showCombat) true}}>Combat HUD</a></li>  
  <li> <a href="#" {{action "combatHero"}}>Hero Recovery</a></li>
  <li> <a href="#" {{action (mut this.showCombatCommand) true}}>Send Command</a></li>

  <li><LinkTo @route="combat" @model={{this.scene.combat}} target="_blank">Manage Combat</LinkTo></li>
  {{#if this.scene.combat.can_manage}}
    <li><a href="#"  {{action 'newTurn'}}>Start New Turn</a></li>
  {{/if}}
  
{{else}}
  <li><a href="#" {{action 'startCombat'}}>Start Combat</a></li>
  {{/if}}
{{/if}}


    
<BsModalSimple @title="Combat HUD" @closeTitle="Close" @size={{null}} @fade={{true}} @open={{this.showCombat}} @onHide={{action (mut this.showCombat) false}}>
  
    <Fs3CombatHud @combat={{this.scene.combat}} />
  
</BsModalSimple>


    
<BsModalSimple @title="Send Combat Command" @closeTitle="Close" @size={{null}} @fade={{true}} @open={{this.showCombatCommand}} @onHide={{action (mut this.showCombatCommand) false}}>
  
    <Input @value={{this.combatCommand}} @enter="sendCommand" size={{25}} />

    <button class="btn btn-default" {{action 'sendCommand'}} >Send Command</button>
    <div class="label label-info">{{this.commandResponse}}</div>
  
</BsModalSimple>
