<li><a href="#" {{action (mut this.selectCastSpell) true}} class="dropdown-item">Cast a Spell</a></li>


{{#bs-modal-simple
    title="Select a Spell to Cast"
    closeTitle="Cancel"
    submitTitle="Cast"
    size=null
    fade=false
    open=selectCastSpell
    onSubmit=(action "addSceneSpell")
    onHide=(action (mut selectCastSpell) null)}}
    <p><b>Select or Type Spell</b></p>
    <select onchange={{action (mut spellString) value="target.value"}}>
      {{#each this.spells as |spell|}}
        <option value={{spell}}>{{spell}}</option>
      {{/each}}
    </select>
    <Input @type="text" @size={{25}} @id="spellString" @enter={{action "addSceneSpell"}} @value={{spellString}} />

    <p><b>Other Options</b></p>
    <p>
      Target: <Input @type="text" @size={{15}} @id="targetName" @enter={{action "addSceneSpell"}} @value={{targetName}} />

      Mod: <Input @type="text" @size={{15}} @id="mod" @enter={{action "addSceneSpell"}} @value={{mod}} />
    </p>
{{/bs-modal-simple}}
