<div class="panel panel-default markdown-editor">
    <div class="panel-body markdown-editor">
        
        <div class="pull-right markdown-controls">
    <a href="#" {{action 'preview'}}>
        {{#if preview}}
          <TooltipIcon @position="right" @message="Hide preview." @icon="fa fa-eye-slash" />
        {{else}}
          <TooltipIcon @position="right" @message="Show preview." @icon="fa fa-eye" />
        {{/if}}
    </a>
    
    <a href="#" {{action 'showHelp'}}>
      <TooltipIcon @position="right" @message="Formatting help." @icon="fa fa-question-circle" />
    </a>
    </div>
    
        
<Textarea @value={{text}} @cols="80" @rows={{rows}} @enter={{onEnter}} />
{{#if preview}}

<div class="panel panel-default">
    <div class="panel-body">
        <AnsiFormat @text={{preview}} />
        
    </div>
</div>
{{/if}}

</div>
</div>
