<div class="card card-default markdown-editor">
    <div class="card-body markdown-editor">
      
      <div class="markdown-controls">
  
          {{#if this.preview}}
             <a class="markdown-control-toggle" href="#" {{action 'preview'}}>Write</a>
             <a class="markdown-control-toggle active">Preview</a>
          {{else}}
             <a class="markdown-control-toggle active">Write</a>
             <a class="markdown-control-toggle" href="#" {{action 'preview'}}>Preview</a>
          {{/if}}
          
          <a href="#" {{action 'showHelp'}}>
            <TooltipIcon @position="left" @message="Formatting help." @icon="fa fa-question-circle" />
          </a>
    
          <LinkTo @route='emoji' target="_blank">
            <TooltipIcon @position="left" @message="Emoji help." @icon="fa fa-smile" />
          </LinkTo>
    </div>

{{#if this.preview}}
  <div class="markdown-preview">
    <AnsiFormat @text={{this.preview}} />
  </div>
{{else}}
  <Textarea @value={{this.text}} cols={{80}} rows={{this.rows}} {{on "keydown" (action 'keyDown')}} />
{{/if}}

</div>
</div>
