<div class="panel panel-default markdown-editor">
    <div class="panel-body markdown-editor">
      
      <div class="markdown-controls">
  
          {{#if preview}}
             <a class="markdown-control-toggle" href="#" {{action 'preview'}}>Write</a>
             <a class="markdown-control-toggle active">Preview</a>
          {{else}}
             <a class="markdown-control-toggle active">Write</a>
             <a class="markdown-control-toggle" href="#" {{action 'preview'}}>Preview</a>
          {{/if}}
          
          <a href="#" {{action 'showHelp'}}>
            <TooltipIcon @position="left" @message="Formatting help." @icon="fa fa-question-circle" />
          </a>
    
          <LinkTo @route='emoji' @target="_blank">
            <TooltipIcon @position="left" @message="Emoji help." @icon="fa fa-smile" />
          </LinkTo>
    </div>

{{#if preview}}
  <div class="markdown-preview">
    <AnsiFormat @text={{preview}} />
  </div>
{{else}}
  <Textarea @value={{text}} @cols="80" @rows={{rows}} @keyDown={{action 'keyDown'}} />
{{/if}}

</div>
</div>
