<div class="panel panel-default">
    <div class="panel-body">
    <button {{action 'preview'}} data-toggle="tooltip" title="Toggle Preview" class="btn btn-default">
        
        {{#if preview}}
        <i class="fa fa-eye-slash"   aria-hidden="true"></i>
        {{else}}
        <i class="fa fa-eye"  aria-hidden="true"></i>
        {{/if}}
    </button>
    
    <button {{action 'showHelp'}} data-toggle="tooltip" title="Markdown Help" class="btn btn-default">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
    </button>
    
    
        
{{textarea value=text cols="80" rows=rows enter=onEnter}}
{{#if preview}}

<div class="panel panel-default">
    <div class="panel-body">
        {{{ansi-format text=preview}}}
        
    </div>
</div>
{{/if}}

</div>
</div>
