
<table class="table table-striped plots-list">


<thead>
  <th class="col-xs-3">Plot</th>
  <th class="col-xs-2">Storytellers</th>
  <th class="col-xs-3 hidden-xs hidden-sm">Dates</th>
  <th class="col-xs-4">Summary</th>
</thead>

<tbody>

{{#each this.plots as |plot|}}
  <tr>
      <td>
      <LinkTo @route="plot" @model={{plot.id}}>{{plot.title}}</LinkTo>
      </td>
      <td>
        {{#each plot.storytellers as |storyteller|}}
          <CharIconTiny @char={{storyteller}} />
        {{/each}}
      </td>
      <td class="hidden-xs hidden-sm">
      {{plot.start_date}} - {{plot.end_date}}
      </td>        
      <td>
          <AnsiFormat @text={{plot.summary}} />
          {{#if plot.content_warning}}
          <ContentWarningTag @warning={{plot.content_warning}} />
          {{/if}}
          
      </td>
  </tr>
{{/each}}

</tbody>
</table>
