    <div class="col-md-4 col-sm-12 col-xs-12 profile-image-wrap">
    {{#if char.profile_image.name}}
            <LinkTo @route="file" @models={{array char.profile_image.folder char.profile_image.name}}>
                <img src="/game/uploads/{{char.profile_image.path}}" alt="{{char.name}}'s icon"  class="profile-image">
            </LinkTo>
    {{else}}
        <img src="/game/uploads/theme_images/noicon.png" class="profile-image" alt="{{char.name}}'s icon" >
    {{/if}}
    </div>

    <div class="col-md-8 col-sm-12 col-xs-12 profile-demo-wrap">        

        <div class="profile-box">
        <div class="profile-title">
                    {{char.military_name}}
        </div>
        
        {{#each char.demographics as |demo|}}
        <div class="row">
            <div class="col-sm-4">
                    <b>{{demo.name}}</b> 
            </div>
            <div class="col-sm-8">
                    {{demo.value}}
            </div>
        </div>
        {{/each}}
                                
        
        <div class="profile-divider">
        </div>
        
        
        {{#each char.groups as |group|}}
        <div class="row">
            <div class="col-sm-4">
                    <b>{{group.name}}</b> 
            </div>
            <div class="col-sm-8">
                    {{group.value}}
            </div>
        </div>
        {{/each}}


        {{#if char.handle}}
        
        <div class="row">
            <div class="col-sm-4">
                    <b>Player</b> 
            </div>
            <div class="col-sm-8">
                    <a href="http://arescentral.aresmush.com/handle/{{char.handle}}">{{char.handle}}</a>
            </div>
        </div>
        
        {{/if}}
        
        <div class="row">
            <div class="col-sm-4">
                    <b>Last Online</b> 
            </div>
            <div class="col-sm-8">
                    {{char.last_online}}
            </div>
        </div>
        </div>
        
    </div>
