<div class="row">
  <div class="col col-12 col-lg-4 profile-image-wrap">
    {{#if this.char.profile_image.name}}
            <LinkTo @route="file" @models={{array this.char.profile_image.folder this.char.profile_image.name}}>
                <img src="/game/uploads/{{this.char.profile_image.path}}" alt="{{this.char.name}}'s icon"  class="profile-image">
            </LinkTo>
    {{else}}
        <img src="/game/uploads/theme_images/noicon.png" class="profile-image" alt="{{this.char.name}}'s icon" >
    {{/if}}
    </div>

    <div class="col col-12 col-lg-8 profile-demo-wrap">        

        <div class="profile-box">

        {{#each this.char.demographics as |demo|}}
        <div class="row">
            <div class="col-sm-4">
                    <b>{{demo.name}}</b> 
            </div>
            <div class="col-sm-8">
                    {{demo.value}}
            </div>
        </div>
        {{/each}}
                                
        
        <div class="profile-divider">
        </div>
        
        
        {{#each this.char.groups as |group|}}
        <div class="row">
            <div class="col-sm-4">
                    <b>{{group.name}}</b> 
            </div>
            <div class="col-sm-8">
                    {{group.value}}
            </div>
        </div>
        {{/each}}


        {{#if this.char.handle}}
        
        <div class="row">
            <div class="col-sm-4">
                    <b>Player</b> 
            </div>
            <div class="col-sm-8">
                    <a href="http://arescentral.aresmush.com/handle/{{this.char.handle}}">{{this.char.handle}}</a>
            </div>
        </div>
        
        {{/if}}
        
        <div class="row">
            <div class="col-sm-4">
                    <b>Last Online</b> 
            </div>
            <div class="col-sm-8">
                    {{this.char.last_online}}
            </div>
        </div>
        </div>
        
    </div>
</div>