<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#systeminfo">+</a></li>

  {{#if char.roster}}
    <li><a data-toggle="tab" href="#rosternotes">Roster Info</a></li>
  {{/if}}
  
  <li><a data-toggle="tab" href="#systemhooks">RP Hooks</a></li>

  {{#if char.background}}
      <li><a data-toggle="tab" href="#systembg">Background</a></li> 
  {{/if}}
  
  {{#if char.description}}
  <li><a data-toggle="tab" href="#systemdesc">Description</a></li>
  {{/if}}
  
  <ProfileFs3Tabs @char={{char}} @game={{game}} />

  {{#if char.achievements}}
      <li><a data-toggle="tab" href="#systemachievements">Achievements</a></li>
  {{/if}}

  {{#if traitsExtraInstalled}}
    <li><a data-toggle="tab" href="#systemtraits">Traits</a></li>
  {{/if}}
  
  {{#if rpgExtraInstalled}}
    <li><a data-toggle="tab" href="#systemrpg">Sheet</a></li>
  {{/if}}
  
  {{#if fateExtraInstalled}}
    <li><a data-toggle="tab" href="#systemfate">Sheet</a></li>
  {{/if}}
  
  {{#if char.siteinfo}}
    <li><a data-toggle="tab" href="#systemsite">Admin</a></li>
  {{/if}}
  
  <ProfileCustomTabs @char={{char}} @game={{game}} />

</ul>




<div class="tab-content">
  <div id="systeminfo" class="tab-pane fade in active">
      <div class="tab-cover">System Information</div>
  </div>
  {{#if char.roster}}
  <div id="rosternotes" class="tab-pane fade">
    <AnsiFormat @text={{char.roster.notes}} />
    
    <p>Contact: {{char.roster.contact}}</p>

    {{#if char.roster.previously_played}}
    <span class="label label-info">Previously Played</span>
    {{/if}}

    {{#if char.roster.app_required}}
    <span class="label label-warning">App Required</span>
    {{/if}}
    
  </div>
  {{/if}}
  
  <div id="systemhooks" class="tab-pane fade">
      <AnsiFormat @text={{char.rp_hooks}} />
  </div>
  
  
  {{#if char.background}}
  <div id="systembg" class="tab-pane fade">
      <AnsiFormat @text={{char.background}} />
   </div>
  {{/if}} 
  
  {{#if char.description}}
  <div id="systemdesc" class="tab-pane fade">
       <AnsiFormat @text={{char.description}} />
       
       {{#if char.details}}
       {{#each char.details as |detail|}}
       <b>{{detail.name}}</b>: <AnsiFormat @text={{detail.desc}} />
       {{/each}}
       {{/if}}
  </div>
  {{/if}}
  
  <ProfileFs3 @char={{char}} @game={{game}} @reloadChar={{action "reloadChar"}} />
  
  {{#if traitsExtraInstalled}}
    <ProfileTraits @char={{char}} />
  {{/if}}
  
  {{#if rpgExtraInstalled}}
    <RpgProfile @char={{char}} />
  {{/if}}
  
  {{#if fateExtraInstalled}}
    <ProfileFate @char={{char}} />
  {{/if}}
  
  {{#if char.achievements}}
  <div id="systemachievements" class="tab-pane fade">
      <CharAchievements @achievements={{char.achievements}} />
  </div>
  {{/if}}
  
  {{#if char.siteinfo}}
  <div id="systemsite" class="tab-pane fade">
      <ProfileSiteInfo @char={{char}} />
  </div>
  {{/if}}
  
  <ProfileCustom @char={{char}} @game={{game}} @reloadChar={{action "reloadChar"}} />
  
</div>