
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#relationshipindex">+</a></li>
    {{#each char.relationships as |cat|}}
    <li><a data-toggle="tab" href="#{{cat.key}}">{{cat.name}}</a></li>
    {{/each}}
</ul>


<div class="tab-content">

  <div id="relationshipindex" class="tab-pane fade in active">
      <div class="tab-cover">Relationships</div>
  </div>
  
  {{#each char.relationships as |cat|}}

  <div id="{{cat.key}}" class="tab-pane fade">
    
    {{#each cat.relationships as |ship|}}
        
        <div class="row relationship-row">
            <div class="col col-xs-12 col-sm-3">
                <RelationshipIcon @char={{ship}} />
            </div>
            
            <div class="col col-xs-12 col-sm-8 ansi">
                {{#if ship.is_npc}}
                <b>{{ship.name}}</b> (NPC)
                {{else}}
                <b><LinkTo @route="char" @model={{ship.name}}>{{ship.name_and_nickname}}</LinkTo></b>
                {{/if}}
                <AnsiFormat @text={{ship.text}} />
            </div>
        </div>
        
     {{/each}}
             
  </div>
  {{/each}}
</div>