<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#systeminfo">+</a></li>


  <li><a data-toggle="tab" href="#systemhooks">RP Hooks</a></li>

  {{#if char.background}}
      <li><a data-toggle="tab" href="#systembg">Background</a></li> 
  {{/if}}
  
  {{#if char.description}}
  <li><a data-toggle="tab" href="#systemdesc">Description</a></li>
  {{/if}}
  
 
  {{#if (not game.disabled_plugins.fs3skills)}}
     {{#if char.fs3.show_sheet}}
      <li><a data-toggle="tab" href="#systemsheet">Sheet</a></li>
      {{/if}}
  {{/if}}

      <li><a data-toggle="tab" href="#systemawards">Awards</a></li>

  {{#if (not game.disabled_plugins.fs3combat)}}
      <li><a data-toggle="tab" href="#systemdamage">Damage</a></li>
  {{/if}}

      <li><a data-toggle="tab" href="#systemkills">Kills</a></li>
</ul>




<div class="tab-content">
  <div id="systeminfo" class="tab-pane fade in active">
      <div class="tab-cover">System Information</div>
  </div>
        
  <div id="systemhooks" class="tab-pane fade">
      {{{ansi-format text=char.rp_hooks}}}
  </div>
  
  
  {{#if char.background}}
  <div id="systembg" class="tab-pane fade">
      {{{ansi-format text=char.background}}}
   </div>
  {{/if}} 
  
  {{#if char.description}}
  <div id="systemdesc" class="tab-pane fade">
       {{{ansi-format text=char.description}}}
  </div>
  {{/if}}

   <div id="systemawards" class="tab-pane fade">
   <div class="medal-area">
   <div class="medal-row">
    {{#each char.awards.badge_images as |i|}}
    <img class="medal" src="/game/uploads/misc/{{i}}" alt="{{i}}" title="{{i}}" />
    {{/each}}
   </div>

   <div class="medal-row">
    {{#each char.awards.medal_images as |i|}}
    <img class="medal" src="/game/uploads/misc/{{i}}" alt="{{i}}" title="{{i}}" />
    {{/each}}
   </div>

   <div class="medal-row">
    {{#each char.awards.campaign_images as |i|}}
    <img class="medal" src="/game/uploads/misc/{{i}}" alt="{{i}}" title="{{i}}" />
    {{/each}}
   </div>

   </div>
	<br/><br/>

	<ul>
	{{#each char.awards.citations as |c|}}
	<li><b>{{c.name}}</b></li>
	<ul>
	{{#each c.citations as |citation|}}
	<li>{{citation}}</li>
	{{/each}}
	</ul>
	{{/each}}
	</ul>

 </div>


  {{#if (not game.disabled_plugins.fs3skills)}}
  <div id="systemsheet" class="tab-pane fade">
    {{fs3-sheet char=char}}
  </div>
  {{/if}}
  
  {{#if (not game.disabled_plugins.fs3combat)}}  
  <div id="systemdamage" class="tab-pane fade">
    {{fs3-damage char=char}}
  </div>

   <div id="systemkills" class="tab-pane fade">
  <table class="table table-striped">

   <thead>
         <tr>
	          <th>#</th>
		           <th>Date</th>
			            <th>Victory</th>
				             <th>Scene</th>
					           </tr>
						      </thead>

  {{#each char.kills as |k|}}
  <tr>
  <td>{{k.index}}</td>
  <td>{{k.date}}</td>
  <td>{{k.name}}</td>
  <td>{{#link-to 'scene' k.scene.id}}{{k.scene.title}}{{/link-to}}</td>
  </tr>
  {{/each}}
   </table>
  </div>
{{/if}}
</div>