<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#scenesindex">+</a></li>
    <li><a data-toggle="tab" href="#scenelist">Scenes</a></li>
    <li><a data-toggle="tab" href="#plotprefs">Plot Preferences</a></li>
    {{#if char.secret_name}}<li><a data-toggle="tab" href="#secret">Secret</a></li>{{/if}}
</ul>


<div class="tab-content">

    <div id="scenesindex" class="tab-pane fade in active">
        <div class="tab-cover">Story</div>
    </div>

    <div id="scenelist" class="tab-pane fade ">

        {{scene-list scenes=scenes.scenes pages=scenes.pages sceneTypes=sceneTypes filter=filter page=page filterChanged=(action "filterChanged") goToPage=(action "goToPage")}}

    </div>

    <div id="plotprefs" class="tab-pane fade ">

        {{{ansi-format text=char.plot_prefs}}}

    </div>
{{#if char.secret_name}}
    <div id="secret" class="tab-pane fade ">

    <h4>
      {{#if char.secret_plot}}
        {{#link-to 'plot' char.secret_plot}}{{char.secret_name}} {{/link-to}}
      {{else}}
        {{char.secret_name}}
      {{/if}}
    </h4>
      {{char.secret_summary}}

    </div>
{{/if}}

</div>
