<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#scenesindex">+</a></li>
    <li><a data-toggle="tab" href="#scenelist">Scenes</a></li>
    <li><a data-toggle="tab" href="#plotprefs">Plot Preferences</a></li>
    {{#if char.lore_hook_name}}<li><a data-toggle="tab" href="#lore-hook">Lore Hook</a></li>{{/if}}
    <li><a data-toggle="tab" href="#comps">Comps</a></li>
</ul>


<div class="tab-content">

    <div id="scenesindex" class="tab-pane fade in active">
        <div class="tab-cover">Story</div>
    </div>

    <div id="scenelist" class="tab-pane fade ">

        <SceneList @scenes={{scenes.scenes}} @pages={{scenes.pages}} @sceneTypes={{sceneTypes}} @filter={{filter}} @page={{page}} @filterChanged={{action "filterChanged"}} @goToPage={{action "goToPage"}} />

      </div>


      <div id="plotprefs" class="tab-pane fade ">
        {{#if char.plot_prefs}}
          {{{ansi-format text=char.plot_prefs}}}
        {{else}}
            None.
        {{/if}}

    </div>


    {{#if char.lore_hook_name}}
      <div id="lore-hook" class="tab-pane fade ">
        {{#if char.lore_hook_ancestry}}
          <h4>{{#link-to 'creature' char.lore_hook_ancestry}}{{char.lore_hook_name}} {{/link-to}}</h4>
        {{else if char.lore_hook_pet}}
          <h4>{{#link-to 'creature' char.lore_hook_pet}}{{char.lore_hook_name}} {{/link-to}}</h4>
        {{else}}
          <h4>{{char.lore_hook_name}}</h4>
        {{/if}}
        {{char.lore_hook_desc}}
      </div>
    {{/if}}

    <div id="comps" class="tab-pane fade ">
      {{char-comps char=char}}
    </div>

</div>
