<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#systeminfo">+</a></li>

  {{#if this.char.roster}}
    <li><a data-toggle="tab" href="#rosternotes">Roster Info</a></li>
  {{/if}}
  
  <li><a data-toggle="tab" href="#systemhooks">RP Hooks</a></li>
  
  {{#if this.prefsExtraInstalled}}
    <li><a data-toggle="tab" href="#systemprefs">RP Prefs</a></li>
  {{/if}}
  
  {{#if this.char.background}}
      <li><a data-toggle="tab" href="#systembg">Background</a></li> 
  {{/if}}
  
  {{#if this.char.description}}
  <li><a data-toggle="tab" href="#systemdesc">Description</a></li>
  {{/if}}
  
  <ProfileFs3Tabs @char={{this.char}} @game={{this.game}} />

  {{#if this.char.achievements}}
      <li><a data-toggle="tab" href="#systemachievements">Achievements</a></li>
  {{/if}}

  {{#if this.traitsExtraInstalled}}
    <li><a data-toggle="tab" href="#systemtraits">Traits</a></li>
  {{/if}}
  
  {{#if this.rpgExtraInstalled}}
    <li><a data-toggle="tab" href="#systemrpg">Sheet</a></li>
  {{/if}}
  
  {{#if this.fateExtraInstalled}}
    <li><a data-toggle="tab" href="#systemfate">Sheet</a></li>
  {{/if}}

  {{#if this.cookiesExtraInstalled}}
    <li><a data-toggle="tab" href="#systemcookies">Cookies</a></li>
  {{/if}}  
  
  {{#if this.char.siteinfo}}
    <li><a data-toggle="tab" href="#systemsite">Admin</a></li>
  {{/if}}
  
  <ProfileCustomTabs @char={{this.char}} @game={{this.game}} />

</ul>




<div class="tab-content">
  <div id="systeminfo" class="tab-pane fade in active">
      <div class="tab-cover">System Information</div>
  </div>
  {{#if this.char.roster}}
  <div id="rosternotes" class="tab-pane fade">
    <AnsiFormat @text={{this.char.roster.notes}} />
    
    <p>Contact: {{this.char.roster.contact}}</p>

    {{#if this.char.roster.previously_played}}
    <span class="label label-info">Previously Played</span>
    {{/if}}

    {{#if this.char.roster.app_required}}
    <span class="label label-warning">App Required</span>
    {{/if}}
    
  </div>
  {{/if}}
  
  <div id="systemhooks" class="tab-pane fade">
      <AnsiFormat @text={{this.char.rp_hooks}} />
  </div>
  
  {{#if this.prefsExtraInstalled}}
    <div id="systemprefs" class="tab-pane fade">
      <AnsiFormat @text={{this.char.rp_prefs}} />
    </div>
  {{/if}}
  
  {{#if this.char.background}}
  <div id="systembg" class="tab-pane fade">
      <AnsiFormat @text={{this.char.background}} />
   </div>
  {{/if}} 
  
  {{#if this.char.description}}
  <div id="systemdesc" class="tab-pane fade">
       <AnsiFormat @text={{this.char.description}} />
       
       {{#if this.char.details}}
       {{#each this.char.details as |detail|}}
       <b>{{detail.name}}</b>: <AnsiFormat @text={{detail.desc}} />
       {{/each}}
       {{/if}}
  </div>
  {{/if}}
  
  <ProfileFs3 @char={{this.char}} @game={{this.game}} @reloadChar={{action "reloadChar"}} />
  
  {{#if this.traitsExtraInstalled}}
    <ProfileTraits @char={{this.char}} />
  {{/if}}
  
  {{#if this.rpgExtraInstalled}}
    <RpgProfile @char={{this.char}} />
  {{/if}}
  
  {{#if this.fateExtraInstalled}}
    <ProfileFate @char={{this.char}} />
  {{/if}}
  
  {{#if this.cookiesExtraInstalled}}
    <ProfileCookies @char={{this.char}} />
  {{/if}}
  
  {{#if this.char.achievements}}
  <div id="systemachievements" class="tab-pane fade">
      <CharAchievements @achievements={{this.char.achievements}} @sceneStats={{this.char.scene_stats}}/>
  </div>
  {{/if}}
  
  {{#if this.char.siteinfo}}
  <div id="systemsite" class="tab-pane fade">
      <ProfileSiteInfo @char={{this.char}} />
  </div>
  {{/if}}
  
  <ProfileCustom @char={{this.char}} @game={{this.game}} @reloadChar={{action "reloadChar"}} />
  
</div>