
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a data-bs-toggle="tab" class="nav-link active" href="#relationshipindex">+</a></li>
    {{#each this.char.relationships as |cat|}}
    <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#{{cat.key}}">{{cat.name}}</a></li>
    {{/each}}
</ul>


<div class="tab-content">

    <div id="relationshipindex" class="tab-pane fade show active">
        <div class="tab-cover">Relationships</div>
    </div>

    {{#each this.char.relationships as |cat|}}

    <div id="{{cat.key}}" class="tab-pane fade">

    <div class="relationship-mat">

    {{#each cat.relationships as |ship|}}

        <div class="row relationship-row">
            <div style="width: 100px;">
                <RelationshipIcon @char={{ship}} />
            </div>

            <div class="relationship-content ansi">
                {{#if ship.is_npc}}
				    <div class="relationship-name"><b>{{ship.name}}</b><span class="relationship-npc"> (NPC)</span></div>
                {{else}}
                    <div class="relationship-name"><b><LinkTo @route="char" @model={{ship.name}}>{{ship.name_and_nickname}}</LinkTo></b></div>
                {{/if}}
                <AnsiFormat @text={{ship.text}} />
            </div>
        </div>

    {{/each}}

    </div>
</div>