{{#if (not hideSearch)}}
<p><b>Select Scenes:</b> 

{{#power-select selected=filter options=sceneFilters onchange=(action "filterChanged") as |name|}}
  {{name}}
{{/power-select}}

{{#link-to 'search-scenes' class="btn btn-default"}}<i class="fa fa-search" aria-hidden="true"></i> Search Scenes{{/link-to}}  

</p>
{{/if}}

<table class="table table-striped">


<thead>
    <tr>
        <th>Scene</th>
        <th>Participants</th>
    </tr>
</thead>

<tbody>

{{#each scenes as |scene|}}
    <tr>
        <td>
        {{#link-to 'scene' scene.id}}{{scene.icdate}} - {{scene.title}}{{/link-to}}
        
        {{scene-tag scene=scene}}
       
        <p>{{{ansi-format text=scene.summary}}}
          {{#if scene.content_warning}}
          {{content-warning-tag warning=scene.content_warning}}
          {{/if}}
        </p>
        </td>
        <td>
            {{#each scene.participants as |participant|}}
            <a href="/char/{{participant.name}}">{{participant.name}}</a>
            {{/each}}
        </td>
    </tr>
{{/each}}

</tbody>
</table>

{{#each pages as |pg|}}
{{#if (eq pg page)}}
<button class="btn btn-primary" {{action "goToPage" pg}}>{{pg}}</button>
{{else}}
<button class="btn btn-default" {{action "goToPage" pg}}>{{pg}}</button>
{{/if}}
{{/each}}


