{{#if (not hideSearch)}}
<p><b>Select Scenes:</b> 

{{#power-select selected=filter options=sceneFilters onchange=(action "filterChanged") as |name|}}
  {{name}}
{{/power-select}}

{{#link-to 'search-scenes' class="btn btn-default"}}<i class="fa fa-search" aria-hidden="true"></i> Search Scenes{{/link-to}}  

</p>
{{/if}}

<table class="table table-striped">


<thead>
    <tr>
        <th>Scene</th>
        <th>Participants</th>
    </tr>
</thead>

<tbody>

{{#each scenes.scenes as |scene|}}
    <tr>
        <td>
        {{#link-to 'scene' scene.id}}{{scene.icdate}} - {{scene.title}}{{/link-to}}
        
        {{scene-tag scene=scene}}
       
        <p>{{scene.summary}}</p>
        </td>
        <td>
            {{#each scene.participants as |p|}}
            <a href="/char/{{p.name}}">{{p.name}}</a>
            {{/each}}
        </td>
    </tr>
{{/each}}

</tbody>
</table>

{{#each scenes.pages as |p|}}
{{#if (eq p page)}}
<button class="btn btn-primary" {{action "goToPage" p}}>{{p}}</button>
{{else}}
<button class="btn btn-default" {{action "goToPage" p}}>{{p}}</button>
{{/if}}
{{/each}}


