<p><b>Select Scenes:</b> 

<div class="hint">Select a scene filter, or type in part of a scene name or a character name.</div>

{{#power-select selected=filter options=sceneFilters onchange=(action "filterChanged") search=(action "searchScenes") as |name|}}
  {{name}}
{{/power-select}}

</p>


<table class="table table-striped">


<thead>
    <tr>
        <th>Scene</th>
        <th>Participants</th>
    </tr>
</thead>

<tbody>

{{#each currentPageItems as |scene|}}
    <tr>
        <td>
        {{#link-to 'scene' scene.id}}{{scene.icdate}} - {{scene.title}}{{/link-to}}
        
        {{scene-tag scene=scene}}
       
        <p>{{scene.summary}}</p>
        </td>
        <td>
            {{#each scene.participants as |p|}}
            <a href="/char/{{p.name}}">{{p.name}}</a>
            {{/each}}
        </td>
    </tr>
{{/each}}

</tbody>
</table>

{{#each pagesList as |p|}}
{{#if (eq p page)}}
<button class="btn btn-primary" {{action "gotoPage" p}}>{{p}}</button>
{{else}}
<button class="btn btn-default" {{action "gotoPage" p}}>{{p}}</button>
{{/if}}
{{/each}}


