<table class="table table-striped">


<thead>
    <tr>
        <th>Scene</th>
        <th>Participants</th>
    </tr>
</thead>

<tbody>

{{#each scenes as |scene|}}
    <tr>
        <td>
        {{#link-to "scenes.scene" scene.id}}{{scene.icdate}} - {{scene.title}}{{/link-to}}
        
        {{scene-tag scene=scene}}
       
        <p>{{scene.summary}}</p>
        </td>
        <td>
            {{#each scene.participants as |p|}}
            <a href="/char/{{p.name}}">{{p.name}}</a>
            {{/each}}
        </td>
    </tr>
{{/each}}

</tbody>
</table>