<div class="spell-card">
  <div class="index-card">
    <h3 class="card-header">
      <div class="card-title">{{spell.name}}</div>
    </h3>
    <div class="spell-icons">
      {{#if spell.potion}}
        <img src="http://spiritlakemu.com/game/uploads/theme_images/potionicon.png" width="35px"  alt="Can be made into a potion" title="Can be made into a potion">
      {{/if}}
      {{#if spell.single_target}}
        <img src="http://spiritlakemu.com/game/uploads/theme_images/singletargeticon.png" width="35px" alt="Single target" title="Single target">
      {{/if}}
      {{#if spell.multi_target}}
        <img src="http://spiritlakemu.com/game/uploads/theme_images/multitargeticon.png" width="35px" alt="Multiple targets" title="Multiple targets">
      {{/if}}
    </div>

    <div class="card-text">
      <div class="spell-stats">
        <div class="stats-left">
          <div class="spell-info">
            <b><i>{{spell.school}}</i></b><br><b>Level {{spell.level}}</b>
          </div>

          <div class="spell-desc">
            {{{ansi-format text=spell.desc}}}
          </div>
          {{#if spell.weapon}}
            <div class="spell-attack-stats-block">
              <div class="spell-attack-stats-label">
                <h5>Attack Stats:</h5>
              </div>
              <div class="spell-attack-stats">
                   {{#if spell.weapon_specials}}
                    <p><i>Applies {{spell.name}} stats atop the stats of the weapon you are already wielding.</i></p>
                  {{/if}}
                {{spell.weapon_type}}{{#if spell.weapon_shrapnel}} (Shrapnel){{/if}} —
                {{#if spell.weapon_lethality}}
                  <b>Lethality:</b> {{spell.weapon_lethality}} ·
                {{/if}}
                {{#if spell.weapon_penetration}}
                  <b>Penetration:</b> {{spell.weapon_penetration}} ·
                {{/if}}
                {{#if spell.weapon_special_penetration}}
                  <b>Penetration:</b> {{spell.weapon_special_penetration}} ·
                {{/if}}
                {{#if spell.weapon_accuracy}}
                  <b>Accuracy:</b> {{spell.weapon_accuracy}} ·
                {{/if}}
                {{#if spell.weapon_special_accuracy}}
                  <b>Accuracy:</b> {{spell.weapon_special_accuracy}} ·
                {{/if}}
                {{#if spell.weapon_init}}
                  <b>Initiative Bonus:</b> {{spell.weapon_init}} ·
                {{/if}}
                {{#if spell.weapon_special_init}}
                  <b>Initiative Bonus:</b> {{spell.weapon_special_init}}
                {{/if}}
              </div>
            </div>
          {{/if}}

          {{#if spell.armor}}
            <hr width="95%">
            <h4>Armor Stats</h4>
            {{#if spell.armor_protection}}
              <b>Protection:</b> {{spell.armor_protection}}<br>
            {{/if}}
            {{#if spell.armor_defense}}
              <b>Defense:</b> {{spell.armor_defense}}<br>
            {{/if}}
          {{/if}}
        </div>

        <div class="stats-right">
          <b>Cost:</b> {{spell.xp}} XP<br>
           {{#if spell.effect}}
            <i>{{spell.effect}}</i>
          {{/if}}
          {{#if spell.damage_type}}
          &nbsp;&#183; {{spell.damage_type}} Damage{{/if}} <br><br>
          {{#if spell.targets}}
            <b>Targets:</b> {{spell.targets}}<br>
          {{/if}}
          {{#if spell.duration}}
            <b>Duration:</b> {{spell.duration}}<br>
          {{/if}}
          <b>Casting Time:</b> {{spell.casting_time}}<br>
          <b>Range:</b> {{spell.range}}<br>
          {{#if spell.los}}
            <i>Requires line of sight</i><br>
          {{/if}}
          {{#if spell.area}}
            <b>Area:</b> {{spell.area}}<br>
          {{/if}}
          {{#if spell.heal}}
            <b>Heal:</b> {{spell.heal}}<br>
          {{/if}}
          {{#if spell.shields_against}}
            <b>Shields against:</b> {{spell.shields_against}}<br>
          {{/if}}
          {{#if spell.mod}}
            <b>Modifiers:</b>
            {{#if spell.attack_mod}}
              {{spell.attack_mod}} attack
            {{/if}}
            {{#if spell.lethal_mod}}
              {{spell.lethal_mod}} lethality
            {{/if}}
            {{#if spell.defense_mod}}
            {{spell.defense_mod}} defense
            {{/if}}
            {{#if spell.spell_mod}}
              {{spell.spell_mod}} spell
            {{/if}}
          {{/if}}
        </div>

      </div>
    </div>
  </div>
</div>