<AceEditor @text={{this.text}} @editorId={{this.editorId}} rows={{this.lines}} @mode="yaml" @editorChanged={{action "textChanged"}} />


{{#if this.warning}}
<div class="alert alert-warning">{{this.warning}}</div>
{{/if}}