<h1>{{model.icdate}} - {{model.title}}</h1>
        
<div class="row log-wrap">
       
    <div class="log-box">
       
        <p>{{model.summary}}</p>

        <p><b>Date:</b> {{model.icdate}}</p>

        <p><b>Location:</b> {{model.location}}</p>


        <p><b>Related Scenes:</b>
           {{#if model.related_scenes}}
             {{#each model.related_scenes as |related index|}}
                  {{#if (not-eq index 0)}}
                  &nbsp;
                  {{/if}}
                  {{#link-to "game.scene" related.id}}{{related.title}}{{/link-to}}
              {{/each}}
            {{else}}
               None
            {{/if}}
        </p>
            
        <p>
            <b>Plot: </b>
            {{#if model.plot}}
                <a href="/plot/{{model.plot.id}}">{{model.plot.title}}</a>
            {{else}}
                None
            {{/if}}
        </p>
        
        <div>
          
            
        {{scene-tag scene=scene}}
         
         TODO: SCENE LIKE
         
         </div>
         
    </div>
    
    <div class="log-participants-box">
        
    {{#each model.participants as |p|}}
        <div class="profile-gallery">    
            {{char-icon char=p}}
        </div>
    {{/each}}
    
    </div>
    
    <div class="clearfix"> </div>


</div>

<p>{{#link-to "game.scenes"}}<i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Scenes{{/link-to}}</p>


<div class="ansi scene-log">
    {{{model.log}}}
</div>
    
<br/>
<p>
    <b>Tags:</b>  
    TODO SCENE TAGS
   </p>
   
<p>{{#link-to "game.scenes"}}<i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Scenes{{/link-to}}</p>


TODO EDIT BUTTONS

{{outlet}}