<h1>{{model.title}}</h1>
<p>{{#link-to 'forum.category' model.category.id}}<i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to {{model.category.name}}{{/link-to}}</p>

     <p>{{char-icon-inline char=model.author}}</p>

<p><i>{{model.date}}</i></p>
{{{ansi-format text=model.message}}}
<hr/>

 <div>
     
    {{#each model.replies as |reply|}}
     <div>
     
         <p>{{char-icon-inline char=reply.author}}</p>
     
         <p><i> {{reply.date}} </i></p>
     
     
         {{{ansi-format text=reply.message}}}
     
         <hr/>
      </div>
    {{/each}}
    
    
     <hr/>
  </div>

{{#if model.can_reply}}
<div class="inline-response">
<h3>Add Reply</h3>

    {{textarea value=reply cols="80" rows="6"}}
        
    <button {{action "addReply"}} class="btn btn-primary">Reply</button>
    
    {{flash-messages}}
</div>
{{/if}}
{{outlet}}