<div class="scene-card-fs3">
  <div class="card-fs3-attribute">
    <div class="card-ability-title">
      Attributes
    </div>
    <div class="card-abilities">
      {{#each this.char.fs3.attributes as |ability|}}
        <div class="card-ability">
          <span class="card-ability-name">{{ability.name}}</span>
          <Fs3Dots @rating={{ability.rating}} @max={{4}} @abilityType="attribute" />
        </div>
      {{/each}}
    </div>
  </div>

  <div class="card-fs3-action">
    <div class="card-ability-title">
      Action Skills
    </div>
    <div class="card-abilities">
      {{#each this.char.fs3.action_skills as |ability|}}
        <div class="card-ability">
          <span class="card-ability-name">{{ability.name}}</span>
          <Fs3Dots @rating={{ability.rating}} @max={{8}} @abilityType="action"  />
        </div>
      {{/each}}
    </div>
  
    <div class="card-specialties">
      {{#each this.char.fs3.action_skills as |ability|}}
        {{#if ability.specialties}}
          <div class="card-specialty">{{ability.name}}: {{ability.specialties}}</div>
        {{/if}}
      {{/each}}
    </div>
  </div>
  
  <div class="card-fs3-background">  
    <div class="card-ability-title">
      Background Skills
    </div>
    <div class="card-abilities">
      {{#each this.char.fs3.backgrounds as |ability|}}
        <div class="card-ability">
          <span class="card-ability-name">{{ability.name}}</span>
          <Fs3Dots @rating={{ability.rating}} @max={{3}} @abilityType="background"  />
        </div>
      {{/each}}
    </div>
  </div>

  <div class="card-fs3-language">
    <div class="card-ability-title">
      Languages
    </div>
    <div class="card-abilities">
      {{#each this.char.fs3.languages as |ability|}}
        <div class="card-ability">
          <span class="card-ability-name">{{ability.name}}</span>
          <Fs3Dots @rating={{ability.rating}} @max={{3}} @abilityType="language" />
        </div>
      {{/each}}
    </div>
  </div>

  {{#if this.char.fs3.use_advantages}}
  <div class="card-fs3-advantage">
    <div class="card-ability-title">
      Advantages
    </div>
    <div class="card-abilities">
      {{#each this.char.fs3.advantages as |ability|}}
        <div class="card-ability">
          <span class="card-ability-name">{{ability.name}}</span>
          <Fs3Dots @rating={{ability.rating}} @max={{3}} @abilityType="advantage" />
        </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
</div>    