{{#if this.channel}}

{{#if this.channel.enabled}}

<div class="chat-controls">

  <button class="btn-link" {{on 'click' this.toggleChannelInfo}}><i class="fas fa-info-circle"></i> Channel Info</button>

  <button class="btn-link" {{on 'click' this.scrollDown}}><i class="fas fa-angle-double-down"></i> Jump to End</button>

  {{#if this.scrollPaused}}
          <button class="btn-link" {{on 'click' this.unpauseScroll}}><i class="fas fa-play">
          </i> Resume Scrolling</button>
  {{else}}
          <button class="btn-link" {{on 'click' this.pauseScroll}}><i class="fas fa-pause"></i> Pause Scrolling</button>
  {{/if}}
</div>  
  
{{#if this.showChannelInfo}}
  
  <div class="card card-default">
    <div class="card-body">

      <div class="icon-row">
        {{#if this.channel.desc}}
        <p>{{this.channel.desc}}</p>
        {{/if}}
        
        <p><b>Who's On</b></p>
        
      {{#each this.channel.who as |who|}}
        <CharIconInline @char={{who}} />
        {{#if who.muted}}<i class="fa fa-microphone-slash"></i>{{/if}}

      {{/each}}
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
{{/if}}


 {{#if this.chatAlerts}}
 <div class="alert alert-warning chat-alerts">
   {{#each this.chatAlerts as |alert|}}
   <p>{{alert}}</p>
   {{/each}}
 </div>
 {{/if}}


 <div id="chat-window">
 {{#each this.channel.messages as |message|}}
   <div class="hint float-end">
         <div class="timestamp-tip">{{message.timestamp}}</div>
   </div>
 
    <div class="scene-pose-header">		
      <LinkTo @route="char" @model="{{message.author.name}}" target="_blank">
          {{#if message.author.icon}}
          <img alt="{{message.author.name}}'s icon" class="small-profile-icon <IconClass />" src="/game/uploads/{{message.author.icon}}" >
          {{else}}
          <img alt="{{message.author.name}}'s icon" class="small-profile-icon <IconClass />" src="/game/uploads/theme_images/noicon.png" >
          {{/if}}
          
          {{message.author.name}} 
      </LinkTo>
      </div>
      
     <AnsiFormat @text={{message.message}} />
 {{/each}}
 </div>

 {{#if this.chatAlerts}}
 <div class="alert alert-warning chat-alerts">
   {{#each this.chatAlerts as |alert|}}
   <p>{{alert}}</p>
   {{/each}}
 </div>
 {{/if}}

 <div class="scene-controls-box">
 {{#if this.canTalk}}
   <MarkdownEditor @text={{this.channel.draftMessage}} class="chat-box" cols={{80}} rows="6" @onEnter={{this.sendMessage}} />
 {{/if}}
  <div class="scene-controls">

    <div class="scene-controls-right">
      {{#if this.canTalk}}
         <button class="btn-primary btn" {{on 'click' this.sendMessage}}>Send Message</button>
       {{/if}}
    </div>
 
    <div class="scene-controls-left">
      
      
      
      <div class="scene-dropdowns">
        
        <DropdownMenu @id="chatMenu" @title="Chat Menu" @dropup={{true}} class="chat-menu">
          {{#if this.channel.is_page}}
            {{#if this.channel.is_hidden}}
              <li><button {{on 'click' (fn this.hidePage false)}} class="dropdown-item">Unhide Conversation</button></li>
            {{else}}
              <li><button {{on 'click' (fn this.hidePage true)}} class="dropdown-item">Hide Conversation</button></li>
            {{/if}}
            <li><button {{on 'click' (fn this.setShowPageRename true)}} class="dropdown-item">Rename Conversation</button></li>
    
          {{else}}
            <li><button {{on 'click' this.leaveChannel}} class="dropdown-item">Leave Channel</button></li>
            {{#if this.channel.muted}}
            <li><button {{on 'click' (fn this.muteChannel false)}} class="dropdown-item">Unmute Channel</button></li>
            {{else}}
            <li><button {{on 'click'  (fn this.muteChannel true)}} class="dropdown-item">Mute Channel</button></li>
            {{/if}}
          {{/if}}
          <li><button {{on 'click' (fn this.setShowReport true)}} class="dropdown-item">Report Chat</button></li>
          <li><button {{on 'click' this.download}} class="dropdown-item">Download Chat</button></li>  
        </DropdownMenu>
        
      </div>
 
      <div class="scene-char-select">
        <PowerSelect @selected={{this.channel.poseChar}} @options={{this.channel.poseable_chars}} @searchField="name" @onChange={{this.poseCharChanged}} as |poseChar|>
            <CharIconTiny @char={{poseChar}} />
        </PowerSelect>
      </div>
    </div>
  </div>
  
</div>
          

<div class="clearfix"></div>

{{else}}

<div class="alert alert-warning">You are not on this channel.</div>
   
{{/if}}

    <FlashMessages />


<BsModalSimple @title="Report Chat" @closeTitle="Cancel" @submitTitle="Report" @size={{null}} @fade={{true}} @open={{this.showReport}} @onSubmit={{this.reportChat}} @onHide={{(fn this.setShowReport false)}}>
    
    <p>Enter a reason in the text box and select a starting message.  All messages after that one will be included in the report.</p>
    <p><Input @type="text" size={{50}} @value={{this.reportReason}} /></p>
    
    <div class="chat-report">
    <table>
    {{#each this.channel.messages as |message|}}
    <tr>
      <td><Input @type="radio" id="{{message.id}}" name="reportMessage" onclick={{(fn this.setSelectedReportMessage message.id)}} /></td>
      <td><AnsiFormat @text={{message.message}} /></td>
    </tr>
    {{/each}}
    </table>
    </div>
    
</BsModalSimple>



<BsModalSimple @title="Rename Conversation" @closeTitle="Cancel" @submitTitle="Save" @size={{null}} @fade={{true}} @open={{this.showPageRename}} @onSubmit={{this.renamePage}} @onHide={{(fn this.setShowPageRename false)}}>
    
    <p>Enter a new title for this conversation. Leave blank to restore the default title.</p>
    <p><Input @type="text" size={{50}} @value={{this.newPageTitle}} /></p>
    
</BsModalSimple>
{{/if}}