<div class="fs3-abilitybox"> 
  <div class="fs3-ability-row">
    <div class="fs3-ability-name">
      {{yield}}
    </div>

    <div class="fs3-rating-control">
      <button class="fs3-skillbutton" {{on 'click' this.decrement}}>-</button>

      <div class="fs3-rating-display">
        <Fs3Dots @rating={{this.rating}} @max={{8}} />
        <br>
        {{this.ratingName}}
      </div>

      <button class="fs3-skillbutton" {{on 'click' this.increment}}>+</button>
    </div>
  </div>
    
  

  {{#if this.specialties}}
    <div class="fs3-specialty-select">

      {{#if (gt this.rating 2)}}
      <div class="cg-tip">Specialty is required for ratings 3+.</div>
      {{else}}
      <div class="cg-tip">Specialty is optional for ratings 1-2.</div>
      {{/if}}
       
        {{#each this.specialties as |spec|}}
      
            <span class="text">&nbsp; {{spec.name}}:</span>
            <Input @type="checkbox" @checked={{spec.selected}} /> 
        {{/each}}
    </div>
  {{/if}}
  
</div>
