<div class="char-ability-title">{{this.title}}</div>

  <table class="char-ability-list">
  {{#each this.list as |ability| }}
  <tr>
    <td>{{ability.name}} 
      {{#if ability.linked_attr}}
      <span class="fs3-linked-attr">({{ability.linked_attr}})</span>
      {{/if}}
    </td>
    <td><Fs3Dots @rating={{ability.rating}} @max={{this.max}} />
    
    {{#if this.showSpecs}}
    <br>
        {{#if ability.specialties}}
          ({{ability.specialties}})
        {{/if}}
    {{/if}}
    
    </td>
    <td>{{ability.rating_name}}</td>
  </tr>
  {{/each}}
</table>
