<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        {{#if this.isAuthenticated}}

          <li class="nav-item dropdown d-lg-none">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          
                    Welcome {{this.currentUser.name}}
                    {{#if this.model.notification_count}}
                        <span class="badge rounded-pill bg-primary" id="notificationBadge"><i class="fa fa-bell" aria-label="New Notifications"></i> {{this.model.notification_count}}</span>
                    {{/if}}
                    </a>
                    <ul class="dropdown-menu">
                      <li><LinkTo class="dropdown-item" @route="notifications">Notifications</LinkTo></li>
                      <li><LinkTo class="dropdown-item" @route="char" @model={{this.currentUser.name}}>Profile</LinkTo></li>
                      <li><LinkTo class="dropdown-item" @route="mail">Mail</LinkTo></li>
                      <li><LinkTo class="dropdown-item" @route="jobs">{{#if this.model.jobs_admin}}Jobs{{else}}Requests{{/if}}</LinkTo></li>
                      <li><LinkTo class="dropdown-item" @route="account">Account</LinkTo></li>

                      {{#if this.model.alts}}
                          <li><a class="dropdown-item" href="#" {{on 'click' (fn this.setAltSelectionVisible true)}}>Switch Alt</a></li>
                      {{/if}} 

                      <li><LinkTo class="dropdown-item" @route="logout">Logout</LinkTo></li>
            
                    </ul>
                  </li>
                {{else}}
                <li class="nav-item d-lg-none"><LinkTo class="nav-link" @route="login" @query={{hash redirect=this.currentRoute}}>Login</LinkTo></li>
                {{/if}}

        
        {{#each this.topNavbar as |sec|}}
          {{#if sec.menu }}
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">              
              {{{sec.title}}}</a>
              <ul class="dropdown-menu  dropdown-menu-end">
                {{#each sec.menu as |navItem|}}
                  {{#if navItem.url}}
                      <li><a class="dropdown-item" href="{{navItem.url}}" target="{{navItem.target}}">{{{navItem.title}}}</a></li>
                  {{else if navItem.divider}}
                      <li><hr class="dropdown-divider"></li>
                  {{else}}
                    <li>
                    {{#if navItem.id}}
                      <LinkTo class="dropdown-item" @route={{navItem.route}} @model={{navItem.id}}>{{{navItem.title}}}</LinkTo>
                    {{else if navItem.ids}}
                      <LinkTo class="dropdown-item" @route={{navItem.route}} @models={{navItem.ids}}>{{{navItem.title}}}</LinkTo>
                    {{else}}
                      <LinkTo class="dropdown-item" @route={{navItem.route}}>{{{navItem.title}}}</LinkTo>
                    {{/if}}
                    </li>
                  {{/if}}
                {{/each}}
              </ul>
            </li>
          {{else}}
            <li class="nav-item">
              {{#if sec.url}}
                  <a href="{{sec.url}}" target="{{sec.target}}" class="nav-link">{{{sec.title}}}</a>              
              {{else}}
                <li>
                {{#if sec.id}}
                  <LinkTo  @route={{sec.route}} @model={{sec.id}} class="nav-link">{{{sec.title}}}</LinkTo>
                {{else if sec.ids}}
                  <LinkTo  @route={{sec.route}} @models={{sec.ids}} class="nav-link">{{{sec.title}}}</LinkTo>
                {{else}}
                  <LinkTo @route={{sec.route}} class="nav-link">{{{sec.title}}}</LinkTo>
                {{/if}}
                </li>
              {{/if}}
            </li>
          {{/if}}
        {{/each}}
                
      </ul>

    </div>
  </div>
</nav>



<BsModalSimple @title="Select Alt" @submitTitle="Done" @size={{null}} @fade={{true}} @closeTitle="Cancel" @open={{this.showAltSelection}}  @onHide={{fn this.setAltSelectionVisible false}} @onSubmit={{fn this.setAltSelectionVisible false}}>

  <table class="alts-switcher">
    {{#each this.model.alts as |alt|}}
      {{#if (not (eq alt.name this.currentUser.name)) }}
        <tr><td>
        <CharIconInline @char={{alt}} @hideLink="true" />
        </td>
        <td><a href="#" {{on 'click' (fn this.switchAlt alt.name)}} class="btn btn-secondary">Switch</a></td>
        </tr>
      {{/if}}
    {{/each}}
  </table>
</BsModalSimple>