<li><a href="#" {{action (mut this.selectSkillRoll) true}} class="dropdown-item">Roll Ability</a></li>
<li><a href="#" {{action (mut this.selectSpendLuck) true}} class="dropdown-item">Spend Luck</a></li>

{{#if this.scene.fs3combat_enabled}}
  {{#if (not this.scene.combat)}}
    <li><a href="#" {{action 'startCombat'}} class="dropdown-item">Start Combat</a></li>
  {{/if}}
{{/if}}

<BsModalSimple @title="Spend a Luck Point" @closeTitle="Cancel" @submitTitle="Spend" @size={{null}} @fade={{true}} @open={{this.selectSpendLuck}} @onSubmit={{action "spendLuck"}} @onHide={{action (mut this.selectSpendLuck) false}}>
  
  <b>Reason:</b> <Input @type="text" size={{25}} id="luckReason" @enter={{action "spendLuck"}} @value={{this.luckReason}} />

</BsModalSimple>


<Fs3Roll @scene={{this.scene}} @destinationType="scene" @abilities={{this.abilities}} @selectSkillRoll={{this.selectSkillRoll}} />
