<li><hr role="separator" class="dropdown-divider"></li>

{{#if (not this.scene.completed)}}
  <li><a href="#" {{on 'click' this.viewPlaces}} class="dropdown-item">View Places</a></li>
  <li><a href="#" {{on 'click' (fn this.setSelectPlace true)}} class="dropdown-item">Join a Place</a></li>
  <li><a href="#" {{on 'click' this.leavePlace}} class="dropdown-item">Leave Place</a></li>
{{/if}}
          
<BsModalSimple @title="View Places" @closeTitle="Done" @size={{null}} @fade={{true}} @open={{this.showPlaces}} @onHide={{(fn this.setShowPlaces false)}}>
  {{#each this.scene.places as |place|}}
    <p><b>{{place.name}}</b></p>
    {{#each place.chars as |char|}}
    <CharIconInline @char={{char}} />
    {{/each}}
    <hr>
  {{/each}}
</BsModalSimple>


<BsModalSimple @title="Join a Place" @closeTitle="Cancel" @submitTitle="Select" @size={{null}} @fade={{true}} @open={{this.selectPlace}} @onSubmit={{this.changePlace}} @onHide={{(fn this.setSelectPlace false)}}>
  <p>Select an existing place or a name for a new one.</p>
  <select onchange={{this.onPlaceSelected}}>
    {{#each this.scene.places as |place|}}
      <option value={{place.name}}>{{place.name}} -- 
      {{#each place.chars as |char|}}
      {{char.name}}
      {{/each}}
      </option>
    {{/each}}
  </select>
  <Input @type="text" size={{25}} id="newPlace" @enter={{this.changePlace}} @value={{this.newPlace}} />

</BsModalSimple>