<div class="card card-default markdown-editor">
    <div class="card-body markdown-editor">
      
      <div class="markdown-controls">
  
          {{#if this.previewText}}
             <a class="markdown-control-toggle" href="#" {{on 'click' this.preview}}>Write</a>
             <a class="markdown-control-toggle active">Preview</a>
          {{else}}
             <a class="markdown-control-toggle active">Write</a>
             <a class="markdown-control-toggle" href="#" {{on 'click' this.preview}}>Preview</a>
          {{/if}}
          
          <a href="#" {{on 'click' this.showHelp}}>
            <TooltipIcon @position="left" @message="Formatting help." @icon="fa fa-question-circle" />
          </a>
    
          <LinkTo @route='emoji' target="_blank">
            <TooltipIcon @position="left" @message="Emoji help." @icon="fa fa-smile" />
          </LinkTo>
    </div>

{{#if this.previewText}}
  <div class="markdown-preview">
    <AnsiFormat @text={{this.previewText}} />
  </div>
{{else}}
  <Textarea @value={{this.text}} cols={{80}} rows={{this.rows}} {{on "keydown" this.keyDown}} aria-label="Markdown Editor" />
{{/if}}

</div>
</div>
