{{#if (not this.game.disabled_plugins.fs3skills)}}
  {{#if this.char.fs3.show_sheet}}
    <div id="systemfs3sheet" class="tab-pane fade">
      <Fs3Sheet @char={{this.char}} />
    </div>
   {{/if}}
   {{#if this.char.fs3.xp}}
    <div id="systemfs3xp" class="tab-pane fade">
      <Fs3Xp @char={{this.char}} @abilityLearned={{this.reloadChar}} />
    </div>
   {{/if}}
{{/if}}

{{#if (not this.game.disabled_plugins.fs3combat)}}  
<div id="systemfs3damage" class="tab-pane fade">
  <Fs3Damage @damage={{this.char.fs3.damage}} @damageMod={{this.char.fs3.damage_mod}} @showOriginal={{true}} />
</div>
{{/if}}