
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a data-bs-toggle="tab" class="nav-link active" href="#relationshipindex">+</a></li>
    {{#each this.char.relationships as |cat|}}
    <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#{{cat.key}}">{{cat.name}}</a></li>
    {{/each}}
</ul>


<div class="tab-content">

  <div id="relationshipindex" class="tab-pane fade show active">
      <div class="tab-cover">Relationships</div>
  </div>
  
  {{#each this.char.relationships as |cat|}}

  <div id="{{cat.key}}" class="tab-pane fade">
    
    {{#each cat.relationships as |ship|}}
        
        <div class="relationship-row">
              <RelationshipIcon @char={{ship}} />
            
            <div class="relationship-details ansi">
                {{#if ship.is_npc}}
                <b>{{ship.name}}</b> (NPC)
                {{else}}
                <b><LinkTo @route="char" @model={{ship.name}}>{{ship.name_and_nickname}}</LinkTo></b>
                {{/if}}
                <AnsiFormat @text={{ship.text}} />
            </div>
        </div>
        
     {{/each}}
             
  </div>
  {{/each}}
</div>