<AceEditor @text={{this.text}} @editorId={{this.editorId}} lines={{this.lines}} @mode="yaml" @editorChanged={{this.textChanged}} />


{{#if this.warning}}
<div class="alert alert-warning">{{this.warning}}</div>
{{/if}}