{{page-title 'Account Settings'}}

<h1>Account Settings</h1>

<h2>Player Handle</h2>

  <p>AresMUSH player handles provide--at your discretion--a consistent player identity across Ares games. They also enable cross-game features like a friends list and synchronized account preferences. Learn more about player handles on <a href="https://aresmush.com/handles" target="_blank" rel="nofollow noopener">aresmush.com</a></p>


<a data-bs-toggle="collapse" href="#handle" class="btn btn-secondary btn-collapse">Manage Handle</a>
<div id="handle" class="card-collapse collapse">

   <div class="card card-default">
      <div class="card-body">

        {{#if this.model.handle}}
        <p>Your character is linked to the handle <b>{{this.model.handle}}</b>.  Visit <a href="http://arescentral.aresmush.com" target="_blank" rel="nofollow noopener">AresCentral</a> to manage your handle preferences.</p>
        {{else}}


        <p>To set up a player handle:</p>

        <ol>
          <li>Visit <a href="http://arescentral.aresmush.com" target="_blank" rel="nofollow noopener">AresCentral</a>  and register your handle account.</li>
          <li>At AresCentral, go to 'My Account -> Manage Characters'.</li>
          <li>Click 'Get A New Link Code' and copy the code it gives you.</li>
          <li>Enter the handle name and the code below and click 'Link to Handle'.</li>
        </ol>
  
          <FlashMessages />
        
          <p><Input @type="text" id="handleName" placeholder="Handle Name" @value={{this.handleName}} /></p>
          <p><Input @type="text" placeholder="Link Code" id="linkCode" @value={{this.linkCode}} /></p>
          <p><Input @type="password" placeholder="Confirm Password" id="confirmPasswordHandle" @value={{this.confirmPasswordHandle}} /></p>
        
          <button {{on 'click' this.linkHandle}} class="btn btn-primary">Link to Handle</button>
        
        {{/if}}
        
      </div>
  </div>
  

</div>

<h2>Password</h2>

<p>You can change the password for this character. This is used to log in to both the game and the web portal.</p>

<a data-bs-toggle="collapse" href="#password" class="btn btn-secondary btn-collapse">Change Password</a>
<div id="password" class="card-collapse collapse">

  <div class="card card-default">
      <div class="card-body">

          <FlashMessages />
        
          <p><Input @type="password" id="password" placeholder="Current Password" @value={{this.currentPassword}} /></p>
          <p><Input @type="password" placeholder="Password" id="newPassword" @value={{this.newPassword}} /></p>
          <p><Input @type="password" placeholder="Confirm New Password"  id="confirmPassword" @value={{this.confirmPassword}} /></p>
        
          <button {{on 'click' this.changePassword}} class="btn btn-primary">Change Password</button>
                
      </div>
  </div>
</div>


<h2>Account Settings</h2>

<p>You can change several other account settings here.</p>

<a data-bs-toggle="collapse" href="#settings" class="btn btn-secondary btn-collapse">Manage Settings</a>
<div id="settings" class="card-collapse collapse">

  <div class="card card-default">
      <div class="card-body">

          <FlashMessages />
        
          <div class="card card-default">
            <div class="card-heading">
              Name
            </div>
          
            <div class="card-body">
              {{#if this.isApproved}}
              <p>You are already approved. Submit a <LinkTo @route="jobs">request</LinkTo> to ask for a name change.</p>
              {{else}}
              <p><Input id="name" placeholder="Name" @value={{this.model.name}} /></p>
              {{/if}}
              
            </div>
          </div>
        
          <div class="card card-default">
            <div class="card-heading">
              Email <LinkTo @route="help-topic" @model="email" target="_blank"><i class="fas fa-info-circle"></i></LinkTo>
            </div>
          
            <div class="card-body">
                        
              <p><Input placeholder="Email" id="email" @value={{this.model.email}} /></p>
            </div>
          </div>
            
          
          <div class="card card-default">
              <div class="card-heading">
                Timezone <LinkTo @route="help-topic" @model="timezone" target="_blank"><i class="fas fa-info-circle"></i></LinkTo>
              </div>
    
              <div class="card-body">
          
                {{#if this.model.handle}}
                <p>Your timezone is {{this.model.timezone}}. Visit <a href="http://arescentral.aresmush.com" target="_blank" rel="nofollow noopener">AresCentral</a> to manage your timezone, which will apply to all characters linked to your handle.</p>
                {{else}}
                
                <PowerSelect @selected={{this.model.timezone}}  @options={{this.model.timezones}} @searchEnabled=true @onChange={{this.timezoneChanged}} as |tz|>
                   {{tz}}
                 </PowerSelect>
                                             
                {{/if}}
              </div>
            </div>
            
            
            <div class="card card-default">
                <div class="card-heading">
                  Unified Play Screen <LinkTo @route="help-topic" @model="play" target="_blank"><i class="fas fa-info-circle"></i></LinkTo>
                </div>
    
                <div class="card-body">
          
                  <div class="alert alert-info">
                    Note: This setting applies to all alts on this game.
                  </div>
                  
                  <p>Unified Play Enabled <Input @type="checkbox" @checked={{this.model.unified_play_screen}} /> </p>

                </div>
              </div>
              
            
            
            
          
          <p><Input @type="password" id="passwordEmail" placeholder="Confirm Password" @value={{this.confirmPasswordSettings}} /></p>
          <button {{on 'click' this.changeSettings}} class="btn btn-primary">Save Settings</button>
             
          <FlashMessages />
                
      </div>
          
  </div>
</div>


<h2>Block List</h2>

<p>If a player is acting inappropriately, you are encouraged to report their behavior to the admin. If you need to, you can also block them from contacting you.</p>

<LinkTo @route="blocks" class="btn btn-secondary">Manage Blocks</LinkTo>  

{{outlet}}