{{page-title 'Review Character'}}
<h1>Review {{this.model.name}}</h1>


<h2>View Details</h2>

<p>You can view the character's background, sheet, and RP hooks on their character page.  This will open in a new tab so you can easily flip back to this one when finished.</p>

       <p>
          <LinkTo @route="char" @model={{this.model.id}} class="btn btn-primary" target="_blank">View Character</LinkTo>
      </p>

<h2>View Errors</h2>

<p>This panel shows any error messages from the character's automated app review.</p>

       <p><span class="ansi-bright-red-fg">Red</span> issues should probably hold up the app.</p>
       <p><span class="ansi-bright-yellow-fg">Yellow</span> may be OK if it suits the character.</p>
       <hr>

<div class="card card-default">
    <div class="card-body">
        <pre class="ansi app-status">{{#if this.model.abilities}}<AnsiFormat @text={{this.model.abilities}} /> 
{{/if}}<AnsiFormat @text={{this.model.demographics}} /><AnsiFormat @text={{this.model.background}} /><AnsiFormat @text={{this.model.desc}} /><AnsiFormat @text={{this.model.hooks}} />{{#if this.model.ranks}}<AnsiFormat @text={{this.model.ranks}} />{{/if}}{{#if this.model.custom}}<AnsiFormat @text={{this.model.custom}} />{{/if}}        </pre>
    </div>
</div>

<div class="card card-default">
    
    <div class="card-body">
      
       <p>Reject or approve the character using the button below.  Any notes you add in the textbox will be sent to the applicant via the approval job.</p>
       
       <MarkdownEditor @text={{this.appNotes}} cols={{80}} rows={{5}} />
       
       {{#if this.model.preset_responses}}
          <div class="preset-responses">
            <b>Pre-Made Responses:</b>
            <PowerSelect @selected='' @options={{this.model.preset_responses}} @searchEnabled=true @searchField="name" @onChange={{this.responseSelected}} as |resp|>
             {{resp.name}}
            </PowerSelect>
          </div>
       {{/if}}
       
      <p>
          <LinkTo @route="job" @model={{this.model.job}} class="btn btn-secondary">Back to Job</LinkTo>
          <button name="reject" {{on 'click' this.rejectChar}} class="btn btn-warning">Reject</button>
          <button name="approve" {{on 'click' this.approveChar}} class="btn btn-success">Approve</button>
      </p>
                   
    </div>
</div>

{{outlet}}