{{title 'Review Character'}}
<h1>Review {{model.name}}</h1>


<h2>View Details</h2>

<p>You can view the character's background, sheet, and RP hooks on their character page.  This will open in a new tab so you can easily flip back to this one when finished.</p>

       <p>
          <LinkTo @route="char" @model={{model.id}} class="btn btn-primary" @target="_blank">View Character</LinkTo>
      </p>

<h2>View Errors</h2>

<p>This panel shows any error messages from the character's automated app review.</p>

       <p><span class="ansi-bright-red-fg">Red</span> issues should probably hold up the app.</p>
       <p><span class="ansi-bright-yellow-fg">Yellow</span> may be OK if it suits the character.</p>
       <hr>

<div class="panel panel-default">
    <div class="panel-body">
        <pre class="ansi app-status">{{#if model.abilities}}<AnsiFormat @text={{model.abilities}} /> 
{{/if}}<AnsiFormat @text={{model.demographics}} /><AnsiFormat @text={{model.background}} /><AnsiFormat @text={{model.desc}} /><AnsiFormat @text={{model.hooks}} />{{#if model.ranks}}<AnsiFormat @text={{model.ranks}} />{{/if}}{{#if model.custom}}<AnsiFormat @text={{model.custom}} />{{/if}}        </pre>
    </div>
</div>

<div class="panel panel-default">
    
    <div class="panel-body">
      
       <p>Reject or approve the character using the button below.  Any notes you add in the textbox will be sent to the applicant via the approval job.</p>
       
       <Textarea @value={{appNotes}} @cols="80" @rows={{5}} />
       
       
      <p>
          <LinkTo @route="job" @model={{model.job}} class="btn btn-default">Back to Job</LinkTo>
          <button name="reject" {{action 'rejectChar'}} class="btn btn-warning">Reject</button>
          <button name="approve" {{action 'approveChar'}} class="btn btn-success">Approve</button>
      </p>
                   
    </div>
</div>

{{outlet}}