<div class="container-fluid">
    <div class="header-wrap">


       <div class="title-wrap">
       
           <div class="row">
               <div class="col-md-6 col-sm-4 col-xs-4">
                   <div class="site-title">{{#link-to 'home'}}{{mushName}}{{/link-to}}</div>
                   <div class="site-subtitle">{{mushHost}} port {{mushPort}}</div>
               </div>
               <div class="col-md-6 col-sm-8 col-xs-8">
                  <div class="text-right user-bar">
                   {{#if isAuthenticated}}
                       <p>Welcome, {{currentUser.name}}.</p>
                       <p>{{#link-to 'char' currentUser.id}}Profile{{/link-to}} |
                           {{#link-to 'mail'}}Mail
                           {{#if model.unread_mail}}
                           <span class="label label-pill label-primary" id="mailBadge">{{model.unread_mail}}</span>
                           {{/if}}
                           {{/link-to}}
                           | <a href="/" {{action 'logout'}}>Logout</a> 
                       </p>
                    {{else}}
                        <p>{{#link-to 'login' (query-params redirect=currentRoute)}}Login{{/link-to}}
                        | {{#link-to 'register'}}Register{{/link-to}}
                        </p>
                    {{/if}}
                    </div>
               </div>
           </div>
       </div>
       
  
        {{global-navbar model=model isAdmin=isAdmin}}
    </div>

        
        
     <div class="body-wrap">
 
       <div class="row">
         <div class="col-md-9 body-container">
           {{flash-messages}}
           {{outlet}}
         </div>
                
         {{#if hideSidebar}}
         <div class="col-md-3">
         &nbsp;
         </div>
         {{else}}
         <div class="col-md-3">
             {{global-sidebar model=sidebar}}
         </div>
         {{/if}}
        </div>
     </div>
 
       <hr>

       <footer>
         <p>&copy; Linda Naughton 2017.   AresMUSH v{{mushVersion}}</p>
       </footer>
</div>
