<div class="container-fluid">
    <div class="header-wrap">


       <div class="title-wrap">
       
           <div class="row">
               <div class="col-md-6 col-sm-4 col-xs-4">
                   <div class="site-title">{{#link-to 'home'}}{{mush_name}}{{/link-to}}</div>
                   <div class="site-subtitle">{{mush_host}} port {{mush_port}}</div>
               </div>
               <div class="col-md-6 col-sm-8 col-xs-8">
                  <div class="text-right user-bar">
                   {{#if session.isAuthenticated}}
                       <p>Welcome, {{player_name}}.</p>
                       <p>{{#link-to 'mail'}}Mail 
                           <span class="label label-pill label-primary" id="mailBadge">{{unread_mail}}</span>
                           {{/link-to}}
                           | {{#link-to 'profile'}}Profile{{/link-to}}
                           | <a href="/" {{action 'logout'}}>Logout</a> 
                       </p>
                    {{else}}
                        <p>{{#link-to 'login' (query-params redirect=current_route)}}Login{{/link-to}}
                        | {{#link-to 'register'}}Register{{/link-to}}
                        </p>
                    {{/if}}
                    </div>
               </div>
           </div>
       </div>
       
  
        {{global-navbar}}
    </div>

        
        
     <div class="body-wrap">
 
       <div class="row">
         {{#if hideSidebar}}
             <div class="col-md-12 body-container">
               {{flash-messages}}
               {{outlet}}
             </div>
         {{else}}
             <div class="col-md-9 body-container">
               {{flash-messages}}
               {{outlet}}
             </div>
         {{/if}}
           
           
           
     
         {{#if (not hideSidebar)}}
         <div class="col-md-3">
             global-sidebar
         </div>
         {{/if}}
        </div>
     </div>
 
       <hr>

       <footer>
         <p>&copy; Linda Naughton 2017.   AresMUSH v{{mush_version}}</p>
       </footer>
</div>