<HeadLayout />
{{title mushName}}
<div class="container-fluid">
    <div class="header-wrap">


       <div class="title-wrap">
       
           <div class="row">
               <div class="col-md-6 col-sm-12 col-xs-12">
                   <div class="site-title"><LinkTo @route="home">{{mushName}}</LinkTo></div>
                   <div class="site-subtitle">{{mushHost}} port {{mushPort}}</div>
               </div>
               <div class="col-md-6 hidden-sm hidden-xs">
                  <div class="text-right user-bar">
                   {{#if isAuthenticated}}
                       <p>Welcome, {{currentUser.name}}. 
                        {{#if model.alts}}
                         <a href="#" {{action (mut showAltSelection) true}}><i class="fa fa-caret-down" aria-label="Switch Alt"></i></a> 
                         {{/if}}
                       </p>
                       
                       <p>
                           <LinkTo @route="notifications">
                               <span class="label label-pill label-primary"><i class="fa fa-bell" aria-label='Unread Notifications'></i>
                               <span id="notificationBadge">{{model.notification_count}}</span>
                               </span>
                           </LinkTo> 
                            |
                           <LinkTo @route="char" @model={{currentUser.name}}>
                             <i class="fa fa-user" aria-label="Profile"></i>
                           </LinkTo> |
                           <LinkTo @route="mail">
                             <i class="fa fa-envelope" aria-label="Mail"></i>
                           </LinkTo> |
                           <LinkTo @route="jobs">
                                <i class="fa fa-list" aria-label="Jobs"></i>
                           </LinkTo>
                           | <LinkTo @route="account">
                             <i class="fa fa-cogs" aria-label="Account"></i>
                           </LinkTo>
                           | <LinkTo @route="logout">
                             <i class="fa fa-sign-out-alt" aria-label="Logout"></i> 
                           </LinkTo>
                       </p>
                    {{else}}
                        <p><LinkTo @route="login" @query={{hash redirect=currentRoute}}>Login</LinkTo>
                        | <LinkTo @route="register">Register</LinkTo>
                        </p>
                    {{/if}}
                    </div>
               </div>
           </div>
       </div>
        <GlobalNavbar @topNavbar={{topNavbar}} @model={{model}} @isAdmin={{isAdmin}} @isCoder={{isCoder}} @isAuthenticated={{isAuthenticated}} @isWikiMgr={{isWikiMgr}} @currentUser={{currentUser}} @currentRoute={{currentRoute}} />
    </div>

        
        
     <div class="body-wrap">
 
       <div class="row body-row">
         {{#if (not hideSidebar)}}
             {{#if model.left_sidebar}}
             <div class="col-md-3 left-sidebar">
               <GlobalSidebar @model={{sidebar}} @socketConnected={{socketConnected}} @versionWarning={{versionWarning}} @boxStyle="sidebar-box-left" />
             </div>
             {{/if}}
        {{/if}}

         {{#if hideSidebar}}
             <div class="col-md-12 body-container {{if model.left_sidebar 'right-body' 'left-body'}}">
               <FlashMessages />
               
               {{#if (not socketConnected)}}
                 <div class="alert alert-warning">The website is not receiving live updates from the game.  Try reloading the page.</div>
               {{/if}}
               
               {{outlet}}
             </div>
         {{else}}
             <div class="col-md-9 body-container {{if model.left_sidebar 'right-body' 'left-body'}}">
               <FlashMessages />
               {{outlet}}
             </div>
         {{/if}}
                
         {{#if (not hideSidebar)}}
             {{#if (not model.left_sidebar)}}
             <div class="col-md-3 right-sidebar">
                 <GlobalSidebar @model={{sidebar}} @socketConnected={{socketConnected}} @versionWarning={{versionWarning}} @boxStyle="sidebar-box-right" />
             </div>
             {{/if}}
         {{/if}}
        </div>
     </div>
 
       <hr>

       <footer>
         <p>AresMUSH game v{{mushVersion}}, portal v{{portalVersion}}</p>
       </footer>
</div>

  
<BsModalSimple @title="Select Alt" @submitTitle="Done" @size={{null}} @fade={{false}} @closeTitle="Cancel" @open={{showAltSelection}}  @onHide={{action (mut showAltSelection) null}} @onSubmit={{action (mut showAltSelection) null}}>

  <table class="alts-switcher">
  
    {{#each model.alts as |alt|}}
      {{#if (not (eq alt.name currentUser.name)) }}
        <tr><td>
        <CharIconInline @char={{alt}} @hideLink="true" /> {{alt.name}}
        </td>
        <td><a href="#" {{action 'switchAlt' alt.name}} class="btn btn-default">Switch</a></td>
        </tr>
      {{/if}}
    {{/each}}
  </table>
</BsModalSimple>
