{{head-layout}}
{{title model.game.name}}
<div class="container-fluid">
    <div class="header-wrap">


       <div class="title-wrap">
       
           <div class="row">
               <div class="col-md-6 col-sm-12 col-xs-12">
                   <div class="site-title">{{#link-to 'home'}}{{mushName}}{{/link-to}}</div>
                   <div class="site-subtitle">{{mushHost}} port {{mushPort}}</div>
               </div>
               <div class="col-md-6 hidden-sm hidden-xs">
                  <div class="text-right user-bar">
                   {{#if isAuthenticated}}
                       <p>Welcome, {{currentUser.name}}. 
                        {{#if model.alts}}
                         <a href="#" {{action 'toggleAltSelection'}}><i class="fa fa-caret-down" aria-label="Switch Alt"></i></a> 
                         {{/if}}
                       </p>
                       {{#if showAltSelection}}
                         {{#each model.alts as |alt|}}
                           {{#if (not (eq alt.name currentUser.name)) }}
                             <p><i><a href="#" {{action 'switchAlt' alt.name}}>Switch to {{alt.name}}.</a></i></p>
                           {{/if}}
                         {{/each}}
                       {{/if}}
                       <p>
                           {{#link-to 'notifications'}}
                               <span class="label label-pill label-primary"><i class="fa fa-bell" aria-label='Unread Notifications'></i>
                               <span id="notificationBadge">{{model.notification_count}}</span>
                               </span>
                           {{/link-to}} 
                            |
                           {{#link-to 'char' currentUser.name}}
                             <i class="fa fa-user" aria-label="Profile"></i>
                           {{/link-to}} |
                           {{#link-to 'mail'}}
                             <i class="fa fa-envelope" aria-label="Mail"></i>
                           {{/link-to}} |
                           {{#link-to 'jobs'}}
                                <i class="fa fa-list" aria-label="Jobs"></i>
                           {{/link-to}}
                           | {{#link-to 'account'}}
                             <i class="fa fa-cogs" aria-label="Account"></i>
                           {{/link-to}}
                           | {{#link-to 'logout'}}
                             <i class="fa fa-sign-out-alt" aria-label="Logout"></i> 
                           {{/link-to}}
                       </p>
                    {{else}}
                        <p>{{#link-to 'login' (query-params redirect=currentRoute)}}Login{{/link-to}}
                        | {{#link-to 'register'}}Register{{/link-to}}
                        </p>
                    {{/if}}
                    </div>
               </div>
           </div>
       </div>
        {{global-navbar topNavbar=topNavbar model=model isAdmin=isAdmin isCoder=isCoder isAuthenticated=isAuthenticated currentUser=currentUser currentRoute=currentRoute}}
    </div>

        
        
     <div class="body-wrap">
 
       <div class="row body-row">
         {{#if (not hideSidebar)}}
             {{#if model.left_sidebar}}
             <div class="col-md-3 left-sidebar">
               {{global-sidebar model=sidebar socketConnected=socketConnected versionWarning=versionWarning boxStyle="sidebar-box-left"}}
             </div>
             {{/if}}
        {{/if}}

         {{#if hideSidebar}}
             <div class="col-md-12 body-container {{if model.left_sidebar 'right-body' 'left-body'}}">
               {{flash-messages}}
               
               {{#if (not socketConnected)}}
                 <div class="alert alert-warning">The website is not receiving live updates from the game.  Try reloading the page.</div>
               {{/if}}
               
               {{outlet}}
             </div>
         {{else}}
             <div class="col-md-9 body-container {{if model.left_sidebar 'right-body' 'left-body'}}">
               {{flash-messages}}
               {{outlet}}
             </div>
         {{/if}}
                
         {{#if (not hideSidebar)}}
             {{#if (not model.left_sidebar)}}
             <div class="col-md-3 right-sidebar">
                 {{global-sidebar model=sidebar socketConnected=socketConnected versionWarning=versionWarning boxStyle="sidebar-box-right"}}
             </div>
             {{/if}}
         {{/if}}
        </div>
     </div>
 
       <hr>

       <footer>
         <p>&copy; Linda Naughton 2013.   AresMUSH game v{{mushVersion}}, portal v{{portalVersion}}</p>
       </footer>
</div>
