{{page-title 'Edit Area'}}
<h1>Edit Area</h1>

<div class="form-group row">
  <div class="col-sm-3">
      <label for="name" class="col-form-label">Name:</label>
  </div>
  <div class="col-sm-9">
      <Input @type="text" size={{25}} id="name" @enter={{action "edit"}} @value={{this.model.area.name}} />
  </div> 
</div>

<div class="form-group row">
  <div class="col-sm-3">
      <label for="summary" class="col-form-label">Summary:</label>
  </div>
  <div class="col-sm-9">
      <MarkdownEditor @text={{this.model.area.summary}} />
  </div> 
</div>

<div class="form-group row">
  <div class="col-sm-3">
      <label for="description" class="col-form-label">Description:</label>
  </div>
  <div class="col-sm-9">
      <MarkdownEditor @text={{this.model.area.description}} />
  </div> 
</div>


<div class="form-group row">
  <div class="col-sm-3">
      <label for="parentarea" class="col-form-label">Parent Area:</label>
  </div>
  <div class="col-sm-9">
      <PowerSelect @selected={{this.model.area.parent}}  @options={{this.model.all_areas}} @searchEnabled=true @searchField="name" @allowClear={{true}} @onChange={{action "changeParent"}} as |area|>
         {{area.name}}
      </PowerSelect>
  </div> 
</div>



<div class="action-buttons">
  <LinkTo @route="locations" class="btn btn-secondary">Cancel</LinkTo>
  <button {{action "edit"}} class="btn btn-primary">Save</button>
</div>

<FlashMessages />

