{{page-title 'Edit Area'}}
<h1>Edit Area</h1>

<p><b>Name:</b></p>
<p><Input @type="text" @size={{25}} @id="name" @enter={{action "edit"}} @value={{model.area.name}} /></p>

<p><b>Summary:</b></p>

<MarkdownEditor @text={{model.area.summary}} />


<p><b>Description:</b></p>

<MarkdownEditor @text={{model.area.description}} />


<LinkTo @route="locations" @class="btn btn-default">Cancel</LinkTo>
<button {{action "edit"}} class="btn btn-primary">Save</button>
<FlashMessages />

