{{page-title this.model.area.name}}
<h1>{{this.model.area.full_name}}</h1>

<p><LinkTo @route="locations"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Locations</LinkTo></p>

<p>
  <AnsiFormat @text={{this.model.area.summary}} />
</p>

{{#if this.model.area.description}}
<h3>Description</h3>

<p>
    <AnsiFormat @text={{this.model.area.description}} />
</p>
{{/if}}


{{#if this.model.area.rooms}}
<h3>Locations</h3>

<div class="location-directory"> 
  {{#each this.model.area.rooms as |room|}}
    <LocationDirectory @location={{room}} @can_manage={{this.model.can_manage}} />
  {{/each}}
</div>
{{/if}}


{{#if this.model.area.parent}}
<h3>Located In</h3> 
  <p><LinkTo @route="area" @model={{this.model.area.parent.id}}>{{this.model.area.parent.name}}</LinkTo></p>
{{/if}}


{{#if this.model.area.children}}
<h3>Areas in {{this.model.area.name}}</h3>

<ul> 
{{#each this.model.area.children as |child|}}
  <li><LinkTo @route="area" @model={{child.id}}>{{child.name}}</LinkTo></li>
{{/each}}
</ul>
{{/if}}



<div class="action-buttons">
  {{#if this.model.can_manage}}
    <button {{on 'click' this.showActionConfirmation}} class="btn btn-warning action-button">Delete</button>
    <LinkTo @route="area-edit" @model={{this.model.area.id}} class="btn btn-primary action-button">Edit</LinkTo>
  {{/if}}
</div>

<BsModalSimple @title="Confirm Delete" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{true}} @open={{this.actionConfirmationVisible}} @onSubmit={{this.delete}} @onHide={{this.hideActionConfirmation}}>
    You're about to delete area {{this.model.area.name}}. This cannot be undone.  Are you sure?
  </BsModalSimple>
  

{{outlet}}