{{page-title "Census"}}
<h1>All Characters</h1>

<CensusNav @types={{model.types}} />

<div class="table-responsive">

<table class="table table-striped">
    <tr>
        <th></th>
        {{#each model.census.titles as |title|}}
        <th>{{title}}</th>
        {{/each}}
    </tr>
    
    
{{#each model.census.chars as |char| }}
<tr>
  {{#each-in char as |field value| }}
    <td>
      {{#if (eq field 'char')}}
        <CharIconInline @char={{value}} />
      {{else}}
        {{value}}
      {{/if}}
    </td>
    {{/each-in}}
</tr>
{{/each}}

</table>

</div>

{{outlet}}