{{page-title this.model.census.title}}
<h1>{{this.model.census.title}}</h1>

<CensusNav @types={{this.model.types}} />

<table class="table table-striped">
    <thead>
        <th>Group</th>
        <th>Count</th>
        <th>Characters</th>
    </thead>
    
    
{{#each this.model.census.groups as |group| }}
<tr>
    <td>{{group.name}}</td>
    <td>{{group.count}}</td>
    <td>
        {{#each group.chars as |char|}}
        {{char.name}}
        {{/each}}
    </td>
</tr>
{{/each}}

</table>
{{outlet}}