{{page-title 'Manage Chat Channels'}}
<h1>Manage Chat Channels</h1>


<div class="action-buttons">
    <LinkTo @route="channel-create" class="btn btn-secondary">Create Channel</LinkTo>
</div>

<div class="table-responsive">
<table class="table table-striped">
    
<thead>
  <th class="col-xs-2">Name</th>
  <th class="col-xs-3">Description</th>
  <th class="col-xs-1">Color</th>
  <th class="col-xs-2">Join Roles</th>
  <th class="col-xs-2">Talk Roles</th>
  <th class="col-xs-2"></th>
</thead>

<tbody>
  {{#each this.model.channels as |channel|}}
  <tr>
    <td>{{channel.name}}</td>
    <td><AnsiFormat @text={{channel.desc}} /></td>
    <td>{{channel.color}}</td>
    <td>{{channel.can_join}}</td>
    <td>{{channel.can_talk}}</td>
    <td>
    
      <TooltipButton @route="channel-edit" @model={{channel.id}} @icon="fas fa-edit" @message="Edit Channel" />
      <TooltipButton @onClick={{(fn this.setChannelToDelete channel)}} @icon="fa fa-trash" @message="Delete Channel" />
    
    </td>
  </tr>
  {{/each}}
</tbody>

</table>
</div>


<BsModalSimple @title="Confirm Delete" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{true}} @open={{this.confirmDeleteChannel}} @onSubmit={{(fn this.deleteChannel this.channelToDelete)}} @onHide={{(fn this.setChannelToDelete null)}}>
    You're about to delete {{this.channelToDelete.name}}. This cannot be undone.  Are you sure?
  </BsModalSimple>