{{page-title "Create Channel"}}
<h1>Create Channel</h1>

  
   <div class="form-item">
    <div class="form-item-label">
        Name:
    </div>
    <div class="form-item-entry">
        <Input @type="text" size={{25}} id="name" @enter={{this.save}} @value={{this.name}} />
    </div> 
  </div>
  
   <div class="form-item">
    <div class="form-item-label">
        Description:
    </div>
    <div class="form-item-entry">
        <Input @type="text" size={{25}} id="desc" @enter={{this.save}} @value={{this.desc}} />
    </div> 
  </div>
  
   <div class="form-item">
    <div class="form-item-label">
        Color:
    </div>
    <div class="form-item-entry">
        <Input @type="text" size={{25}} id="color" @enter={{this.save}} @value={{this.color}} />
    </div> 
  </div>
  
  <div class="form-item">
    <div class="form-item-label">
      <b>Can Join:</b>
    </div>

    <div class="form-item-entry">
      <PowerSelectMultiple @selected={{this.can_join}} @options={{this.model.roles}} @onChange={{this.joinRolesChanged}} as |role|>
        {{role}}
      </PowerSelectMultiple>
    </div>
  </div>
  
  <div class="form-item">
    <div class="form-item-label">
      <b>Can Talk:</b>
    </div>

    <div class="form-item-entry">
      <PowerSelectMultiple  @selected={{this.can_talk}} @options={{this.model.roles}} @onChange={{this.talkRolesChanged}} as |role|>
        {{role}}
      </PowerSelectMultiple>
    </div>
  </div>
  

<div class="action-buttons">
        <LinkTo @route="channels-manage" class="btn btn-secondary">Cancel</LinkTo>  
        <button {{on 'click' this.save}} class="btn btn-primary">Save</button>
</div>
      
<FlashMessages />
