{{page-title 'Manage Chat Channels'}}
<h1>Manage Chat Channels</h1>


<div class="action-buttons">
    <LinkTo @route="channel-create" class="btn btn-secondary">Create Channel</LinkTo>
</div>

<div class="table-responsive">
<table class="table table-striped">
    
<thead>
  <th class="col-xs-2">Name</th>
  <th class="col-xs-3">Description</th>
  <th class="col-xs-1">Color</th>
  <th class="col-xs-2">Join Roles</th>
  <th class="col-xs-2">Talk Roles</th>
  <th class="col-xs-2"></th>
</thead>

<tbody>
  {{#each this.model.channels as |channel|}}
  <tr>
    <td>{{channel.name}}</td>
    <td><AnsiFormat @text={{channel.desc}} /></td>
    <td>{{channel.color}}</td>
    <td>{{channel.can_join}}</td>
    <td>{{channel.can_talk}}</td>
    <td>
    
      <LinkTo @route="channel-edit" @model={{channel.id}}><i class="fas fa-edit" aria-label="Edit Channel"></i></LinkTo>
      <a href="#" {{action (mut this.channelToDelete) channel}}><i class="fa fa-trash" aria-label="Delete Channel"></i></a>
    
    </td>
  </tr>
  {{/each}}
</tbody>

</table>
</div>


<BsModalSimple @title="Confirm Delete" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{true}} @open={{this.confirmDeleteChannel}} @onSubmit={{action "deleteChannel" this.channelToDelete}} @onHide={{action (mut this.channelToDelete) null}}>
    You're about to delete {{this.channelToDelete.name}}. This cannot be undone.  Are you sure?
  </BsModalSimple>