{{page-title this.model.char.name}}

<h1>{{this.model.char.name_and_nickname}}</h1>

<div class="row profile-wrap">
    <ProfileDemographics @char={{this.model.char}} />
</div>


{{#if this.model.char.status_message}}
<div class="row">
    <div class="col col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body status-message">
                {{{this.model.char.status_message}}}
                {{#if this.model.char.idle_notes}}
                <AnsiFormat @text={{this.model.char.idle_notes}} />
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{/if}}

<div class="profile-tab">
    <ProfileSupplemental @char={{this.model.char}} @title="Supplemental Information" />
</div>


<div class="profile-tab">

  <ProfileSystem @char={{this.model.char}} @game={{this.model.game}} @reloadChar={{action "reloadChar"}} />
  
</div>


<div class="profile-tab">

 <ProfileRelationships @char={{this.model.char}} />
 
 </div>
 
 <div class="profile-tab">
 
<ProfileLogs @scenes={{this.model.scenes}} @sceneTypes={{this.model.sceneOptions.scene_types}} @char={{this.model.char}} />
   
</div>
   
<div class="profile-tab">

 <ProfileGallery @char={{this.model.char}} />

</div>


<hr>
<b>Tags:</b>  
{{#each this.model.char.tags as |tag|}}
  <LinkTo @route="wiki-tag" @model={{tag}}>{{tag}}</LinkTo>
{{/each}}
    

<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
        
        {{#if this.model.char.last_profile_version}}
            <LinkTo @route="char-source" @models={{array this.model.char.id this.model.char.last_profile_version}} class="btn btn-default">Source/History</LinkTo>
        {{/if}}
        {{#if this.model.char.can_approve}}
          <LinkTo @route="chargen-char" @model={{this.model.char.id}} class="btn btn-default">Chargen</LinkTo>
        {{/if}}
        {{#if this.model.char.show_notes}}
          <LinkTo @route="notes" @model={{this.model.char.name}} class="btn btn-default">Notes</LinkTo>
        {{/if}}
        {{#if this.model.char.can_manage}}
          <button {{action (mut showFiles) true}} class="btn btn-default">Files</button>
          <LinkTo @route="char-edit" @model={{this.model.char.id}} class="btn btn-primary">Edit</LinkTo>
        {{/if}}
  </div>
  </div>
</div>

{{#if this.model.char.can_manage}}
{{#if showFiles}}
    <div class="panel panel-default">
        
        <div class="panel-body">
            
        <p><b>Existing Character Files:</b></p>
        
       <div class="thumbnail-gallery">
       {{#each this.model.char.files as |charFile|}}
       
       <div class="thumbnail-gallery-item">
       <LinkTo @route="file" @models={{array charFile.folder charFile.name}}>
       {{file.path}} <img src="/game/uploads/{{charFile.path}}" alt="{{charFile.name}}" class="thumbnail">
       </LinkTo>
       </div>
       {{/each}}
       </div>
       <div class="clearfix"/>
        
        <p><LinkTo @route="files">All Files</LinkTo></p>
    
        <FileUploader @folder={{this.model.char.name}} @uploaded={{action "fileUploaded"}} />
        </div>
    </div>
{{/if}}
{{/if}}



{{outlet}}  

    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
