{{title 'Create a Character'}}
<div class="row">
 <div class="col col-md-12">

     <h1>Create a Character</h1>

     <p>The online character creation tool will guide you through creating your character. We recommend reading our <a href="/wiki/join_us">guidelines & help</a> before getting started. You should also read the <a href="/wiki/world_intro">World Intro</a> for a fast and dirty introduction to theme.</p>


{{#if model.char.chargen_locked}}

     <div class="alert alert-warning">

             <p>Your application has been submitted.  Unsubmit your app to make changes.</p>

             <p>
                 <button name="unsubmit" {{action 'unsubmit'}} class="btn btn-warning">Unsubmit</button>
             </p>

     </div>

{{else}}

     <div class="alert alert-info">

      <p>Changes you make here are not made in-game until you click the <b>Save</b> button.  Save as often as you wish.  You can chat, look around, etc. in-game while you use the web chargen. You can also review your application at any time to see the number of points you have left, as well as any errors.</p>

      <p>
        <button name="save" {{action 'save'}} class="btn btn-default">Save</button>
        <button name="review" {{action 'review'}} class="btn btn-success">Review</button>
      </p>

      <p>If you want to start over, you can reset your Attributes and Skills to the defaults set by your Schools.</p>
      {{#unless (or model.app.game.disabled_plugins.fs3skills model.char.fs3.reset_needed) }}
        <p>
          <button name="reset" {{action 'reset'}} class="btn btn-primary">Reset Attributes and Skills</button>
        </p>
      {{/unless}}
     </div>

     {{#if charErrors.length}}
     <div class="alert alert-danger">
     <p><b>Alerts:</b></p>
     <ul>
     {{#each charErrors as |error|}}
     <li>{{error}}</li>
     {{/each}}
     </ul>
     </div>
     {{/if}}

     <!-- Nav tabs -->
     <ul class="nav nav-tabs" role="tablist">
       <li role="presentation" class="active"><a href="#demographics" aria-controls="demographics" role="tab" data-toggle="tab">Demographics</a></li>
       <li role="presentation"><a href="#bg" aria-controls="misc" role="tab" data-toggle="tab">Background & More</a></li>
       <li role="presentation"><a href="#groups" aria-controls="groups" role="tab" data-toggle="tab">Schools</a></li>
      <li role="presentation"><a href="#abilities" aria-controls="abilities" role="tab" data-toggle="tab">Abilities</a></li>
     </ul>

     <!-- Tab panes -->
     <div class="tab-content">
       <div role="tabpanel" class="tab-pane active" id="demographics">

           <p class="cg-tip">{{{ansi-format text=model.cgInfo.demographics_blurb}}}</p>


                 {{#each-in model.char.demographics as |key demo|}}
                 <div class="form-group row">
                     <div class="col-sm-3">
                             <b>{{demo.name}}</b>
                     </div>
                     <div class="col-sm-9">
                         {{#if (eq key 'gender') }}

                             {{#power-select selected=model.char.demographics.gender searchField="value" options=genders onchange=(action "genderChanged") as |gender|}}
                               {{gender.value}}
                             {{/power-select}}

                         {{else if (eq key 'age')}}
                             {{input type="text" size=25 value=demo.value}}
                             <div class="cg-tip">Enter an age or a birthdate in {{model.cgInfo.date_format}} format.</div>
                         {{else}}
                             {{input type="text" size=25 value=demo.value}}
                         {{/if}}
                     </div>
                 </div>
                 {{/each-in}}

                 <div class="cg-tip">{{{ansi-format text=model.cgInfo.icon_blurb}}}</div>

                 {{file-uploader folder=model.char.name lockProperties=true allowMulti=false uploaded=(action "fileUploaded")}}
               </div>

          </div>

          <div role="tabpanel" class="tab-pane" id="groups">

              <p class="cg-tip">{{{ansi-format text=model.cgInfo.groups_blurb}}}</p>


                  {{#each-in model.char.groups as |key group|}}
                  <div class="form-group row">
                      <div class="col-sm-3">
                              <b>{{group.name}}</b>
                      </div>
                      <div class="col-sm-9">

                      {{#if (get (get model.cgInfo.group_options key) 'freeform')}}
                        {{input type="text" size=25 value=group.value}}
                      {{else}}
                        {{#power-select selected=(get model.char.groups key) options=(get (get model.cgInfo.group_options key) 'values') searchField="value" onchange=(action "groupChanged" key) as |g|}}
                        {{g.value}} {{if g.desc '-'}} {{g.desc}}
                      {{/power-select}}
                      {{/if}}
                         <p class="cg-tip"> {{get (get model.cgInfo.group_options key) 'desc'}} </p>

                      </div>

                  </div>

                  {{/each-in}}

            </div>

            <div role="tabpanel" class="tab-pane" id="abilities">

              {{#if model.app.game.disabled_plugins.fs3skills}}
                <p>Your game does not support setting abilities/skills through the web chargen.  You'll need to complete chargen using in-game commands.</p>
              {{else}}
                  {{fs3-chargen model=model anyGroupMissing=anyGroupMissing charErrors=charErrors fs3Data=fs3Data reset=(action 'reset')}}
              {{/if}}

            </div>

         <div role="tabpanel" class="tab-pane" id="bg">
             <div class="panel panel-default">
               <div class="panel-heading">
                 Background
               </div>
               <div class="panel-body">
                   <div class="cg-tip">{{{ansi-format text=model.cgInfo.bg_blurb}}}</div>

                   {{markdown-editor text=model.char.background}}

               </div>
             </div>

               {{markdown-editor text=model.char.rp_hooks}}
          </div>

          <div role="tabpanel" class="tab-pane" id="icon">

                   {{markdown-editor text=model.char.rp_hooks}}
               </div>
             </div>

             <div class="panel panel-default">
               <div class="panel-heading">
                 Description
               </div>
               <div class="panel-body">
                 <div class="cg-tip">{{{ansi-format text=model.cgInfo.desc_blurb}}}</div>
                 <br>
                 <p> <i>Main Description:</i> </p>
                 {{markdown-editor text=model.char.desc}}

                 <p> <i>Short Description:</i> </p>
                 {{input type="text"  size=25 value=model.char.shortdesc}}

               </div>
             </div>

             <!-- <div class="form-group row">
               <div class="col-sm-3">
                 <b>Secret Preference</b>
               </div>
               <div class="col-sm-9">
                {{#power-select selected=model.char.secretpref searchField="value" options=model.cgInfo.secret_prefs onchange=(action "secretPrefChanged") as |pref|}}
                 {{pref.value}} - {{pref.desc}}
                {{/power-select}}
                <p class="cg-subtle-tip">Secrets are admin-created pieces of information that are hooks for plots and story development over time. They may refer to a piece of your character's past, or be a plot seed that will be planted in the future. Secrets may be positive or negative, and sometimes may be shared by more than one character. You may choose to have a hand in developing your character's secret or leave it entirely up to admin, but once created, the implementation of secrets is in the hands of the game's Storytellers.</p>
                <p>Storytellers begin working on a secret once a character is at least a month old.</p>
                <p>If you have preferences for the sort of secret you recieve (IE: tragic, heroic, dark, happy), feel free to leave them in the comments before submitting your application. </p>
               </div>
             </div>
           </div> -->


               <div class="panel panel-default">
                 <div class="panel-heading">
                   Last Will
                 </div>
                 <div class="panel-body">
                   <div class="cg-tip">{{{ansi-format text=model.cgInfo.lastwill_blurb}}}</div>
                   <br>
                   {{markdown-editor text=model.char.lastwill}}
                 </div>
               </div>


           </div>

       <!-- </div> -->


     <div class="alert alert-success">

     {{#if model.cgInfo.allow_web_submit}}
             <p>Remember to save often.  When you're finished, you can review your character for errors or missing information and then submit your application.</p>

             <p>
                 <button name="save" {{action 'save'}} class="btn btn-default">Save</button>
                 <button name="review" {{action 'review'}} class="btn btn-success">Review or Submit</button>
             </p>
     {{else}}
             <p>Remember to save often.  You can also review your character for errors or missing information.  When you're done here, you will need to log onto the game to finish character creation and submit your application.</p>

             <p>
                 <button name="save" {{action 'save'}} class="btn btn-default">Save</button>
                 <button name="review" {{action 'review'}} class="btn btn-success">Review</button>
             </p>
     {{/if}}
     </div>
{{/if}}


   {{flash-messages}}

     {{#if charErrors.length}}
     <div class="alert alert-danger">
     <p><b>Alerts:</b></p>
     <ul>
     {{#each charErrors as |error|}}
     <li>{{error}}</li>
     {{/each}}
     </ul>
     </div>
     {{/if}}
  </div>


</div>

{{outlet}}
