{{title model.char.name}}

<h1>{{model.char.name_and_nickname}}</h1>

<div class="row profile-wrap">
    {{profile-demographics char=model.char}}
</div>


{{#if model.char.status_message}}
<div class="row">
    <div class="col col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body status-message">
                {{{model.char.status_message}}}
                {{#if model.char.idle_notes}}
                {{{ansi-format text=model.char.idle_notes}}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{/if}}

<div class="profile-tab">
    {{profile-supplemental char=model.char}}
</div>


<div class="profile-tab">

  {{profile-system char=model.char game=model.game reloadChar=(action 'reloadChar')}}
  
</div>


<div class="profile-tab">

 {{profile-relationships char=model.char}}
 
 </div>
 
{{profile-logs scenes=model.scenes sceneTypes=model.sceneTypes char=model.char}}
   
<div class="profile-tab">

 {{profile-gallery char=model.char}}

</div>


<hr>
<b>Tags:</b>  
{{#each model.char.tags as |tag|}}
  {{#link-to 'wiki-tag' tag}}{{tag}}{{/link-to}}
{{/each}}
    

<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
            
        {{#if model.char.last_profile_version}}
            {{#link-to 'char-source' model.char.id model.char.last_profile_version class="btn btn-default"}}Source/History{{/link-to}}
        {{/if}}
        {{#if model.char.can_manage}}
          <button {{action (mut showFiles) true}} class="btn btn-default">Files</button>
          {{#link-to 'char-edit' model.char.id class="btn btn-primary"}}Edit{{/link-to}}
        {{/if}}
  </div>
  </div>
</div>

{{#if model.char.can_manage}}
{{#if showFiles}}
    <div class="panel panel-default">
        
        <div class="panel-body">
            
        <p><b>Existing Character Files:</b></p>
        
       <div>
       {{#each model.char.files as |charFile|}}
       
       <div class="thumbnail-gallery">
       {{#link-to 'file' charFile.folder charFile.name}}
       {{file.path}} <img src="/game/uploads/{{charFile.path}}" alt="{{charFile.name}}" class="thumbnail">
       {{/link-to}}
       </div>
       {{/each}}
       </div>
       <div class="clearfix"/>
        
        <p>{{#link-to 'files'}}All Files{{/link-to}}</p>
    
        {{file-uploader folder=model.char.name uploaded=(action "fileUploaded")}}
        </div>
    </div>
{{/if}}
{{/if}}



{{outlet}}  

    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
