{{title 'Characters'}}
<h1>Characters</h1>

<div class="pull-right">
  <LinkTo @route="search-chars"><i class="fa fa-search" aria-hidden="true"></i> Search Characters</LinkTo>  
</div>
<p>Here you can browse the profiles for all approved characters.</p>
<div class="clearfix"/>
<ul class="nav nav-tabs">
  
  {{#each model.characters.group_names as |group|}}
      <li class={{group.active_class}}><a data-toggle="tab" href="#{{group.key}}">{{group.name}}</a></li>
  {{/each}}
  {{#if model.game.roster_enabled}}
      <li><a data-toggle="tab" href="#roster">Roster</a></li>
  {{/if}}
      <li><a data-toggle="tab" href="#idle">Gone</a></li>
      <li><a data-toggle="tab" href="#dead">Dead</a></li>
</ul>

<div class="tab-content">
  
  {{#each model.characters.groups as |group|}}

  <div id="{{group.key}}" class="tab-pane fade in {{group.active_class}}">

    {{#each group.subgroups as |subgroup|}}
  
          <CharGroupList @name={{subgroup.name}} @chars={{subgroup.chars}} />
        
    {{/each}}

    {{#if group.has_npcs}}
        <CharGroupList @name="NPCs" @chars={{group.npcs}} />
    {{/if}}
                 
  </div>
  {{/each}}
  
  {{#if model.game.roster_enabled}}
  <div id="roster" class="tab-pane fade in">
      <h2>Roster</h2>

      See <LinkTo @route="roster">Roster</LinkTo> for ready-made characters on the roster.
  </div>
  {{/if}}

   <div id="idle" class="tab-pane fade in">
      <CharGroupList @name="" @chars={{model.characters.idle}} />
  </div>
  
   <div id="dead" class="tab-pane fade in">
      <CharGroupList @name="" @chars={{model.characters.dead}} />
  </div>
</div>


{{outlet}}