{{page-title this.model.char.name}}

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link active" href="#general">General</a></li>
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#profile">Profile</a></li>
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#relationships">Relationships</a></li>
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#hooks">RP Hooks</a></li>
        {{#if this.model.char.rp_prefs}}
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#rpprefs">RP Prefs</a></li>
        {{/if}}
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#descs">Descriptions</a></li>
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#files">Files</a></li>
        {{#if this.model.char.show_background_tab}}
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#background">Background</a></li>
        {{/if}}
        {{#if (or this.model.char.show_idle_tab this.model.char.show_roster_tab)}}
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#idle">Idle/Roster</a></li>
        {{/if}}
        {{#if (or this.model.char.show_idle_tab this.model.char.show_roles_tab)}}
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#roles">Roles</a></li>
        {{/if}}
        <CharEditCustomTabs @char={{this.model}} />
    </ul>
    
    

    <div class="tab-content">

      <CharEditGeneral @model={{this.model}} />
      <CharEditProfile @model={{this.model}} />
      <CharEditRelationships @model={{this.model}} />
      <CharEditDescs @model={{this.model}} />
      
      <div id="hooks" class="tab-pane fade in">
          <MarkdownEditor @text={{this.model.char.rp_hooks}} />
      </div>
      
      {{#if this.model.char.rp_prefs}}
      <div id="rpprefs" class="tab-pane fade in">
          <MarkdownEditor @text={{this.model.char.rp_prefs}} />
      </div>
      {{/if}}

      {{#if this.model.char.show_background_tab}}
      <div id="background" class="tab-pane fade in">
        <MarkdownEditor @text={{this.model.char.background}} />
      </div>
      {{/if}}

      {{#if (or this.model.char.show_idle_tab this.model.char.show_roster_tab)}}
        <CharEditIdle @model={{this.model}} />
      {{/if}}

      {{#if this.model.char.show_roles_tab}}
      <div id="roles" class="tab-pane fade in">
        <PowerSelectMultiple @selected={{this.model.char.roles}} @options={{this.model.char.all_roles}} @onChange={{action "rolesChanged"}} as |role|>
          {{role}}
        </PowerSelectMultiple>
      </div>
      {{/if}}
      
      <CharEditCustom @char={{this.model.char}} @updateCallback={{this.customUpdateCallback}} />
        
      <CharEditFiles @model={{this.model}} />
    </div>
        
    
   
    
    <div class="row">
        <div class="col col-xs-12">
            <div class="float-right">
    
                <p> <LinkTo @route="char" @model={{this.model.char.name}} class="btn btn-secondary">Cancel</LinkTo>  
                    <button class="btn btn-primary" {{action 'save'}} >Save</button>
                </p>
    
            </div>
        <FlashMessages />
        </div>
    </div>


{{outlet}}