{{title 'Create a Character'}}
<div class="row">
 <div class="col col-md-12">
      
     <h1>Create a Character 
       {{#if model.char.can_approve}}
       - {{model.char.name}}
       {{/if}}
     </h1>
     
     <p>The online character creation tool will guide you through creating your character.</p>
         

{{#if model.char.chargen_locked}}

     <div class="alert alert-warning">
    
             <p>Your application has been submitted.  Unsubmit your app to make changes.</p>
            
             <p>
                 <button name="unsubmit" {{action 'unsubmit'}} class="btn btn-warning">Unsubmit</button>
             </p>

     </div>
     
{{else}}

     <div class="alert alert-info">
    
             <p>Changes you make here are not made in-game until you click the <b>Save</b> button.  Save as often as you wish.  You can chat, look around, etc. in-game while you use the web chargen, but anything set with the in-game chargen commands will be overwritten by what you set here.</p>
            
             <p>
                 <button name="save" {{action 'save'}} class="btn btn-default">Save</button>
             </p>

     </div>
          
     {{#if charErrors.length}}
     <div class="alert alert-danger">
     <p><b>Alerts:</b></p>
     <ul>
     {{#each charErrors as |error|}}
     <li>{{error}}</li>
     {{/each}}
     </ul>
     </div>
     {{/if}}
     
     <!-- Nav tabs -->
     <ul class="nav nav-tabs" role="tablist">
       <li role="presentation" class="active"><a href="#demographics" aria-controls="demographics" role="tab" data-toggle="tab">Demographics</a></li>
       <li role="presentation"><a href="#groups" aria-controls="groups" role="tab" data-toggle="tab">Groups</a></li>   

        {{#if (not model.app.game.disabled_plugins.fs3skills) }}
        <li role="presentation"><a href="#fs3abilities" aria-controls="fs3abilities" role="tab" data-toggle="tab">Abilities</a></li>
        {{/if}}
        
        {{#if traitsExtraInstalled}}
       <li role="presentation"><a href="#traits" aria-controls="misc" role="tab" data-toggle="tab">Traits</a></li>
       {{/if}}
       
       <li role="presentation"><a href="#bg" aria-controls="misc" role="tab" data-toggle="tab">Background</a></li>
       <li role="presentation"><a href="#hooks" aria-controls="misc" role="tab" data-toggle="tab">RP Hooks</a></li>
       <li role="presentation"><a href="#icon" aria-controls="misc" role="tab" data-toggle="tab">Profile Icon</a></li>
       <li role="presentation"><a href="#descs" aria-controls="misc" role="tab" data-toggle="tab">Descriptions</a></li>
       <li role="presentation"><a href="#lastwill" aria-controls="misc" role="tab" data-toggle="tab">Last Will</a></li>
       <ChargenCustomTabs @char={{model}} />
     </ul>
     
     <!-- Tab panes -->
     <div class="tab-content">
       <div role="tabpanel" class="tab-pane active" id="demographics">
                 
           <p class="cg-tip"><AnsiFormat @text={{model.cgInfo.demographics_blurb}} /></p>

                
                 {{#each-in model.char.demographics as |key demo|}}
                 <div class="form-group row">
                     <div class="col-sm-3">
                             <b>{{demo.name}}</b> 
                     </div>
                     <div class="col-sm-9">
                         {{#if (eq key 'gender') }}
                             
                             <PowerSelect @selected={{model.char.demographics.gender}} @searchField="value" @options={{genders}} @onchange={{action "genderChanged"}} as |gender|>
                               {{gender.value}}
                             </PowerSelect>
                         
                         {{else if (eq key 'age')}}
                             <Input @type="text" @size={{25}} @value={{demo.value}} />
                             <div class="cg-tip">Enter an age or a birthdate in {{model.cgInfo.date_format}} format.</div>
                         {{else}}
                             <Input @type="text" @size={{25}} @value={{demo.value}} />
                         {{/if}}
                     </div>
                 </div>
                 {{/each-in}}   
                 
          </div>
          
          <div role="tabpanel" class="tab-pane" id="groups">
                  
              <p class="cg-tip"><AnsiFormat @text={{model.cgInfo.groups_blurb}} /></p>
                                    
                  
                  {{#each-in model.char.groups as |key group|}}
                  <div class="form-group row">
                      <div class="col-sm-3">
                              <b>{{group.name}}</b>                               
                      </div>
                      <div class="col-sm-9">
                          
                      {{#if (get (get model.cgInfo.group_options key) 'freeform')}}
                        <Input @type="text" @size={{25}} @value={{group.value}} />
                      {{else}}
                        <PowerSelect @selected={{get model.char.groups key}} @options={{get (get model.cgInfo.group_options key) "values"}} @searchField="value" @allowClear={{true}} @onchange={{action "groupChanged" key}} as |g|>
                        {{g.value}} {{if g.desc '-'}} {{g.desc}}
                      </PowerSelect>
                      {{/if}}
                         <p class="cg-tip"> {{get (get model.cgInfo.group_options key) 'desc'}} </p>
                         
                      </div>
                      
                  </div>
                  
                  {{/each-in}}
                  
            </div>

            {{#if (not model.app.game.disabled_plugins.fs3skills) }}
            <div role="tabpanel" class="tab-pane" id="fs3abilities">
              <Fs3Chargen @model={{model}} @anyGroupMissing={{anyGroupMissing}} @charErrors={{charErrors}} @updateCallback={{fs3UpdateCallback}} @validateCallback={{fs3ValidateCallback}} @reset={{action "reset"}} />
            </div>
            {{/if}}

          {{#if traitsExtraInstalled}}
          <div role="tabpanel" class="tab-pane" id="traits">
                  
               <TraitsChargen @model={{model}} @updateCallback={{traitsUpdateCallback}} />
           </div>
           {{/if}}
           
                                   
         <div role="tabpanel" class="tab-pane" id="bg">
             <div class="cg-tip"><AnsiFormat @text={{model.cgInfo.bg_blurb}} /></div>
           
             <MarkdownEditor @text={{model.char.background}} />
          </div>
          
          <div role="tabpanel" class="tab-pane" id="hooks">
          
               <div class="cg-tip"><AnsiFormat @text={{model.cgInfo.hooks_blurb}} /></div>

               <MarkdownEditor @text={{model.char.rp_hooks}} />
          </div>
          
          <div role="tabpanel" class="tab-pane" id="icon">

               <div class="cg-tip"><AnsiFormat @text={{model.cgInfo.icon_blurb}} /> 
                 <p>See <LinkTo @route="help-topic" @model="icons" @target="_blank">Icons</LinkTo> for tips on selecting and sizing your profile image.</p>
              </div>

               <FileUploader @folder={{model.char.name}} @lockProperties={{true}} @allowMulti={{false}} @uploaded={{action "fileUploaded"}} />
                   
          </div>

         <div role="tabpanel" class="tab-pane" id="descs">
             <div class="cg-tip"><AnsiFormat @text={{model.cgInfo.desc_blurb}} /></div>
             <br>
             <p> <i>Main Description:</i> </p>
             <MarkdownEditor @text={{model.char.desc}} />
             
             <p> <i>Short Description:</i> </p>
             <Input @type="text" @size={{25}} @value={{model.char.shortdesc}} />
             
          </div>
          
          <div role="tabpanel" class="tab-pane" id="lastwill">
                         
               <div class="cg-tip"><AnsiFormat @text={{model.cgInfo.lastwill_blurb}} /></div>
               <br>
               <MarkdownEditor @text={{model.char.lastwill}} />
           </div>
           
           <ChargenCustom @char={{model.char}} @cgInfo={{model.cgInfo}} @updateCallback={{customUpdateCallback}} />
               
       </div>
     
     
     <div class="alert alert-success">
    
       {{#if model.cgInfo.allow_web_submit}}
               <p>Remember to save often.  When you're finished, you can review your character for errors or missing information and then submit your application.</p>
            
               <p>
                   <button name="save" {{action 'save'}} class="btn btn-default">Save</button>
                   {{#if model.char.can_approve}}
                   <button name="review" {{action 'review'}} class="btn btn-success">Review</button>
                   {{else}}
                   <button name="review" {{action 'review'}} class="btn btn-success">Review or Submit</button>
                   {{/if}}
               </p>
       {{else}}
               <p>Remember to save often.  You can also review your character for errors or missing information.  When you're done here, you will need to log onto the game to finish character creation and submit your application.</p>
            
               <p>
                   <button name="save" {{action 'save'}} class="btn btn-default">Save</button>
                   <button name="review" {{action 'review'}} class="btn btn-success">Review</button>
               </p>     
       {{/if}}
     </div>
{{/if}}

     
   <FlashMessages />
   
     {{#if charErrors.length}}
     <div class="alert alert-danger">
     <p><b>Alerts:</b></p>
     <ul>
     {{#each charErrors as |error|}}
     <li>{{error}}</li>
     {{/each}}
     </ul>
     </div>
     {{/if}}
  </div>
  
  
</div>

{{outlet}}