{{title model.char.name}}

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#general">General</a></li>
        <li><a data-toggle="tab" href="#profile">Profile</a></li>
        <li><a data-toggle="tab" href="#relationships">Relationships</a></li>
        <li><a data-toggle="tab" href="#hooks">RP Hooks</a></li>
        <li><a data-toggle="tab" href="#descs">Descriptions</a></li>
        <li><a data-toggle="tab" href="#files">Files</a></li>
        <CharEditCustomTabs @char={{model}} />
    </ul>
    
    

    <div class="tab-content">

      <CharEditGeneral @model={{model}} />
      <CharEditProfile @model={{model}} />
      <CharEditRelationships @model={{model}} />
      <CharEditDescs @model={{model}} />
      

      <div id="hooks" class="tab-pane fade in">
          <MarkdownEditor @text={{model.char.rp_hooks}} />
        </div>
        
      <CharEditCustom @char={{model.char}} @updateCallback={{customUpdateCallback}} />
        
      <CharEditFiles @model={{model}} />
    </div>
        
    
   
    
    <div class="row">
        <div class="col col-xs-12">
            <div class="pull-right">
    
                <p> <LinkTo @route="char" @model={{model.char.name}} class="btn btn-default">Cancel</LinkTo>  
                    <button class="btn btn-primary" {{action 'save'}} >Save</button>
                </p>
    
            </div>
        <FlashMessages />
        </div>
    </div>


{{outlet}}