{{page-title 'Create a Character'}}
<div class="row">
  <div class="col col-md-12">

      <h1>Create a Character
        {{#if model.char.can_approve}}
        - {{model.char.name}}
        {{/if}}
      </h1>

    <p class="cg-tip">{{{ansi-format text=model.cgInfo.intro_blurb}}}</p>

    {{#if model.char.chargen_locked}}

      <div class="alert alert-warning">

        <p>Your application has been submitted.  Unsubmit your app to make changes.</p>

        <p>
          <button name="unsubmit" {{action 'unsubmit'}} class="btn btn-warning">Unsubmit</button>
        </p>

     {{#if charErrors.length}}
     <div class="alert alert-danger">
     <p><b>Alerts:</b></p>
     <ul>
     {{#each charErrors as |error|}}
     <li>{{error}}</li>
     {{/each}}
     </ul>
     </div>
     {{/if}}

     <!-- Nav tabs -->
     <ul class="nav nav-tabs" role="tablist">
       <li role="presentation" class="active"><a href="#demographics" aria-controls="demographics" role="tab" data-toggle="tab">Demographics</a></li>
       <li role="presentation"><a href="#groups" aria-controls="groups" role="tab" data-toggle="tab">Groups</a></li>

        {{#if (not model.app.game.disabled_plugins.fs3skills) }}
        <li role="presentation"><a href="#fs3abilities" aria-controls="fs3abilities" role="tab" data-toggle="tab">Abilities</a></li>
        {{/if}}

        {{#if traitsExtraInstalled}}
       <li role="presentation"><a href="#traits" aria-controls="misc" role="tab" data-toggle="tab">Traits</a></li>
       {{/if}}

       <li role="presentation"><a href="#bg" aria-controls="misc" role="tab" data-toggle="tab">Background</a></li>
       <li role="presentation"><a href="#hooks" aria-controls="misc" role="tab" data-toggle="tab">RP Hooks</a></li>
       <li role="presentation"><a href="#icon" aria-controls="misc" role="tab" data-toggle="tab">Profile Icon</a></li>
       <li role="presentation"><a href="#descs" aria-controls="misc" role="tab" data-toggle="tab">Descriptions</a></li>
       <li role="presentation"><a href="#misc" aria-controls="misc" role="tab" data-toggle="tab">Misc</a></li>
       <ChargenCustomTabs @char={{model}} />
     </ul>

     <!-- Tab panes -->
     <div class="tab-content">
       <div role="tabpanel" class="tab-pane active" id="demographics">

           <p class="cg-tip"><AnsiFormat @text={{model.cgInfo.demographics_blurb}} /></p>


                 {{#each-in model.char.demographics as |key demo|}}
                 <div class="form-group row">
                     <div class="col-sm-3">
                             <b>{{demo.name}}</b>
                     </div>
                     <div class="col-sm-9">
                         {{#if (eq key 'gender') }}

                             <PowerSelect @selected={{model.char.demographics.gender}} @searchEnabled=true @searchField="value" @options={{genders}} @onChange={{action "genderChanged"}} as |gender|>
                               {{gender.value}}
                             </PowerSelect>

                         {{else if (eq key 'age')}}
                             <Input @type="text" @size={{25}} @value={{demo.value}} />
                             <div class="cg-tip">Enter an age or a birthdate in {{model.cgInfo.date_format}} format.</div>
                         {{else}}
                             <Input @type="text" @size={{25}} @value={{demo.value}} />
                         {{/if}}
                     </div>
                 </div>
                 {{/each-in}}

          </div>

          <div role="tabpanel" class="tab-pane" id="groups">

              <p class="cg-tip"><AnsiFormat @text={{model.cgInfo.groups_blurb}} /></p>


                  {{#each-in model.char.groups as |key group|}}
                  <div class="form-group row">
                      <div class="col-sm-3">
                              <b>{{group.name}}</b>
                      </div>
                      <div class="col-sm-9">

                      {{#if (get (get model.cgInfo.group_options key) 'freeform')}}
                        <Input @type="text" @size={{25}} @value={{group.value}} />
                      {{else}}
                        <PowerSelect @selected={{get model.char.groups key}} @options={{get (get model.cgInfo.group_options key) "values"}} @searchField="value" @allowClear={{true}} @onChange={{action "groupChanged" key}} as |g|>
                        {{g.value}} {{if g.desc '-'}} {{g.desc}}
                      </PowerSelect>
                      {{/if}}
                         <p class="cg-tip"> {{get (get model.cgInfo.group_options key) 'desc'}} </p>

                      </div>

                  </div>

                  {{/each-in}}

            </div>
          {{/each-in}}

          <div class="form-group row">
            <div class="col-sm-3">
              <b>Lore Hook Preference</b>
            </div>
            <div class="col-sm-9">
              <p>{{#power-select selected=model.char.lore_hook_pref searchField="value" options=model.cgInfo.lore_hook_prefs onchange=(action "lorehookPrefChanged") as |pref|}}
                {{pref.value}} - {{pref.desc}}
              {{/power-select}}</p>
                <div class="cg-tip">{{{ansi-format text=model.cgInfo.lorehook_blurb}}}</div><br>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              Profile Icon
            </div>
            <div class="panel-body">
              <div class="cg-tip">{{{ansi-format text=model.cgInfo.icon_blurb}}}</div><br>
              <p>{{file-uploader folder=model.char.name lockProperties=true allowMulti=false uploaded=(action "fileUploaded")}}</p>
            </div>
          </div>

        </div>

        <div role="tabpanel" class="tab-pane" id="groups">

          <p class="cg-tip">{{{ansi-format text=model.cgInfo.groups_blurb}}}</p>

          {{#each-in model.char.groups as |key group|}}
            <div class="form-group row">
              <div class="col-sm-3">
                <b>{{group.name}}</b>
              </div>
              <div class="col-sm-9">
                {{#if (get (get model.cgInfo.group_options key) 'freeform')}}
                  {{input type="text" size=25 value=group.value}}
                {{else}}
                  <p> {{#power-select selected=(get model.char.groups key) options=(get (get model.cgInfo.group_options key) 'values') searchField="value" allowClear=true onchange=(action "groupChanged" key) as |g|}}
                  {{g.value}} {{if g.desc '-'}} {{g.desc}}
                  {{/power-select}}</p>
                {{/if}}
                <p class="cg-tip"> {{get (get model.cgInfo.group_options key) 'desc'}} </p>
              </div>
            </div>
          {{/each-in}}
        </div>


        <div role="tabpanel" class="tab-pane" id="abilities">

          {{#if model.app.game.disabled_plugins.fs3skills}}
            <p>Your game does not support setting abilities/skills through the web chargen.  You'll need to complete chargen using in-game commands.</p>
          {{else}}
              {{fs3-chargen model=model anyGroupMissing=anyGroupMissing charErrors=charErrors updateCallback=fs3UpdateCallback validateCallback=fs3ValidateCallback reset=(action 'reset')}}
          {{/if}}

        </div>

        <div role="tabpanel" class="tab-pane" id="bg">

          <div class="panel panel-default">
            <div class="panel-heading">
              Background
            </div>
            <div class="panel-body">
              <div class="cg-tip">{{{ansi-format text=model.cgInfo.bg_blurb}}}</div>
              {{markdown-editor text=model.char.background}}
            </div>
          </div>

         <div role="tabpanel" class="tab-pane" id="descs">
             <div class="cg-tip"><AnsiFormat @text={{model.cgInfo.desc_blurb}} /></div>

             <div class="chargen-section-title">Main Description</div>
             <MarkdownEditor @text={{model.char.desc}} />

             <div class="chargen-section-title">Short Description</div>
             <Input @type="text" @size={{25}} @value={{model.char.shortdesc}} />

          </div>

          <div role="tabpanel" class="tab-pane" id="misc">

              <div class="chargen-section-title">Last Will</div>
               <div class="cg-tip"><AnsiFormat @text={{model.cgInfo.lastwill_blurb}} /></div>
               <br>
               <MarkdownEditor @text={{model.char.lastwill}} />

               <div class="chargen-section-title">Player Handle</div>

               <p>AresMUSH player handles provide--at your discretion--a consistent player identity across Ares games. They also enable cross-game features like a friends list and synchronized account preferences. Learn more about player handles on <a href="https://aresmush.com/handles" target="_blank" rel="nofollow noopener">aresmush.com</a> and set up your handle on your <LinkTo @route="account" @target="_blank">Account</LinkTo> page.</p>


           </div>

           <ChargenCustom @char={{model.char}} @cgInfo={{model.cgInfo}} @updateCallback={{customUpdateCallback}} />

       </div>


     <div class="alert alert-success">

       {{#if model.cgInfo.allow_web_submit}}
               <p>Remember to save often.  When you're finished, you can review your character for errors or missing information and then submit your application.</p>

               <p>
                   <button name="save" {{action 'save'}} class="btn btn-default">Save</button>
                   {{#if model.char.can_approve}}
                   <button name="review" {{action 'review'}} class="btn btn-success">Review</button>
                   {{else}}
                   <button name="review" {{action 'review'}} class="btn btn-success">Review or Submit</button>
                   {{/if}}
               </p>
       {{else}}
               <p>Remember to save often.  You can also review your character for errors or missing information.  When you're done here, you will need to log onto the game to finish character creation and submit your application.</p>

               <p>
                   <button name="save" {{action 'save'}} class="btn btn-default">Save</button>
                   <button name="review" {{action 'review'}} class="btn btn-success">Review</button>
               </p>
       {{/if}}
     </div>
{{/if}}
    {{flash-messages}}

    {{#if charErrors.length}}
      <div class="alert alert-danger">
        <p><b>Alerts:</b></p>
        <ul>
          {{#each charErrors as |error|}}
          <li>{{error}}</li>
          {{/each}}
        </ul>
     </div>
    {{/if}}
  </div>


</div>

{{outlet}}
