grou{{title 'Create a Character'}}
<div class="row">
 <div class="col col-md-12">

     <h1>Create a Character</h1>

     <p>The online character creation tool will guide you through creating your character.</p>


{{#if model.char.chargen_locked}}

     <div class="alert alert-warning">

             <p>Your application has been submitted.  Unsubmit your app to make changes.</p>

             <p>
                 <button name="unsubmit" {{action 'unsubmit'}} class="btn btn-warning">Unsubmit</button>
             </p>

     </div>

{{else}}

     <div class="alert alert-info">

             <p>Changes you make here are not made in-game until you click the <b>Save</b> button.  Save as often as you wish.  You can chat, look around, etc. in-game while you use the web chargen, but anything set with the in-game chargen commands will be overwritten by what you set here.</p>

             <p>
                 <button name="save" {{action 'save'}} class="btn btn-default">Save</button>
             </p>

     </div>

     {{#if showCharErrors}}
     <div class="alert alert-danger">
     <p><b>Alerts:</b></p>
     <ul>
     {{#each alerts as |error|}}
     <li>{{error}}</li>
     {{/each}}
     </ul>
     </div>
     {{/if}}

     <!-- Nav tabs -->
     <ul class="nav nav-tabs" role="tablist">
       <li role="presentation" class="active"><a href="#instructions" aria-controls="instructions" role="tab" data-toggle="tab">Instructions</a></li>
       <li role="presentation" class="active"><a href="#demographics" aria-controls="demographics" role="tab" data-toggle="tab">Demographics</a></li>
       <li role="presentation"><a href="#groups" aria-controls="groups" role="tab" data-toggle="tab">Groups</a></li>

        {{#if model.app.game.disabled_plugins.fs3skills}}
            <li role="presentation"><a href="#abilities" aria-controls="abilities" role="tab" data-toggle="tab">Abilities</a></li>
        {{else}}

            {{#if model.char.fs3.reset_needed}}
           <li role="presentation"><a href="#fs3reset" aria-controls="fs3reset" role="tab" data-toggle="tab">Abilities</a></li>
           {{else}}
           <li role="presentation"><a href="#fs3attrs" aria-controls="fs3attrs" role="tab" data-toggle="tab">Attributes</a></li>
           <li role="presentation"><a href="#fs3action" aria-controls="fs3action" role="tab" data-toggle="tab">Action Skills</a></li>
           <li role="presentation"><a href="#fs3bg" aria-controls="fs3bg" role="tab" data-toggle="tab">Background Skills</a></li>
           <li role="presentation"><a href="#fs3lang" aria-controls="fs3lang" role="tab" data-toggle="tab">Languages</a></li>
           {{#if model.char.fs3.use_advantages}}
       <li role="presentation"><a href="#fs3adv" aria-controls="fs3adv" role="tab" data-toggle="tab">Advantages</a></li>
            {{/if}}

           {{/if}}
         {{/if}}
       <li role="presentation"><a href="#misc" aria-controls="misc" role="tab" data-toggle="tab">Miscellaneous</a></li>
     </ul>

     <!-- Tab panes -->
     <div class="tab-content">
       <div role="tabpanel" class="tab-pane active" id="instructions">
         <p>Instructions</p>
         <p>As you create your character, you can move back and forth between tabs to complete the application in any order that you choose. Be sure to hit 'save' frequently so that you don't lose any work.</p>
          <p>Spirit Lake uses a modification of Faraday's FS3.3 system for character generation and conflict resolution. You have <b>60 points</b> to spend on attributes, action skills, background skills, and languages. Each rating spends 1 point.</p>
          <p>Definitions</p>
          <ul>
            <li><b>Attributes</b>represent basic aspects of a character. Though they can change in play, they don't shift as dramatically as skills.</li>
            <li><b>Action SKills</b> are those skills that will come into frequent play in the 'action' of the game.</li>
            <li><b>Background Skills</b> are freeform skills that allow you to flesh out your character however you like. They are less likely to come into regular play, but be important from time to time.</li>
            <li><b>Languages</b> can represent everything from a few classes in high school to completely fluency in another language. Everyone gets English for free.</li>
            </ul>
            <p>Limitations</p>
            <ul>
              <li>You can't spend more than 13 points on attributes.</li>
              <li>You can have up to four attributes at level 3 or above and 2 attributes at level 4.</li>
              <li>No one may have a Magic attribute higher than level 1.</li>
              <li>You can't spent more than 36 points on action skills.</li>
              <li>You can have up to six action skills at level 5 or above, three at level 6 and above, and one at level 7. You may not start with an action skill at level 8.</li>
              <li>Schools of magic are represented by action skills. If you have a Major and Minor School, they will be set to level 2 and level 1, respectively. If you have only a Major School, it may be set to level 3.</li>
            </ul>
            <p>To see how many points you have spent and what you have left to complete, click 'review/submit'. You will be able to return to character generation after you review your application.</b>



       </div>
       <div role="tabpanel" class="tab-pane active" id="demographics">

                 <div class="form-group row">
                     <div class="col-sm-3">
                             <b>Full Name</b>
                     </div>
                     <div class="col-sm-9">
                             {{input type="text" size=50 value=model.char.fullname}}
                     </div>
                 </div>

                 {{#each-in model.char.demographics as |key demo|}}
                 <div class="form-group row">
                     <div class="col-sm-3">
                             <b>{{demo.name}}</b>
                     </div>
                     <div class="col-sm-9">
                         {{#if (eq key 'gender') }}

                             {{#power-select selected=model.char.demographics.gender searchField="value" options=genders onchange=(action "genderChanged") as |gender|}}
                               {{gender.value}}
                             {{/power-select}}

                         {{else if (eq key 'age')}}
                             {{input type="text" size=50 value=demo.value}}
                             <div class="cg-tip">Enter an age or a birthdate in {{model.cgInfo.date_format}} format.</div>
                         {{else}}
                             {{input type="text" size=50 value=demo.value}}
                         {{/if}}
                     </div>
                 </div>
                 {{/each-in}}

          </div>

          <div role="tabpanel" class="tab-pane" id="groups">
            <p class="cg-tip">Schools reflect the type of spells a magic user is able to do. A magic user may have an affinity for a single School, or they may possess an affinity for two, one lesser and one greater. </p>
            <p class="cg-tip">Read more about the <a href="http://spiritlakemu.com/wiki/schools">IC aspect of the Schools of Magic.</a></p>
            <p class="cg-tip">Setting your School here will automatically set your Major School to '2' and your Minor School to '1'. If your character has only a Major School, you may raise it to '3' on the next tab.</p>
            <p class="cg-tip">Read more about how Schools function in the <a href="http://spiritlakemu.com/wiki/magic_system">Magic System.</a></p>


                  {{#each-in model.char.groups as |key group|}}
                  <div class="form-group row">
                      <div class="col-sm-3">
                              <b>{{group.name}}</b>
                      </div>
                      <div class="col-sm-9">

                      {{#if (get (get model.cgInfo.group_options key) 'freeform')}}
                        {{input type="text" size=50 value=group.value}}
                      {{else}}
                        {{#power-select selected=(get model.char.groups key) options=(get (get model.cgInfo.group_options key) 'values') searchField="value" onchange=(action "groupChanged" key) as |g|}}
                        {{g.value}} {{if g.desc '-'}} {{g.desc}}
                      {{/power-select}}
                      {{/if}}
                         <p class="cg-tip"> {{get (get model.cgInfo.group_options key) 'desc'}} </p>

                      </div>

                  </div>

                  {{/each-in}}

            </div>

        {{#if model.app.game.disabled_plugins.fs3skills}}
            <div role="tabpanel" class="tab-pane" id="abilities">
                <p>Your game does not support setting abilities/skills through the web chargen.  You'll need to complete chargen using in-game commands.</p>
            </div>
        {{else}}
            {{#if model.char.fs3.reset_needed}}
             <div role="tabpanel" class="tab-pane" id="fs3reset">
                <p>Setting your abilities will set you up with default attribute and skill values.  Your other character information will be saved.</p>

                {{#if anyGroupMissing}}
                <div class="alert alert-warning">If you set your groups first, you'll be given the appropriate starting skills based on your groups.</div>
                {{/if}}

                <button name="reset" {{action 'reset'}} class="btn btn-primary">Set Abilities</button>
            </div>

            {{else}}

             <div role="tabpanel" class="tab-pane" id="fs3attrs">

                 <div class="panel panel-default">
                       <div class="panel-heading">
                           Attributes
                       </div>
                   <div class="panel-body">

                     <p class="cg-tip">{{{ansi-format text=model.cgInfo.fs3.abilities.attrs_blurb}}}</p>


                     {{#each model.char.fs3.fs3_attributes as |att|}}
                     {{#fs3-attrbox rating=att.rating ratingName=att.rating_name maxRating=model.cgInfo.fs3.max_attr_rating  updated=(action "abilityChanged")}}
                         <b>{{att.name}}</b> - {{att.desc}}
                     {{/fs3-attrbox}}
                     {{/each}}

                   </div>
                 </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="fs3action">

                 <div class="panel panel-default">
                       <div class="panel-heading">
                           Action Skills
                       </div>
                   <div class="panel-body">

                     <p class="cg-tip">{{{ansi-format text=model.cgInfo.fs3.abilities.action_blurb}}}</p>

                     {{#each model.char.fs3.fs3_action_skills as |skill|}}
                     {{#fs3-actionbox rating=skill.rating ratingName=skill.rating_name maxRating=model.cgInfo.fs3.max_skill_rating minRating=model.cgInfo.fs3.min_action_skill_rating updated=(action "abilityChanged") specialties=skill.specialties}}
                         <b>{{skill.name}}</b> - {{skill.desc}}
                     {{/fs3-actionbox}}
                     {{/each}}

                   </div>
                 </div>

            </div>

            <div role="tabpanel" class="tab-pane" id="fs3bg">


                 <div class="panel panel-default">
                       <div class="panel-heading">
                           Background Skills
                       </div>
                   <div class="panel-body">

                     <p class="cg-tip">{{{ansi-format text=model.cgInfo.fs3.abilities.background_blurb}}}</p>
                      <p class="cg-tip">You must have at least 3 background skills. See [Background Skills](http://spiritlakemu.com/fs3skills/abilities) for some suggestions.</p>
                      <p class="cg-tip">To remove a background skill, set its rating to Everyman.</p>


                     {{#each model.char.fs3.fs3_backgrounds as |skill|}}

                     {{#fs3-bgbox rating=skill.rating ratingName=skill.rating_name updated=(action "abilityChanged")}}
                         <b>{{input type="text" value=skill.name size=50}}</b>
                     {{/fs3-bgbox}}
                     {{/each}}

                     <button class="btn btn-default" id="addbg" {{action "addBackgroundSkill"}}>Add Background Skill</button>

                   </div>
                 </div>
               </div>
               <div role="tabpanel" class="tab-pane" id="fs3lang">

                   <div class="panel panel-default">
                       <div class="panel-heading">
                           Language Skills
                       </div>
                     <div class="panel-body">


                         <p class="cg-tip">{{{ansi-format text=model.cgInfo.fs3.abilities.language_blurb}}} You recieve English for free. To remove a language, set its rating to Unskilled.</p>

                       {{#each model.char.fs3.fs3_languages as |skill|}}
                       {{#fs3-langbox rating=skill.rating ratingName=skill.rating_name updated=(action "abilityChanged")}}
                           <b>{{skill.name}}</b> - {{skill.desc}}
                       {{/fs3-langbox}}
                       {{/each}}

                     </div>
                   </div>
                 </div>

                 <div role="tabpanel" class="tab-pane" id="fs3adv">

                     <div class="panel panel-default">
                         <div class="panel-heading">
                             Advantages
                         </div>
                       <div class="panel-body">


                           <p class="cg-tip">{{{ansi-format text=model.cgInfo.fs3.abilities.advantages_blurb}}} To remove an advantage, set its rating to Everyman.</p>

                         {{#each model.char.fs3.fs3_advantages as |skill|}}
                         {{#fs3-advantagebox rating=skill.rating ratingName=skill.rating_name updated=(action "abilityChanged")}}
                             <b>{{skill.name}}</b> - {{skill.desc}}
                         {{/fs3-advantagebox}}
                         {{/each}}

                       </div>
                     </div>
                   </div>

                   {{/if}}
                {{/if}}

         <div role="tabpanel" class="tab-pane" id="misc">
             <div class="panel panel-default">
               <div class="panel-heading">
                 Background
               </div>
               <div class="panel-body">
                  <div class="cg-tip">The most important part of a character is their background. It doesn't need to be long, but it should give a solid idea of who your character is.</p>
                  <div class="cg-tip">Some questions you might want to ask as you write your background:
                    <ul>
                      <li>What are the major events in your character's life?</li>
                      <li>Does your character have any noteworthy skills or accomplishments? How did they come about?</li>
                      <li>Is your character a magic-user? How have they reacted to the suddent appearance of magic in their life?</li>
                    </ul>


                   {{markdown-editor text=model.char.background}}

               </div>
             </div>

             <div class="panel panel-default">
               <div class="panel-heading">
                 RP Hooks
               </div>
               <div class="panel-body">
                   <div class="cg-tip">RP Hooks are interesting things about your character that others can "hook" into for RP. This could be a reputation your character has, a hobby, a job, a family connection, or anything else that might inspire someone to connect with you. Looking around at other character's sheets can be a good way to get inspiration for RP Hooks.</div>

                   {{markdown-editor text=model.char.rp_hooks}}
               </div>
             </div>

             <div class="panel panel-default">
               <div class="panel-heading">
                 Description
               </div>
               <div class="panel-body">
                 <div class="cg-tip"> Set both your main description, visible when people look at you, and a short description that shows the basics of your character at a glance.</div>
                 <br/>
                 <p> <i>Main Description:</i> </p>
                 {{markdown-editor text=model.char.desc}}

                 <p> <i>Short Description:</i> </p>
                 {{input type="text"  size=100 value=model.char.shortdesc}}

               </div>
             </div>

           </div>

       </div>


     <div class="alert alert-success">

             <p>Remember to save often.  When you're finished, review your character application for errors before submitting it.</p>

             <p>
                 <button name="save" {{action 'save'}} class="btn btn-default">Save</button>
                 <button name="review" {{action 'review'}} class="btn btn-success">Review/Submit</button>
             </p>

     </div>
{{/if}}


   {{flash-messages}}

  </div>


</div>

{{outlet}}
