{{page-title 'Review Character'}}
<h1>Review Character</h1>

<div class="card card-default">
    <div class="card-body">
        <pre class="ansi app-status">{{#if this.model.abilities}}<AnsiFormat @text={{this.model.abilities}} /> 
{{/if}}<AnsiFormat @text={{this.model.demographics}} /><AnsiFormat @text={{this.model.background}} /><AnsiFormat @text={{this.model.desc}} /><AnsiFormat @text={{this.model.hooks}} />{{#if this.model.ranks}}<AnsiFormat @text={{this.model.ranks}} />{{/if}}{{#if this.model.custom}}<AnsiFormat @text={{this.model.custom}} />{{/if}}        </pre>
    </div>
</div>

<div class="card card-default">
    
    <div class="card-body">
       <p><span class="ansi-bright-red-fg">Red</span> issues will probably hold up your app.</p>
       <p><span class="ansi-bright-yellow-fg">Yellow</span> may be OK if it suits your character.</p>

       {{#if this.model.allow_web_submit}}
         <p>When you're happy with your character, submit them for review by the game admin.</p>
         <hr>
         <p><AnsiFormat @text={{this.model.app_notes_prompt}} /></p>
       
         <Textarea @value={{this.appNotes}} cols={{80}} rows={{5}} />
       
       
        <p>
            <LinkTo @route="chargen-char" @model={{this.model.id}} class="btn btn-secondary">Back to Chargen</LinkTo>
            <button name="submit" {{action 'submit'}} class="btn btn-success">Submit</button>
        </p>
      {{else}}
          <p>You'll need to log onto the game to complete character creation and submit your application.</p>
          <hr>
          <p>
            <LinkTo @route="chargen-char" @model={{this.model.id}} class="btn btn-secondary">Back to Chargen</LinkTo>
          </p>
      {{/if}}
                   
    </div>
</div>

{{outlet}}