{{title 'Chat'}}
<h1>Chat</h1>


<div class="row">
  
<div class="col col-xs-12 col-md-3">
    
  <button class="btn btn-default visible-sm visible-xs hidden-md" type="button" data-toggle="collapse" data-target="#channelMenuCollapse" aria-expanded="false" aria-controls="channelMenuCollapse">
      <i class="fas fa-bars"></i>
      {{#if anyNewActivity}}
      <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-label="New Activity"></i></span>
      {{/if}}
    </button>

    <div class="collapse in" id="channelMenuCollapse">
    
    {{#each channelsByActivity as |channel|}}
      {{#if channel.can_join}}
        {{#if channel.enabled}}
          <button {{action 'changeChannel' channel}} 
             class="btn btn-default chat-button {{if (eq channel.key selectedChannel.key) 'chat-button-active' ''}}">
             {{#if channel.is_page}}
             &lt;PM&gt;
             {{/if}}
             {{channel.title}}
            {{#if channel.muted}}
                <i class="fa fa-microphone-slash"></i>
            {{/if}}
            {{#if (and channel.is_page channel.is_unread)}}
              <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-label="New Activity"></i></span>
            {{else}}
              <span class="label label-pill label-primary">{{channel.new_messages}}</span>
            {{/if}}
            </button>
        <br>
        {{/if}}
      {{/if}}
    {{/each}}
   

    <ul class="nav chat-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

        <span class="btn btn-default chat-button" href="#">Add Channel <span class="caret"></span></span> </a>
        <ul class="dropdown-menu">
          {{#each model.chat as |channel|}}
            {{#if channel.can_join}}
              {{#if (not channel.enabled)}}
                <li><a href="#" {{action 'joinChannel' channel.title}}>{{channel.title}}</a></li>
              {{/if}}
            {{/if}}
        {{/each}}
        </ul>
      </li>
      <li>
        <span class="btn btn-default chat-button" role="button" {{action 'newConversation'}}>New Conversation</span>
      </li>
    </ul>
  </div>
  
</div>

<div class="col col-xs-12 col-md-9">

  {{#if selectedChannel}}

    <b>{{selectedChannel.title}}</b> <a href="#" {{action "scrollDown"}}>
      {{tooltip-icon position='left' message='Scroll to bottom.' icon='fas fa-chevron-circle-down'}}
      </a>

  
    {{#if scrollPaused}}
            <a href="#" {{action "unpauseScroll"}}>
              {{tooltip-icon position='left' message='Resume scrolling.' icon='fas fa-play'}}
            </a>
    {{else}}
            <a href="#" {{action "pauseScroll"}}>
              {{tooltip-icon position='left' message='Pause scrolling.' icon='fas fa-pause'}}
            </a>
    {{/if}}
        
        
  {{else if newConversation}}

    <div id="chat-window">
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <b>To:</b>{{#power-select-multiple selected=newConversationList options=model.characters searchField="name" onchange=(action "conversationListChanged") as |char|}}
            {{char.name}}
          {{/power-select-multiple}}
      
          {{cmd-box value=chatMessage class="chat-box" cols="80" rows="6" onEnter=(action "startConversation") }}
      
          <button class="btn-primary btn" {{action "startConversation"}}>Send Message</button>
      </div>
    </div>
  {{else}}


    <div id="chat-window">
    </div>

    <div class="alert alert-warning">Select a channel.</div>
        
  {{/if}}


  {{#each model.chat as |channel|}}

  {{#if (eq channel.key selectedChannel.key)}}

      {{#if channel.enabled}}
          {{#if channel.muted}}
          <div class="alert alert-warning">This channel is muted.  You will not see new messages.</div>
          {{/if}}


          {{#if scrollPaused}}
          <span class="label label-warning">Scrolling is paused!</span>
          {{/if}}
    
          <div id="chat-window">
          {{#each channel.messages as |message|}}
              <div class="timestamp-tip">{{message.timestamp}} 
                {{#if message.timediff}}
                ({{message.timediff}} ago)
                {{/if}}
              </div>
              {{{ansi-format text=message.message}}}
          {{/each}}
          </div>


          {{#if scrollPaused}}
          <span class="label label-warning">Scrolling is paused!</span>
          {{/if}}
    
          {{#if channel.can_talk}}
            {{cmd-box value=chatMessage class="chat-box" cols="80" rows="6" onEnter=(action "send") }}
          {{/if}}


      {{else}}
    
          <div id="chat-window">
          </div>

          <div class="alert alert-warning">
              <p>You are not on this channel.</p>
              <br>
              <button class="btn btn-default" {{action "joinChannel" channel.key}}>Join Channel</button>
          </div>
        
      {{/if}}
      
      
  {{/if}}

  {{/each}}
  

  <div class="row">

    {{#each model.chat as |channel|}}

    {{#if (eq channel.key selectedChannel.key)}}

        {{#if channel.enabled}}
            
            <ul class="nav navbar-nav">    
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                  <span class="btn btn-default" href="#">Chat Menu <span class="caret"></span></span> </a>
                  <ul class="dropdown-menu">
                  {{#if (not channel.is_page)}}
                    <li><a href="#" {{action "leaveChannel"}}>Leave Channel</a></li>
                    {{#if channel.muted}}
                    <li><a href="#" {{action "muteChannel" false}}>Unmute Channel</a></li>
                    {{else}}
                    <li><a href="#" {{action "muteChannel" true}}>Mute Channel</a></li>
                    {{/if}}
                  {{/if}}
                  <li><a href="#" {{action (mut showReport) true}}>Report Abuse</a></li>
                </ul>
                </li>
            </ul>
            
            
            {{#if channel.can_talk}}
              <div class="pull-right">
                <button class="btn-primary btn" {{action "send"}}>Send Message</button>
              </div>
            {{/if}}
    
        <div class="clearfix"></div>
    
            <div class="panel panel-default">
              <div class="panel-body">
                <h4>Who's On {{channel.title}}</h4>

                <div class="icon-row">
                {{#each channel.who as |who|}}
                  {{char-icon-inline char=who }}
                  {{#if who.muted}}<i class="fa fa-microphone-slash"></i>{{/if}}

                {{/each}}
                </div>

                <div class="clearfix"></div>
              </div>
            </div>      
        {{/if}}
    {{/if}}

    {{/each}}
  </div>
  

</div>
</div>


{{#bs-modal-simple
    title="Report Offensive Chat"
    closeTitle="Cancel"
    submitTitle="Report"
    size=null
    fade=false
    open=showReport
    onSubmit=(action "reportChat")
    onHide=(action (mut showReport) null)}}
        
        <p>Select the offensive messages below and enter a reason in the text box.</p>
        <p>{{input type="text"  size=50 value=reportReason}}</p>
        
        <div class="chat-report">
        <table>
        {{#each selectedChannel.messages as |message|}}
        <tr>
          <td>{{input type='checkbox' checked=message.checked}}</td>
          <td>{{{ansi-format text=message.message}}}</td>
        </tr>
        {{/each}}
        </table>
        </div>
        
  {{/bs-modal-simple}}



{{flash-messages}}
{{outlet}}