{{title 'Chat'}}
<h1>Chat</h1>


{{#each-in model.channels as |key channel|}}

{{#if channel.allowed}}
    <button {{action 'changeChannel' channel.name}} class="btn btn-default" disabled={{not channel.enabled}}>{{channel.name}}

    {{#if (not channel.enabled)}}
        (not on)
    {{/if}}
    <span class="label label-pill label-primary">{{channel.new_messages}}</span>
    </button>

{{/if}}

{{/each-in}}

<h2>{{selectedChannel}}</h2>

<div id="chat-window">
{{#each-in model.channels as |key channel|}}

{{#if (eq channel.name selectedChannel)}}
        {{#each channel.messages as |message|}}
            <div class="cg-tip"><i class="fa fa-clock"></i> {{message.timestamp}}</div>
            {{{ansi-format text=message.message}}}
        {{/each}}
{{/if}}

{{/each-in}}
</div>

{{#if selectedChannel}}

<div class="panel panel-default">
    <h4>Who's On {{selectedChannel}}</h4>
    
    {{#each-in model.channels as |key channel|}}

    {{#if (eq channel.name selectedChannel)}}
            {{#each channel.who as |who|}}
             <div class="chat-who-icon">
                 {{#link-to "char" who.name}}
                     {{#if who.icon}}
                     <img class="small-profile-icon" src="/game/uploads/{{who.icon}}" />
                     {{else}}
                     <img class="small-profile-icon" src="/game/uploads/theme_images/noicon.png" />
                     {{/if}}
                 {{/link-to}}

                 {{#link-to "char" who.name}} 
                     {{who.name}} 
                     {{#if who.muted}}<i class="fa fa-microphone-slash"></i>{{/if}}
                 
                 {{/link-to}}
            </div>
                 
            {{/each}}
    {{/if}}

    {{/each-in}}
    <div class="clearfix"></div>
</div>

    {{markdown-editor text=chatMessage rows=3 onEnter=(action "send")}}
    
    <button class="btn-primary btn" {{action "send"}}>Send to {{selectedChannel}}</button>
{{/if}}

{{flash-messages}}
{{outlet}}