{{title 'Chat'}}
<h1>Chat</h1>

<div class="alert alert-info">
{{#each-in model.channels as |key channel|}}

{{#if channel.allowed}}
    <button {{action 'changeChannel' channel.name}} class="btn btn-default">{{channel.name}}

    {{#if (not channel.enabled)}}
        <i class="fa fa-ban"></i>
    {{/if}}
    {{#if channel.muted}}
        <i class="fa fa-microphone-slash"></i>
    {{/if}}
    <span class="label label-pill label-primary">{{channel.new_messages}}</span>
    </button>

{{/if}}

{{/each-in}}
</div>


{{#if selectedChannel}}

<b>{{selectedChannel}}</b> <a href="#" {{action "scrollDown"}}><i class="fas fa-chevron-circle-down"></i></a>

{{else}}

<div id="chat-window">
</div>

<div class="alert alert-warning">Select a channel.</div>
        
{{/if}}


{{#each-in model.channels as |key channel|}}

{{#if (eq channel.name selectedChannel)}}

    {{#if channel.enabled}}
        {{#if channel.muted}}
        <div class="alert alert-warning">This channel is muted.  You will not see new messages.</div>
        {{/if}}

        <div id="chat-window">
        {{#each channel.messages as |message|}}
            <div class="cg-tip">{{message.timestamp}}</div>
            {{{ansi-format text=message.message}}}
        {{/each}}
        </div>
        
        {{markdown-editor text=chatMessage rows=3 onEnter=(action "send")}}
    
        <div class="pull-right">
            <button class="btn-warning btn" {{action "leaveChannel"}}>Leave Channel</button>
            {{#if channel.muted}}
            <button class="btn-default btn" {{action "muteChannel" false}}>Unmute Channel</button>
            {{else}}
            <button class="btn-default btn" {{action "muteChannel" true}}>Mute Channel</button>
            {{/if}}
            <button class="btn-primary btn" {{action "send"}}>Send to {{channel.name}}</button>
        </div>
    
    <div class="clearfix"></div>
    
        <div class="panel panel-default">
            <h4>Who's On {{selectedChannel}}</h4>

            {{#each channel.who as |who|}}
             <div class="small-who-icon">
                 {{#link-to "char" who.name}}
                     {{#if who.icon}}
                     <img class="small-profile-icon" src="/game/uploads/{{who.icon}}" />
                     {{else}}
                     <img class="small-profile-icon" src="/game/uploads/theme_images/noicon.png" />
                     {{/if}}
                 {{/link-to}}

                 {{#link-to "char" who.name}} 
                     {{who.name}} 
                     {{#if who.muted}}<i class="fa fa-microphone-slash"></i>{{/if}}
         
                 {{/link-to}}
            </div>
         
            {{/each}}

            <div class="clearfix"></div>
        </div>
    {{else}}
    
        <div id="chat-window">
        </div>

        <div class="alert alert-warning">
            <p>You are not on this channel.</p>
            <br/>
            <button class="btn btn-default" {{action "joinChannel"}}>Join Channel</button>
        </div>
        
    {{/if}}
{{/if}}

{{/each-in}}


{{flash-messages}}
{{outlet}}