{{page-title 'Web Client'}}
<h1>Web Client</h1>

<p>The web client lets you play the game from a web browser.</p>

<div class="alert alert-warning">If you reload or leave this page, it will close your connection to the game.</div>

  
{{#if this.showConnect}}
        <button class="connectButton btn btn-success" {{on 'click' this.connect}}>Connect</button>
{{/if}}
{{#if this.showDisconnect}}
        <button class="disconnectButton btn btn-danger" {{on 'click' this.disconnect}}>Disconnect</button>
{{/if}}
{{#if this.scrollPaused}}
        <button class="btn-secondary btn" {{on 'click' this.unpauseScroll}}>Resume Scrolling</button>
          <span class="badge bg-warning">Scrolling is paused!</span>
{{else}}
        <button class="btn-secondary btn" {{on 'click' this.pauseScroll}}>Pause Scrolling</button>
{{/if}}

<div id="console">
{{#each this.messages as |msg|}}
{{{msg}}}
{{/each}}
</div>

<CmdBox @value={{this.text1}} id="sendMsg" cols={{80}} rows="6" @onEnter={{this.sendMsg1}} />
    
<button class="sendButton btn-primary btn" {{on 'click' this.sendMsg1}}>Send Text</button>
<button class="btn btn-secondary" {{on 'click' (fn this.setShowHistory1 true)}}>
  <TooltipIcon @position="right" @message="Command history." @icon="fa fa-history" />
</button>

{{#if this.scrollPaused}}
   <span class="badge bg-warning">Scrolling is paused!</span>
{{/if}}

<CmdBox @value={{this.text2}} id="sendMsg2" cols={{80}} rows="6" @onEnter={{this.sendMsg2}} />

<button class="sendButton2 btn-primary btn" {{on 'click' this.sendMsg2}}>Send Text</button>
<button class="btn btn-secondary" {{on 'click' (fn this.setShowHistory2 true)}}>
  <TooltipIcon @position="right" @message="Command history." @icon="fa fa-history" />
</button>

<br><br>


      <BsModalSimple @title="Load a Command" @closeTitle="Cancel" @size={{null}} @fade={{true}} @open={{this.showHistory1}} @onHide={{(fn this.setShowHistory1 false)}}>
          
          <p class="hint">Select a command to load into your input window. You can then edit it before sending it again.</p>
          
         {{#each this.history1 as |h|}}
          <p><button class="btn btn-secondary" {{on 'click' (fn this.loadHistory1 h)}}><i class="fa fa-redo" aria-hidden="true"></i></button> {{h}}</p>
          {{/each}}
          
          
      
        </BsModalSimple>
        
        
        <BsModalSimple @title="Load a Command" @closeTitle="Cancel" @size={{null}} @fade={{true}} @open={{this.showHistory2}} @onHide={{(fn this.setShowHistory2 false)}}>
          
           {{#each this.history2 as |h|}}
            <p><button class="btn btn-secondary" {{on 'click' (fn this.loadHistory2 h)}}><i class="fa fa-redo" aria-hidden="true"></i></button> {{h}}</p>
            {{/each}}
          
          
      
          </BsModalSimple>


{{outlet}}