{{page-title 'Combats'}}
<h1>Combats</h1>

<p>The combat directory lists active combats and allows you to view combat status in a web page rather than typing 'combat' over and over in your MUSH window.</p>

<table class="table table-striped">
<thead>
    <th>Combat ID</th>
    <th>Organizer</th>
    <th>Scene</th>
    <th>Participants</th>
</thead>

<tbody>
{{#each this.model as |combat|}}
<tr><td>
    <LinkTo @route="combat" @model={{combat.id}}>{{combat.id}}</LinkTo>
</td>

<td>
    {{combat.organizer}}
</td>

<td>
  {{#if combat.scene}}
    <LinkTo @route="scene-live" @model={{combat.scene}}>{{combat.scene}}</LinkTo>
  {{/if}}
</td>

<td>
    {{#each combat.participants as |participant|}}
    {{participant}}
    {{/each}}
</td>

</tr>
{{/each}}
</tbody>
</table>

<p class="alert alert-info">Usually you'll want to start a combat from the scene menu of an active scene, so the scene and combat are linked. This ensures that combat results are added to the scene. If you want an orphaned combat, click the button below to start one.</p>

<div class="action-buttons">
  <button {{on 'click' this.startCombat}} class="btn btn-primary">Start Combat</button> 
</div>


{{outlet}}