{{page-title pageTitle}}
<h1>Combat {{model.id}}</h1>


    <div class="row">
        <div class="col col-xs-12">
          <ul class="nav navbar-nav">    
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                <span class="btn btn-default" href="#">Combat Menu <span class="caret"></span></span> </a>
                <ul class="dropdown-menu">
                 <li> <a href="#" {{action (mut showAddCombatant) true}}>Add Combatant</a></li>
                {{#if model.can_manage}}
                 <li> <LinkTo @route="combat-setup" @model={{model.id}}>Setup NPCs</LinkTo></li>
                 <li> <LinkTo @route="combat-teams" @model={{model.id}}>Setup Teams</LinkTo></li>
                 <li> <a href="#" {{action "aiActions"}}>NPC AI Actions</a></li>
                 <li> <a href="#" {{action (mut confirmStopCombat) true}}>Stop Combat</a></li>
                {{/if}}
                <li><LinkTo @route="combat-log" @model={{model.id}}>View Log</LinkTo></li> 

                </ul>
              </li>
          </ul>
          

            <div class="pull-right">
              
              {{#if model.in_combat}}
                      <button class="btn btn-warning" {{action 'leaveCombat'}} >Leave Combat</button>
              {{else if currentUser.name}}
                      <button class="btn btn-primary" {{action (mut showJoinCombat) true }} >Join Combat</button>
              {{/if}}

              {{#if model.can_manage}}
                <a href="#" class="btn btn-primary" {{action 'newTurn'}}>New Turn</a>
              {{/if}}
              
              
            </div>
            
            <div class="clearfix"></div>
            <p><LinkTo @route="combats"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Combat List</LinkTo></p>
            
        </div>
    </div>
    
<div class="panel panel-default">    
  <div class="panel-heading">
    Combat Activity
    
    ( 
    {{#if model.scene}}
      <i>Scene <LinkTo @route="scene-live" @model={{model.scene}}>{{model.scene}}</LinkTo></i>. 
    {{/if}}
    <i>Organized by {{model.organizer}}</i> 
    )
  </div>
  <div class="panel-body">
    <a href="#" {{action "scrollLog"}}><i class="fas fa-angle-double-down"></i> Jump to End</a>
    <div id="combat-log">
      <AnsiFormat @text={{combatLog}} />
    </div>
  </div>
</div>

{{#if model.in_combat}}
  <div class="row">
    <div class="col">

      {{input value=combatCommand enter='sendCommand' size=25}}

      <button class="btn btn-default" {{action 'sendCommand'}} >Send Command</button>
      <div class="label label-info">{{commandResponse}}</div>
    </div>
  </div>
{{/if}}

<Fs3CombatHud @combat={{model}} />
   

        <FlashMessages />

  
  <BsModalSimple @title="Confirm Stop" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{true}} @open={{confirmStopCombat}} @onSubmit={{action "stopCombat"}} @onHide={{action (mut confirmStopCombat) false}}>
      This will stop the combat.  Are you sure?
    </BsModalSimple>

<BsModalSimple @title="Add Combatant" @closeTitle="Cancel" @submitTitle="Add" @size={{null}} @fade={{true}} @open={{showAddCombatant}} @onSubmit={{action "addCombatant"}} @onHide={{action (mut showAddCombatant) false}}>
        <p><b>Name(s):</b> </p>
            <p><Input @type="text" @size={{25}} @value={{newCombatantName}} /></p>
        <p><b>Type:</b> <PowerSelect @selected={{newCombatantType}} @options={{model.combatant_types}} @onChange={{action "combatantTypeChanged"}} as |type|>
          {{type}}
        </PowerSelect></p>
        <div class="hint">You can add multiple combatants at once, as long as they're the same combatant type. List their names separated by spaces.</div>
  </BsModalSimple>


<BsModalSimple @title="Join Combat" @closeTitle="Cancel" @submitTitle="Join" @size={{null}} @fade={{true}} @open={{showJoinCombat}} @onSubmit={{action "joinCombat"}} @onHide={{action (mut showJoinCombat) false}}>
        <p><b>Type:</b> <PowerSelect @selected={{newCombatantType}} @options={{model.combatant_types}} @onChange={{action "combatantTypeChanged"}} as |type|>
          {{type}}
        </PowerSelect></p>
  </BsModalSimple>
  

{{outlet}}