{{page-title 'Combat Setup'}}
<h1>Setup Combat {{this.model.id}}</h1>

<p>Here you can quickly set up combat stats for all the NPCs at once.  PCs cannot be set here to avoid accidentally overwriting their settings.  You can still edit PCs individually on the main combat screen.</p>

<p><LinkTo @route="combat" @model={{this.model.id}}><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Combat</LinkTo></p>

<hr>


{{#each-in this.model.combatants as |id comb| }}

<div class="card card-default">
  <div class="card-heading">
    {{comb.name}}
  </div>

  <div class="card-body">
    <div class="form-item">
      <div class="form-item-label">
              Action:
      </div>
      <div class="form-item-entry">
        <PowerSelect @selected={{comb.action}} @options={{this.model.options.actions}} @onChange={{(fn this.actionChanged id)}} as |act|>
            {{act}}
          </PowerSelect>
      </div>
    </div>

    <div class="form-item">
      <div class="form-item-label">
        Action Args:             <TooltipIcon @position="top" @message="Enter targets or other options for your action, like Dummy/burst,called:head." @icon="fa fa-question-circle" />

      </div>
      <div class="form-item-entry">
            
                <Input @type="text" size={{25}} id={{id}} @value={{comb.action_args}} />
            
                <p>
                <b>Available Targets:</b>
                <TooltipIcon @position="right" @message="Click a target to add them to the action args list." @icon="fa fa-question-circle" />
            
                {{#each this.model.options.targets as |target|}}
                  <button {{on 'click' (fn this.addTarget id target)}} class="btn-link">{{target}}</button>
                {{/each}}
                </p>
            
      </div>
    </div>

    <div class="form-item">
      <div class="form-item-label">
          Team:
      </div>
      <div class="form-item-entry">
  
          <PowerSelect @selected={{comb.team}} @options={{this.teams}} @onChange={{(fn this.teamChanged id)}} as |team|>
            {{team}}
          </PowerSelect>
      </div>
    </div>

    <div class="form-item">
      <div class="form-item-label">
          NPC Level:
      </div>
      <div class="form-item-entry">
      <PowerSelect @selected={{comb.npc_skill}} @options={{this.model.options.npc_skills}} @onChange={{(fn this.npcChanged id)}} as |level|>
        {{level}}
      </PowerSelect>
      </div>
    </div>
    
    <div class="form-item">
      <div class="form-item-label">
          Stance:
      </div>
      <div class="form-item-entry">
      <PowerSelect @selected={{comb.stance}} @options={{this.model.options.stances}} @onChange={{(fn this.stanceChanged id)}} as |stance|>
        {{stance}}
      </PowerSelect>
      </div>
    </div>

    
    <div class="form-item">
      <div class="form-item-label">
          Armor:
      </div>
      <div class="form-item-entry">
      <PowerSelect @selected={{comb.armor}} @options={{this.model.options.armor}} @onChange={{(fn this.armorChanged id)}} as |armor|>
        {{armor}}
      </PowerSelect>

      {{#each comb.armor_specials as |spec|}}
          <span class="text">&nbsp; {{spec.name}}:</span>
          <Input @type="checkbox" @checked={{spec.selected}} /> 
      {{/each}}
      </div>
    </div>
    
    <div class="form-item">
      <div class="form-item-label">
          Weapon:
      </div>
      <div class="form-item-entry">
      <PowerSelect @selected={{comb.weapon}} @options={{this.model.options.weapons}} @onChange={{(fn this.weaponChanged id)}} as |weapon|>
        {{weapon}}
      </PowerSelect>

      {{#each comb.weapon_specials as |spec|}}
          <span class="text">&nbsp; {{spec.name}}:</span>
          <Input @type="checkbox" @checked={{spec.selected}} /> 
      {{/each}}
      </div>
    </div>

    <div class="form-item">
      <div class="form-item-label">
          Vehicle:   <TooltipIcon @position="top" @message="Enter a vehicle type to get in your own vehicle, or a character name to get into theirs." @icon="fa fa-question-circle" />

      </div>
      <div class="form-item-entry">
      <Input @type="text" size={{25}} @value={{comb.vehicle}} />
      <br>
      <label>Passenger Type:</label>
      <PowerSelect @selected={{comb.passenger_type}} @options={{this.passengerTypes}} @onChange={{(fn this.passengerTypeChanged id)}} as |passengerType|>
        {{passengerType}}
      </PowerSelect>
      </div>
    </div>
  </div>
</div>


{{/each-in}}


<div class="action-buttons">
  <LinkTo @route="combat" @model={{this.model.id}} class="btn btn-secondary">Cancel</LinkTo>  
  <button class="btn btn-primary" {{on 'click' this.save}} >Save</button>
</div>

<FlashMessages />

    
{{outlet}}