{{page-title 'Combat Teams'}}
<h1>Teams for Combat {{model.id}}</h1>

<p>Quickly update everyone's teams in combat.  This won't affect their other settings.</p>

<p><LinkTo @route="combat" @model={{model.id}}><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Combat</LinkTo></p>

<hr>

<table>

{{#each-in model.combatants as |id comb| }}

<tr>
  <td>{{comb.name}}</td>
  <td>
    <PowerSelect @selected={{comb.team}} @options={{teams}} @onChange={{action "teamChanged" id}} as |team|>
      {{team}}
    </PowerSelect>
  </td>
</tr>

{{/each-in}}

</table>

    
    <div class="row">
        <div class="col col-xs-12">
            <div class="pull-right">
    
                <p> <LinkTo @route="combat" @model={{model.id}} class="btn btn-default">Cancel</LinkTo>  
                    <button class="btn btn-primary" {{action 'save'}} >Save</button>
                </p>
    
            </div>
        <FlashMessages />
        </div>
    </div>
    
{{outlet}}