{{title 'Combat Teams'}}
<h1>Teams for Combat {{model.id}}</h1>

<p>Quickly update everyone's teams in combat.  This won't affect their other settings.</p>

<p>{{#link-to 'combat' model.id}}<i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Combat{{/link-to}}</p>

<hr>

<table>

{{#each-in model.combatants as |id comb| }}

<tr>
  <td>{{comb.name}}</td>
  <td>
    {{#power-select selected=comb.team options=teams onchange=(action "teamChanged" id) as |team|}}
      {{team}}
    {{/power-select}}
  </td>
</tr>

{{/each-in}}

</table>

    
    <div class="row">
        <div class="col col-xs-12">
            <div class="pull-right">
    
                <p> {{#link-to 'combat' model.id class="btn btn-default"}}Cancel{{/link-to}}  
                    <button class="btn btn-primary" {{action 'save'}} >Save</button>
                </p>
    
            </div>
        {{flash-messages}}
        </div>
    </div>
    
{{outlet}}