{{page-title this.pageTitle}}
<h1>Combat {{this.model.id}}</h1>

<div class="action-buttons-spaced fs3-combat-controls">
        
    <DropdownMenu @id="combatMenu" @title="Combat Menu">
          <li><a href="#" {{action (mut this.showAddCombatant) true}} class="dropdown-item">Join/Add Combatant</a></li>
          {{#if this.model.can_manage}}
            <li><LinkTo @route="combat-setup" @model={{this.model.id}} class="dropdown-item">Setup NPCs</LinkTo></li>
            <li><LinkTo @route="combat-teams" @model={{this.model.id}} class="dropdown-item">Setup Teams</LinkTo></li>
            <li><a href="#" {{action "aiActions"}} class="dropdown-item">NPC AI Actions</a></li>
            <li><a href="#" {{action (mut this.confirmStopCombat) true}} class="dropdown-item">Stop Combat</a></li>
          {{/if}}
          <li><LinkTo @route="combat-log" @model={{this.model.id}} class="dropdown-item">View Log</LinkTo></li>
    </DropdownMenu>
      
    <div class="fs3-combat-buttons">
    
      {{#if this.model.in_combat}}
              <button class="btn btn-warning" {{action 'leaveCombat'}} >Leave Combat</button>
      {{else if this.currentUser.name}}
              <button class="btn btn-primary" {{action (mut this.showJoinCombat) true }} >Join Combat</button>
      {{/if}}

      {{#if this.model.can_manage}}
        <a href="#" class="btn btn-primary" {{action 'newTurn'}}>New Turn</a>
      {{/if}}
    </div>

</div>
          
<div class="card card-default">    
  <div class="card-heading">
    Combat Activity
    
    ( 
    {{#if this.model.scene}}
      <i>Scene <LinkTo @route="scene-live" @model={{this.model.scene}}>{{this.model.scene}}</LinkTo></i>. 
    {{/if}}
    <i>Organized by {{this.model.organizer}}</i> 
    )
  </div>
  <div class="card-body">
    <a href="#" {{action "scrollLog"}}><i class="fas fa-angle-double-down"></i> Jump to End</a>
    <div id="combat-log">
      <AnsiFormat @text={{this.combatLog}} />
    </div>
  </div>
</div>

{{#if this.model.in_combat}}
  <div class="fs3-combat-command">
    <Input @value={{this.combatCommand}} @enter={{action "sendCommand"}} size={{25}} />

    <button class="btn btn-secondary" {{action 'sendCommand'}} >Send Command</button>
    <div class="badge bg-info">{{this.commandResponse}}</div>
  </div>
{{/if}}

<Fs3CombatHud @combat={{this.model}} />


    <FlashMessages />
   

  
  <BsModalSimple @title="Confirm Stop" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{true}} @open={{this.confirmStopCombat}} @onSubmit={{action "stopCombat"}} @onHide={{action (mut this.confirmStopCombat) false}}>
      This will stop the combat.  Are you sure?
    </BsModalSimple>

<BsModalSimple @title="Add Combatant" @closeTitle="Cancel" @submitTitle="Add" @size={{null}} @fade={{true}} @open={{this.showAddCombatant}} @onSubmit={{action "addCombatant"}} @onHide={{action (mut this.showAddCombatant) false}}>
        <p><b>Name(s):</b> </p>
            <p><Input @type="text" size={{25}} @value={{this.newCombatantName}} /></p>
        <p><b>Type:</b> <PowerSelect @selected={{this.newCombatantType}} @options={{this.model.combatant_types}} @onChange={{action "combatantTypeChanged"}} as |type|>
          {{type}}
        </PowerSelect></p>
        <div class="hint">You can add multiple combatants at once, as long as they're the same combatant type. List their names separated by spaces.</div>
  </BsModalSimple>


<BsModalSimple @title="Join Combat" @closeTitle="Cancel" @submitTitle="Join" @size={{null}} @fade={{true}} @open={{this.showJoinCombat}} @onSubmit={{action "joinCombat"}} @onHide={{action (mut this.showJoinCombat) false}}>
        <p><b>Type:</b> <PowerSelect @selected={{this.newCombatantType}} @options={{this.model.combatant_types}} @onChange={{action "combatantTypeChanged"}} as |type|>
          {{type}}
        </PowerSelect></p>
  </BsModalSimple>
  

{{outlet}}