{{title 'Edit Combatant'}}
<h1>Edit Combatant {{model.name}}</h1>

<div class="form-group row">
    <div class="col-sm-3">
            <b>Action:</b> 
    </div>
    <div class="col-sm-9">
        
            <PowerSelect @selected={{model.action}} @options={{model.options.actions}} @onchange={{action "actionChanged"}} as |act|>
              {{act}}
            </PowerSelect>
            <br>
            <b>Action Args:</b> 
            <TooltipIcon @position="right" @message="Enter targets or other options for your action, like Dummy/burst,called:head." @icon="fa fa-question-circle" />
            <Input @type="text" @size={{25}} @id="actionArgs" @value={{model.action_args}} />
            
            
    </div>
 
</div>

<div class="form-group row">
    <div class="col-sm-3">
            <b>Team:</b> 
    </div>
    <div class="col-sm-9">
        
            <PowerSelect @selected={{model.team}} @options={{teams}} @onchange={{action "teamChanged"}} as |team|>
              {{team}}
            </PowerSelect>
            
    </div>
 
</div>

<div class="form-group row">
    <div class="col-sm-3">
            <b>Stance:</b> 
    </div>
    <div class="col-sm-9">
        
            <PowerSelect @selected={{model.stance}} @options={{model.options.stances}} @onchange={{action "stanceChanged"}} as |stance|>
              {{stance}}
            </PowerSelect>
            
    </div>
 
</div>


<div class="form-group row">
    <div class="col-sm-3">
            <b>Weapon:</b> 
    </div>
    <div class="col-sm-9">
        
            <PowerSelect @selected={{model.weapon}} @options={{model.options.weapons}} @onchange={{action "weaponChanged"}} as |weapon|>
              {{weapon}}
            </PowerSelect>
            
    </div>
 
</div>

<div class="form-group row">
    <div class="col-sm-3">
            <b>Weapon Specials:</b> 
    </div>
    <div class="col-sm-9">
        
            {{#each model.weapon_specials as |spec|}}
      
                <span class="text">&nbsp; {{spec.name}}:</span>
                <Input @type="checkbox" @checked={{spec.selected}} /> 
          

            {{/each}}
            
    </div>
 
</div>

     

<div class="form-group row">
    <div class="col-sm-3">
            <b>Armor:</b> 
    </div>
    <div class="col-sm-9">
        
            <PowerSelect @selected={{model.armor}} @options={{model.options.armor}} @onchange={{action "armorChanged"}} as |armor|>
              {{armor}}
            </PowerSelect>
            
    </div>
 
</div>

<div class="form-group row">
    <div class="col-sm-3">
            <b>Armor Specials:</b> 
    </div>
    <div class="col-sm-9">
        
            {{#each model.armor_specials as |spec|}}
      
                <span class="text">&nbsp; {{spec.name}}:</span>
                <Input @type="checkbox" @checked={{spec.selected}} /> 
          

            {{/each}}
            
    </div>
 
</div>

<div class="form-group row">
    <div class="col-sm-3">
            <b>Vehicle:</b>           
            <TooltipIcon @position="right" @message="Enter a vehicle type to get in your own vehicle, or a character name to get into theirs." @icon="fa fa-question-circle" />

    </div>
    <div class="col-sm-9">
        
            <Input @type="text" @size={{25}} @id="vehicleName" @value={{model.vehicle}} />
            <br>
            <b>Passenger Type:</b> <PowerSelect @selected={{model.passenger_type}} @options={{passengerTypes}} @onchange={{action "passengerTypeChanged"}} as |passengerType|>
              {{passengerType}}
            </PowerSelect>
            
            
    </div>
 
</div>


{{#if model.npc_skill}}

<div class="form-group row">
    <div class="col-sm-3">
            <b>NPC Skill:</b> 
    </div>
    <div class="col-sm-9">
        
            <PowerSelect @selected={{model.npc_skill}} @options={{model.options.npc_skills}} @onchange={{action "npcChanged"}} as |npc|>
              {{npc}}
            </PowerSelect>
            
    </div>
 
</div>

{{/if}}
    
    <div class="row">
        <div class="col col-xs-12">
            <div class="pull-right">
    
                <p> <LinkTo @route="combat" @model={{model.combat}} class="btn btn-default">Cancel</LinkTo>  
                    <button class="btn btn-primary" {{action 'save'}} >Save</button>
                </p>
    
            </div>
        <FlashMessages />
        </div>
    </div>
    
{{outlet}}