{{page-title model.creature.name}}
<h1>{{model.creature.name}}</h1>
<div class="ooc"> <p><b>This is a GM resource and is for OOC reference only. While some of the information here is ICly known, some of it may not be.</b></p></div>
<div class="row">
    <div class="col col-xs-12">
      <LinkTo @route="creatures"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Creatures</LinkTo>
      <div class="pull-right">
        {{#link-to 'creature-edit' model.creature.id class="btn btn-default"}}Edit Creature{{/link-to}}
      </div>
    </div>
</div>
<div class="ansi">


  <div class="creature-box">
    <div class="infobox-heading">
      <div class="infobox-title-text">
        {{model.creature.name}}
        <div class="infobox-majorschool">
          {{#if model.creature.major_school}}
          {{#link-to 'schools' model.creature.major_school.name}}
          {{model.creature.major_school.name}}
          {{/link-to}}
          {{/if}}
        </div>

        <div class="infobox-subtitle">
          {{#if model.creature.sapient}}
            Sapient
          {{else}}
            Non Sapient
          {{/if}}
          <div class="infobox-minorschool">
            {{#if model.creature.minor_school}}
            {{#link-to 'schools' model.creature.minor_school.name}}
            {{model.creature.minor_school.name}}
            {{/link-to}}
            {{/if}}
          </div>
        </div>
      </div>

    </div>

    <div class="infobox-body">
      {{#if model.creature.gms}}<i>For more information see {{#each model.creature.gms as |gm|}}
      {{#link-to 'char' gm.name}}{{gm.name}} {{/link-to}}
      {{/each}} </i><br>{{/if}}


      {{#if model.creature.portals}}<b>Portals:</b>
      {{#each model.creature.portals as |portal|}}
        {{#link-to 'portal' portal.id}}{{portal.name}} {{/link-to}}
      {{/each}}<br>  {{/if}}



      {{#if model.creature.found}}<b>Also found:</b>
      {{model.creature.found}}{{/if}}
      {{#if model.creature.language}}<b>Language:</b>
      {{model.creature.language}}{{/if}}

    </div>
  </div>

  {{#if model.creature.pinterest}}

    <div class="pinterest"> <a  data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="500" data-pin-scale-width="115" href="{{model.creature.pinterest}}"></a></div>
  {{/if}}

  {{#if model.creature.traits}}
    <h2>Traits & Description</h2>
    {{{ansi-format text=model.creature.traits}}}
  {{/if}}

  {{#if model.creature.society}}
    <h2>Society</h2>
    {{{ansi-format text=model.creature.society}}}
  {{/if}}

  {{#if model.creature.magical_abilities}}
    <h2>Magical Abilities & Spells</h2>
    {{{ansi-format text=model.creature.magical_abilities}}}
  {{/if}}

  {{#if model.creature.events}}
    <p><h2>Events</h2>
    {{{ansi-format text=model.creature.events}}}</p>
  {{/if}}
</div>

<h2>Scenes</h2>
<SceneList @scenes={{model.creature.scenes}}  @sceneTypes={{sceneTypes}} @hideSearch={{true}} />



  </div>
  <div class="row">
      <div class="col col-xs-12">
        <LinkTo @route="creatures"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Creatures</LinkTo>
        <div class="pull-right">
          {{#link-to 'creature-edit' model.creature.id class="btn btn-default"}}Edit Creature{{/link-to}}
        </div>
      </div>
  </div>
  <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
