{{page-title this.model.creature.name}}
<h1>Edit {{this.model.creature.name}} </h1>

    <ul class="nav nav-tabs">
        <li class="active"><a data-bs-toggle="tab" href="#general">General</a></li>
        <li><a data-bs-toggle="tab" href="#traits">Traits</a></li>
        <li><a data-bs-toggle="tab" href="#society">Society</a></li>
        <li><a data-bs-toggle="tab" href="#events">Plots & Events</a></li>
        <li><a data-bs-toggle="tab" href="#images">Images</a></li>
    </ul>



    <div class="tab-content">

      <div id="general" class="tab-pane fade show active">
        <div class="form-group row">
          <div class="col-sm-3">
            <b>Name</b>
          </div>

          <div class="col-sm-9">
            <p><Input @type="text" @size={{25}} @value={{this.model.creature.name}}  /></p>
          </div>
          <div class="col-sm-3">
            <b>GMs</b>
          </div>

          <div class="col-sm-9">
            <p><PowerSelectMultiple @selected={{this.model.creature.gms}} @options={{this.model.characters}} @searchEnabled=true @searchField="name"  @onChange={{action "gmsChanged"}} as |char|>
              {{char.name}}
            </PowerSelectMultiple></p>
          </div>

          <div class="col-sm-3">
            <b>Major School</b>
          </div>

          <div class="col-sm-9">
            <p><PowerSelect @selected={{this.model.creature.major_school}} @options={{this.model.schools}} @onChange={{action "majorschoolChanged"}} as |school|>
              {{school}}
            </PowerSelect></p>
          </div>

          <div class="col-sm-3">
            <b>Minor School</b>
          </div>

          <div class="col-sm-9">
            <p><PowerSelect @selected={{this.model.creature.minor_school}} @options={{this.model.schools}} @onChange={{action "minorschoolChanged"}} as |school|>
              {{school}}
            </PowerSelect></p>
          </div>

          <div class="col-sm-3">
            <b>Language(s):</b>
          </div>

          <div class="col-sm-9">
            <p><Input @type="text" @size={{25}} @value={{this.model.creature.language}}  /></p>
          </div>

          <div class="col-sm-3">
            <b>Portals</b>
          </div>

          <div class="col-sm-9">
            <p><PowerSelectMultiple @selected={{this.model.creature.portals}} @options={{this.model.portals}} @searchEnabled=true @searchField="name"  @onChange={{action "portalsChanged"}} as |portal|>
              {{portal.name}}
            </PowerSelectMultiple></p>
          </div>

          <div class="col-sm-3">
            <b>Also Found:</b>
          </div>

          <div class="col-sm-9">
            <p><Input @type="text" @size={{25}} @value={{this.model.creature.found}}  /></p>
          </div>

          <div class="col-sm-3">
            <b>Pinterest URL</b>
          </div>

          <div class="col-sm-9">
            <p><Input @type="text" @size={{25}} @value={{this.model.creature.pinterest}}  /></p>
          </div>

          <div class="col col-xs-3">
            <p><label>Sapient?</label>            </p>
          </div>

          <div class="col-sm-9">
            <p><Input @type="checkbox" @checked={{this.model.creature.sapient}} /></p>
          </div>




          <div class="col-sm-3">

          </div>

          <div class="col-sm-9">
            <b>Summary</b>
            <p><MarkdownEditor @text={{this.model.creature.edit_short_desc}}  rows={{5}} /></p>
          </div>

        </div>
      </div>

      <div id="traits" class="tab-pane fade show">
        <b>Traits & Description</b>
        <MarkdownEditor @text={{this.model.creature.edit_traits}} />

        <b>Magical Abilities & Spells<</b>
        <MarkdownEditor @text={{this.model.creature.edit_magical_abilities}}/>
      </div>


      <div id="society" class="tab-pane fade show">
        <b>Society</b>
        <MarkdownEditor @text={{this.model.creature.edit_society}} />
      </div>



      <div id="events" class="tab-pane fade show">
        <div class="col-sm-3">
          <b>Plots</b>
        </div>

        <div class="col-sm-9">
          <PowerSelectMultiple @selected={{this.model.creature.plots}} @options={{this.model.plots}} @searchEnabled=true @searchField="name"  @onChange={{action "plotsChanged"}} as |plot|>
            {{plot.title}}
          </PowerSelectMultiple>
        </div>

        <b>Events</b>
        <MarkdownEditor @text={{this.model.creature.edit_events}} />
      </div>


      <div id="images" class="tab-pane fade show">

        <div class="form-group row">
            <div class="col-sm-3">
                    <b>Banner Image</b>
            </div>

            <div class="col-sm-9">
                <PowerSelect @selected={{this.model.creature.banner_image}} @allowClear={{true}} @searchField="name" @options={{this.model.creature.files}} @onChange={{action "bannerImageChanged"}} as |file|>
                {{file.name}}
                </PowerSelect>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-3">
                    <b>Profile Image</b>
            </div>

            <div class="col-sm-9">
                <PowerSelect @selected={{this.model.creature.profile_image}} @allowClear={{true}} @searchField="name" @options={{this.model.creature.files}} @onChange={{action "profileImageChanged"}} as |file|>
                {{file.name}}
                </PowerSelect>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-3">
                    <b>Image Gallery</b>
            </div>

            <div class="col-sm-9">

              <div class="profile-gallery-input">
              <Textarea @value={{this.model.creature.image_gallery}} cols="80" rows={{3}} />

                <p class="hint">List image files in the order you want them shown (<code>folder/file1.jpg /folder/file2.jpg</code> etc.), or leave this blank to just show all images from the creature's folder.</p>
                </div>

            </div>
        </div>

        <CreatureEditFiles @model={{this.model}} />
      </div>

    </div>




    <div class="action-buttons">

        <p> {{#link-to 'creature' this.model.creature.id class="btn btn-secondary"}}Cancel{{/link-to}}
            <button class="btn btn-primary" {{action 'save'}} >Save</button>
        </p>

    </div>
{{flash-messages}}



{{outlet}}
