{{page-title 'Create Creature'}}
<h1>Create Creature</h1>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link active" href="#general">General</a></li>
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#traits">Traits</a></li>
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#society">Society</a></li>
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#events">Events</a></li>
    </ul>



    <div class="tab-content">

      <div id="general" class="tab-pane fade show active">
        <div class="form-group row">
          <div class="col-sm-3">
            <b>Name*</b>
          </div>

          <div class="col-sm-9">
            {{input type="text" size=25 enter=(action "save") value=this.model.creature.name}}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <b>GMs</b>
          </div>

          <div class="col-sm-9">
            <PowerSelectMultiple @selected={{this.model.creature.gms}} @options={{this.model.characters}} @searchEnabled=true @searchField="name"  @onChange={{action "gmsChanged"}} as |char|>
              {{char.name}}
            </PowerSelectMultiple>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <b>Major School</b>
          </div>

          <div class="col-sm-9">
            <p><PowerSelect @selected={{this.model.creature.major_school}} @options={{this.model.schools}} @onChange={{action "majorschoolChanged"}} as |school|>
              {{school}}
            </PowerSelect></p>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <b>Minor School</b>
          </div>

          <div class="col-sm-9">
            <p><PowerSelect @selected={{this.model.creature.minor_school}} @options={{this.model.schools}} @onChange={{action "minorschoolChanged"}} as |school|>
              {{school}}
            </PowerSelect></p>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <b>Languages:</b>
          </div>

          <div class="col-sm-9">
            {{input type="text" size=25 value=this.model.creature.language}}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <b>Portals</b>
          </div>

          <div class="col-sm-9">
            <PowerSelectMultiple @selected={{this.model.creature.portals}} @options={{this.model.portals}} @searchEnabled=true @searchField="name"  @onChange={{action "portalsChanged"}} as |portal|>
              {{portal.name}}
            </PowerSelectMultiple>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <b>Also Found:</b>
          </div>

          <div class="col-sm-9">
            {{input type="text" size=25 value=this.model.creature.found}}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <b>Pinterest URL</b>
          </div>

          <div class="col-sm-9">
            {{input type="text" size=25 value=this.model.creature.pinterest}}
          </div>
        </div>

        <div class="form-group row">
          <div class="col col-xs-3">
            <p><label>Sapient?</label>
            {{input type="checkbox"  id="sapient"  checked=this.isSapient}}</p><br>
          </div>

          <div class="col-sm-9">
            <MarkdownEditor @text={{this.model.creature.edit_short_desc}}  rows={{5}} />
          </div>

        </div>
      </div>

      <div id="traits" class="tab-pane fade show">
        <b>Traits & Description</b>
        <MarkdownEditor @text={{this.model.creature.edit_traits}} />

        <b>Magical Abilities & Spells<</b>
        <MarkdownEditor @text={{this.model.creature.edit_magical_abilities}}/>
      </div>


      <div id="society" class="tab-pane fade show">
        <b>Society</b>
        <MarkdownEditor @text={{this.model.creature.edit_society}} />
      </div>


      <div id="events" class="tab-pane fade show">

        <div class="col-sm-3">
          <b>Plots</b>
        </div>

        <div class="col-sm-9">
          <PowerSelectMultiple @selected={{this.model.creature.plots}} @options={{this.model.plots}} @searchEnabled=true @searchField="name"  @onChange={{action "plotsChanged"}} as |plot|>
            {{plot.title}}
          </PowerSelectMultiple>
        </div>

        <b>Events</b>
        <MarkdownEditor @text={{this.model.creature.edit_events}} />
      </div>

    </div>





    <div class="action-buttons">

        <p> {{#link-to 'creatures' class="btn btn-secondary"}}Cancel{{/link-to}}
            <button class="btn btn-primary" {{action 'save'}} >Save</button>
        </p>

    </div>
  {{flash-messages}}



{{outlet}}
