{{page-title 'Creatures'}}
<h1>Creatures</h1>

<div class="pull-right">
  {{#link-to 'creature-create' class="btn btn-primary"}}Create Creature{{/link-to}}
</div>

<div class="clearfix"/>
  <ul class="nav nav-tabs">
      <li><a data-toggle="tab" href="#sapient">Sapient</a></li>
      <li><a data-toggle="tab" href="#nonsapient">Non Sapient</a></li>
    </ul>

    <div class="tab-content">


  <div id="sapient" class="tab-pane active in 'Sapient'">
    {{#each model as |creature|}}
      {{#if creature.sapient}}
        <div class="directory-card" style="background-image: url('/game/uploads/{{creature.banner_image.path}}');">
          <div class="directory-title">{{#link-to 'creature' creature.id}}{{creature.name}}{{/link-to}}</div>
          <div class="directory-info">
             <p>{{creature.short_desc}}</p>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>

  <div id="nonsapient" class="tab-pane fade in 'Non Sapient'">
    {{#each model as |creature|}}
      {{#unless creature.sapient}}
      <div class="directory-card" style="background-image: url('/game/uploads/{{creature.banner_image.path}}');">
        <div class="directory-title">{{#link-to 'creature' creature.id}}{{creature.name}}{{/link-to}}</div>
        <div class="directory-info">
           <p>{{creature.short_desc}}</p>
        </div>
      </div>
      {{/unless}}
    {{/each}}
  </div>



</div>


{{outlet}}
