{{page-title 'Create Cryptid Page'}}
<h1>Create Cryptid Page</h1>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link active" href="#general">General</a></li>
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#traits">Traits</a></li>
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#society">Society</a></li>
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#events">Plots & Events</a></li>
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#images">Images</a></li>
    </ul>



    <div class="tab-content">

      <div id="general" class="tab-pane fade show active">
        <div class="form-group row">
          <div class="col-sm-3">
            <b>Name*</b>
          </div>

          <div class="col-sm-9">
            {{input type="text" size=25 enter=(action "save") value=this.model.creature.name}}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <b>GMs</b>
          </div>

          <div class="col-sm-9">
            <PowerSelectMultiple @selected={{this.model.creature.gms}} @options={{this.model.characters}} @searchEnabled=true @searchField="name"  @onChange={{action "gmsChanged"}} as |char|>
              {{char.name}}
            </PowerSelectMultiple>
          </div>
        </div>


        <div class="form-group row">
          <div class="col-sm-3">
            <b>Found:</b>
          </div>

          <div class="col-sm-9">
            {{input type="text" size=25 value=this.model.creature.found}}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <b>Pinterest URL</b>
          </div>

          <div class="col-sm-9">
            {{input type="text" size=25 value=this.model.creature.pinterest}}
          </div>
        </div>

        <div class="form-group row">
          <div class="col col-xs-3">
            <p><label><b>Sapient?</b></label>
            {{input type="checkbox"  id="sapient"  checked=this.isSapient}}</p><br>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-3">
            <b>Summary*</b>
          </div>

          <div class="col-sm-9">
              <MarkdownEditor @text={{this.model.creature.edit_short_desc}}  rows={{5}} />
          </div>
        </div>
      </div>

      <div id="traits" class="tab-pane fade show">
        <b>Physical Traits & Description</b>
        <MarkdownEditor @text={{this.model.creature.edit_traits}} />

        <b>Magical Abilities & Preferences</b>
        <MarkdownEditor @text={{this.model.creature.edit_magical_abilities}}/>

        <b>Combat Abilities & Preferences</b>
        <MarkdownEditor @text={{this.model.creature.edit_combat}}/>
      </div>


      <div id="society" class="tab-pane fade show">
        <b>Society</b>
        <MarkdownEditor @text={{this.model.creature.edit_society}} />
      </div>


      <div id="events" class="tab-pane fade show">
        <div class="form-group row">
          <div class="col-sm-3">
            <b>Plots</b>
          </div>

          <div class="col-sm-9">
            <PowerSelectMultiple @selected={{this.model.creature.plots}} @options={{this.model.plots}} @searchEnabled=true @searchField="name"  @onChange={{action "plotsChanged"}} as |plot|>
              {{plot.title}}
            </PowerSelectMultiple>
          </div>
        </div>

        <b>Events</b>
        <MarkdownEditor @text={{this.model.creature.edit_events}} />
      </div>

      <div id="images" class="tab-pane fade show">

        {{!-- <div class="form-group row">
            <div class="col-sm-3">
                    <b>Banner Image</b>
            </div>

            <div class="col-sm-9">
                <PowerSelect @selected={{this.model.creature.banner_image}} @allowClear={{true}} @searchField="name" @options={{this.model.creature.files}} @onChange={{action "bannerImageChanged"}} as |file|>
                {{file.name}}
                </PowerSelect>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-3">
                    <b>Profile Image</b>
            </div>

            <div class="col-sm-9">
                <PowerSelect @selected={{this.model.creature.profile_image}} @allowClear={{true}} @searchField="name" @options={{this.model.creature.files}} @onChange={{action "profileImageChanged"}} as |file|>
                {{file.name}}
                </PowerSelect>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-3">
                    <b>Image Gallery</b>
            </div>

            <div class="col-sm-9">

              <div class="profile-gallery-input">
              <Textarea @value={{this.model.creature.image_gallery}} cols="80" rows={{3}} />

                <p class="hint">List image files in the order you want them shown (<code>folder/file1.jpg /folder/file2.jpg</code> etc.), or leave this blank to just show all images from the creature's folder.</p>
                </div>

            </div>
        </div> --}}

        <CreatureEditFiles @model={{this.model}} />
      </div>

    </div>

    <div class="action-buttons">

        <p> {{#link-to 'creatures' class="btn btn-secondary"}}Cancel{{/link-to}}
            <button class="btn btn-primary" {{action 'save'}} >Save</button>
        </p>

    </div>
  {{flash-messages}}



{{outlet}}
