{{page-title 'Edit Event'}}
<h1>Edit Event</h1>
  
  <div class="form-group row">
    <div class="col-sm-3">
      <b>Organizer:</b>
    </div>

    <div class="col-sm-9">
      <PowerSelect @selected={{model.event.organizer}} @options={{model.characters}} @searchEnabled=true @searchField="name" @onChange={{action "organizerChanged"}} as |char|>
        {{char.name}}
      </PowerSelect>
    </div>
  </div>

   <div class="form-group row">
    <div class="col-sm-3">
        <label for="title" class="col-form-label">Title:</label>
    </div>
    <div class="col-sm-9">
         <Input @type="text" @size={{25}} @id="title" @enter={{action "edit"}} @value={{model.event.title}} />
    </div> 
  </div>
  
   <div class="form-group row">
    <div class="col-sm-3">
        <label for="date" class="col-form-label">Date:</label>
    </div>
    <div class="col-sm-9">
         <PikadayInput @onSelection={{action "changeDate"}} @value={{model.event.date}}  @format={{model.event.date_entry_format}} /> 
    </div> 
  </div>
  
   <div class="form-group row">
    <div class="col-sm-3">
        <label for="startTime" class="col-form-label">Start Time:</label>
    </div>
    <div class="col-sm-9">
         <Input @type="text" @id="time" @enter={{action "edit"}} @value={{model.event.time}} />
         
         <div class="hint">Use <b>server time</b> in the same format as the server time.  The current server time is {{model.event.server_time}}.</div>
    </div> 
  </div>
  
  
   <div class="form-group row">
    <div class="col-sm-3">
        <label for="warning" class="col-form-label">Content Warning:</label>
    </div>
    <div class="col-sm-9">
         <Input @type="text" @size={{25}} @id="content_warning" @enter={{action "edit"}} @value={{model.event.content_warning}} />
    </div> 
  </div>
  
   <div class="form-group row">
    <div class="col-sm-3">
        <label for="tags" class="col-form-label">Tags:</label>
    </div>
    <div class="col-sm-9">
        <Input @type="text" @size={{25}} @id="tags" @enter={{action "edit"}}  @value={{model.event.tags}} />
    </div> 
  </div>
  
   <div class="form-group row">
    <div class="col-sm-3">
        <label for="warning" class="col-form-label">Description:</label>
    </div>
    <div class="col-sm-9">
         <MarkdownEditor @text={{model.event.description}} />
         
    </div> 
  </div>
  


<div class="pull-right">
  <LinkTo @route="event" @model={{model.event.id}} class="btn btn-default">Cancel</LinkTo>
  <button {{action "edit"}} class="btn btn-primary">Save</button>
</div>
<FlashMessages />
