{{title 'Events'}}
<h1>Events</h1>

<p>The events calendar helps you schedule scenes with other players.</p>

<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
 
          {{#if isApproved}}
              {{#link-to 'event-create' class="btn btn-primary"}}Create Event{{/link-to}}
          {{/if}}

      </div>
  </div>
</div>

<table class="table table-striped">

<thead>
    <tr>
        <th>Title</th>
        <th>Organizer</th>
        <th>Date/Time</th>
    </tr>
</thead>
        
{{#each model.events as |event|}}
<tr>
    <td>
        {{#link-to 'event' event.id}}{{event.title}}{{/link-to}}
    </td>
    
    <td>
        {{event.organizer}}
    </td>
    <td>
        {{event.start_datetime_local}} ({{event.start_time_standard}})
    </td>
</tr>

{{/each}}

</table>

<div class="alert alert-info">If you're using an iCalendar-compatible calendar app like Outlook or Apple iCal, you can add the game's iCal feed to your app and it will automatically load events into your calendar: <a href="{{calendarUrl}}">{{calendarUrl}}</a>.</div>



{{outlet}}