<h1>Edit Event</h1>

<p><b>Title:</b></p>
<p>{{input type="text" size=50 id="title" action="create" value=model.title}}</p>

<p><b>Date:</b></p>
<p>{{pikaday-input onSelection=(action 'changeDate') value=model.date format=model.date_entry_format}} </p>

<p><b>Start Time:</b></p>
<p>{{input type="text" id="time" action="create" value=model.time }}</p>

<p><b>Description:</b></p>

{{textarea value=model.description cols="80" rows="6"}}

{{#link-to 'event' model.id class="btn btn-default"}}Cancel{{/link-to}}
<button {{action "edit"}} class="btn btn-primary">Save</button>
{{flash-messages}}
