{{page-title this.model.title}}
<h1>{{this.model.title}}</h1>

<p><LinkTo @route="events"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Events</LinkTo></p>

<table>
    <tr>
        <td>
            <b>Organizer:</b> 
        </td>
        <td>
          <CharIconInline @char={{this.model.organizer}} />
        </td>
    </tr>

    <tr>
        <td>
            <b>Starts:</b>
        </td>
        <td>
             {{this.model.start_datetime_local}} ({{this.model.start_time_standard}})
        </td>
    </tr>
    
    <tr>
        <td>
            <b>Tags:</b>
        </td>
        <td>
             {{#each this.model.tags as |tag|}}
             <LinkTo @route="wiki-tag" @model={{tag}}>{{tag}}</LinkTo>
             {{/each}}
        </td>
    </tr>
    
</table>

<br>

{{#if this.model.content_warning}}
<div class="alert alert-danger"><b>Content Warning:</b> {{this.model.content_warning}}</div>
{{/if}}
    
<AnsiFormat @text={{this.model.description}} />

<hr>

<h2>Signups</h2>

{{#each this.model.signups as |s|}}
 <div>
 
     <p><CharIconInline @char={{s.char}} /></p>
     {{#if s.comment}}
     <AnsiFormat @text={{s.comment}} />
     {{/if}}
     
     {{#if this.model.can_manage}}
     <p>  <button {{action 'cancelSignup' s.char.name}}><i class="fa fa-trash" aria-label="Cancel Signup"></i></button></p>
     {{/if}}
     
 
     <hr>
  </div>
{{/each}}

{{#if this.model.signed_up}}
<p>You are signed up for the event.</p>

<p><label>Signup Comment:</label> <Input @type="text" size={{25}} id="signup" enter={{action "signup"}} @value={{this.model.signup_comment}} />  </p>
<p>  <button {{action 'cancelSignup'}} class="btn btn-warning">Cancel Signup</button>
  <button {{action 'signup'}} class="btn btn-default">Edit Signup</button> </p>
{{else if isApproved}}
<p><label>Signup Comment:</label>  <Input @type="text" size={{25}} id="signup" enter={{action "signup"}} @value={{this.model.signup_comment}} />  
  <button {{action 'signup'}} class="btn btn-default">Sign Up</button> </p>

{{/if}}

<hr>

<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
  {{#if this.model.can_manage}}

      <button {{action (mut confirmDelete) true}} class="btn btn-warning">Delete</button>
      <LinkTo @route="event-edit" @model={{this.model.id}} class="btn btn-primary">Edit</LinkTo>
  {{/if}}
      
  </div>
  </div>
</div>

<FlashMessages />

<BsModalSimple @title="Confirm Delete" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{true}} @open={{confirmDelete}} @onSubmit={{action "delete"}} @onHide={{action (mut confirmDelete) false}}>
    You're about to delete event {{this.model.title}}. This cannot be undone.  Are you sure?
  </BsModalSimple>
  
{{outlet}}