{{title 'New Event'}}
<h1>New Event</h1>

<p><b>Title:</b></p>
<p>{{input type="text"  size=50 id="title" enter="create" value=title}}</p>

<p><b>Date:</b></p>
<p>{{pikaday-input onSelection=(action 'changeDate') format=model.game.date_entry_format}} </p>

<p><b>Start Time:</b></p>
<div class="hint">Use <b>server time</b> (US Mountain) in standard format (1:30pm, 10:00am, etc.)</div>
<p>{{input type="text" id="time" size="122" enter="create" value=time }}</p>

<p><b>Description:</b></p>

{{markdown-editor text=description}}

<button {{action "create"}} class="btn btn-primary">Create</button>
{{flash-messages}}
