{{title 'New Event'}}
<h1>New Event</h1>

<p><b>Title:</b></p>
<p>{{input type="text"  size=25 id="title" enter=(action "create")  value=title}}</p>

<p><b>Date:</b></p>
<p>{{pikaday-input onSelection=(action 'changeDate') format=model.game.date_entry_format}} </p>

<p><b>Start Time:</b></p>
<div class="hint">Use <b>server time</b> in standard format (e.g. either 1:30pm or 1330 depending on nationality.)  The current server time is {{model.server_time}}.</div>
<p>{{input type="text" id="time" size="25" enter=(action "create")  value=time }}</p>

<p><b>Description:</b></p>

{{markdown-editor text=description}}

{{#link-to 'events' class="btn btn-default"}}Cancel{{/link-to}}
<button {{action "create"}} class="btn btn-primary">Create</button>
{{flash-messages}}
