{{page-title 'Events'}}
<h1>Events</h1>

<p>The events calendar helps you schedule scenes with other players.  Events you've signed up for are indicated with a <i class="fas fa-calendar-check" aria-label="Signed Up"></i> icon.</p>

<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
 
          {{#if isApproved}}
              <LinkTo @route="event-create" class="btn btn-primary">Create Event</LinkTo>
          {{/if}}

      </div>
  </div>
</div>

<table class="table table-striped">

<thead>
    <tr>
        <th></th>
        <th>Title</th>
        <th>Organizer</th>
        <th>Date/Time</th>
    </tr>
</thead>
        
{{#each model.events as |event|}}
<tr>
  <td>
    {{#if event.is_signed_up}}
    <i class="fas fa-calendar-check fa-2x" aria-label="Signed Up"></i>
    {{/if}}
  </td>
    <td>
        <LinkTo @route="event" @model={{event.id}}>{{event.title}}</LinkTo>
        {{#if event.content_warning}}
        <ContentWarningTag @warning={{event.content_warning}} @position="top-right" />
        {{/if}}
    </td>
    
    <td>
        {{event.organizer}}
    </td>
    <td>
        {{event.start_datetime_local}} ({{event.start_time_standard}})
    </td>      
</tr>

{{/each}}

</table>

<div class="alert alert-info">If you're using an iCalendar-compatible calendar app like Outlook or Apple iCal, you can add the game's iCal feed to your app and it will automatically load events into your calendar: <a href="{{calendarUrl}}">{{calendarUrl}}</a>.</div>



{{outlet}}