{{page-title this.model.name}}
<h1>{{this.model.name}}</h1>

<img src="/game/uploads/{{this.model.path}}" alt="{{this.model.name}}" class="image-container file-image" >

<div class="alert alert-info">
  To link to this image from a wiki page, profile, etc., use one of the following:
  <p><code>[[image /game/uploads/{{this.model.path}}]]</code></p>
  <p><code>![Alt Text](/game/uploads/{{this.model.path}})</code>.</p>
  <p>See <a href="/help/markdown">Help -> Markdown Formatting -> Images</a> for more information.</p>
</div>

<div class="action-buttons">
    <LinkTo @route="files" class="btn btn-secondary">Back to Files</LinkTo>

    {{#if this.model.can_edit}}
        <button {{action (mut this.confirmDelete) true}} class="btn btn-warning">Delete</button>
    
        <LinkTo @route="file-edit" @models={{array this.model.folder this.model.name}} class="btn btn-primary">Edit</LinkTo>
    {{/if}}
</div>

<FlashMessages />

<FileUploader @folder={{this.model.folder}} @file={{this.model.name}} />


<BsModalSimple @title="Confirm Delete" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{true}} @open={{this.confirmDelete}} @onSubmit={{action "delete"}} @onHide={{action (mut this.confirmDelete) false}}>
    You're about to delete file {{this.model.name}}. This cannot be undone.  Are you sure?
  </BsModalSimple>
  
{{outlet}}