{{page-title 'Files'}}
<h1>Files</h1>

<p><a href="#upload"><i class="fas fa-angle-double-down"></i> Jump to Upload</a></p>


{{#each this.model as |folder|}}

<span class="col col-xs-3">
        <LinkTo @route="folder" @model={{folder.name}}>
            <i class="far fa-folder-open" aria-hidden="true"></i>
            {{folder.name}}
        </LinkTo>
</span>
{{/each}}


<a name="upload"></a>

{{#if this.isApproved}}


<div class="row">
    <div class="col col-xs-12">
        <div class="float-right">
          <button {{action (mut this.showUpload) true}} class="btn btn-primary">Upload</button>
  </div>
  </div>
</div>


  {{#if this.showUpload}}
    <FileUploader @uploaded={{action "uploaded"}} @folder="misc" />
  {{/if}}
{{/if}}