{{page-title this.model.name}}
<h1>{{this.model.name}}</h1>

<img src="/game/uploads/{{this.model.path}}" alt="{{this.model.name}}" class="image-container file-image" >


Name:
<p><Input @type="text" id="name" @value={{this.model.new_name}} /></p>

Folder (optional):
<p><Input @type="text" id="folder" @value={{this.model.new_folder}} /></p>


Description (optional):
<Textarea id="desc" @value={{this.model.new_description}} @rows={{10}}></Textarea>


<div class="action-buttons">
  <LinkTo @route="file" @models={{array this.model.folder this.model.name}} class="btn btn-secondary">Cancel</LinkTo>

  {{#if this.isApproved}}
  <button {{on 'click' this.save}} class="btn btn-primary">Save</button>
  {{/if}}
</div>

<FlashMessages />
{{outlet}}