{{page-title this.model.name}}
<h1>{{this.model.name}}</h1>

<img src="/game/uploads/{{this.model.path}}" alt="{{this.model.name}}" class="image-container file-image" >


<p><label for="name">Name:</label></p>
<p><Input @type="text" id="name" @value={{this.model.new_name}} /></p>

<p><label for="folder">Folder (optional):</label></p>
<p><Input @type="text" id="folder" @value={{this.model.new_folder}} /></p>


<p><label for="folder">Description (optional):</label></p>
<Textarea id="desc" @value={{this.model.new_description}} @rows={{10}}></Textarea>


<div class="action-buttons">
  <LinkTo @route="file" @models={{array this.model.folder this.model.name}} class="btn btn-secondary">Cancel</LinkTo>

  {{#if isApproved}}
  <button {{action 'save'}} class="btn btn-primary">Save</button>
  {{/if}}
</div>

<FlashMessages />
{{outlet}}