{{title 'Files'}}
<h1>Files</h1>

<p>Click on a folder to show or hide that folder's files.</p>

<p><a href="#upload"><i class="fas fa-chevron-circle-down"></i> Jump to Upload</a></p>

{{#each model as |folder|}}

        <a data-toggle="collapse" href="#collapse-{{folder.name}}">
            <i class="far fa-folder-open" aria-hidden="true"></i>
            {{folder.name}} &nbsp; &nbsp;
        </a>
{{/each}}

{{#each model as |folder|}}

    <div id="collapse-{{folder.name}}" class="{{if folder.name 'panel-collapse collapse' 'panel-default' }}">
      <div class="panel-body">
      

      <table class="table table-striped">

      {{#each folder.files as |file|}}
      <tr>
      <td><LinkTo @route="file" @models={{array file.folder file.name}}>{{file.name}}</LinkTo></td>
      <td>{{file.size}}KB</td>
      <td>&nbsp;</td>
      </tr>
      {{/each}}
      </table>

      </div>
    </div>
{{/each}}



<a name="upload"></a>

{{#if isApproved}}


<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
          <button {{action (mut showUpload) true}} class="btn btn-primary">Upload</button>
  </div>
  </div>
</div>


  {{#if showUpload}}
    <FileUploader @uploaded={{action "uploaded"}} @folder="misc" />
  {{/if}}
{{/if}}