{{page-title model.name}}
<h1>{{model.name}}</h1>

<img src="/game/uploads/{{model.path}}" alt="{{model.name}}" class="image-container file-image" >

<div class="alert alert-info">
  To link to this image from a wiki page, profile, etc., use one of the following:
  <p><code>[[image /game/uploads/{{model.path}}]]</code></p>
  <p><code>![Alt Text](/game/uploads/{{model.path}})</code>.</p>
  <p>See <a href="/help/markdown">Help -> Markdown Formatting -> Images</a> for more information.</p>
</div>

<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
          <LinkTo @route="files" class="btn btn-default">Back to Files</LinkTo>

          {{#if model.can_edit}}
              <button {{action (mut confirmDelete) true}} class="btn btn-warning">Delete</button>
          
              <LinkTo @route="file-edit" @models={{array model.folder model.name}} class="btn btn-primary">Edit</LinkTo>
          {{/if}}
         </div>
  </div>
</div>
<FlashMessages />

<FileUploader @folder={{model.folder}} @file={{model.name}} />


<BsModalSimple @title="Confirm Delete" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{false}} @open={{confirmDelete}} @onSubmit={{action "delete"}} @onHide={{action (mut confirmDelete) null}}>
    You're about to delete file {{model.name}}. This cannot be undone.  Are you sure?
  </BsModalSimple>
  
{{outlet}}