{{page-title 'Files'}}

<h1>{{model.folder}}</h1>

<p><LinkTo @route="files"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Files</LinkTo></p>

<table class="table table-striped">

  {{#each model.files as |file|}}
  <tr>
  <td><LinkTo @route="file" @models={{array file.folder file.name}}>{{file.name}}</LinkTo></td>
  <td>{{file.size}}KB</td>
  </tr>
  {{/each}}
</table>

<b>Folder Size:</b> {{model.folder_size}}KB

{{#if isApproved}}


<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
          <button {{action (mut showUpload) true}} class="btn btn-primary">Upload</button>
  </div>
  </div>
</div>


  {{#if showUpload}}
    <FileUploader @uploaded={{action "uploaded"}} @folder="{{model.folder}}" />
  {{/if}}
{{/if}}