{{title model.name}}
<h1>{{model.name}}</h1>

<div class="row">
    <div class="col col-xs-12">

      <AnsiFormat @text={{model.description}} />
  </div>
</div>

<div class="row">
    <div class="col col-xs-12">

<p><LinkTo @route="forum"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Forums</LinkTo></p>

        <div class="pull-right">
 
          <button {{action 'catchup'}} class="btn btn-default">Mark All Read</button>
          <button {{action 'nextUnread'}} class="btn btn-default">Next Unread</button>
 
          {{#if model.can_post}}
          <LinkTo @route="forum-create-post" @model={{model.id}} class="btn btn-primary">Add Post</LinkTo>
          {{/if}}
          
          
  </div>
  </div>
</div>

<ForumPostList @posts={{model.posts}} />

{{outlet}}
