<h1>{{model.name}}</h1>
<p>{{#link-to 'forum'}}<i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Forums{{/link-to}}</p>

<table class="table table-striped">
<tbody>
      <tr>
      <th>Title</th>
      <th>Posted By</th>
    </tr>
    
{{#each model.posts as |p|}}
    <tr>
    <td>
        {{#if p.unread}}
        <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-hidden="true"></i></span>
        {{/if}}
         {{#link-to 'forum-topic' model.id p.id}}{{p.title}}{{/link-to}}
     </td>
     <td>{{p.author}} @ {{p.date}}
     </td>
     </tr>
{{/each}}
</tbody>
</table>


<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
 
          {{#if model.can_post}}
          {{#link-to 'forum-create-post' model.id class='btn btn-primary'}}Add Post{{/link-to}}
          {{/if}}
          
  </div>
  </div>
</div>

{{outlet}}
