{{title 'Create Post'}}
<h1>Post to {{model.name}}</h1>

{{#if model.can_post}}

     <p><b>Post As:</b>        <div class="forum-char-select" >
                 <PowerSelect @selected={{author}} @options={{model.authors}} @searchField="name" @onchange={{action "authorChanged"}} as |author|>
                     <CharIconTiny @char={{author}} />
                 </PowerSelect>
             </div>
    </p>
                 
    <p><b>Subject:</b></p> 
    <Input @type="text" @id="subject" @value={{subject}} @size={{100}} />
    
    <p><b>Message:</b></p>
    <MarkdownEditor @text={{message}} />

<div class="pull-right">
    <LinkTo @route="forum-category" @model={{model.id}} class="btn btn-default">Cancel</LinkTo>
    <button {{action "addPost"}} class="btn btn-primary">Post</button>
</div>
    
{{else}}

You don't have permission to post to this board.

{{/if}}