{{page-title 'Discussion Forum'}}
<h1>Discussion Forum</h1>

<p>The forum enables MU-wide discussion topics, available in-game and on the web portal.</p>

{{#if model.is_muted}}
<div class="alert alert-warning">The forum is muted.  You will not see notifications for new posts or replies.</div>
{{/if}}
  
{{#if isAuthenticated}}

<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
          <LinkTo @route="search-forum" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i> Search Forum</LinkTo>  

          <button {{action 'catchup'}} class="btn btn-default">Mark All Read</button>

          {{#if model.is_muted}}
            <button {{action 'muteForum' false}} class="btn btn-default"><i class="fa fa-play" aria-hidden="true"></i> Unmute</button>
          {{else}}
            <button {{action 'muteForum' true}} class="btn btn-default"><i class="fa fa-pause" aria-hidden="true"></i> Mute</button>
            {{/if}}
          
          <button {{action 'nextUnread'}} class="btn btn-default">Next Unread</button>
         </div>
  </div>
</div>
{{/if}}

<table class="table table-striped">   
<thead>
  <tr>
    <th></th>
    <th>Category</th>
    <th class="hidden-xs hidden-sm">Description</th>
    <th>Last Post</th>
    <th></th>
  </tr>
</thead>
     
<tbody>
{{#each model.categories as |forum|}}
    <tr>
        <td>
          {{#if forum.unread}}
          <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-label="New Activity"></i></span>
          {{/if}}
        </td>
        
         <td>
           {{#if forum.can_read}}
           <LinkTo @route="forum-category" @model={{forum.id}}>{{forum.name}}</LinkTo> 
           {{else}}
           <i>{{forum.name}} <i class="fa fa-lock" aria-label="Restricted"></i></i>
           {{/if}}
        </td>
        
        <td class="hidden-xs hidden-sm">
        <AnsiFormat @text={{forum.description}} />
        </td>
        <td>
            {{#if forum.last_activity}}
              {{forum.last_activity.author}} 
              {{if (eq forum.last_activity.type 'reply') 'replied to' 'posted'}}
              <LinkTo @route="forum-topic" @models={{array forum.id forum.last_activity.id}}>{{forum.last_activity.subject}}</LinkTo>
              <br>{{forum.last_activity.date}}
            {{/if}}
        </td>
        <td>
          <a href="#" {{action 'hideCategory' forum true}}>
            <TooltipIcon @position="left" @message="Hide category." @icon="fa fa-eye-slash" />
          </a>
          
        </td>
    </tr>
{{/each}}

</tbody>
</table>


{{#if anyHidden}}
<h4>Hidden</h4>
{{#each model.hidden as |forum|}}
<LinkTo @route="forum-category" @model={{forum.id}}>{{forum.name}}</LinkTo>          
    <a href="#" {{action 'hideCategory' forum false}} >
      [<TooltipIcon @position="top" @message="Show category." @icon="fa fa-eye" />]
    </a> &nbsp; &nbsp;
{{/each}}
{{/if}}

{{outlet}}