{{page-title this.model.name}}
<h1>{{this.model.name}}</h1>

<div class="row">
    <div class="col col-xs-12">

      <AnsiFormat @text={{this.model.description}} />
  </div>
</div>

<div class="action-buttons-spaced">

  <LinkTo @route="forum"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Forums</LinkTo>
  
  <div>
    <button {{on 'click' this.catchup}} class="btn btn-secondary">Mark All Read</button>
    <button {{on 'click' this.nextUnread}} class="btn btn-secondary">Next Unread</button>

    {{#if this.model.can_post}}
    <LinkTo @route="forum-create-post" @model={{this.model.id}} class="btn btn-primary">Add Post</LinkTo>
    {{/if}}
  </div>
</div>

<ForumPostList @posts={{this.model.posts}} />

{{outlet}}
