{{title 'Create Post'}}
<h1>Post to {{model.name}}</h1>

{{#if model.can_post}}
            
    <p><b>Subject:</b> {{input type="text" id="subject" value=subject size=100 }}</p>
    <p><b>Message:</b></p>
    {{markdown-editor text=message}}

    {{#link-to 'forum-category' model.id class='btn btn-default'}}Cancel{{/link-to}}
    <button {{action "addPost"}} class="btn btn-primary">Post</button>
    
{{else}}

You don't have permission to post to this board.

{{/if}}