<h1>Discussion Forums</h1>

<table class="table table-striped">    
<tbody>
{{#each model as |forum|}}
    <tr><td>
        {{#if forum.unread}}
        <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-hidden="true"></i></span>
        {{/if}}
        
        {{#link-to 'forum-category' forum.id}}{{forum.name}}{{/link-to}} 
        </td>
        
        <td>
        {{forum.description}}
        </td>
        <td>
            {{#if forum.last_post}}
              {{forum.last_post.author}} posted 
              {{#link-to 'forum-topic' forum.id forum.last_post.id}}{{forum.last_post.subject}}{{/link-to}}
              <br/>{{forum.last_post.date}}
            {{/if}}
        </td>
    </tr>
{{/each}}
</tbody>
</table>

{{#if isAuthenticated}}

<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
          <button {{action 'nextUnread'}} class="btn btn-default">Next Unread</button>
         </div>
  </div>
</div>
{{/if}}

{{outlet}}