{{page-title 'Create Post'}}
<h1>Post to {{this.model.name}}</h1>

{{#if this.model.can_post}}

     <p><b>Post As:</b>        <div class="forum-char-select" >
                 <PowerSelect @selected={{this.author}} @options={{this.model.authors}} @searchField="name" @onChange={{this.authorChanged}} as |author|>
                     <CharIconTiny @char={{author}} />
                 </PowerSelect>
             </div>
    </p>
                 
    <p><b>Subject:</b></p> 
    <Input @type="text" id="subject" @value={{this.subject}} size={{100}} />
    
    <p><b>Message:</b></p>
    <MarkdownEditor @text={{this.message}} />

<div class="action-buttons">
    <LinkTo @route="forum-category" @model={{this.model.id}} class="btn btn-secondary">Cancel</LinkTo>
    <button {{on 'click' this.addPost}} class="btn btn-primary">Post</button>
</div>
    
{{else}}

You don't have permission to post to this board.

{{/if}}