{{page-title 'Manage Forum Categories'}}
<h1>Manage Forum Categories</h1>


<div class="action-buttons">
        <LinkTo @route="forum-create" class="btn btn-secondary">Create Category</LinkTo>
</div>

<div class="table-responsive">
<table class="table table-striped">
    
<thead>
  <th class="col-xs-2">Name</th>
  <th class="col-xs-3">Description</th>
  <th class="col-xs-1">Order</th>
  <th class="col-xs-2">Read Roles</th>
  <th class="col-xs-2">Write Roles</th>
  <th class="col-xs-2"></th>
</thead>

<tbody>
  {{#each this.model.categories as |category|}}
  <tr>
    <td>{{category.name}}</td>
    <td><AnsiFormat @text={{category.desc}} /></td>
    <td>{{category.order}}</td>
    <td>{{category.can_read}}</td>
    <td>{{category.can_write}}</td>
    <td>
    
      <TooltipButton @route="forum-edit" @model={{category.id}} @icon="fas fa-edit" @message="Edit Category" />
      <TooltipButton @onClick={{(fn this.setForumToDelete category)}} @icon="fa fa-trash" @message="Delete Category" />
    
    </td>
  </tr>
  {{/each}}
</tbody>
</table>
</div>


<BsModalSimple @title="Confirm Delete" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{true}} @open={{this.confirmDeleteForum}} @onSubmit={{(fn this.deleteForum this.forumToDelete)}} @onHide={{(fn this.setForumToDelete null)}}>
    You're about to delete {{this.forumToDelete.name}}. This cannot be undone.  Are you sure?
  </BsModalSimple>