{{page-title 'FS3 XP Costs'}}

<h1>FS3 XP Costs</h1>

<h2>Attributes</h2>

<table class="table table-striped">

<thead>
    <th>Current Level</th>
    <th>Cost</th>
</thead>

<tbody>
{{#each-in model.fs3.xp_costs.attribute as |currentLevel xpCost| }}
<tr><td>{{currentLevel}}</td><td>{{xpCost}}</td></tr>
{{/each-in}}
</tbody>
</table>

<h2>Action Skills</h2>

<table class="table table-striped">

<thead>
    <th>Current Level</th>
    <th>Cost</th>
</thead>

<tbody>
{{#each-in model.fs3.xp_costs.action as |currentLevel xpCost| }}
<tr><td>{{currentLevel}}</td><td>{{xpCost}}</td></tr>
{{/each-in}}
</tbody>
</table>

<h2>Background Skills</h2>

<table class="table table-striped">

<thead>
    <th>Current Level</th>
    <th>Cost</th>
</thead>

<tbody>
{{#each-in model.fs3.xp_costs.background as |currentLevel xpCost| }}
<tr><td>{{currentLevel}}</td><td>{{xpCost}}</td></tr>
{{/each-in}}
</tbody>
</table>

{{#if model.fs3.use_advantages}}
  <h2>Advantages</h2>

  {{#if (not model.fs3.allow_advantages_xp)}}
     <p class="alert alert-info">Advantages cannot be raised directly with XP. Contact staff.</p>
  {{/if}}

  <table class="table table-striped">

  <thead>
      <th>Current Level</th>
      <th>Cost</th>
  </thead>

  <tbody>
  {{#each-in model.fs3.xp_costs.advantage as |currentLevel xpCost| }}
  <tr><td>{{currentLevel}}</td><td>{{xpCost}}</td></tr>
  {{/each-in}}
  </tbody>
  </table>
    
{{/if}}

{{outlet}}