{{page-title this.model.name}}
<h1>{{this.model.name}}</h1>

{{#each this.model.values as |value|}}
<div class="fs3-gear-row">
    <div class="fs3-gear-title"><b>{{value.title}}</b></div>
    <div class="fs3-gear-detail"><AnsiFormat @text={{value.detail}} /></div>
</div>
{{/each}}


{{#if this.model.specials}}
<h3>Available Specials</h3>

{{#each this.model.specials as |value|}}
<div class="row fs3-gear-row">
    <div class="fs3-gear-title"><b>{{value.title}}</b></div>
    <div class="fs3-gear-detail">
      
      {{#each value.effects as |effect|}}
      {{effect}}<br>
      {{/each}}
    </div>
</div>
{{/each}}
{{/if}}
