{{title model.name}}
<h1>{{model.name}}</h1>

<table class="table table-striped">
    

{{#each model.values as |value|}}
<tr>
    <td><b>{{value.title}}</b></td>
    <td><AnsiFormat @text={{value.detail}} /></td>
</tr>
{{/each}}

{{#if model.specials}}
<h3>Available Specials</h3>


{{#each model.specials as |value|}}
<tr>
    <td><b>{{value.title}}</b></td>
    <td>
      
      {{#each value.effects as |effect|}}
      {{effect}}<br>
      {{/each}}
    </td>
</tr>
{{/each}}
{{/if}}

</table>
