{{title 'Edit Game'}}
<h1>Edit Game Information</h1>

<p>This information will be used on your web portal and in the <a href="http://arescentral.aresmush.com">AresCentral Game Directory</a> to advertise your game.</p>

<p><label for="name">Name:</label></p>
<p><Input @type="text" @size={{25}} @id="name" @value={{model.config.name}} /></p>

<p><label for="name">Website:</label> <span class="hint">(Leave blank to use your web portal address.)</span></p>
<p><Input @type="text" @size={{25}} @id="website" @value={{model.config.website}} /></p>

<p><label for="name">Category:</label>

<PowerSelect @selected={{model.config.category}} @options={{model.category_options}} @onchange={{action "categoryChanged"}} as |category|>
  {{category}}
</PowerSelect>

</p>

<p><label for="name">Status:</label>

<PowerSelect @selected={{model.config.status}} @options={{model.status_options}} @onchange={{action "statusChanged"}} as |status|>
  {{status}}
</PowerSelect>
                        
</p>

<div class="panel panel-body">
<p>
    <b>Public Game?:</b>

    <Input @type="checkbox" @checked={{model.config.public_game}} />
</p>

<p class="hint">Only public games are advertised on AresCentral.  You will not be able to link player handles until either your game is public or you use the <code>game/register</code> command to manually register your game.</p>

</div>

<p><b>Description:</b></p>

<MarkdownEditor @text={{model.config.description}} />


<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
          <LinkTo @route="setup" class="btn btn-default">Cancel</LinkTo>

          <button {{action 'save'}} class="btn btn-primary">Save</button>
          
         </div>
  </div>
</div>

<FlashMessages />
{{outlet}}