{{title 'Groups'}}
<h1>Groups</h1>

{{#each-in model as |key group| }}

<h2>{{group.name}}</h2>

<p><AnsiFormat @text={{group.desc}} /></p>

{{#if group.wiki}}
<p><LinkTo @route="wiki-page" @model={{group.wiki}}>Wiki Page</LinkTo></p>
{{/if}}

{{#if group.freeform}}
<i>Freeform group.  No specific values.</i>
{{else}}
<ul>
  {{#each group.values as |v| }}
  <li><b>{{v.value}}</b>
    {{#if v.desc}}
    - {{v.desc}}
    {{/if}}
    </li>
  {{/each}}
</ul>
{{/if}}

{{/each-in}}


{{outlet}}