{{title 'Help Topics'}}
<h1>Help Topics</h1>

<div class="row">
    
    <div class="col pull-right">
       <LinkTo @route="search-help" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i> Search Help</LinkTo>  
    </div>
    
</div>

{{#each model as |toc|}}
    <h3 class="help-heading">{{toc.toc_category}}</h3>
    
    <ul class="tutorial-help-list">
    {{#each toc.tutorials as |topic|}}
    <li><LinkTo @route="help-topic" @model={{topic.topic}}>{{topic.name}}</LinkTo> - {{topic.summary}}</li>
    {{/each}}
    </ul>

    <div class="reference-help-title">Command Topics:</div>
    <ul class="reference-help-list">
      {{#each toc.topics as |topic|}}
      <li><LinkTo @route="help-topic" @model={{topic.topic}}>{{topic.name}}</LinkTo></li>
      {{/each}}
    </ul>
{{/each}}

{{outlet}}