{{page-title this.model.name}}
<div id="help" class="help-topic">
    <AnsiFormat @text={{this.model.help}} />
</div>

{{#if this.model.related_topics}}
<h2>Other Topics in "{{this.model.section_title}}"</h2>
<ul class="reference-help-list">
{{#each this.model.related_topics as |related|}}
<li><LinkTo @route='help-topic' @model={{related.key}}>{{related.title}}</LinkTo></li>
{{/each}}
</ul>
{{/if}}

<hr>
<p><LinkTo @route="help"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Help</LinkTo></p>


{{#if this.model.can_manage}}

<div class="action-buttons">
        {{#if this.model.is_override}}
        <button {{action (mut this.confirmRestore) true}} class="btn btn-warning">Restore Default</button>
        {{/if}}
        <LinkTo @route="help-override" @model={{this.model.key}} class="btn btn-secondary">Customize</LinkTo>
</div>


<FlashMessages />

<BsModalSimple @title="Confirm Restore" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{true}} @open={{this.confirmRestore}} @onSubmit={{action "restore"}} @onHide={{action (mut this.confirmRestore) false}}>
    This will remove your custom help file and restore the default. This cannot be undone.  Are you sure?
  </BsModalSimple>
  
{{/if}}

{{outlet}}  