{{title model.name}}
<div id="help" class="help-topic">
    <AnsiFormat @text={{model.help}} />
</div>

{{#if model.related_topics}}
<h2>Other Topics in "{{model.section_title}}"</h2>
<ul class="reference-help-list">
{{#each model.related_topics as |related|}}
<li><LinkTo @route='help-topic' @model={{related.key}}>{{related.title}}</LinkTo></li>
{{/each}}
</ul>
{{/if}}

<hr>
<p><LinkTo @route="help"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Help</LinkTo></p>


{{#if model.can_manage}}

<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
        {{#if model.is_override}}
        <button {{action (mut confirmRestore) true}} class="btn btn-warning">Restore Default</button>
        {{/if}}
        <LinkTo @route="help-override" @model={{model.key}} class="btn btn-default">Customize</LinkTo>
    </div>
    </div>
</div>


<FlashMessages />

<BsModalSimple @title="Confirm Restore" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{false}} @open={{confirmRestore}} @onSubmit={{action "restore"}} @onHide={{action (mut confirmRestore) null}}>
    This will remove your custom help file and restore the default. This cannot be undone.  Are you sure?
  </BsModalSimple>
  
{{/if}}

{{outlet}}  