        <div class="jumbotron">

            <img src="/game/uploads/theme_images/jumbotron.png" />

            {{{ansi-format text=model.game.website_welcome}}}

            <p style="font-style:italic; font-size:95%;"><br>{{model.game.name}} is a MUSH - a multi-player text-based storytelling game.  New to MUSHing?  Check out the <a href="http://aresmush.com/mush-101" target="_blank">MUSH 101 Tutorial</a>.  On the web portal, you can {{#link-to 'chargen'}}create your character{{/link-to}}, view and edit {{#link-to 'characters'}}character profiles{{/link-to}}, read {{#link-to 'scenes'}}scene logs{{/link-to}} and more.</p>
        </div>


        <div class="row">
        <div class="splash-box col col-xs-6">
            <div class="sidebar-heading">
                <h2>Play on the Web <i class="fa fa-globe" aria-hidden="true"></i></h2>

            </div>

            <p>The {{#link-to "play"}}web client{{/link-to}} allows you to play the game from many web browsers.</p>
        </div>


        <div class="splash-box col col-xs-6">
            <div class="sidebar-heading">
                <h2>Play with a Client <i class="fa fa-desktop" aria-hidden="true"></i></h2>
            </div>
            <p>Connect to the game via your favorite <a href="https://aresmush.com/clients/" target="_blank">MU client</a> at <b>{{model.game.host}} port {{model.game.port}}</b>.</p>

        </div>
      </div>




{{outlet}}
