<div class="jumbotron">
  <img src="/game/uploads/theme_images/jumbotron.png" alt="MUSH Logo" >

  <AnsiFormat @text={{this.model.game.website_welcome}} />

<hr>

  <div class="splash">
          
            <p>{{this.model.game.name}} is a MUSH - a multi-player text-based storytelling game.</p>
            
            <p>New to MUSHing?  Check out the <a href="https://aresmush.com/mush-101" target="_blank"  rel="nofollow noopener">MUSH 101 Tutorial</a>.</p>
              
              <p>This is the <b>Web Portal</b>, which lets you play from a web browser. You can also point your favorite MU client at <b>{{this.model.game.host}} port {{this.model.game.port}}</b>.</p>
            
            <p>Not ready to make a character yet? 
              <LinkTo @route="tour">Tour the game</LinkTo> with a temporary one.
            </p>
    </div>
            
</div>        

{{outlet}}
