<div class="jumbotron">
  <img src="/game/uploads/theme_images/jumbotron.png" alt="MUSH Logo" >

  <AnsiFormat @text={{model.game.website_welcome}} />

<hr>

  <div class="splash">
          
            <p>{{model.game.name}} is a MUSH - a multi-player text-based storytelling game.</p>
            
            <p>New to MUSHing?  Check out the <a href="http://aresmush.com/mush-101" target="_blank"  rel="nofollow noopener">MUSH 101 Tutorial</a>.</p>
              
              <p>This is the <b>Web Portal</b>, which lets you interact with the game from a web browser.  You can <LinkTo @route="chargen">create your character</LinkTo>, <LinkTo @route="scenes-live">join scenes</LinkTo>, <LinkTo @route="chat">chat</LinkTo>, view and edit <LinkTo @route="characters">character profiles</LinkTo>, browse the game's <LinkTo @route="wiki">wiki</LinkTo>, read <LinkTo @route="scenes">scene logs</LinkTo> and more!</p>
            
            <p>In addition to playing through the web portal, you can point your favorite <a href="https://aresmush.com/clients/" target="_blank" rel="nofollow noopener">MU client</a> at <b>{{model.game.host}} port {{model.game.port}}</b>, or connect to the game with the <LinkTo @route="client">web client</LinkTo>.</p>
    </div>
            
</div>        

{{outlet}}
