<div class="jumbotron">
  <img src="/game/uploads/theme_images/jumbotron.png" />

  {{{ansi-format text=model.game.website_welcome}}}

<hr/>

  <div class="splash">

            <p>{{model.game.name}} is a MUSH - a multi-player text-based storytelling game. New to MUSHing?  Check out the <a href="http://aresmush.com/mush-101" target="_blank">MUSH 101 Tutorial</a>.</p>

              <p>On the web portal, you can {{#link-to 'chargen'}}create your character{{/link-to}}, {{#link-to 'scenes-live'}}join scenes{{/link-to}}, {{#link-to 'chat'}}chat{{/link-to}}, view and edit {{#link-to 'characters'}}character profiles{{/link-to}}, browse the game's {{#link-to 'wiki'}}wiki{{/link-to}}, read {{#link-to 'scenes'}}scene logs{{/link-to}} and more!</p>

            <p>Use the {{#link-to 'scenes-live'}}scenes page{{/link-to}} to play from your browser,  connect to the game with the {{#link-to "play"}}web client{{/link-to}}, or point a <a href="https://aresmush.com/clients/" target="_blank">MU client</a> to <b>{{model.game.host}} port {{model.game.port}}</b>.</p>
    </div>

</div>

{{outlet}}
