{{page-title 'Edit Job'}}
<h1>Edit Job {{this.model.job.id}}</h1>

<table>
 
 
 <tr>
   <td>
     <label>Title:</label>
   </td>
   <td>
     <p><Input @type="text" size={{25}} id="title" @value={{this.model.job.title}} /></p>
   </td>
   <td>
     &nbsp;
   </td>
 </tr>
 
 <tr>
    <td>
       <label>Submitter:</label>
     </td>
    
     <td>
      
       <PowerSelect @selected={{this.model.job.author}} @options={{this.model.characters}} @searchField="name" @searchEnabled=true @onChange={{action "submitterChanged"}} as |char|>
         {{char.name}}
       </PowerSelect>
      
     </td>
 </tr>
 
 <tr>
    <td>
       <label>Other Participants:</label>
     </td>
    
     <td>
      
        <PowerSelectMultiple @selected={{this.model.job.participants}} @options={{this.model.characters}} @searchEnabled=true @searchField="name" @onChange={{action "participantsChanged"}} as |char|>
         {{char.name}}
       </PowerSelectMultiple>
      
     </td>
 </tr>
 
 <tr>
   <td>
     <label>Tags:</label>
   </td>
   <td>
     <p><Input @type="text" size={{25}} id="tags" @value={{this.model.job.tags}} /></p>
   </td>
 </tr>
 
 
 <tr>
    <td>
       <label>Assigned To:</label>
     </td>
    
     <td>
      
       <PowerSelect @selected={{this.model.job.assigned_to}} @options={{this.model.job.job_admins}} @searchField="name" @searchEnabled=true @onChange={{action "assigneeChanged"}} as |char|>
         {{char.name}}
       </PowerSelect>
      
     </td>
 </tr>
 
  <tr>
    <td>
      <label>Category:</label>
    </td>
    <td>
        <span class="badge job-category job-category-{{this.model.job.category}}">
        {{this.model.job.category}}
        </span>
    </td>
    <td>
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

              <span class="btn btn-secondary" href="#">Change Category <span class="caret"></span></span> </a>
              <ul class="dropdown-menu">
              {{#each this.model.options.category_values as |category| }}
                <li><a href="#" {{action 'changeCategory' category}}><span class="badge job-category job-category-{{category}}">&nbsp;</span> {{category}}</a></li>
              {{/each}}
              </ul>
            </li>
        </ul>
      
    </td>
  </tr>
  
  <tr>
    <td>
       <label>Status: </label>
    </td>
    <td>
      <span class="badge job-status job-status-{{this.model.job.status}}">{{this.model.job.status}}</span>
    </td>
    <td>
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

              <span class="btn btn-secondary" href="#">Change Status <span class="caret"></span></span> </a>
              <ul class="dropdown-menu">
              {{#each this.model.options.status_values as |status| }}
                <li><a href="#" {{action 'changeStatus' status}}><span class="badge job-status job-status-{{status}}">&nbsp;</span> {{status}}</a></li>
              {{/each}}
              </ul>
            </li>
        </ul>
    </td>
  </tr>
  
</table>

     
<MarkdownEditor @text={{this.model.job.description}} />
   
<div class="float-right">
 <LinkTo @route="job" @model={{this.model.job.id}} class="btn btn-secondary">Cancel</LinkTo>  
 <button class="btn btn-primary" {{action 'saveJob'}}>Save</button>
</div>

<FlashMessages />
{{outlet}}


