{{#if this.model.options.is_job_admin}}
  {{page-title 'Create Job'}}
  <h1>Create a Job</h1>
{{else}}
  {{page-title 'Create Request'}}
  <h1>Create a Request</h1>
{{/if}}

<table class="create-job-fields">
 
 
 <tr>
   <td>
     <label>Title:</label>
   </td>
   <td>
     <p><Input @type="text" size={{25}} id="title" @value={{this.title}} /></p>
   </td>
   <td>
     &nbsp;
   </td>
 </tr>
 
 <tr>
    <td>
       <label>Submitter:</label>
     </td>
    
     <td>
      
       <PowerSelect @selected={{this.submitter}} @options={{this.model.characters}} @searchField="name" @searchEnabled=true @onChange={{action "submitterChanged"}} as |char|>
         {{char.name}}
       </PowerSelect>
      
     </td>
 </tr>
 
 <tr>
    <td>
       <label>Other Participants:</label>
     </td>
    
     <td>
      
        <PowerSelectMultiple @selected={{this.participants}} @options={{this.model.characters}} @searchEnabled=true @searchField="name" @onChange={{action "participantsChanged"}} as |char|>
         {{char.name}}
       </PowerSelectMultiple>
      
     </td>
 </tr>
   <tr>
     <td>
       <label>Tags:</label>
     </td>
     <td>
       <p><Input @type="text" size={{25}} id="tags" @value={{this.tags}} /></p>
     </td>
   </tr>
 
  <tr>
    <td>
      <label>Category:</label>
    </td>
    <td>
          {{#if this.category}}
            <span class="badge job-category job-category-{{this.category}}">
            {{this.category}}
            </span>
          {{else}}
            <span class="badge job-category job-category-{{this.model.options.request_category}}">
            {{this.model.options.request_category}}
            </span>
          {{/if}}
    </td>
    <td>
      
        <DropdownMenu @id="categoryDropdown" @title="Change Category">
              {{#each this.model.options.category_values as |category| }}
                <li><a href="#" {{action 'changeCategory' category}} class="dropdown-item"><span class="badge job-category job-category-{{category}}">&nbsp;</span> {{category}}</a></li>
              {{/each}}
        </DropdownMenu>
      
    </td>
  </tr>
  
 
  
</table>

     
 <MarkdownEditor @text={{this.description}} />
   
<div class="action-buttons">
  <LinkTo @route="jobs" class="btn btn-secondary">Cancel</LinkTo>
  <button class="btn btn-primary" {{action 'createJob'}}>Create</button>
</div>

<FlashMessages />
{{outlet}}


