{{page-title 'Edit Job'}}
<h1>Edit Job {{this.model.job.id}}</h1>

<div class="edit-job-fields">
 
 <div class="edit-job-row">
   
     <label>Title:</label>
   
     <Input @type="text" size={{25}} id="title" @value={{this.model.job.title}} /><
 </div>
 
 <div class="edit-job-row">
       <label>Submitter:</label>
     
       <PowerSelect @selected={{this.model.job.author}} @options={{this.model.characters}} @searchField="name" @searchEnabled=true @onChange={{this.submitterChanged}} as |char|>
         {{char.name}}
       </PowerSelect>
      
 </div>
 
 <div class="edit-job-row">

       <label>Other Participants:</label>
     
      
        <PowerSelectMultiple @selected={{this.model.job.participants}} @options={{this.model.characters}} @searchEnabled=true @searchField="name" @onChange={{this.participantsChanged}} as |char|>
         {{char.name}}
       </PowerSelectMultiple>
      
  </div>
  
 <div class="edit-job-row">
     <label>Tags:</label>
        
     <Input @type="text" size={{25}} id="tags" @value={{this.model.job.tags}} />
 </div>
 
 
 <div class="edit-job-row">
       <label>Assigned To:</label>     
      
       <PowerSelect @selected={{this.model.job.assigned_to}} @options={{this.model.job.job_admins}} @searchField="name" @searchEnabled=true @onChange={{this.assigneeChanged}} as |char|>
         {{char.name}}
       </PowerSelect>
      
  </div>
 
 <div class="edit-job-row">
      <label>Category:</label>

        <span class="badge job-category job-category-{{this.model.job.category}}">
        {{this.model.job.category}}
        </span>

            
      <DropdownMenu @id="categoryDropdown" @title="Change Category">
            {{#each this.model.options.category_values as |category| }}
              <li><a href="#" {{on 'click' (fn this.changeCategory category)}} class="dropdown-item"><span class="badge job-category job-category-{{category}}">&nbsp;</span> {{category}}</a></li>
            {{/each}}
      </DropdownMenu>
            
  </div>
  
 <div class="edit-job-row">
       <label>Status: </label>
      <span class="badge job-status job-status-{{this.model.job.status}}">{{this.model.job.status}}</span>

      
      <DropdownMenu @id="statusDropdown" @title="Change Status">
        {{#each this.model.options.status_values as |status| }}
          <li><a href="#" {{on 'click' (fn this.changeStatus status)}} class="dropdown-item"><span class="badge job-status job-status-{{status}}">&nbsp;</span> {{status}}</a></li>
        {{/each}}
      </DropdownMenu>
    
  </div>
  
  {{#each-in this.model.job.custom_fields as |id field|}}

   <div class="edit-job-row">
      <label>{{field.name}}</label>

      {{#if (eq field.field_type 'dropdown')}}
        {{field.value}}
      {{else if (eq field.field_type 'date')}}
        <div class="edit-custom-date">
          <EmberFlatpickr
            id="custom-{{id}}"
            @date={{field.value}}
            @altInput={{true}}
            @altInputFormat="M/D/Y"
            @inline={{true}}
            @mode="single"
            @onChange={{this.changeCustomDate}}
          />
        </div>
      {{else}}
        <Input @type="text" size={{25}} id="custom-{{id}}" @value={{field.value}} />
      {{/if}}

      {{#if (eq field.field_type 'dropdown')}}
        <DropdownMenu @id="custom-{{id}}" @title="Change {{field.name}}">
          {{#each field.dropdown_values as |val| }}
            <li><a href="#" {{on 'click' (fn this.changeCustomDropdown id val)}} class="dropdown-item">{{val}}</a></li>
          {{/each}}
        </DropdownMenu>
      {{else}}
        &nbsp;
      {{/if}}
  </div>
  {{/each-in}}
  
</div>

     
<MarkdownEditor @text={{this.model.job.description}} />
   
<div class="action-buttons">
 <LinkTo @route="job" @model={{this.model.job.id}} class="btn btn-secondary">Cancel</LinkTo>  
 <button class="btn btn-primary" {{on 'click' this.saveJob}}>Save</button>
</div>

<FlashMessages />
{{outlet}}


