{{page-title model.job.title}}
<h1>#{{model.job.id}} - {{model.job.title}}</h1>

<p><LinkTo @route="jobs"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> 
     {{#if model.job.is_job_admin}}
     Back to Jobs
     {{else}}
     Back to Requests
     {{/if}}
</LinkTo>

<div class="clearfix"></div>

</p>

  {{#if newActivity}}
      <div class="alert alert-warning">
        There has been new activity on this job.  Reload the page to update it.
      </div>
  {{/if}}
  
<table>
  <tr>
    <td>
      <label>Author:</label>
    </td>
    <td>
      <CharIconInline @char={{model.job.author}} />
    </td>
    <td>
       {{#if model.job.is_open }}
          <ul class="nav navbar-nav">    
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                <span class="btn btn-default" href="#">Job Menu <span class="caret"></span></span> </a>
                <ul class="dropdown-menu">
                <li><a href="#" {{action 'closeJob'}}>Close Job</a></li>
                {{#if model.job.is_job_admin}}
                  <li><LinkTo @route="job-edit" @model={{model.job.id}}>Edit Job</LinkTo></li>
                {{/if}}
                {{#if model.job.fs3_enabled}}
                  <li><a href="#" {{action (mut selectSkillRoll) true}}>Add Ability Roll</a></li>
                {{/if}}
                {{#if model.job.is_approval_job}}
                  <li><LinkTo @route="app-review" @model={{model.job.author.id}}>App Review for {{model.job.author.name}}</LinkTo></li>
                  <li><LinkTo @route="char" @model={{model.job.author.name}}>Profile for {{model.job.author.name}}</LinkTo></li>
                {{/if}}
                </ul>
              </li>
          </ul>
      {{/if}}
    </td>
  </tr>

  <tr>
    <td>
      <label>Other Participants:</label>
    </td>
    <td>
      {{#each model.job.participants as |participant|}}
        <CharIconInline @char={{participant}} />
      {{/each}}
    </td>
    <td>
      
      <div class="job-participant-edit-box">
       
        {{#if editParticipants}}
         <PowerSelectMultiple @selected={{newParticipants}} @options={{model.characters}} @searchEnabled=true @searchField="name" @onChange={{action "participantsChanged"}} as |char|>
          {{char.name}}
        </PowerSelectMultiple>
        <button class="btn btn-default" {{action (mut editParticipants) false}}>Cancel</button>
        <button class="btn btn-primary" {{action 'saveParticipants'}}>Save</button>
      {{else}}
        <button class="btn btn-default" {{action (mut editParticipants) true}}>Edit</button>
      {{/if}}
        
        </div>
      
    </td>
  </tr>
  
  <tr>
    <td>
     <label>Assigned To:</label> 
    </td>
    <td>
      {{#if model.job.assigned_to}}
       <CharIconInline @char={{model.job.assigned_to}} /> 
       {{/if}}
    </td>
    <td>
      {{#if model.job.is_job_admin}}
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

            <span class="btn btn-default" href="#">Assign <span class="caret"></span></span> </a>
            <ul class="dropdown-menu">
            {{#each model.job.job_admins as |staff| }}
              <li><a href="#" {{action 'assignJob' staff}}>{{staff.name}}</a></li>
            {{/each}}
            </ul>
          </li>
      </ul>
      {{else}}
      &nbsp;
      {{/if}}
    </td>
  </tr>
  
  <tr>
    <td>
       <label>Status: </label>
    </td>
    <td>
      <span class="label label-info job-status job-status-{{model.job.status}}">{{model.job.status}}</span>
    </td>
    <td>
      {{#if model.job.is_job_admin}}
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

              <span class="btn btn-default" href="#">Change Status <span class="caret"></span></span> </a>
              <ul class="dropdown-menu">
              {{#each model.options.status_values as |status| }}
                <li><a href="#" {{action 'changeData' 'status' status}}><span class="label job-status job-status-{{status}}">&nbsp;</span> {{status}}</a></li>
              {{/each}}
              </ul>
            </li>
        </ul>
      {{else}}
      &nbsp;
      {{/if}}
    </td>
  </tr>
  
  <tr>
    <td>
      <label>Category:</label>
    </td>
    <td>
        <span class="label label-info job-category job-category-{{model.job.category}}">{{model.job.category}}</span>
    </td>
    <td>
      {{#if model.job.is_job_admin}}
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

              <span class="btn btn-default" href="#">Change Category <span class="caret"></span></span> </a>
              <ul class="dropdown-menu">
              {{#each model.options.category_values as |category| }}
                <li><a href="#" {{action 'changeData' 'category' category}}><span class="label job-category job-category-{{category}}">&nbsp;</span> {{category}}</a></li>
              {{/each}}
              </ul>
            </li>
        </ul>
      {{else}}
      &nbsp;
      {{/if}}
    </td>
  </tr>
  
  
  <tr>
    <td>
      <label>Submitted:</label>
    </td>
    <td>
      {{model.job.created}}
    </td>
    <td>
      &nbsp;
    </td>
  </tr>
  
  
</table>


<hr>

    <AnsiFormat @text={{model.job.description}} />

<hr>

{{#each model.job.replies as |r|}}
 <div class="job-reply {{if r.admin_only 'admin-only-reply' '' }}">
     <div class="hint pull-right text-right">

         <p>{{r.created}}</p>
     
         {{#if model.job.is_job_admin}}
           <a href="#" {{action 'deleteReply' r.id}}><i class="fa fa-trash" aria-label="Delete Reply"></i></a>     
         {{/if}}
     
     </div>
     
     
     {{#if r.admin_only}}
     <div class="label admin-only-reply-label">To Admins Only</div>
     {{/if}}
     
     <p><CharIconInline @char={{r.author}} /></p>
       
     
             
         <AnsiFormat @text={{r.message}} />
  </div>
     <hr>
{{/each}}

  {{#if newActivity}}
      <div class="alert alert-warning">
        There has been new activity on this job.  Reload the page to update it.
      </div>
  {{/if}}
  
<div class="inline-response">
<h3>Add Reply</h3>

    {{#if model.job.is_category_admin}}
        Respond to Admin Only? <Input @type="checkbox" @checked={{replyAdminOnly}} /> 
    {{/if}}

  <div class="{{if replyAdminOnly 'admin-only-reply' ''}}">
    {{#if replyAdminOnly}}
    <div class="label admin-only-reply-label">To Admins Only</div>
    {{/if}}
    <div>
    </div>
        <MarkdownEditor @text={{reply}} />
    </div>
    
    {{#if model.job.responses}}
    <b>Pre-Made Responses:</b>
     <PowerSelect @selected='' @options={{model.job.responses}} @searchEnabled=true @searchField="name" @onChange={{action "responseSelected"}} as |resp|>
      {{resp.name}}
    </PowerSelect>
    {{/if}}
</div>


<div class="row">
    <div class="col col-xs-12">
     {{#if model.job.is_open }}
        <ul class="nav navbar-nav">    
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

              <span class="btn btn-default" href="#">Job Menu <span class="caret"></span></span> </a>
              <ul class="dropdown-menu">
              <li><a href="#" {{action 'closeJob'}}>Close Job</a></li>
              {{#if model.job.is_approval_job}}
                <li><LinkTo @route="app-review" @model={{model.job.author.id}}>App Review for {{model.job.author.name}}</LinkTo></li>
                <li><LinkTo @route="char" @model={{model.job.author.name}}>Profile for {{model.job.author.name}}</LinkTo></li>
              {{/if}}
              {{#if model.job.fs3_enabled}}
              <li><a href="#" {{action (mut selectSkillRoll) true}}>Add Ability Roll</a></li>
              {{/if}}
              
            </ul>
            </li>
        </ul>
    {{/if}}
        
        <div class="pull-right">
        <button class="btn btn-primary" {{action 'addReply'}}>Reply</button>
        </div>
  </div>
</div>

<Fs3Roll @job={{model.job}} @destinationType="job" @abilities={{model.abilities}} @selectSkillRoll={{selectSkillRoll}} />

<FlashMessages />
{{outlet}}