{{title model.title}}
<h1>#{{model.id}} - {{model.title}}</h1>

<p>{{#link-to 'jobs'}}<i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> 
     {{#if model.job_admin}}
     Back to Jobs
     {{else}}
     Back to Requests
     {{/if}}
{{/link-to}}</p>

     <p>{{char-icon-inline char=model.author}}</p>

<p><label>Submitted: </label> {{model.created}}</p>

<p><label>Status: </label> <span class="label label-info job-status job-status-{{model.status}}">{{model.status}}</span></p>

<hr/>

    {{{ansi-format text=model.description}}}

<hr/>

{{#each model.replies as |r|}}
 <div>
     
     <p>{{char-icon-inline char=r.author}}</p>
     
     <p><i> {{r.created}} </i></p>
     
     
         {{#if r.admin_only}}
         <div class="label label-danger">To Admins Only</div>
         {{/if}}
         {{{ansi-format text=r.message}}}
         
     
     <hr/>
  </div>
{{/each}}

<div class="inline-response">
<h3>Add Reply</h3>

    {{#if model.job_admin}}
        Respond to Admin Only? {{input type='checkbox' checked=replyAdminOnly}} 
    {{/if}}
        {{markdown-editor text=reply}}
        
</div>


<div class="row">
    <div class="col col-xs-12">
     {{#if model.is_open }}
        <ul class="nav navbar-nav">    
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

              <span class="btn btn-default" href="#" role="button">Job Menu <span class="caret"></span></span> </a>
              <ul class="dropdown-menu">
              <li><a href="#" {{action 'closeJob'}}>Close Job</a></li>
              </ul>
            </li>
        </ul>
    {{/if}}
        
        <div class="pull-right">
        <button class="btn btn-primary" {{action 'addReply'}}>Reply</button>
        </div>
  </div>
</div>





{{outlet}}