{{page-title this.model.job.title}}
<h1>#{{this.model.job.id}} - {{this.model.job.title}}</h1>

<p><LinkTo @route="jobs"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> 
     {{#if this.model.job.is_job_admin}}
     Back to Jobs
     {{else}}
     Back to Requests
     {{/if}}
</LinkTo>

<div class="clearfix"></div>

</p>

  {{#if this.newActivity}}
      <div class="alert alert-warning">
        There has been new activity on this job.  Reload the page to update it.
      </div>
  {{/if}}
  
<table>
  <tr>
    <td>
      <label>Author:</label>
    </td>
    <td>
      <CharIconInline @char={{this.model.job.author}} />
    </td>
    <td>
       {{#if this.model.job.is_open }}
          <ul class="nav navbar-nav">    
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                <span class="btn btn-secondary" href="#">Job Menu <span class="caret"></span></span> </a>
                <ul class="dropdown-menu">
                <li><a href="#" {{action 'closeJob'}}>Close Job</a></li>
                {{#if this.model.job.is_job_admin}}
                  <li><LinkTo @route="job-edit" @model={{this.model.job.id}}>Edit Job</LinkTo></li>
                {{/if}}
                {{#if this.model.job.fs3_enabled}}
                  <li><a href="#" {{action (mut this.selectSkillRoll) true}}>Add Ability Roll</a></li>
                {{/if}}
                {{#if this.model.job.is_approval_job}}
                  <li><LinkTo @route="app-review" @model={{this.model.job.author.id}}>App Review for {{this.model.job.author.name}}</LinkTo></li>
                  <li><LinkTo @route="char" @model={{this.model.job.author.name}}>Profile for {{this.model.job.author.name}}</LinkTo></li>
                {{/if}}
                {{#if this.model.job.is_roster_job}}
                  <li><a href="#" {{action 'approveRoster'}}>Approve Roster for {{this.model.job.roster_name}}</a></li>
                  <li><a href="#" {{action 'rejectRoster'}}>Reject Roster for {{this.model.job.roster_name}}</a></li>
                {{/if}}
                </ul>
              </li>
          </ul>
      {{/if}}
    </td>
  </tr>

  <tr>
    <td>
      <label>Other Participants:</label>
    </td>
    <td>
      {{#each this.model.job.participants as |participant|}}
        <CharIconInline @char={{participant}} />
      {{/each}}
    </td>
    <td>
      
      <div class="job-participant-edit-box">
       
        {{#if this.editParticipants}}
         <PowerSelectMultiple @selected={{this.newParticipants}} @options={{this.model.characters}} @searchEnabled=true @searchField="name" @onChange={{action "participantsChanged"}} as |char|>
          {{char.name}}
        </PowerSelectMultiple>
        <button class="btn btn-secondary" {{action (mut this.editParticipants) false}}>Cancel</button>
        <button class="btn btn-primary" {{action 'saveParticipants'}}>Save</button>
      {{else}}
        <button class="btn btn-secondary" {{action (mut this.editParticipants) true}}>Edit</button>
      {{/if}}
        
        </div>
      
    </td>
  </tr>
  
  <tr>
    <td>
     <label>Assigned To:</label> 
    </td>
    <td>
      {{#if this.model.job.assigned_to}}
       <CharIconInline @char={{this.model.job.assigned_to}} /> 
       {{/if}}
    </td>
    <td>
      {{#if this.model.job.is_job_admin}}
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

            <span class="btn btn-secondary" href="#">Assign <span class="caret"></span></span> </a>
            <ul class="dropdown-menu">
            {{#each this.model.job.job_admins as |staff| }}
              <li><a href="#" {{action 'assignJob' staff}}>{{staff.name}}</a></li>
            {{/each}}
            </ul>
          </li>
      </ul>
      {{else}}
      &nbsp;
      {{/if}}
    </td>
  </tr>
  
  <tr>
    <td>
       <label>Status: </label>
    </td>
    <td>
      <span class="badge job-status job-status-{{this.model.job.status}}">{{this.model.job.status}}</span>
    </td>
    <td>
      {{#if this.model.job.is_job_admin}}
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

              <span class="btn btn-secondary" href="#">Change Status <span class="caret"></span></span> </a>
              <ul class="dropdown-menu">
              {{#each this.model.options.status_values as |status| }}
                <li><a href="#" {{action 'changeData' 'status' status}}><span class="badge job-status job-status-{{status}}">&nbsp;</span> {{status}}</a></li>
              {{/each}}
              </ul>
            </li>
        </ul>
      {{else}}
      &nbsp;
      {{/if}}
    </td>
  </tr>
  
  <tr>
    <td>
      <label>Category:</label>
    </td>
    <td>
        <span class="badge job-category job-category-{{this.model.job.category}}">{{this.model.job.category}}</span>
    </td>
    <td>
      {{#if this.model.job.is_job_admin}}
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

              <span class="btn btn-secondary" href="#">Change Category <span class="caret"></span></span> </a>
              <ul class="dropdown-menu">
              {{#each this.model.options.category_values as |category| }}
                <li><a href="#" {{action 'changeData' 'category' category}}><span class="badge job-category job-category-{{category}}">&nbsp;</span> {{category}}</a></li>
              {{/each}}
              </ul>
            </li>
        </ul>
      {{else}}
      &nbsp;
      {{/if}}
    </td>
  </tr>
  
  
  <tr>
    <td>
      <label>Submitted:</label>
    </td>
    <td>
      {{this.model.job.created}}
    </td>
    <td>
      &nbsp;
    </td>
  </tr>
  
  {{#if this.model.job.tags}}
  <tr>
    <td>
      <label>Tags:</label>
    </td>
    <td> 
      {{#each this.model.job.tags as |tag|}}
      <LinkTo @route="wiki-tag" @model={{tag}}>{{tag}}</LinkTo>
      {{/each}}
    </td>
    <td>
      &nbsp;
    </td>
  </tr>
  {{/if}}
</table>

<br>

<p><a href="#bottom"><i class="fas fa-angle-double-down"></i> Jump to End</a></p>

<hr>

    <AnsiFormat @text={{this.model.job.description}} />

<hr>

{{#each this.model.job.replies as |r|}}
 <div class="job-reply {{if r.admin_only 'admin-only-reply' '' }}">
     <div class="hint float-right text-right">

         <p>{{r.created}}</p>
     
         {{#if this.model.job.is_job_admin}}
           <a href="#" {{action 'deleteReply' r.id}}><i class="fa fa-trash" aria-label="Delete Reply"></i></a>     
         {{/if}}
     
     </div>
     
     
     {{#if r.admin_only}}
     <div class="badge admin-only-reply-label">To Admins Only</div>
     {{/if}}
     
     <p><CharIconInline @char={{r.author}} /></p>
       
     
             
         <AnsiFormat @text={{r.message}} />
  </div>
     <hr>
{{/each}}

  {{#if this.newActivity}}
      <div class="alert alert-warning">
        There has been new activity on this job.  Reload the page to update it.
      </div>
  {{/if}}
  
<div class="inline-response">
<h3>Add Reply</h3>

    {{#if this.model.job.is_category_admin}}
        Respond to Admin Only? <Input @type="checkbox" @checked={{this.replyAdminOnly}} /> 
    {{/if}}

  <div class="{{if this.replyAdminOnly 'admin-only-reply' ''}}">
    {{#if this.replyAdminOnly}}
    <div class="badge admin-only-reply-label">To Admins Only</div>
    {{/if}}
    <div>
    </div>
        <MarkdownEditor @text={{this.reply}} />
    </div>
    
    {{#if this.model.job.responses}}
      <div class="preset-responses">
        <b>Pre-Made Responses:</b>
         <PowerSelect @selected='' @options={{this.model.job.responses}} @searchEnabled=true @searchField="name" @onChange={{action "responseSelected"}} as |resp|>
          {{resp.name}}
        </PowerSelect>
      </div>
    {{/if}}
</div>

    
<a name="bottom"></a>

<p><a href="#top"><i class="fas fa-chevron-circle-up"></i> Jump to Top</a></p>


<div class="row">
    <div class="col col-xs-12">
     {{#if this.model.job.is_open }}
        <ul class="nav navbar-nav">    
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-label="Job Menu">

              <span class="btn btn-secondary" href="#">Job Menu <span class="caret"></span></span> </a>
              <ul class="dropdown-menu">
              <li><a href="#" {{action 'closeJob'}}>Close Job</a></li>
              {{#if this.model.job.is_job_admin}}
                <li><LinkTo @route="job-edit" @model={{this.model.job.id}}>Edit Job</LinkTo></li>
              {{/if}}
              {{#if this.model.job.is_approval_job}}
                <li><LinkTo @route="app-review" @model={{this.model.job.author.id}}>App Review for {{this.model.job.author.name}}</LinkTo></li>
                <li><LinkTo @route="char" @model={{this.model.job.author.name}}>Profile for {{this.model.job.author.name}}</LinkTo></li>
              {{/if}}
              {{#if this.model.job.fs3_enabled}}
              <li><a href="#" {{action (mut this.selectSkillRoll) true}}>Add Ability Roll</a></li>
              {{/if}}
              
            </ul>
            </li>
        </ul>
    {{/if}}
        
        <div class="float-right">
        <button class="btn btn-primary" {{action 'addReply'}}>Reply</button>
        </div>
  </div>
</div>

<Fs3Roll @job={{this.model.job}} @destinationType="job" @abilities={{this.model.abilities}} @selectSkillRoll={{this.selectSkillRoll}} />

<FlashMessages />
{{outlet}}