{{title model.title}}
<h1>#{{model.id}} - {{model.title}}</h1>

<p>{{#link-to 'jobs'}}<i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> 
     {{#if model.is_job_admin}}
     Back to Jobs
     {{else}}
     Back to Requests
     {{/if}}
{{/link-to}}

<div class="clearfix"></div>

</p>

<table>
  <tr>
    <td>
      <label>Author:</label>
    </td>
    <td>
      {{char-icon-inline char=model.author}}
    </td>
    <td>
      &nbsp;
    </td>
  </tr>

  <tr>
    <td>
     <label>Assigned To:</label> 
    </td>
    <td>
     {{char-icon-inline char=model.assigned_to}} 
    </td>
    <td>
      {{#if model.is_job_admin}}
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

            <span class="btn btn-default" href="#" role="button">Assign <span class="caret"></span></span> </a>
            <ul class="dropdown-menu">
            {{#each model.job_admin as |staff| }}
              <li><a href="#" {{action 'assignJob' staff}}>{{staff.name}}</a></li>
            {{/each}}
            </ul>
          </li>
      </ul>
      {{else}}
      &nbsp;
      {{/if}}
    </td>
  </tr>
  
  <tr>
    <td>
       <label>Status: </label>
    </td>
    <td>
      <span class="label label-info job-status job-status-{{model.status}}">{{model.status}}</span>
    </td>
    <td>
      {{#if model.is_job_admin}}
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

              <span class="btn btn-default" href="#" role="button">Change Status <span class="caret"></span></span> </a>
              <ul class="dropdown-menu">
              {{#each model.status_values as |status| }}
                <li><a href="#" {{action 'changeStatus' status}}>{{status}}</a></li>
              {{/each}}
              </ul>
            </li>
        </ul>
      {{else}}
      &nbsp;
      {{/if}}
    </td>
  </tr>
  
  <tr>
    <td>
      <label>Category:</label>
    </td>
    <td>
      {{model.category}}
    </td>
    <td>
      &nbsp;
    </td>
  </tr>
  
  
  <tr>
    <td>
      <label>Submitted:</label>
    </td>
    <td>
      {{model.created}}
    </td>
    <td>
      &nbsp;
    </td>
  </tr>
  
  
</table>


<hr/>

    {{{ansi-format text=model.description}}}

<hr/>

{{#each model.replies as |r|}}
 <div>
     
     <p>{{char-icon-inline char=r.author}}</p>
     
     <p><i> {{r.created}} </i></p>
     
     
         {{#if r.admin_only}}
         <div class="label label-danger">To Admins Only</div>
         {{/if}}
         {{{ansi-format text=r.message}}}
         
     
     <hr/>
  </div>
{{/each}}

<div class="inline-response">
<h3>Add Reply</h3>

    {{#if model.is_job_admin}}
        Respond to Admin Only? {{input type='checkbox' checked=replyAdminOnly}} 
    {{/if}}
        {{markdown-editor text=reply}}
        
</div>


<div class="row">
    <div class="col col-xs-12">
     {{#if model.is_open }}
        <ul class="nav navbar-nav">    
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

              <span class="btn btn-default" href="#" role="button">Job Menu <span class="caret"></span></span> </a>
              <ul class="dropdown-menu">
              <li><a href="#" {{action 'closeJob'}}>Close Job</a></li>
              {{#if model.is_approval_job}}
              <li>{{#link-to 'app-review' model.author.id}}Review {{model.author.name}}{{/link-to}}</li>
              {{/if}}
              </ul>
            </li>
        </ul>
    {{/if}}
        
        <div class="pull-right">
        <button class="btn btn-primary" {{action 'addReply'}}>Reply</button>
        </div>
  </div>
</div>





{{outlet}}