{{title model.job.title}}
<h1>#{{model.job.id}} - {{model.job.title}}</h1>

<p>{{#link-to 'jobs'}}<i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> 
     {{#if model.job.is_job_admin}}
     Back to Jobs
     {{else}}
     Back to Requests
     {{/if}}
{{/link-to}}

<div class="clearfix"></div>

</p>

<table>
  <tr>
    <td>
      <label>Author:</label>
    </td>
    <td>
      {{char-icon-inline char=model.job.author}}
    </td>
    <td>
       {{#if model.job.is_open }}
          <ul class="nav navbar-nav">    
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                <span class="btn btn-default" href="#">Job Menu <span class="caret"></span></span> </a>
                <ul class="dropdown-menu">
                <li><a href="#" {{action 'closeJob'}}>Close Job</a></li>
                {{#if model.job.is_approval_job}}
                <li>{{#link-to 'app-review' model.job.author.id}}App Review for {{model.job.author.name}}{{/link-to}}</li>
                <li>{{#link-to 'char' model.job.author.name}}Profile for {{model.job.author.name}}{{/link-to}}</li>
                {{/if}}
                </ul>
              </li>
          </ul>
      {{/if}}
    </td>
  </tr>

  <tr>
    <td>
      <label>Other Participants:</label>
    </td>
    <td>
      {{#each model.job.participants as |participant|}}
        {{char-icon-inline char=participant}}
      {{/each}}
    </td>
    <td>
      
      <div class="job-participant-edit-box">
       
        {{#if editParticipants}}
         {{#power-select-multiple selected=newParticipants options=model.characters searchField="name" onchange=(action "participantsChanged") as |char|}}
          {{char.name}}
        {{/power-select-multiple}}
        <button class="btn btn-default" {{action (mut editParticipants) false}}>Cancel</button>
        <button class="btn btn-primary" {{action 'saveParticipants'}}>Save</button>
      {{else}}
        <button class="btn btn-default" {{action (mut editParticipants) true}}>Edit</button>
      {{/if}}
        
        </div>
      
    </td>
  </tr>
  
  <tr>
    <td>
     <label>Assigned To:</label> 
    </td>
    <td>
      {{#if model.job.assigned_to}}
       {{char-icon-inline char=model.job.assigned_to}} 
       {{/if}}
    </td>
    <td>
      {{#if model.job.is_job_admin}}
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

            <span class="btn btn-default" href="#">Assign <span class="caret"></span></span> </a>
            <ul class="dropdown-menu">
            {{#each model.job.job_admins as |staff| }}
              <li><a href="#" {{action 'assignJob' staff}}>{{staff.name}}</a></li>
            {{/each}}
            </ul>
          </li>
      </ul>
      {{else}}
      &nbsp;
      {{/if}}
    </td>
  </tr>
  
  <tr>
    <td>
       <label>Status: </label>
    </td>
    <td>
      <span class="label label-info job-status job-status-{{model.job.status}}">{{model.job.status}}</span>
    </td>
    <td>
      {{#if model.job.is_job_admin}}
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

              <span class="btn btn-default" href="#">Change Status <span class="caret"></span></span> </a>
              <ul class="dropdown-menu">
              {{#each model.options.status_values as |status| }}
                <li><a href="#" {{action 'changeData' 'status' status}}><span class="label job-status job-status-{{status}}">&nbsp;</span> {{status}}</a></li>
              {{/each}}
              </ul>
            </li>
        </ul>
      {{else}}
      &nbsp;
      {{/if}}
    </td>
  </tr>
  
  <tr>
    <td>
      <label>Category:</label>
    </td>
    <td>
        <span class="label label-info job-category job-category-{{model.job.category}}">{{model.job.category}}</span>
    </td>
    <td>
      {{#if model.job.is_job_admin}}
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

              <span class="btn btn-default" href="#">Change Category <span class="caret"></span></span> </a>
              <ul class="dropdown-menu">
              {{#each model.options.category_values as |category| }}
                <li><a href="#" {{action 'changeData' 'category' category}}><span class="label job-category job-category-{{category}}">&nbsp;</span> {{category}}</a></li>
              {{/each}}
              </ul>
            </li>
        </ul>
      {{else}}
      &nbsp;
      {{/if}}
    </td>
  </tr>
  
  
  <tr>
    <td>
      <label>Submitted:</label>
    </td>
    <td>
      {{model.job.created}}
    </td>
    <td>
      &nbsp;
    </td>
  </tr>
  
  
</table>


<hr>

    {{{ansi-format text=model.job.description}}}

<hr>

{{#each model.job.replies as |r|}}
 <div class="job-reply {{if r.admin_only 'admin-only-reply' '' }}">
     {{#if r.admin_only}}
     <div class="label admin-only-reply-label">To Admins Only</div>
     {{/if}}
     
     
     <p>{{char-icon-inline char=r.author}}</p>
     <p><i> {{r.created}} </i> 
      {{#if model.job.is_job_admin}}
        <a href="#" {{action 'deleteReply' r.id}}><i class="fa fa-trash" aria-label="Delete Reply"></i></a>     
      {{/if}}
      </p>
             
         {{{ansi-format text=r.message}}}
  </div>
     <hr>
{{/each}}

<div class="inline-response">
<h3>Add Reply</h3>

    {{#if model.job.is_category_admin}}
        Respond to Admin Only? {{input type='checkbox' checked=replyAdminOnly}} 
    {{/if}}

  <div class="{{if replyAdminOnly 'admin-only-reply' ''}}">
    {{#if replyAdminOnly}}
    <div class="label admin-only-reply-label">To Admins Only</div>
    {{/if}}
    <div>
    </div>
        {{markdown-editor text=reply}}
    </div>
</div>


<div class="row">
    <div class="col col-xs-12">
     {{#if model.job.is_open }}
        <ul class="nav navbar-nav">    
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

              <span class="btn btn-default" href="#">Job Menu <span class="caret"></span></span> </a>
              <ul class="dropdown-menu">
              <li><a href="#" {{action 'closeJob'}}>Close Job</a></li>
              {{#if model.job.is_approval_job}}
                <li>{{#link-to 'app-review' model.job.author.id}}App Review for {{model.job.author.name}}{{/link-to}}</li>
                <li>{{#link-to 'char' model.job.author.name}}Profile for {{model.job.author.name}}{{/link-to}}</li>
              {{/if}}
              </ul>
            </li>
        </ul>
    {{/if}}
        
        <div class="pull-right">
        <button class="btn btn-primary" {{action 'addReply'}}>Reply</button>
        </div>
  </div>
</div>

{{flash-messages}}
{{outlet}}