{{page-title "Edit Job Category"}}
<h1>Edit Job Category</h1>

  
   <div class="form-item">
    <div class="form-item-label">
        Name:
    </div>
    <div class="form-item-entry">
        <Input @type="text" size={{25}} id="name" @enter={{this.save}} @value={{this.model.category.name}} />
    </div> 
  </div>
  
   <div class="form-item">
    <div class="form-item-label">
        Color:
    </div>
    <div class="form-item-entry">
        <Input @type="text" size={{25}} id="color" @enter={{this.save}} @value={{this.model.category.color}} />
        <div class="hint">Web portal colors are determined by custom styling for job-category-NAME.</div>
    </div> 
  </div>  
  
  <div class="form-item">
    <div class="form-item-label">
      <b>Roles:</b>
    </div>

    <div class="form-item-entry">
      <PowerSelectMultiple @selected={{this.model.category.roles}} @options={{this.model.roles}} @onChange={{this.rolesChanged}} as |role|>
        {{role}}
      </PowerSelectMultiple>
    </div>
  </div>
  
  <div class="form-item">
    <div class="form-item-label">
      <b>Template:</b>
    </div>

    <div class="form-item-entry">
      <Textarea @value={{this.model.category.template}} cols={{80}} rows=5 class="job-template-editor" />
    </div>
  </div>

<div class="action-buttons">
  <LinkTo @route="jobcat-manage" class="btn btn-secondary">Cancel</LinkTo>  
  <button {{on 'click' this.save}} class="btn btn-primary">Save</button>
</div>
      
<FlashMessages />
