{{page-title 'Manage Job Categories'}}
<h1>Manage Job Categories</h1>

<div class="action-buttons">
  <LinkTo @route="jobcat-create" class="btn btn-secondary">Create Category</LinkTo>
</div>

<div class="table-responsive">
<table class="table table-striped">
    
<thead>
  <th class="col-xs-2">Name</th>
  <th class="col-xs-3">Color</th>
  <th class="col-xs-2">Roles</th>
  <th class="col-xs-2"></th>
</thead>

<tbody>
  {{#each this.model.categories as |category|}}
  <tr>
    <td>
      <span class="badge job-category job-category-{{category.name}}">{{category.name}}</span>
    </td>
    <td>{{category.color}}</td>
    <td>{{category.roles}}</td>
    <td>
    
      <TooltipButton @route="jobcat-edit" @model={{category.id}} @icon="fas fa-edit" @message="Edit Category" />
      <TooltipButton @onClick={{(fn this.setCategoryToDelete category)}} @icon="fa fa-trash" @message="Delete Category" />
    
    </td>
  </tr>
  {{/each}}
</tbody>
</table>
</div>


<BsModalSimple @title="Confirm Delete" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{true}} @open={{this.confirmDeleteCategory}} @onSubmit={{(fn this.deleteCategory this.categoryToDelete)}} @onHide={{(fn this.setCategoryToDelete null)}}>
    You're about to delete {{this.categoryToDelete.name}}. This cannot be undone.  Are you sure?
  </BsModalSimple>