{{#if model.job_admin}}

{{title 'Jobs'}}
<h1>Jobs</h1>

{{#if model.reboot_required_notice}}
    <div class="alert alert-warning">
      <strong>Reboot Required!</strong> {{model.reboot_required_notice}}
    </div>
{{/if}}
        
{{else}}

{{title 'Requests'}}
<h1>Requests</h1>

{{/if}}

        
{{jobs-list jobs=model.jobs}}

{{outlet}}