{{#if model.options.is_job_admin}}

  {{title 'Jobs'}}
  <h1>Jobs</h1>

  {{#if model.options.reboot_required_notice}}
      <div class="alert alert-warning">
        <strong>Reboot Required!</strong> {{model.reboot_required_notice}}
      </div>
  {{/if}}
     
      <ul class="nav" style="display: inline-block;">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

          <span href="#" role="button" class="btn btn-default"><span class="label job-category job-category-{{model.options.jobs_filter}}">&nbsp;</span> {{model.options.jobs_filter}} <span class="caret"></span></span> </a>
          <ul class="dropdown-menu">
            <li><a href="#" {{action 'filterJobs' 'active'}}><span class="label job-category job-category-ACTIVE">&nbsp;</span> ACTIVE</a></li>
            <li><a href="#" {{action 'filterJobs' 'mine'}}><span class="label job-category job-category-MINE">&nbsp;</span> MINE</a></li>
          {{#each model.options.category_values as |category| }}
            <li><a href="#" {{action 'filterJobs' category}}><span class="label job-category job-category-{{category}}">&nbsp;</span> {{category}}</a></li>
          {{/each}}
          </ul>
        </li>
    </ul>
  
  <div class="pull-right">
    
    {{#link-to 'search-jobs'}}<i class="fa fa-search" aria-hidden="true"></i> Search Jobs{{/link-to}}  &nbsp;&nbsp;
    {{#link-to 'job-create' class="btn btn-primary"}}Create Job{{/link-to}}
  </div>
        
{{else}}

  {{title 'Requests'}}
  <h1>Requests</h1>
  
  <div class="pull-right">
    {{#link-to 'search-jobs'}}<i class="fa fa-search" aria-hidden="true"></i> Search Requests{{/link-to}}  &nbsp;&nbsp;
    {{#link-to 'job-create' class="btn btn-primary"}}Create Request{{/link-to}}
  </div>

{{/if}}


<div class="clearfix"></div>


{{jobs-list jobs=model.jobs}}

{{outlet}}