{{#if this.model.options.is_job_admin}}

  {{page-title 'Jobs'}}
  <h1>Jobs</h1>

  {{#if this.model.options.reboot_required_notice}}
      <div class="alert alert-warning">
        <i class="fas fa-exclamation-triangle"></i> <strong>Reboot Required!</strong> {{this.model.options.reboot_required_notice}}
      </div>
  {{/if}}
     
      
    
  <div class="action-buttons-spaced">
  
  <DropdownMenu @id="filterDropdown" @title={{this.model.jobs.jobs_filter}}>
    {{#each this.model.options.status_filters as |filter| }}
      <li><a href="#" {{action 'filterJobs' filter}} class="dropdown-item"><span class="badge job-category job-category-general">&nbsp;</span> {{filter}}</a></li>
    {{/each}}
    
    {{#each this.model.options.category_values as |category| }}
      <li><a href="#" {{action 'filterJobs' category}} class="dropdown-item"><span class="badge job-category job-category-{{category}}">&nbsp;</span> {{category}}</a></li>
    {{/each}}
    
  </DropdownMenu>
  
    <div>
      <LinkTo @route="search-jobs"><i class="fa fa-search" aria-hidden="true"></i> Search Jobs</LinkTo>  &nbsp;&nbsp;
      <a href="#" {{action 'markRead'}} class="btn btn-secondary">Mark All Read</a>
      <LinkTo @route="job-create" class="btn btn-primary">Create Job</LinkTo>
    </div>
  </div>
  
   
  {{else}}

  {{page-title 'Requests'}}
    <h1>Requests</h1>
  
    <div class="action-buttons">
      <LinkTo @route="search-jobs"><i class="fa fa-search" aria-hidden="true"></i> Search Requests</LinkTo>  &nbsp;&nbsp;
      <LinkTo @route="job-create" class="btn btn-primary">Create Request</LinkTo>
    </div>

  {{/if}}

<div class="clearfix"></div>

  {{#if this.newJobs}}
      <div class="alert alert-warning">
        New jobs are available.  Reload the page to see them.
      </div>
  {{/if}}
  
<JobsList @jobs={{this.model.jobs.jobs}} @pages={{this.model.jobs.pages}} @page={{this.page}} @goToPage={{action "goToPage"}} />

{{outlet}}