{{#if model.options.is_job_admin}}

  {{title 'Jobs'}}
  <h1>Jobs</h1>

  {{#if model.options.reboot_required_notice}}
      <div class="alert alert-warning">
        <strong>Reboot Required!</strong> {{model.reboot_required_notice}}
      </div>
  {{/if}}
     
      <ul class="nav" style="display: inline-block;">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

          <span href="#" role="button" class="btn btn-default"><span class="label job-category job-category-{{model.options.jobs_filter}}">&nbsp;</span> {{model.options.jobs_filter}} <span class="caret"></span></span> </a>
          <ul class="dropdown-menu">
            <li><a href="#" {{action 'filterJobs' 'active'}}><span class="label job-category job-category-ACTIVE">&nbsp;</span> ACTIVE</a></li>
            <li><a href="#" {{action 'filterJobs' 'mine'}}><span class="label job-category job-category-MINE">&nbsp;</span> MINE</a></li>
            <li><a href="#" {{action 'filterJobs' 'all'}}><span class="label job-category job-category-MINE">&nbsp;</span> ALL</a></li>          </ul>
        </li>
    </ul>
    
  <div class="pull-right">
    
    {{#link-to 'search-jobs'}}<i class="fa fa-search" aria-hidden="true"></i> Search Jobs{{/link-to}}  &nbsp;&nbsp;
    {{#link-to 'job-create' class="btn btn-primary"}}Create Job{{/link-to}}
  </div>
  

  
  {{#each model.status_filter as |status|}}
      <<span class="label job-filter job-status job-status-{{status.name}}">&nbsp;</span> {{status.name}}
      {{input type='checkbox' checked=status.selected}} 
  {{/each}}
  <br/>
  
  {{#each model.category_filter as |cat|}}
      <span class="label job-filter job-category job-category-{{cat.name}}">&nbsp;</span> {{cat.name}}
      {{input type='checkbox' checked=cat.selected}} 
  {{/each}}
        
{{else}}

  {{title 'Requests'}}
  <h1>Requests</h1>
  
  <div class="pull-right">
    {{#link-to 'search-jobs'}}<i class="fa fa-search" aria-hidden="true"></i> Search Requests{{/link-to}}  &nbsp;&nbsp;
    {{#link-to 'job-create' class="btn btn-primary"}}Create Request{{/link-to}}
  </div>

{{/if}}


<div class="clearfix"></div>


{{jobs-list jobs=filteredJobs}}

{{outlet}}