{{#if model.options.is_job_admin}}

  {{title 'Jobs'}}
  <h1>Jobs</h1>

  {{#if model.options.reboot_required_notice}}
      <div class="alert alert-warning">
        <i class="fas fa-exclamation-triangle"></i> <strong>Reboot Required!</strong> {{model.options.reboot_required_notice}}
      </div>
  {{/if}}
     
      
    
  <div class="pull-right">
    
    <LinkTo @route="search-jobs"><i class="fa fa-search" aria-hidden="true"></i> Search Jobs</LinkTo>  &nbsp;&nbsp;
    <LinkTo @route="job-create" class="btn btn-primary">Create Job</LinkTo>
  </div>
  
   
  {{else}}

    {{title 'Requests'}}
    <h1>Requests</h1>
  
    <div class="pull-right">
      <LinkTo @route="search-jobs"><i class="fa fa-search" aria-hidden="true"></i> Search Requests</LinkTo>  &nbsp;&nbsp;
      <LinkTo @route="job-create" class="btn btn-primary">Create Request</LinkTo>
    </div>

  {{/if}}
  
    <ul class="nav inline-block">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

        <span href="#" class="btn btn-default">{{model.jobs.jobs_filter}} <span class="caret"></span></span> </a>
        <ul class="dropdown-menu">
          <li><a href="#" {{action 'filterJobs' 'active'}}><span class="label job-category job-category-general">&nbsp;</span> ACTIVE</a></li>
{{#if model.options.is_job_admin}}
          <li><a href="#" {{action 'filterJobs' 'mine'}}><span class="label job-category job-category-general">&nbsp;</span> MINE</a></li>
          <li><a href="#" {{action 'filterJobs' 'unfinished'}}><span class="label job-category job-category-general">&nbsp;</span> UNFINISHED</a></li>
{{/if}}
              <li><a href="#" {{action 'filterJobs' 'all'}}><span class="label job-category job-category-general">&nbsp;</span> ALL</a></li>
          <li><a href="#" {{action 'filterJobs' 'unread'}}><span class="label job-category job-category-general">&nbsp;</span> UNREAD</a></li>
          {{#each model.options.category_values as |category| }}
            <li><a href="#" {{action 'filterJobs' category}}><span class="label job-category job-category-{{category}}">&nbsp;</span> {{category}}</a></li>
          {{/each}}
          
        </ul>
      </li>
  </ul>
  


<div class="clearfix"></div>

  {{#if newJobs}}
      <div class="alert alert-warning">
        New jobs are available.  Reload the page to see them.
      </div>
  {{/if}}
  
<JobsList @jobs={{model.jobs.jobs}} @pages={{model.jobs.pages}} @page={{page}} @goToPage={{action "goToPage"}} />

{{outlet}}