{{#if model.options.is_job_admin}}

  {{title 'Jobs'}}
  <h1>Jobs</h1>

  {{#if model.options.reboot_required_notice}}
      <div class="alert alert-warning">
        <strong>Reboot Required!</strong> {{model.reboot_required_notice}}
      </div>
  {{/if}}



  <div class="pull-right">

    {{#link-to 'search-jobs'}}<i class="fa fa-search" aria-hidden="true"></i> Search Jobs{{/link-to}}  &nbsp;&nbsp;
    {{#link-to 'job-create' class="btn btn-primary"}}Create Job{{/link-to}}
  </div>

    <ul class="nav" style="display: inline-block;">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

        <span href="#" role="button" class="btn btn-default">{{model.options.jobs_filter}} <span class="caret"></span></span> </a>
        <ul class="dropdown-menu">
          <li><a href="#" {{action 'filterJobs' 'active'}}>ACTIVE</a></li>
          <li><a href="#" {{action 'filterJobs' 'mine'}}>MINE</a></li>
          <li><a href="#" {{action 'filterJobs' 'unfinished'}}>UNFINISHED</a></li>
          <li><a href="#" {{action 'filterJobs' 'all'}}>ALL</a></li>
        </ul>
      </li>
  </ul>

    <ul class="nav" style="display: inline-block;">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

        <span href="#" role="button" class="btn btn-default"><span class="label job-category job-category-{{categoryFilter}}">&nbsp;</span> {{if categoryFilter categoryFilter 'ALL'}} <span class="caret"></span></span> </a>
        <ul class="dropdown-menu">
          <li><a href="#" {{action 'clearCategoryFilter'}}><span class="label job-category job-category-none">&nbsp;</span> ALL</a></li>
         {{#each model.options.category_values as |category| }}
           <li><a href="#" {{action 'categoryFilterChanged' category}}><span class="label job-category job-category-{{category}}">&nbsp;</span> {{category}}</a></li>
         {{/each}}
       </ul>
      </li>
  </ul>

    {{#each model.status_filter as |status|}}
        <span class="label job-filter job-status job-status-{{status.name}}">&nbsp;</span> {{status.name}}
        {{input type='checkbox' checked=status.selected disabled=status.disabled }}
    {{/each}}
    <br/>



{{else}}

  {{title 'Requests'}}
  <h1>Requests</h1>

  <div class="pull-right">
    {{#link-to 'search-jobs'}}<i class="fa fa-search" aria-hidden="true"></i> Search Requests{{/link-to}}  &nbsp;&nbsp;
    {{#link-to 'job-create' class="btn btn-primary"}}Create Request{{/link-to}}
  </div>

{{/if}}


<div class="clearfix"></div>


{{jobs-list jobs=filteredJobs}}

{{outlet}}
