{{page-title 'Locations'}}
<h1>Locations</h1>

<p>The locations directory allows you to browse locations (aka 'rooms') on the game, organized by 'area'.</p>

<a name="top"></a>

<div class="float-right">
  <LinkTo @route="search-locations" class="btn btn-secondary"><i class="fa fa-search" aria-hidden="true"></i> Search Locations</LinkTo>  
</div>

<h2>Area Directory</h2>

  
 <ul class="nav nav-tabs" role="tablist">

  {{#each this.topLevelAreas as |area index| }}
   <li role="presentation" class="nav-item"><a href="#area{{area.id}}" aria-controls="{{area.id}}" role="tab" data-bs-toggle="tab" class="nav-link {{if (eq index 0) 'active' }}">{{area.name}}</a></li>
  {{/each}}
   <li role="presentation" class="nav-item"><a href="#unassigned" aria-controls="unassigned" role="tab" data-bs-toggle="tab" class="nav-link">No Area</a></li>

</ul>

<div class="tab-content">

  {{#each this.topLevelAreas as |area index| }}
  <div class="tab-pane {{if (eq index 0) 'active' }}" id="area{{area.id}}">

    <a name="{{area.id}}"></a>
    <AreaDirectory @area={{area}} />
      
  </div>
  {{/each}}

  <div class="tab-pane" id="unassigned">

  <h3>Locations With No Area</h3>
  {{#each this.model.orphan_rooms as |room|}}
  <LinkTo @route="location" @model={{room.id}}>{{room.name}}</LinkTo>
  {{/each}}
  
  </div>
</div>

{{outlet}}