{{title model.name}}
<h1>{{model.area}}{{if model.area ' - ' ''}}{{model.name}}</h1>

{{{ansi-format text=model.description}}}

<blockquote>
    To start a scene here, use <code>scene/start {{if model.area model.area ''}}{{if model.area '/' ''}}{{model.name}}</code> in the game.
</blockquote>

<hr/>
<p>{{#link-to 'locations'}}<i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Locations{{/link-to}}</p>


{{outlet}}