{{page-title this.model.name}}
<h1>{{this.model.name}}</h1>

<AnsiFormat @text={{this.model.descs.current}} />

{{#if this.model.weather}}
  <div class="row weather">
    <div class="col col-xs-2">
      <img src={{this.model.weather_icon}} style="padding:0px;">
    </div>
    <div class="col col-xs-9">
      <AnsiFormat @text={{this.model.weather}} />
    </div>
  </div>
{{/if}}

{{#each this.model.descs.details as |detail|}}



<p><i>{{detail.name}}:</i> <AnsiFormat @text={{detail.desc}} /></p>
{{/each}}


{{#if this.model.area}}
<h3>Located In</h3>

<LinkTo @route="area" @model={{this.model.area.id}}>{{this.model.area.full_name}}</LinkTo>
{{/if}}

{{#if this.model.owners}}
<h3>Owners</h3>
  {{#each this.model.owners as |owner|}}
    <CharIconInline @char={{owner}} />
  {{/each}}
{{/if}}

<h3>Leads To</h3>

<ul>
  {{#each this.model.destinations as |dest|}}
  <li><LinkTo @route="location" @model={{dest.id}}>{{dest.name}}</LinkTo></li>
  {{/each}}
</ul>


<p><LinkTo @route="locations"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Locations</LinkTo></p>

<div class="action-buttons">
  {{#if this.model.can_edit}}
  <LinkTo @route="location-edit" @model={{this.model.id}} class="btn btn-secondary">Edit</LinkTo>
  {{/if}}
  <LinkTo @route="scene-create" @query={{hash location=this.model.name_and_area}} class="btn btn-primary">Start Scene Here</LinkTo>
</div>
