{{title 'Locations'}}
<h1>Map</h1>

<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Iw2hd57g__fAY9PugKUXtnTLRSiVzZ3B" width="100%" height="480"></iframe>

<h1>Locations</h1>
<p>The locations directory allows you to browse locations (aka 'rooms') on the game, organized by 'area'.</p>

<div class="pull-right">
  {{#link-to 'search-locations' class="btn btn-default"}}<i class="fa fa-search" aria-hidden="true"></i> Search Locations{{/link-to}}  
</div>

<h2>Area Directory</h2>

  <ul>
  {{#each model.directory as |area| }}
      {{area-directory area=area}}
  {{/each}}
  </ul>

<h2>Other Rooms</h2>

{{#each model.orphan_rooms as |r|}}
<div class="panel panel-default">
   <div class="panel-heading">{{r.name}}</div>
   <div class="panel-body">
       {{{ansi-format text=r.description}}}
       {{#link-to 'scene-create' (query-params location=loc.name_and_area) class="btn btn-default pull-right"}}Start Scene Here{{/link-to}}
   </div>
</div>
{{/each}}

{{outlet}}
