{{page-title 'Locations'}}
<h1>Locations</h1>

<p>The locations directory allows you to browse locations (aka 'rooms') on the game, organized by 'area'.</p>

<a name="top"></a>

<div class="pull-right">
  <LinkTo @route="search-locations" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i> Search Locations</LinkTo>  
</div>

<h2>Area Directory</h2>

  
 <ul class="nav nav-tabs" role="tablist">

  {{#each topLevelAreas as |area index| }}
   <li role="presentation" class="{{if (eq index 0) 'active' }}"><a href="#{{area.id}}" aria-controls="{{area.id}}" role="tab" data-toggle="tab">{{area.name}}</a></li>
  {{/each}}
   <li role="presentation"><a href="#unassigned" aria-controls="unassigned" role="tab" data-toggle="tab">No Area</a></li>

</ul>

<div class="tab-content">

  {{#each topLevelAreas as |area index| }}
  <div role="tabpanel" class="tab-pane {{if (eq index 0) 'active' }}" id="{{area.id}}">

    <a name="{{area.id}}"></a>
    <AreaDirectory @area={{area}} />
      
  </div>
  {{/each}}

  <div role="tabpanel" class="tab-pane" id="unassigned">

  <h3>Locations With No Area</h3>
  {{#each model.orphan_rooms as |room|}}
  <LinkTo @route="location" @model={{room.id}}>{{room.name}}</LinkTo>
  {{/each}}
  
  </div>
</div>

{{outlet}}