{{page-title this.model.location.name}}
<h1>Edit Location - {{this.model.location.name}}</h1>

   <div class="form-item">
    <div class="form-item-label">
        Name:
    </div>
    <div class="form-item-entry">
        <Input @type="text" size={{25}} id="name" @enter={{this.save}} @value={{this.model.location.name}} />
    </div> 
  </div>
  
  <div class="form-item">
    <div class="form-item-label">
     Area:
    </div>

    <div class="form-item-entry">
      <PowerSelect @selected={{this.model.location.area}} @options={{this.model.location.areas}} @searchEnabled=true @searchField="full_name" @allowClear=true @onChange={{this.areaChanged}} as |area|>
        {{area.full_name}}
      </PowerSelect>
    </div>
  </div>

  <div class="form-item">
   <div class="form-item-label">
       Owners:
   </div>
    <div class="form-item-entry">
      <PowerSelectMultiple @selected={{this.model.location.owners}} @options={{this.model.characters}} @searchEnabled=true @searchField="name" @onChange={{this.ownersChanged}} as |char|>
        {{char.name}}
      </PowerSelectMultiple>
    </div>
  </div>
  
  <div class="form-item">
   <div class="form-item-label">
       Summary (ShortDesc):
   </div>
    <div class="form-item-entry">
      <MarkdownEditor @text={{this.model.location.summary}} />
    </div>
  </div>
  
   <div class="form-item">
    <div class="form-item-label">
        Description:
    </div>
    <div class="form-item-entry">
        <MarkdownEditor @text={{this.model.location.descs.current}} />
    </div> 
  </div>
  
   <div class="form-item">
    <div class="form-item-label">
        Icon:
    </div>
    <div class="form-item-entry">
        <PowerSelect @selected={{this.model.location.icon_type}} @options={{this.model.location.icon_types}} @onChange={{this.iconChanged}} @allowClear={{true}} as |type|>
          {{type}}
        </PowerSelect>
    </div> 
  </div>
  
  <h2>Details</h2>
    
     {{#each this.model.location.descs.details as |detail|}}
     <p>
     <Input @type="text" size={{25}} @value={{detail.name}} placeholder="Enter detail name." />
     <button class="btn btn-secondary" {{on 'click' (fn this.removeDetail detail.key)}}><i class="fa fa-trash" aria-label="Remove Detail"></i></button>
     </p>
     <MarkdownEditor @text={{detail.desc}} />
      <hr>
     {{/each}}
   
     <button class="btn btn-secondary" {{on 'click' this.addDetail}}>Add Detail <i class="fa fa-plus" aria-label="Add Detail"></i></button>
         
  
<div class="action-buttons">
  <LinkTo @route="location" @model={{this.model.location.id}} class="btn btn-secondary">Cancel</LinkTo>  
  <button {{on 'click' this.save}} class="btn btn-primary">Save</button>
</div>
        
<FlashMessages />
{{outlet}}