{{title model.name}}
<h1>{{model.name}}</h1>

{{{ansi-format text=model.description}}}

{{#each model.details as |detail|}}
<p><i>{{detail.name}}:</i> {{{ansi-format text=detail.desc}}}</p>
{{/each}}


{{#if model.area}}
<h3>Located In</h3>

{{#link-to 'area' model.area.id}}{{model.area.full_name}}{{/link-to}}
{{/if}}

{{#if model.owners}}
<h3>Owners</h3>
  {{#each model.owners as |owner|}}
    {{char-icon-inline char=owner}}
  {{/each}}
{{/if}}

<h3>Leads To</h3>

<ul>
  {{#each model.destinations as |dest|}}
  <li>{{#link-to 'location' dest.id}}{{dest.name}}{{/link-to}}</li>
  {{/each}}
</ul>

    
    <div class="row">
        <div class="col col-xs-12">

<p>{{#link-to 'locations'}}<i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Locations{{/link-to}}</p>
                
        {{#link-to 'scene-create' (query-params location=model.name_and_area) class="btn btn-primary pull-right"}}Start Scene Here{{/link-to}}
        
        </div>
    </div>


