{{page-title model.name}}
<h1>{{model.name}}</h1>

<AnsiFormat @text={{model.descs.current}} />

{{#each model.descs.details as |detail|}}
<p><i>{{detail.name}}:</i> <AnsiFormat @text={{detail.desc}} /></p>
{{/each}}


{{#if model.area}}
<h3>Located In</h3>

<LinkTo @route="area" @model={{model.area.id}}>{{model.area.full_name}}</LinkTo>
{{/if}}

{{#if model.owners}}
<h3>Owners</h3>
  {{#each model.owners as |owner|}}
    <CharIconInline @char={{owner}} />
  {{/each}}
{{/if}}

<h3>Leads To</h3>

<ul>
  {{#each model.destinations as |dest|}}
  <li><LinkTo @route="location" @model={{dest.id}}>{{dest.name}}</LinkTo></li>
  {{/each}}
</ul>

    
<p><LinkTo @route="locations"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Locations</LinkTo></p>

    <div class="row">
        <div class="col col-xs-12">

        <div class="pull-right">
          {{#if model.can_edit}}
          <LinkTo @route="location-edit" @model={{model.id}} class="btn btn-default">Edit</LinkTo>
          {{/if}}
          <LinkTo @route="scene-create" @query={{hash location=model.name_and_area}} class="btn btn-primary">Start Scene Here</LinkTo>
        </div>
        </div>
    </div>


