{{title 'Edit Area'}}
<h1>Edit Area</h1>

<p><b>Name:</b></p>
<p>{{input type="text" size=50 id="name" enter="create" value=model.name}}</p>

<p><b>Description:</b></p>

{{markdown-editor text=model.description}}


{{#link-to 'locations' class="btn btn-default"}}Cancel{{/link-to}}
<button {{action "edit"}} class="btn btn-primary">Save</button>
{{flash-messages}}

