{{title Log In}}
<p>Log in using your character information.</p>

<div class="panel panel-default">
    <div class="panel-body">

        <p>{{input type="text" id="name" placeholder="Name" enter="login" value=name autofocus=true }}</p>
        <p>{{input type="password" placeholder="Password" enter="login" id="password" value=password }}</p>
        
        <button {{action "login"}} class="btn btn-primary">Login</button>
        
    
    
        <p>Don't have a character yet? 
        {{#if model.enable_registration}}
        {{#link-to "register"}}Create one.{{/link-to}}
        {{else}}
        Create one from inside the game first.
        {{/if}}
        
        </p>
    </div>
</div>

{{outlet}}