{{page-title 'Lore Hooks'}}

<h1>Hooks</h1>
<h3>Active Characters</h3>
<div class="table-responsive">

<table class="table table-striped lore-hook-table">

  {{#each model.active_chars as |char|}}

    <tr>
      <td>
        {{char-icon-inline char=char}}
      </td>
      <td>
        {{#if char.lore_hook_name}}
          {{#if char.ancestry}}
            {{!-- {{#link-to 'creature' char.ancestry}}{{char.lore_hook_name}} {{/link-to}} --}}
          {{else if char.pet}}
            <LinkTo @route="creature" @model={{char.pet}}>{{char.lore_hook_name}}</LinkTo>
          {{else}}
            <b>{{char.lore_hook_name}}</b>
          {{/if}}
        {{else}}
        <i>Not yet active.</i>
        {{/if}}
        <br>

      {{char.lore_hook_desc}}
    </td>

  </tr>
  {{/each}}
</table>
</div>

<h3>Retired Characters</h3>
<div class="table-responsive">

<table class="table table-striped lore-hook-table">

  {{#each model.idle_chars as |char|}}
    {{#if char.lore_hook_name}}
      <tr>
        <td>
          {{char-icon-inline char=char}}
        </td>
        <td>
          {{#if char.ancestry}}
            {{!-- {{#link-to 'creature' char.ancestry}}{{char.lore_hook_name}} {{/link-to}} --}}
          {{else if char.pet}}
           <LinkTo @route="creature" @model={{char.pet}}>{{char.lore_hook_name}}</LinkTo>
          {{else}}
            <b>{{char.lore_hook_name}}</b>
          {{/if}}
          <br>
        {{char.lore_hook_desc}}
      </td>

    </tr>
  {{/if}}
  {{/each}}
</table>
</div>
