{{page-title tag}}
<h1>Mail - {{tag}}</h1>

<div class="row">
    <div class="col col-xs-12">

[  <a href="#" {{action 'changeTag' 'Inbox'}}>Inbox</a> ]
{{#each model.tags as |tag|}}
[ <a href="#" {{action 'changeTag' tag}}>{{tag}}</a> ]
{{/each}}

        <div class="pull-right">
 
        <LinkTo @route="mail-send" class="btn btn-primary">Send Mail</LinkTo>
  </div>
  </div>
</div>


<table class="table table-striped">

<thead>
    <tr>
        <th>Subject</th>
        {{#if sentMail}}
            <th>To</th>
        {{else}}
            <th>From</th>
        {{/if}}
        <th>Sent</th>
    </tr>
</thead>
        
{{#each messages as |m| }}
<tr>
    <td>
        {{#if m.unread}}
        <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-label="Unread Message"></i></span>
        {{/if}}
        
        <LinkTo @route="mail-message" @model={{m.id}}>{{m.subject}}</LinkTo>
    </td>
    
    <td>
        {{#if sentMail}}
            {{m.to_list}}
        {{else}}
            {{m.from}}
        {{/if}}
    </td>
    <td>
        {{m.created}}
    </td>
</tr>

{{/each}}

</table>


{{outlet}}