{{page-title 'Send Mail'}}
<h1>Send Mail</h1>

<div class="form-group row">
    <div class="col-sm-2">
            <b>To:</b>
    </div>
    
    <div class="col-sm-10">
      
      <PowerSelectMultiple @selected={{toList}} @options={{model}} @searchEnabled=true @searchField="name" @onChange={{action "toListChanged"}} as |char|>
        {{char.name}}
      </PowerSelectMultiple>
      
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-2">
            <b>Subject:</b>
    </div>
    
    <div class="col-sm-10">
          <Input @type="text" @size={{25}} @id="subject" @value={{subject}} />
    </div>
</div>

<p><b>Message:</b></p>
<MarkdownEditor @text={{message}} />

<LinkTo @route="mail" class="btn btn-default">Cancel</LinkTo>
<button {{action "sendMail"}} class="btn btn-primary">Send</button>

<FlashMessages />


{{outlet}}