{{page-title model.message.subject}}
<h1>{{model.message.subject}}</h1>

<p><LinkTo @route="mail"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Mail</LinkTo></p>

{{#if model.message.in_trash}}
<div class="alert alert-warning">This message is in the trash.</div>
{{/if}}

<table>
    <tr>
        <td>
            <b>From:</b> 
        </td>
        <td>
            {{model.message.from}}
        </td>
    </tr>

    <tr>
        <td>
            <b>To:</b>
        </td>
        <td>
             {{model.message.to_list}}
        </td>
    </tr>
    

    <tr>
        <td>
            <b>Tags:</b>
        </td>
        <td>
            
             <PowerSelectMultiple @selected={{model.message.tags}} @options={{model.message.all_tags}} @onChange={{action "tagsChanged"}} as |tag|>
               {{tag}}
             </PowerSelectMultiple>
             
             <Input @type="text" @size={{10}} @id="newTag" @value={{newTag}} /> 
             <a href="#" {{action 'addNewTag'}}><i class="fa fa-plus" aria-label="Add Tag"></i></a>     

        </td>
    </tr>
    

    <tr>
        <td>
            <b>Subject:</b>
        </td>
        <td>
            {{model.message.subject}}
        </td>
    </tr>
</table>
<hr>
    
<AnsiFormat @text={{model.message.body}} />

<hr>
        <div class="pull-right">
          {{#if model.message.in_trash}}
            <button class="btn btn-default" {{action 'uneleteMsg'}}>Undelete</button>
          {{else}}
            <button class="btn btn-warning" {{action 'deleteMsg'}}>Trash</button>
            <button class="btn btn-default" {{action 'archiveMsg'}}>Archive</button>          
          {{/if}}
        </div>
        
<div class="clearfix"></div>

 
{{#if model.message.can_reply}}

<div class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" href="#reply">Click to Reply</a>
        
    </div>
    <div id="reply" class="panel-collapse collapse">
      <div class="panel-body">
      <h3>Reply</h3>
      <p><b>To:</b> <a href="#" {{action 'replyAll'}}>[Reply All]</a>
        <PowerSelectMultiple @selected={{replyToList}} @options={{model.characters}} @searchEnabled=true @searchField="name" @onChange={{action "replyToListChanged"}} as |char|>
          {{char.name}}
        </PowerSelectMultiple>
      </p>
      <p><b>Subject:</b> <Input @type="text" @size={{25}} @id="replySubject" @value={{replySubject}} /></p>
          <MarkdownEditor @text={{replyMessage}} />
          <button class="btn btn-primary" {{action 'sendReply'}}>Send</button>    
        </div>
    </div>
</div>

{{/if}}


<div class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" href="#forward">Click to Forward</a>
        
    </div>
    <div id="forward" class="panel-collapse collapse">
      <div class="panel-body">
      <h3>Forward</h3>
      <p><b>To:</b>
      <PowerSelectMultiple @selected={{fwdToList}} @options={{model.characters}} @searchEnabled=true @searchField="name" @onChange={{action "fwdToListChanged"}} as |char|>
        {{char.name}}
      </PowerSelectMultiple>
      </p> 
      <p><b>Subject:</b> <Input @type="text" @size={{25}} @id="fwdSubject" @value={{fwdSubject}} /></p>
      <b>Original Message:</b>
      <AnsiFormat @text={{model.message.body}} />
          <MarkdownEditor @text={{fwdMessage}} />
          <button class="btn btn-primary" {{action 'sendForward'}}>Send</button>    
        </div>
    </div>
</div>

<FlashMessages />
{{outlet}}