{{page-title 'Send Mail'}}
<h1>Send Mail</h1>

<div class="form-item">
    <div class="form-item-label">
            <b>To:</b>
    </div>
    
    <div class="form-item-entry">
      
      <PowerSelectMultiple @selected={{this.toList}} @options={{this.model.characters}} @searchEnabled=true @searchField="name" @onChange={{this.toListChanged}} as |char|>
        {{char.name}}
      </PowerSelectMultiple>
      
    </div>
</div>

<div class="form-item">
    <div class="form-item-label">
            <b>Subject:</b>
    </div>
    
    <div class="form-item-entry">
          <Input @type="text" size={{25}} id="subject" @value={{this.subject}} />
    </div>
</div>

<div class="form-item">
    <div class="form-item-label">
          <b>Send As:</b>
    </div>
    
    <div class="form-item-entry">
       <PowerSelect @selected={{this.sender}} @onChange={{this.senderChanged}} @searchField="name" @options={{this.model.sendOptions.authorableChars}}  as |char|>
           <CharIconTiny @char={{char}} />
       </PowerSelect>
    </div>
</div>

         
<MarkdownEditor @text={{this.message}} />


<div class="action-buttons">
  <LinkTo @route="mail" class="btn btn-secondary">Cancel</LinkTo>
  <button {{on 'click' this.sendMail}} class="btn btn-primary">Send</button>
</div>

<FlashMessages />


{{outlet}}