{{page-title "Mail"}}
<h1>Mail</h1>
<ul class="nav nav-tabs mail-nav">
  {{#each this.model as |char index| }}
  
  <li class="nav-item">
    <a data-bs-toggle="tab" href="#char{{index}}" class="nav-link {{if (eq index 0) 'active' }}">
    {{char.name}}
    {{#if char.has_unread}}
      <span class="badge rounded-pill bg-primary"> <i class="fa fa-flag" aria-label="Unread Mail"></i></span>
    {{/if}}
    </a>
  </li>
  {{/each}}
  
</ul>

<div class="tab-content">

{{#each this.model as |char index| }}

    <div id="char{{index}}" class="tab-pane fade show {{if (eq index 0) 'active' }}">
      
      
      <MailInbox @inbox={{char}} />
      
    </div>
  
{{/each}}

</div>





{{outlet}}