<h1>{{model.subject}}</h1>

<p>{{#link-to 'mail'}}<i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Mail{{/link-to}}</p>

<table>
    <tr>
        <td>
            <b>From:</b> 
        </td>
        <td>
            {{model.from}}
        </td>
    </tr>

    <tr>
        <td>
            <b>To:</b>
        </td>
        <td>
             {{model.to_list}}
        </td>
    </tr>
    

    <tr>
        <td>
            <b>Tags:</b>
        </td>
        <td>
             {{#each model.tags as |tag|}}
             {{tag}}
             {{/each}}
        </td>
    </tr>
    

    <tr>
        <td>
            <b>Subject:</b>
        </td>
        <td>
            {{model.subject}}
        </td>
    </tr>
</table>
<hr/>
    
<div class="ansi">
            {{{ansi-format text=model.body}}}
</div>

{{#if model.can_reply}}
<div class="inline-response">

<h3>Reply</h3>
<p><b>To:</b> {{input type="text" size=50 id="to_list" value=to_list size=100 }}</p>
<p><b>Subject:</b> {{input type="text" size=50 id="subject" value=subject size=100 }}</p>
    {{textarea value=message cols="80" rows="6"}}
    <button class="btn btn-primary" {{action 'sendReply'}}>Send</button>
</div>
{{/if}}

{{outlet}}