{{page-title 'Admin Tasks'}}
<h1>Admin Tasks</h1>



{{#if status}}
<p>The upgrade/deploy task may take a couple minutes.  The status will update below.  Be sure to pay attention to any errors displayed.</p>

<hr>

<pre id="manageLog" class="console">  <AnsiFormat @text={{status}} /></pre>

<hr>

<p>When the status says the task is done, you can <a href="#" {{action 'returnToManage'}}>return to the manage screen.</a></p>


{{else}}

<h2>Upgrade the Game</h2>        

<p>This button will take upgrade your game to the latest Ares version.</p>

<div class="alert alert-warning">
  Before starting the upgrade, be sure that:
  
  <ul>
    <li>You <b>do not</b> have any custom code changes -or- you have already resolved any merge conflicts with your code/fork.</li>
    <li>You have checked the <a href="https://github.com/AresMUSH/aresmush/releases">Release Notes</a> for any special upgrade instructions associated with the patch.  If you're skipping versions (e.g., from version 2 to version 5) be sure to check <b>each</b> of the release notes.</li>
  </ul>
</div>

    <p><button class="btn btn-primary" {{action 'upgrade'}}>Upgrade</button></p>


<p><hr></p>

<h2>Idle Sweep</h2>

<p>The idle sweep lets you prune characters whose players have left the game. See <LinkTo @route="help-topic" @model="idle" @target="_blank">Idle Sweep</LinkTo> for help.</p>
  
<LinkTo @route="idle" class="btn btn-primary">Idle Sweep</LinkTo>

<p><hr></p>

<h2>Deploy the Website</h2>
    
    
    <p>This button will redeploy the website.  You need to redeploy if you make custom web portal code changes.  Doing an upgrade will redeploy automatically.</p>
        
    <p><button class="btn btn-primary" {{action 'deploy'}}>Redeploy Website</button></p>


<p><hr></p>
        
<h2>Shut Down the Game</h2>

    <div class="alert alert-danger">
        <p>This button will shut down your game. It does the same thing as the in-game 'shutdown' command.  You will have to log into the server shell to restart the game.</p>
    </div>
        
        <p><button class="btn btn-danger" {{action 'shutdown'}}>Shutdown</button></p>
{{/if}}



{{outlet}}