{{page-title 'Notes'}}
<h1>Notes - {{this.model.name}}</h1>


<ul class="nav nav-tabs">
    {{#each this.model.notes as |section index| }}
        <li class="{{if (eq index 0) 'active' }}"><a data-bs-toggle="tab" href="#{{section.key}}">{{section.name}} Notes</a></li>
    {{/each}}
</ul>


<div class="tab-content">

  
  {{#each this.model.notes as |section index|}}
  
  <div id="{{section.key}}" class="tab-pane {{if (eq index 0) 'active' }}">
      <AnsiFormat @text={{section.notes}} />
  </div>
  
  {{/each}}
  
 </div>
 
 <div class="float-right">
         <LinkTo @route="char" @model={{this.model.name}} class="btn btn-secondary">Back</LinkTo>  
           
         {{#if this.model.can_edit}}
           <LinkTo @route="notes-edit" @model={{this.model.name}} class="btn btn-primary">Edit</LinkTo>
         {{/if}}
 </div>