{{page-title "Notifications"}}
<h1>Notifications</h1>


<div class="row">
    
    <div class="col pull-right">
        <a href="#" {{action "markAllRead"}} class="btn btn-primary">Mark All Read</a>
    </div>
    
</div>

{{#if model.alts}}
  <div class="alert alert-info">
  {{#each model.alts as |alt|}}
  <p>{{alt.name}} has {{alt.count}} unread notifications.</p>
  {{/each}}
  </div>
{{/if}}

<table class="table table-striped">


{{#each model.notices as |notification|}}
<tr>
  <td>{{#if notification.is_unread}}
        <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-label="Unread Notification"></i></span>
        {{/if}}
      </td>
  <td>{{notification.timestamp}}</td>
  <td><AnsiFormat @text={{notification.message}} /></td>
  <td>
    
    <div class="notification-controls">
      {{#if (eq notification.type 'mail')}}
        <LinkTo @route="mail-message" @model={{notification.reference_id}}>
          <TooltipIcon @position="left" @message="View" @icon="fa fa-eye" />
        </LinkTo>
      {{else if (eq notification.type 'forum')}}
        <LinkTo @route="forum-topic" @models={{array (get notification.data 0) (get notification.data 1)}}>
          <TooltipIcon @position="left" @message="View" @icon="fa fa-eye" />
        </LinkTo>
      {{else if (eq notification.type 'job')}}
        <LinkTo @route="job" @model={{notification.reference_id}}>
          <TooltipIcon @position="left" @message="View" @icon="fa fa-eye" />
        </LinkTo>
      {{else if (eq notification.type 'pm')}}
        <LinkTo @route="chat">
          <TooltipIcon @position="left" @message="View" @icon="fa fa-eye" />
        </LinkTo>
      {{else if (eq notification.type 'scene')}}
        <LinkTo @route="scene-live" @model={{notification.reference_id}}>
          <TooltipIcon @position="left" @message="View" @icon="fa fa-eye" />
        </LinkTo>
      {{else if (eq notification.type 'scene_deletion')}}
        <LinkTo @route="scene-live" @model={{notification.reference_id}}>
          <TooltipIcon @position="left" @message="View" @icon="fa fa-eye" />
        </LinkTo>
      {{else if (eq notification.type 'event')}}
        <LinkTo @route="event" @model={{notification.reference_id}}>
          <TooltipIcon @position="left" @message="View" @icon="fa fa-eye" />
        </LinkTo>
      {{else if (eq notification.type 'achievement')}}
        <LinkTo @route="char" @model={{currentUser.id}}>
          <TooltipIcon @position="left" @message="View" @icon="fa fa-eye" />
        </LinkTo>
      {{/if}}
      
      {{#if notification.is_unread}}
      <a href="#" {{action "markRead" notification.id false}}>
        <TooltipIcon @position="left" @message="Mark Read" @icon="fa fa-ban" />
      </a>
      {{else}}
      <a href="#" {{action "markRead" notification.id true}}>
        <TooltipIcon @position="left" @message="Mark Unread" @icon="fa fa-flag" />  
      </a>
      {{/if}}
    </div>
  </td>
</tr>
{{/each}}
</table>

{{outlet}}