{{page-title "Notifications"}}
<h1>Notifications</h1>


<div class="row">
    
    <div class="col pull-right">
        <a href="#" {{action "markAllRead"}} class="btn btn-primary">Mark All Read</a>
    </div>
    
</div>


<ul class="nav nav-tabs">
  {{#each this.model.chars as |char index| }}
  <li class="{{if (eq index 0) 'active' }}">
    <a data-toggle="tab" href="#{{char.name}}">
    {{char.name}}
    {{#if char.has_unread}}
      <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-label="Unread Notification"></i></span>
    {{/if}}
    </a>
  </li>
  {{/each}}
  
</ul>

<div class="tab-content">

{{#each this.model.chars as |char index| }}

    <div id="{{char.name}}" class="tab-pane fade in {{if (eq index 0) 'active' }}">
      <NotificationList @notices={{char.notices}} @currentUser={{currentUser}} />
    </div>
  
{{/each}}

</div>

{{outlet}}