{{title "Notifications"}}
<h1>Notifications</h1>


<div class="row">
    
    <div class="col pull-right">
        <a href="#" {{action "markAllRead"}} class="btn btn-primary">Mark All Read</a>
    </div>
    
</div>

<table class="table table-striped">


{{#each model as |notification|}}
<tr>
  <td>{{#if notification.is_unread}}
        <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-label="Unread Notification"></i></span>
        {{/if}}
      </td>
  <td>{{notification.timestamp}}</td>
  <td>{{{ansi-format text=notification.message}}}</td>
  <td>
    {{#if (eq notification.type 'mail')}}
      {{#link-to 'mail-message' notification.reference_id}}View{{/link-to}}
    {{else if (eq notification.type 'forum')}}
      {{#link-to 'forum-topic' (get notification.data 0) (get notification.data 1)}}View{{/link-to}}
    {{else if (eq notification.type 'job')}}
      {{#link-to 'job' notification.reference_id}}View{{/link-to}}
    {{else if (eq notification.type 'pm')}}
      {{#link-to 'chat'}}View{{/link-to}}
    {{else if (eq notification.type 'scene')}}
      {{#link-to 'scene-live' notification.reference_id}}View{{/link-to}}
    {{else if (eq notification.type 'event')}}
      {{#link-to 'event' notification.reference_id}}View{{/link-to}}
    {{else if (eq notification.type 'achievement')}}
      {{#link-to 'char' currentUser.id}}View{{/link-to}}
    {{/if}}
  </td>
</tr>
{{/each}}
</table>

{{outlet}}