{{page-title "Notifications"}}
<h1>Notifications</h1>


<div class="action-buttons">
        <a href="#" {{action "markAllRead"}} class="btn btn-primary">Mark All Read</a>
</div>


<ul class="nav nav-tabs notification-nav">
  {{#each this.model.chars as |char index| }}
  <li class="nav-item">
    <a data-bs-toggle="tab" href="#{{char.name}}" class="nav-link {{if (eq index 0) 'active' }}">
    {{char.name}}
    {{#if char.has_unread}}
      <span class="badge rounded-pill bg-primary"> <i class="fa fa-flag" aria-label="Unread Notification"></i></span>
    {{/if}}
    </a>
  </li>
  {{/each}}
  
</ul>

<div class="tab-content">

{{#each this.model.chars as |char index| }}

    <div id="{{char.name}}" class="tab-pane fade show {{if (eq index 0) 'active' }}">
      <NotificationList @notices={{char.notices}} @char={{char}} />
    </div>
  
{{/each}}

</div>

{{outlet}}