{{title "Notifications"}}
<h1>Notifications</h1>


<div class="row">
    
    <div class="col pull-right">
        <a href="#" {{action "markAllRead"}} class="btn btn-primary">Mark All Read</a>
    </div>
    
</div>

<table class="table table-striped">


{{#each model as |notification|}}
<tr>
  <td>{{#if notification.is_unread}}
        <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-label="Unread Notification"></i></span>
        {{/if}}
      </td>
  <td>{{notification.timestamp}}</td>
  <td><AnsiFormat @text={{notification.message}} /></td>
  <td>
    {{#if (eq notification.type 'mail')}}
      <LinkTo @route="mail-message" @model={{notification.reference_id}}>View</LinkTo>
    {{else if (eq notification.type 'forum')}}
      <LinkTo @route="forum-topic" @models={{array (get notification.data 0) (get notification.data 1)}}>View</LinkTo>
    {{else if (eq notification.type 'job')}}
      <LinkTo @route="job" @model={{notification.reference_id}}>View</LinkTo>
    {{else if (eq notification.type 'pm')}}
      <LinkTo @route="chat">View</LinkTo>
    {{else if (eq notification.type 'scene')}}
      <LinkTo @route="scene-live" @model={{notification.reference_id}}>View</LinkTo>
    {{else if (eq notification.type 'event')}}
      <LinkTo @route="event" @model={{notification.reference_id}}>View</LinkTo>
    {{else if (eq notification.type 'achievement')}}
      <LinkTo @route="char" @model={{currentUser.id}}>View</LinkTo>
    {{/if}}
  </td>
</tr>
{{/each}}
</table>

{{outlet}}