{{title model.name}}
<h1>{{model.name}}</h1>


<div class="row profile-wrap">

    <div class="col-md-4 col-sm-12 col-xs-12">
      {{#if model.icon}}
          <img src="/game/uploads/{{model.icon}}" alt="{{model.name}}'s icon"  class="profile-image">
      {{else}}
          <img src="/game/uploads/theme_images/noicon.png" class="profile-image" alt="{{model.name}}'s icon" >
      {{/if}}
    </div>

    <div class="col-md-8 col-sm-12 col-xs-12">        

        <div class="profile-box">

          <div class="row">
              <div class="col-sm-3">
                      <b>Handle:</b> 
              </div>
              <div class="col-sm-9">
                    {{#if model.handle}}
                    
                       <a href="http://arescentral.aresmush.com/handle/{{model.handle}}">{{model.handle}}</a>
                     {{else}}
                     <a href="https://arescentral.aresmush.com/" target="_blank">Not Linked</a>
                     {{/if}}                        
              </div>
          </div>
                
          {{#if model.admin_role_title}}
          <div class="row">
              <div class="col-sm-3">
                      <b>Title:</b> 
              </div>
              <div class="col-sm-9">
                      {{model.admin_role_title}}
              </div>
          </div>
          {{/if}}
               
        </div>
    </div>



</div>

{{#if model.profile}}
<div class="profile-tab">
    <ProfileSupplemental @char={{model}} @title="Profile Information"/>
</div>
{{/if}}


{{#if model.alts}}
<div class="profile-tab">
    <CharGallery @chars={{model.alts}} @title="Characters" />
</div>
{{/if}}

{{#if model.achievements}}
<div>
    <h3>Achievements</h3>
    
    <CharAchievements @achievements={{model.achievements}} />
</div>
{{/if}}
<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
            
        {{#if model.can_manage}}
          <LinkTo @route="char-edit" @model={{model.id}} class="btn btn-primary">Edit</LinkTo>
        {{/if}}
  </div>
  </div>
</div>


{{outlet}}