{{page-title this.model.name}}
<h1>{{this.model.name}}</h1>


<div class="row profile-wrap">

    <div class="col-md-4 col-sm-12 col-xs-12">
      {{#if this.model.icon}}
          <img src="/game/uploads/{{this.model.icon}}" alt="{{this.model.name}}'s icon"  class="profile-image">
      {{else}}
          <img src="/game/uploads/theme_images/noicon.png" class="profile-image" alt="{{this.model.name}}'s icon" >
      {{/if}}
    </div>

    <div class="col-md-8 col-sm-12 col-xs-12">        

        <div class="profile-box">

          <div class="row">
              <div class="col-sm-3">
                      <b>Handle:</b> 
              </div>
              <div class="col-sm-9">
                    {{#if this.model.handle}}
                    
                       <a href="http://arescentral.aresmush.com/handle/{{this.model.handle}}">{{this.model.handle}}</a>
                     {{else}}
                     <a href="https://arescentral.aresmush.com/" target="_blank">Not Linked</a>
                     {{/if}}                        
              </div>
          </div>
                
          {{#if this.model.admin_role_title}}
          <div class="row">
              <div class="col-sm-3">
                      <b>Title:</b> 
              </div>
              <div class="col-sm-9">
                      {{this.model.admin_role_title}}
              </div>
          </div>
          {{/if}}
               
        </div>
    </div>



</div>



{{#if this.model.alts}}
<div class="profile-tab">
    <CharGallery @chars={{this.model.alts}} @title="Characters" />
</div>
{{/if}}

{{#if this.model.profile}}
<div class="profile-tab">
    <ProfileSupplemental @char={{this.model}} @title="Profile Information"/>
</div>
{{/if}}


<div class="profile-tab">
    <ul class="nav nav-tabs" role="tablist">
    
      <li class="nav-item"><a data-bs-toggle="tab" class="nav-link active" href="#systeminfo">+</a></li>
    
      {{#if this.model.rp_prefs}}
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#systemprefs">RP Prefs</a></li>
      {{/if}}
      

      {{#if this.model.achievements}}
          <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#systemachievements">Achievements</a></li>
      {{/if}}
    </ul>
    

    <div class="tab-content">
      <div id="systeminfo" class="tab-pane fase show active">
          <div class="tab-cover">System Information</div>
      </div>
      
      {{#if this.model.rp_prefs}}
        <div id="systemprefs" class="tab-pane fade">
          <AnsiFormat @text={{this.model.rp_prefs}} />
        </div>
      {{/if}}
      
  
      {{#if this.model.achievements}}
      <div id="systemachievements" class="tab-pane fade">
          <CharAchievements @achievements={{this.model.achievements}} @sceneStats={{this.model.scene_stats}}/>
      </div>
      {{/if}}
    </div>
</div>


<div class="row">
    <div class="col col-xs-12">
        <div class="float-right">
            
        {{#if this.model.can_manage}}
          <LinkTo @route="char-edit" @model={{this.model.id}} class="btn btn-primary">Edit</LinkTo>
        {{/if}}
  </div>
  </div>
</div>


{{outlet}}