{{title model.name}}
<h1>{{model.name}}</h1>


<div class="row profile-wrap">


    <div class="col-md-4 col-sm-12 col-xs-12">
                <img src="/game/uploads/{{model.icon}}" alt="{{model.name}}'s profile image" class="profile-image" >
    </div>

    <div class="col-md-8 col-sm-12 col-xs-12">        


        {{#if model.handle}}
            <div class="profile-box">
                                
                <div class="row">
                    <div class="col-sm-3">
                            <b>Player Handle:</b> 
                    </div>
                    <div class="col-sm-9">
                            {{model.handle}}
                    </div>
                </div>
                
                {{#if model.admin_role_title}}
                <div class="row">
                    <div class="col-sm-3">
                            <b>Title:</b> 
                    </div>
                    <div class="col-sm-9">
                            {{model.admin_role_title}}
                    </div>
                </div>
                {{/if}}
                
                
               <div class="row">
                   <div class="col-sm-3">
                           <b>Profile:</b> 
                   </div>
                   <div class="col-sm-9">
                         <p>View at <a href="http://arescentral.aresmush.com/handle/{{model.handle}}">AresCentral</a>.</p>  
                   </div>
               </div>
                
                
               
            </div>
        {{/if}}
    </div>



</div>


<div class="profile-tab">

    <CharGallery @chars={{model.alts}} @title="Characters" />
        
</div>
{{#if model.achievements}}
<div>
    <h3>Achievements</h3>
    
    <CharAchievements @achievements={{model.achievements}} />
</div>
{{/if}}
<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
            
        {{#if model.can_manage}}
          <LinkTo @route="char-edit" @model={{model.id}} class="btn btn-primary">Edit</LinkTo>
        {{/if}}
  </div>
  </div>
</div>


{{outlet}}