{{page-title this.model.plot.title}}
<h1>Edit Plot - {{this.model.plot.title}}</h1>

   <div class="form-group row">
    <div class="col-sm-3">
        <label for="title" class="col-form-label">Title:</label>
    </div>
    <div class="col-sm-9">
        <Input @type="text" size={{25}} id="title" @enter={{action "save"}} @value={{this.model.plot.title}} />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-3">
      <b>Storytellers:</b>
    </div>

    <div class="col-sm-9">
      <PowerSelectMultiple @selected={{this.model.plot.storytellers}} @options={{this.model.characters}} @searchEnabled=true @searchField="name" @onChange={{action "storytellersChanged"}} as |char|>
        {{char.name}}
      </PowerSelectMultiple>
    </div>
  </div>

   <div class="form-group row">
    <div class="col-sm-3">
        <label for="completed" class="col-form-label">Plot Completed:</label>
    </div>
    <div class="col-sm-9">
        <Input @type="checkbox" @checked={{this.model.plot.completed}} />
    </div>

    <div class="col-sm-3">
      <label for="background" class="col-form-label">Background Plot:</label>
    </div>
    <div class="col-sm-9">
      <Input @type="checkbox" @checked={{this.model.plot.background}} />
    </div>

    <div class="col-sm-3">
      <label for="featured" class="col-form-label">Featured Plot:</label>
    </div>
    <div class="col-sm-9">
      <Input @type="checkbox" @checked={{this.model.plot.featured}} />
    </div>
  </div>




   <div class="form-group row">
    <div class="col-sm-3">
        <label for="summary" class="col-form-label">Summary:</label>
    </div>
    <div class="col-sm-9">
        <MarkdownEditor @text={{this.model.plot.summary}} />
    </div>
  </div>

  <div class="form-group row">
     <div class="col-sm-3">
         <label for="warning" class="col-form-label">Content Warning:</label>
     </div>
     <div class="col-sm-9">
         <Input @type="text" size={{25}} id="content_warning" @value={{this.model.plot.content_warning}} />
     </div>
   </div>

   <div class="form-group row">
    <div class="col-sm-3">
        <label for="description" class="col-form-label">Description:</label>
    </div>
    <div class="col-sm-9">
        <MarkdownEditor @text={{this.model.plot.description}} />
    </div>
  </div>

  <div class="form-group row">
     <div class="col-sm-3">
         <label for="tags" class="col-form-label">Tags:</label>
     </div>
     <div class="col-sm-9">
         <Input @type="text" size={{25}} id="tags" @value={{this.model.plot.tags}} />
     </div>
   </div>


<div class="action-buttons">
  <LinkTo @route="plot" @model={{this.model.plot.id}} class="btn btn-secondary">Cancel</LinkTo>
  <button {{action 'save'}} class="btn btn-primary">Save</button>
</div>

<FlashMessages />
{{outlet}}