{{page-title 'Plots'}}
<h1>Plots</h1>

{{#if isApproved}}

<div class="row">

    <div class="col pull-right">
        <LinkTo @route="plot-create" class="btn btn-primary">Create Plot</LinkTo>
    </div>

</div>

{{/if}}

<table class="table table-striped">


<thead>
    <tr>
        <th class="col-xs-3">Plot</th>
        <th class="col-xs-2">Storytellers</th>
        <th class="col-xs-3 hidden-xs hidden-sm">Dates</th>
        <th class="col-xs-4">Summary</th>
    </tr>
</thead>

<tbody>

{{#each model as |plot|}}
  {{#if (not plot.completed) }}
    {{#if (not plot.background) }}
      <tr>
          <td>
          <LinkTo @route="plot" @model={{plot.id}}>{{plot.title}}</LinkTo>
          </td>
          <td>
            {{#each plot.storytellers as |storyteller|}}
              <LinkTo @route="char" @model="{{storyteller.name}}">{{storyteller.name}}</LinkTo>
            {{/each}}
          </td>
          <td class="hidden-xs hidden-sm">
          {{plot.start_date}} - {{plot.end_date}}
          </td>
          <td>
              <AnsiFormat @text={{plot.summary}} />
              {{#if plot.content_warning}}
              <ContentWarningTag @warning={{plot.content_warning}} />
              {{/if}}

          </td>
      </tr>
    {{/if}}
  {{/if}}
{{/each}}

</tbody>
</table>

<h2>Background Plots</h2>
<p>Ongoing plots that currently exist in the background of the game's story.</p>

<table class="table table-striped">

<thead>
    <tr>
        <th class="col-xs-3">Plot</th>
        <th class="col-xs-2">Storytellers</th>
        <th class="col-xs-3 hidden-xs hidden-sm">Dates</th>
        <th class="col-xs-4">Summary</th>
    </tr>
</thead>

<tbody>

  {{#each model as |plot|}}
    {{#if (not plot.completed) }}
      {{#if plot.background }}
        <tr>
            <td>
            <LinkTo @route="plot" @model={{plot.id}}>{{plot.title}}</LinkTo>
            </td>
            <td>
              {{#each plot.storytellers as |storyteller|}}
                <LinkTo @route="char" @model="{{storyteller.name}}">{{storyteller.name}}</LinkTo>
              {{/each}}
            </td>
            <td class="hidden-xs hidden-sm">
            {{plot.start_date}} - {{plot.end_date}}
            </td>
            <td>
                <AnsiFormat @text={{plot.summary}} />
                {{#if plot.content_warning}}
                <ContentWarningTag @warning={{plot.content_warning}} />
                {{/if}}

            </td>
        </tr>
    {{/if}}
    {{/if}}
  {{/each}}


</tbody>
</table>

<br><br>

<h2>Inactive & Completed Plots</h2>

<table class="table table-striped">


<thead>
    <tr>
        <th class="col-md-3">Plot</th>
        <th class="col-md-2">Storytellers</th>
        <th class="col-md-2">Dates</th>
        <th class="col-md-5">Summary</th>
    </tr>
</thead>

<tbody>

{{#each model as |plot|}}
  {{#if plot.completed }}
    <tr>
        <td>
        <LinkTo @route="plot" @model={{plot.id}}>{{plot.title}}</LinkTo>
        </td>
        <td>
          {{#each plot.storytellers as |storyteller|}}
            {{char-icon-tiny char=storyteller}}
          {{/each}}
        </td>
        <td>
        {{plot.start_date}} - {{plot.end_date}}
        </td>
        <td>
            <AnsiFormat @text={{plot.summary}} />
            {{#if plot.content_warning}}
            {{content-warning-tag warning=plot.content_warning}}
            {{/if}}

        </td>
    </tr>
  {{/if}}
{{/each}}



</tbody>
</table>
