{{page-title this.model.plot.title}}
<h1>{{this.model.plot.title}}</h1>

<p><LinkTo @route="plots"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Plots</LinkTo></p>
      
  
<p><AnsiFormat @text={{this.model.plot.summary}} /></p>

{{#if this.model.plot.content_warning}}
<div class="alert alert-danger"><b>Content Warning:</b> {{this.model.plot.content_warning}}</div>
{{/if}}

{{#if this.model.plot.description}}
<p><a href="#details"><i class="fas fa-angle-double-down"></i> Jump to Details</a></p>
{{/if}}

<p><label>Storytellers:</label> 
  {{#each this.model.plot.storytellers as |storyteller|}}
  <CharIconInline @char={{storyteller}} />
  {{/each}}
</p>


{{#if this.model.plot.tags}}
<b>Tags:</b>  
    {{#each this.model.plot.tags as |tag|}}
    <LinkTo @route="wiki-tag" @model={{tag}}>{{tag}}</LinkTo>
    {{/each}}
{{/if}}

   
    
    
{{#if this.model.plot.description}}
<div>
<a name="details"></a>
<h2>Details</h2>

<AnsiFormat @text={{this.model.plot.description}} />

</div>
{{/if}}

 <h2>Scenes</h2>
        
    <SceneList @scenes={{this.model.scenes.scenes}} @pages={{this.model.scenes.pages}} @sceneTypes={{this.model.sceneOptions.scene_types}} @filter={{this.filter}} @page={{this.page}} @filterChanged={{action "filterChanged"}} @goToPage={{action "goToPage"}} />

<p><LinkTo @route="plots"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Plots</LinkTo></p>



{{#if this.isApproved}}

<div class="action-buttons">
  {{#if this.isAdmin}}
  <button {{action (mut this.confirmDelete) true}} class="btn btn-warning">Delete</button>
  {{/if}}
  <LinkTo @route="plot-edit" @model={{this.model.plot.id}} class="btn btn-primary">Edit</LinkTo>
</div>

{{/if}}

<FlashMessages />

<BsModalSimple @title="Confirm Delete" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{true}} @open={{this.confirmDelete}} @onSubmit={{action "delete"}} @onHide={{action (mut this.confirmDelete) false}}>
    You're about to delete plot {{this.model.plot.title}}. This cannot be undone.  Are you sure?
  </BsModalSimple>
  
{{outlet}}

    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
