{{title model.plot.title}}
<h1>{{model.plot.title}}</h1>
      
  
<p><AnsiFormat @text={{model.plot.summary}} /></p>

{{#if model.plot.content_warning}}
<div class="alert alert-danger"><b>Content Warning:</b> {{model.plot.content_warning}}</div>
{{/if}}


<p><label>Storytellers:</label> 
  {{#each model.plot.storytellers as |storyteller|}}
  {{char-icon-inline char=storyteller}}
  {{/each}}
</p>

    <h2>Scenes</h2>
    
    <SceneList @scenes={{model.plot.scenes.scenes}} @pages={{model.plot.scenes.pages}} @sceneTypes={{model.sceneTypes}} @hideSearch={{true}} />
    
    
{{#if model.plot.description}}
<div>
<h2>Details</h2>

<AnsiFormat @text={{model.plot.description}} />

</div>
{{/if}}

<p><LinkTo @route="plots"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Plots</LinkTo></p>



{{#if isApproved}}

<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
        {{#if isAdmin}}
        <button {{action (mut confirmDelete) true}} class="btn btn-warning">Delete</button>
        {{/if}}
        <LinkTo @route="plot-edit" @model={{model.plot.id}} class="btn btn-primary">Edit</LinkTo>
    </div>
    </div>
</div>

{{/if}}

<FlashMessages />

<BsModalSimple @title="Confirm Delete" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{false}} @open={{confirmDelete}} @onSubmit={{action "delete"}} @onHide={{action (mut confirmDelete) null}}>
    You're about to delete plot {{model.plot.title}}. This cannot be undone.  Are you sure?
  </BsModalSimple>
  
{{outlet}}