{{title 'Create Plot'}}
<h1>Create a Plot</h1>

   <div class="form-group row">
    <div class="col-sm-3">
        <label for="title" class="col-form-label">Title:</label>
    </div>
    <div class="col-sm-9">
         <Input @type="text" @size={{25}} @id="title" @enter={{action "save"}} @value={{title}} />
    </div> 
  </div>
  
  <div class="form-group row">
    <div class="col-sm-3">
      <b>Storytellers:</b>
    </div>

    <div class="col-sm-9">
      {{#power-select-multiple  selected=storytellers options=model searchField="name" onchange=(action "storytellersChanged") as |char|}}
        {{char.name}}
      {{/power-select-multiple}}
    </div>
  </div>
  
   <div class="form-group row">
    <div class="col-sm-3">
        <label for="summary" class="col-form-label">Summary:</label>
    </div>
    <div class="col-sm-9">
       <MarkdownEditor @text={{summary}} />
    </div> 
  </div>
     
  
     <div class="form-group row">
        <div class="col-sm-3">
            <label for="title" class="col-form-label">Content Warning:</label>
        </div>
        <div class="col-sm-9">
            <Input @type="text" @size={{25}} @id="content_warning" @value={{contentWarning}} />
        </div>
      </div>
      
      <div class="form-group row">
       <div class="col-sm-3">
        <label for="description" class="col-form-label">Description:</label>
       </div>
       <div class="col-sm-9">
        <MarkdownEditor @text={{description}} />
       </div> 
     </div>
        

<div class="pull-right">
        <p> <LinkTo @route="plots" class="btn btn-default">Cancel</LinkTo>  
        <button {{action 'save'}} class="btn btn-primary">Save</button> </p>
</div>
        
<FlashMessages />
{{outlet}}