{{page-title 'Plots'}}
<h1>Plots</h1>

<p>Plots are a way to group related scenes.</p>

{{#if isApproved}}

<div class="row">
    
    <div class="col pull-right">
        <LinkTo @route="plot-create" class="btn btn-primary">Create Plot</LinkTo>
    </div>
    
</div>

{{/if}}

<table class="table table-striped">


<thead>
    <tr>
        <th class="col-xs-3">Plot</th>
        <th class="col-xs-2">Storytellers</th>
        <th class="col-xs-3 hidden-xs hidden-sm">Dates</th>
        <th class="col-xs-4">Summary</th>
    </tr>
</thead>

<tbody>

{{#each model as |plot|}}
  {{#if (not plot.completed) }}
    <tr>
        <td>
        <LinkTo @route="plot" @model={{plot.id}}>{{plot.title}}</LinkTo>
        </td>
        <td>
          {{#each plot.storytellers as |storyteller|}}
            <LinkTo @route="char" @model="{{storyteller.name}}">{{storyteller.name}}</LinkTo>
          {{/each}}
        </td>
        <td class="hidden-xs hidden-sm">
        {{plot.start_date}} - {{plot.end_date}}
        </td>        
        <td>
            <AnsiFormat @text={{plot.summary}} />
            {{#if plot.content_warning}}
            <ContentWarningTag @warning={{plot.content_warning}} />
            {{/if}}
            
        </td>
    </tr>
  {{/if}}
{{/each}}

</tbody>
</table>

<h2>Completed Plots</h2>

<ul>
{{#each model as |plot|}}
  {{#if plot.completed }}
    <li>
        <LinkTo @route="plot" @model={{plot.id}}>{{plot.title}}</LinkTo>
        
            <AnsiFormat @text={{plot.summary}} />
    </li>
  {{/if}}
{{/each}}
</ul>