{{page-title 'Create Plot'}}
<h1>Create a Plot</h1>

   <div class="form-item">
    <div class="form-item-label">
        Title:
    </div>
    <div class="form-item-entry">
         <Input @type="text" size={{25}} id="title" @enter={{this.save}} @value={{this.title}} />
    </div> 
  </div>
  
  <div class="form-item">
    <div class="form-item-label">
      <b>Storytellers:</b>
    </div>

    <div class="form-item-entry">
      <PowerSelectMultiple @selected={{this.storytellers}} @options={{this.model}} @searchEnabled=true @searchField="name" @onChange={{this.storytellersChanged}} as |char|>
        {{char.name}}
      </PowerSelectMultiple>
    </div>
  </div>
  
   <div class="form-item">
    <div class="form-item-label">
        Summary:
    </div>
    <div class="form-item-entry">
       <MarkdownEditor @text={{this.summary}} />
    </div> 
  </div>
     
  
     <div class="form-item">
        <div class="form-item-label">
            Content Warning:
        </div>
        <div class="form-item-entry">
            <Input @type="text" size={{25}} id="content_warning" @value={{this.contentWarning}} />
        </div>
      </div>
      
      <div class="form-item">
         <div class="form-item-label">
             Tags:
         </div>
         <div class="form-item-entry">
             <Input @type="text" size={{25}} id="tags" @value={{this.tags}} />
         </div>
       </div>
       
      <div class="form-item">
       <div class="form-item-label">
        Description:
       </div>
       <div class="form-item-entry">
        <MarkdownEditor @text={{this.description}} />
       </div> 
     </div>
        

<div class="action-buttons">
  <LinkTo @route="plots" class="btn btn-secondary">Cancel</LinkTo>  
  <button {{on 'click' this.save}} class="btn btn-primary">Save</button>
</div>
        
<FlashMessages />
{{outlet}}