{{title 'Plots'}}
<h1>Plots</h1>

<p>Plots are a way to group related scenes.</p>

{{#if isApproved}}

<div class="row">

    <div class="col pull-right">
        {{#link-to 'plot-create' class="btn btn-primary"}}Create Plot{{/link-to}}
    </div>

</div>

{{/if}}

<table class="table table-striped">


<thead>
    <tr>
        <th class="col-md-3">Plot</th>
        <th class="col-md-2">Storytellers</th>
        <th class="col-md-2">Dates</th>
        <th class="col-md-5">Summary</th>
    </tr>
</thead>

<tbody>

{{#each model as |plot|}}
  {{#if (not plot.completed) }}
    <tr>
        <td>
        {{#link-to 'plot' plot.id}}{{plot.title}}{{/link-to}}
        </td>
        <td>
          {{#each plot.storytellers as |storyteller|}}
            {{#link-to 'char' storyteller.name}}{{storyteller.name}}{{/link-to}}
          {{/each}}
        </td>
        <td>
        {{plot.start_date}} - {{plot.end_date}}
        </td>
        <td>
            {{{ansi-format text=plot.summary}}}
            {{#if plot.content_warning}}
            {{content-warning-tag warning=plot.content_warning}}
            {{/if}}

        </td>
    </tr>
  {{/if}}
{{/each}}



</tbody>
</table>
<br><br>
<iframe src="https://calendar.google.com/calendar/b/3/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=spiritlakemu%40gmail.com&amp;color=%2323164E&amp;src=so41d2tcl40g5qc77e1sghiaoh6g5ld0%40import.calendar.google.com&amp;color=%235229A3&amp;ctz=America%2FDenver" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

<h2>Inactive & Completed Plots</h2>

<table class="table table-striped">


<thead>
    <tr>
        <th class="col-md-3">Plot</th>
        <th class="col-md-2">Storytellers</th>
        <th class="col-md-2">Dates</th>
        <th class="col-md-5">Summary</th>
    </tr>
</thead>

<tbody>

{{#each model as |plot|}}
  {{#if plot.completed }}
    <tr>
        <td>
        {{#link-to 'plot' plot.id}}{{plot.title}}{{/link-to}}
        </td>
        <td>
          {{#each plot.storytellers as |storyteller|}}
            {{#link-to 'char' storyteller.name}}{{storyteller.name}}{{/link-to}}
          {{/each}}
        </td>
        <td>
        {{plot.start_date}} - {{plot.end_date}}
        </td>
        <td>
            {{{ansi-format text=plot.summary}}}
            {{#if plot.content_warning}}
            {{content-warning-tag warning=plot.content_warning}}
            {{/if}}

        </td>
    </tr>
  {{/if}}
{{/each}}



</tbody>
</table>
