{{title model.plot.title}}
<h1>{{model.plot.title}}</h1>
        
<div class="ansi">

        <p>{{{ansi-format text=model.plot.summary}}}</p>
</div>



    <h2>Scenes</h2>
    
    {{scene-list scenes=model.plot.scenes sceneTypes=model.sceneTypes}}
    
    
{{#if model.plot.description}}
<div>
<h2>Details</h2>

{{{ansi-format text=model.plot.description}}}

</div>
{{/if}}

<p>{{#link-to 'plots'}}<i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Plots{{/link-to}}</p>



{{#if isApproved}}

<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
        {{#if isAdmin}}
        <button {{action (mut confirmDelete) true}} class="btn btn-warning">Delete</button>
        {{/if}}
        {{#link-to 'plot-edit' model.plot.id class="btn btn-primary"}}Edit{{/link-to}}
    </div>
    </div>
</div>

{{/if}}

{{flash-messages}}

{{#bs-modal-simple
    title="Confirm Delete"
    closeTitle="Cancel"
    submitTitle="Confirm"
    size=null
    fade=false
    open=confirmDelete
    onSubmit=(action "delete")
    onHide=(action (mut confirmDelete) null)}}
    You're about to delete plot {{model.plot.title}}. This cannot be undone.  Are you sure?
  {{/bs-modal-simple}}
  
{{outlet}}