{{title model.portal.name}}
<h1>Edit {{model.portal.name}} Portal</h1>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#general">General</a></li>
        <li><a data-toggle="tab" href="#desc">Description & Society</a></li>
        <li><a data-toggle="tab" href="#creatures">Creatures & NPCs</a></li>
        <li><a data-toggle="tab" href="#events">Trivia & Events</a></li>
    </ul>



    <div class="tab-content">

      <div id="general" class="tab-pane fade in active">
        <div class="form-group row">
          <div class="col-sm-3">
            <p><b>Name</b></p>
          </div>

          <div class="col-sm-9">
            <p>{{input type="text" size=25 value=model.portal.name}}</p>
          </div>
          <div class="col-sm-3">
            <p><b>GMs</b></p>
          </div>

          <div class="col-sm-9">
            <p>{{#power-select-multiple selected=model.portal.gms options=model.characters searchField="name" onchange=(action "gmsChanged") as |char|}}
              {{char.name}}
            {{/power-select-multiple}}</p>
          </div>

          <div class="col-sm-3">
            <p><b>Location</b></p>
          </div>

          <div class="col-sm-9">
          <p> {{input type="text" size=25 value=model.portal.location}}</p>
          </div>

          <div class="col-sm-3">
            <p><b>Latitude</b></p>
          </div>

          <div class="col-sm-9">
            <p>{{input type="text" size=25 value=model.portal.latitude}}</p>
          </div>

          <div class="col-sm-3">
            <p><b>Longitude</b></p>
          </div>

          <div class="col-sm-9">
            <p>{{input type="text" size=25 value=model.portal.longitude}}</p>
          </div>

          <div class="col col-xs-12">
            <p><label>Location known on WeirdNet?</label>
            {{input type="checkbox"  id="location_known"  checked=isKnown}}</p>
          </div>

          <div class="col-sm-3">
            <p><b>Primary School</b></p>
          </div>

          <div class="col-sm-9">
            <p>{{#power-select selected=model.portal.primary_school options=model.schools   onchange=(action "primaryschoolChanged") as |school|}}
              {{school.name}}
            {{/power-select}}</p>
          </div>

          <div class="col-sm-3">
            <p><b>All Schools</b></p>
          </div>

          <div class="col-sm-9">
            <p>{{#power-select-multiple selected=model.portal.all_schools options=model.schools placeholder="A portal can have to 5 schools of magic total"  searchField="name" onchange=(action "allschoolsChanged") as |school|}}
              {{school.name}}
            {{/power-select-multiple}}</p>
          </div>

          <div class="col-sm-3">
            <p><b>Pinterest URL</b></p>
          </div>

          <div class="col-sm-9">
            <p>{{input type="text" size=25 value=model.portal.pinterest}}</p>
          </div>
        </div>
      </div>

      <div id="desc" class="tab-pane fade in">
        <b>Description</b>
        {{markdown-editor text=model.portal.edit_desc}}
        <b>Society</b>
        {{markdown-editor text=model.portal.edit_society}}
      </div>

      <div id="creatures" class="tab-pane fade in">
        <div class="col-sm-3">
          <b>Creatures</b>
        </div>

        <div class="col-sm-9">
          {{#power-select-multiple selected=model.portal.creatures options=model.creatures searchField="name" onchange=(action "creaturesChanged") as |creature|}}
            {{creature.name}}
          {{/power-select-multiple}}
        </div>


        <b>Other Creatures</b>
        {{markdown-editor text=model.portal.edit_other_creatures}}

        <b>Important Figures</b>
        {{markdown-editor text=model.portal.edit_npcs}}
      </div>




      <div id="events" class="tab-pane fade in">
        <b>Trivia</b>
        {{markdown-editor text=model.portal.edit_trivia}}

        <b>RP Suggestions</b>
        {{markdown-editor text=model.portal.edit_rp_suggestions}}

        <b>Events</b>
        {{markdown-editor text=model.portal.edit_events}}
      </div>

    </div>

    <div class="row">
        <div class="col col-xs-12">
            <div class="pull-right">

                <p> {{#link-to 'portal' model.portal.id class="btn btn-default"}}Cancel{{/link-to}}
                    <button class="btn btn-primary" {{action 'save'}} >Save</button>
                </p>

            </div>
        {{flash-messages}}
        </div>
    </div>


{{outlet}}
