{{page-title 'Portals'}}
<h1>Portals</h1>

<div class="action-buttons">
  {{#link-to 'portal-create' class="btn btn-primary"}}Create Portal{{/link-to}}
</div>

<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Iw2hd57g__fAY9PugKUXtnTLRSiVzZ3B" width="100%" height="480"></iframe><br><br>

<div class="action-buttons">
  {{#link-to 'portal-create' class="btn btn-primary"}}Create Portal{{/link-to}}
</div>

<div class="clearfix"/>

<div class="clearfix"/>
  <ul class="nav nav-tabs">
      <li><a data-bs-toggle="tab" href="#known">Location Known</a></li>
      <li><a data-bs-toggle="tab" href="#unknown">Location Unknown</a></li>
        <li><a data-bs-toggle="tab" href="#a-z">A-Z List</a></li>
    </ul>

    <div class="tab-content">


  <div id="known" class="tab-pane active in 'Location Known'">
      {{#each this.model as |portal|}}
      {{#if portal.location_known}}
        <div class="directory-card" style="background-image: url('/game/uploads/{{portal.banner_image.path}}');">
          <div class="directory-title">{{#link-to 'portal' portal.id}}{{portal.name}}{{/link-to}}</div>
          <div class="directory-info">
             <p>{{portal.short_desc}}</p>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>

  <div id="unknown" class="tab-pane fade show 'Location Unknown'">
    {{#each this.model as |portal|}}
    {{#unless portal.location_known}}
      <div class="directory-card" style="background-image: url('/game/uploads/{{portal.banner_image.path}}');">
        <div class="directory-title">{{#link-to 'portal' portal.id}}{{portal.name}}{{/link-to}}</div>
        <div class="directory-info">
           <p>{{portal.short_desc}}</p>
        </div>
      </div>
    {{/unless}}
  {{/each}}
  </div>

  <div id="a-z" class="tab-pane row">
    <div class="row">

      <div class="col col-xs-6">
        LOCATION KNOWN
        <ul>
          {{#each this.model as |portal|}}
            {{#if portal.location_known}}
              <li>{{#link-to 'portal' portal.id}}{{portal.name}}{{/link-to}}</li>
            {{/if}}
          {{/each}}
        </ul>
      </div>

      <div class="col col-xs-6">
        LOCATION UNKNOWN
        <ul>
          {{#each this.model as |portal|}}
            {{#unless portal.location_known}}
              <li>{{#link-to 'portal' portal.id}}{{portal.name}}{{/link-to}}</li>
            {{/unless}}
          {{/each}}
        </ul>
      </div>

    </div>
  </div>

</div>


{{outlet}}
