{{title 'Recent Changes'}}
<h1>Recent Changes</h1>

<p>This list includes wiki pages, events and profiles.  For scenes, check the {{#link-to 'scenes'}}Scenes{{/link-to}} archive.</p>

<table class="table table-striped">
    
   {{#each model as |change|}}
   <tr>
       <td>
           {{change.timestamp}}
       </td>
       <td>
           {{#if (eq change.type 'char')}}
             {{#link-to 'char' change.data.char_name}}{{change.message}}{{/link-to}}
           {{else if (eq change.type 'wiki')}}
             {{#link-to 'wiki-page' change.data.page_name}}{{change.message}}{{/link-to}}
           {{else if (eq change.type 'file')}}
             {{#link-to 'file' change.data.folder change.data.name}}{{change.message}}{{/link-to}}
           {{else}}
             {{change.message}}
           {{/if}}
       </td>
       <td>
           {{change.author}}
       </td>
       <td>
         {{#if (eq change.type 'char')}}
           {{#link-to 'char-source' change.data.char_name change.data.version_id}}(history){{/link-to}}
         {{else if (eq change.type 'wiki')}}
           {{#link-to 'wiki-source' change.data.page_name change.data.version_id}}(history){{/link-to}}
         {{/if}}
       </td>
   </tr>
   {{/each}}

</table>

{{outlet}}