{{title 'Recent Changes'}}
<h1>Recent Changes</h1>

<p>This list includes wiki pages, events and profiles.  For scenes, check the {{#link-to 'scenes'}}Scenes{{/link-to}} archive.</p>

<table class="table table-striped">
    
   {{#each model as |change|}}
   <tr>
       <td>
           {{change.created}}
       </td>
       <td>
           {{#if (eq change.change_type 'deleted')}}
             {{change.title}}
           {{else if (eq change.change_type 'char')}}
             {{#link-to 'char' change.name}}{{change.title}}{{/link-to}}
           {{else if (eq change.change_type 'event')}}
            {{#link-to 'event' change.id}}{{change.title}}{{/link-to}}
           {{else if (eq change.change_type 'wiki')}}
             {{#link-to 'wiki-page' change.name}}{{change.title}}{{/link-to}}
           {{/if}}
       </td>
       <td>
           {{change.author}}
       </td>
       <td>
         {{#if (eq change.change_type 'char')}}
         {{#link-to 'char-source' change.name change.id}}(history){{/link-to}}
         {{else if (eq change.change_type 'wiki')}}
         {{#link-to 'wiki-source' change.name change.id}}(history){{/link-to}}
         {{/if}}
       </td>
   </tr>
   {{/each}}

</table>

{{outlet}}