{{page-title 'Register Character'}}
{{#if this.model.enable_registration}}

<p>Enter your character information.  Your web login will be the same as your game login.</p>
        
        {{#if this.model.terms_of_service}}
            <div class="ansi alert alert-info">By playing here, you agree to the policies listed on the <LinkTo @route="tos">Terms of Service</LinkTo> page.</div>
        {{/if}}
        
<div class="card card-default">
    <div class="card-body">
        
        <p><Input @type="text" id="name" placeholder="Name" @enter={{this.register}} @value={{this.name}} autofocus={{true}} /></p>
        <p><Input @type="password" placeholder="Password" @enter={{this.register}} id="password" @value={{this.password}} /></p>
        <p><Input @type="password" placeholder="Confirm Password" @enter={{this.register}} id="confirmPassword" @value={{this.confirmPassword}} /></p>
        
        
        {{#if this.model.turnstile}}
        <TurnstileWidget @response={{this.turnstileResponse}} @onResetAvail={{this.setTurnstileReset}} @sitekey={{this.model.turnstile}} />

        {{else if this.model.recaptcha}}
        <GRecaptcha @onSuccess={{this.recaptchaResolved}} @onRender={{this.setRecaptchaRef}} @sitekey={{this.model.recaptcha}} />
        
        {{/if}}

        <button {{on 'click' this.register}} class="btn btn-primary">Register</button>
        
    </div>
</div>

{{else}}

<p>Web registration is disabled.  Please create a character in the game.</p>

{{/if}}
{{outlet}}