{{title 'Register Character'}}
{{#if model.enable_registration}}

<p>Enter your character information.  Your web login will be the same as your game login.</p>
        
        {{#if model.terms_of_service}}
            <div class="ansi alert alert-info">By playing here, you agree to the policies listed on the <LinkTo @route="tos">Terms of Service</LinkTo> page.</div>
        {{/if}}
        
<div class="panel panel-default">
    <div class="panel-body">

        
        <p><Input @type="text" @id="name" placeholder="Name" @enter={{action "register"}} @value={{name}} @autofocus={{true}} /></p>
        <p><Input @type="password" placeholder="Password" @enter={{action "register"}} @id="password" @value={{password}} /></p>
        <p><Input @type="password" placeholder="Confirm Password" @enter={{action "register"}} @id="confirmPassword" @value={{confirmPassword}} /></p>
        
        {{#if model.recaptcha}}
        <GRecaptcha @onSuccess={{action "recaptchaResolved"}} @ref={{mut recaptchaControl}} @sitekey={{model.recaptcha}} />
        {{/if}}

        <button {{action "register"}} class="btn btn-primary">Register</button>
        
    </div>
</div>

{{else}}

<p>Web registration is disabled.  Please create a character in the game.</p>

{{/if}}
{{outlet}}