{{title 'Register Character'}}
{{#if model.enable_registration}}

<p>Enter your character information.</p>

        
        
        {{#if model.terms_of_service}}
            <div class="ansi alert alert-info">{{{ansi-format text=model.terms_of_service}}}</div>
        {{/if}}
        
<div class="panel panel-default">
    <div class="panel-body">

        
        <p>{{input type="text" id="name" placeholder="Name" enter="login" value=name autofocus=true }}</p>
        <p>{{input type="password" placeholder="Password" enter="login" id="password" value=password }}</p>
        <p>{{input type="password" placeholder="Confirm Password" enter="login" id="confirmPassword" value=confirmPassword }}</p>
        
        {{#if model.recaptcha}}
        {{g-recaptcha onSuccess=(action "recaptchaResolved") ref=(mut recaptchaControl) sitekey=model.recaptcha}}
        {{/if}}

        <button {{action "register"}} class="btn btn-primary">Register</button>
        
    </div>
</div>

{{else}}

<p>Web registration is disabled.  Please create a character in the game.</p>

{{/if}}
{{outlet}}