{{page-title "Roles and Permissions"}}
<h1>Roles and Permissions</h1>

<h2>Roles</h2>
<table>
  {{#each model.roles as |role|}}
  <tr>
    <td>{{role.name}}</td>
    <td>
      {{#each role.permissions as |permission|}}
        {{permission}}
      {{/each}}
    </td>
    {{#if role.chars}}
    <td>
      
      {{#each role.chars as |char|}}
      {{char}}
      {{/each}}
    
    </td>
    {{/if}}
  </tr>
  {{/each}}
</table>

<h2>Permissions</h2>
<table>
  {{#each model.permissions as |permission|}}
  <tr>
    <td>{{permission.name}}</td>
    <td>{{permission.section}}</td>
    <td>{{permission.description}}</td>
  </tr>
  {{/each}}
</table>
