{{page-title this.model.scene.title}}
<h1>Edit Scene {{this.model.scene.title}}</h1>
        

     <div class="form-item">
       <div class="form-item-label">     
         <label class="col-form-label">Scene Privacy:</label>
       </div>

       <div class="form-item-entry">
          <PowerSelect @selected={{this.model.scene.privacy}} @options={{this.scenePrivacyValues}} @onChange={{this.privacyChanged}} as |type|>
            {{type}}
          </PowerSelect>
       </div>
     </div>
     
     <div class="form-item">
        <div class="form-item-label">
            Notes:
        </div>
        <div class="form-item-entry">
            <Input @type="text" size={{60}} id="limit" @enter={{this.save}} @value={{this.model.scene.limit}} />
             <p class="hint">Use this for open scenes where participation is limited (by quantity, character type, etc.) or other special considerations apply.</p>
        </div>
      </div>
    
    
   <div class="form-item">
      <div class="form-item-label">
          Title:
      </div>
      <div class="form-item-entry">
          <Input @type="text" size={{25}} id="title" @enter={{this.save}} @value={{this.model.scene.title}} />
      </div>
    </div>
    
   <div class="form-item">
     <div class="form-item-label">
          Location:
      </div>
      <div class="form-item-entry">
          <Input @type="text" size={{25}} id="location" @enter={{this.save}} @value={{this.model.scene.location}} />
      </div>
    </div>
    
    
   <div class="form-item">
     <div class="form-item-label">
          IC Date:
      </div>
       <div class="form-item-entry">
          <Input @type="text" size={{25}} id="icdate" @enter={{this.save}} @value={{this.model.scene.icdate}} />
      </div>
    </div>

   <div class="form-item">
    <div class="form-item-label">
        <label class="col-form-label">Scene Type:</label>
    </div>
     <div class="form-item-entry">
        <PowerSelect @selected={{this.model.scene.scene_type}} @options={{this.sceneTypes}} @onChange={{this.typeChanged}} as |type|>
          {{type}}
        </PowerSelect>
      
    </div>
  </div>
  
   <div class="form-item">
    <div class="form-item-label">
       <label class="col-form-label">Scene Pacing:</label>
    </div>
    <div class="form-item-entry">
       <PowerSelect @selected={{this.model.scene.scene_pacing}} @options={{this.scenePacingOptions}} @onChange={{this.pacingChanged}} as |type|>
         {{type}}
       </PowerSelect>
    </div> 
  </div>
    
   <div class="form-item">
     <div class="form-item-label">
        <label class="col-form-label">Plot:</label>
     </div>
     <div class="form-item-entry">
        <PowerSelectMultiple @selected={{this.model.scene.plots}} @options={{this.model.plots}} @allowClear={{true}} @searchEnabled=true @searchField="title" @onChange={{this.plotsChanged}} as |plot|>
          {{plot.title}}
        </PowerSelectMultiple>
     </div>
  </div>
    
   <div class="form-item">
    <div class="form-item-label">
        Tags:
    </div>
    <div class="form-item-entry">
        <Input @type="text" size={{25}} id="tags" @enter={{this.save}} @value={{this.model.scene.tags}} />
    </div> 
  </div>

   <div class="form-item">
    <div class="form-item-label">
        Participants:
    </div>
    <div class="form-item-entry">
        <PowerSelectMultiple aria-label="participants" @selected={{this.model.scene.participants}} @options={{this.model.characters}} @searchEnabled=true @searchField="name" @onChange={{this.participantsChanged}} as |char|>
          {{char.name}}
        </PowerSelectMultiple>
    </div> 
  </div>
    

   <div class="form-item">
    <div class="form-item-label">
        Related Scenes:
    </div>
    <div class="form-item-entry">
            <PowerSelectMultiple aria-label="related" @selected={{this.model.scene.related_scenes}} @options={{this.model.scenes.scenes}} @searchEnabled=true @searchField="title" @onChange={{this.relatedChanged}} as |scene|>
              {{scene.icdate}} {{scene.title}}
            </PowerSelectMultiple>
    </div> 
  </div>
    
   <div class="form-item">
    <div class="form-item-label">
        Summary:
    </div>
    <div class="form-item-entry">
            <MarkdownEditor @text={{this.model.scene.summary}} />
            
    </div>
   </div>

   <div class="form-item">
      <div class="form-item-label">
          Content Warning:
      </div>
      <div class="form-item-entry">
        <PowerSelectMultiple class="content-tags-selector" @selected={{this.warning_tags}} @options={{this.model.sceneOptions.content_warnings}} @onChange={{this.warningsChanged}} as |warning|>
          {{warning}}
        </PowerSelectMultiple>
          <Input @type="text" size={{60}} id="content_warning" @enter={{this.save}} @value={{this.model.scene.content_warning}} />
             <p class="hint">Select from the suggested tags or write your own. Please avoid frivolous warnings.</p>
      </div>
    </div>

    {{#if this.model.scene.shared}}
    
    <MarkdownEditor @text={{this.model.scene.log}} @rows={{20}} />
    
    {{/if}}
    
<div class="action-buttons">
    <LinkTo @route="scene" @model={{this.model.scene.id}} class="btn btn-secondary">Cancel</LinkTo> 
    <button class="btn btn-primary" {{on 'click' this.save}}>Save</button>
</div>

<FlashMessages />
{{outlet}}