{{title "Active Scenes"}}
<h1>Active Scenes</h1>

<p>This list shows scenes that are currently in progress.  Private scenes require an invitation, but open scenes are open to anyone.   You can play with a MUSH client or through the web portal.</p>

<p>The unread flags <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-label="New Activity Flag"></i></span> show new activity in public scenes or scenes you're watching/participating in.</p>

{{#if isApproved}}
<div class="row">
    
    <div class="col pull-right">
        <LinkTo @route="scene-create" class="btn btn-default">Create Scene</LinkTo>
        <LinkTo @route="play" class="btn btn-primary">Play</LinkTo>
    </div>
    
</div>
{{/if}}


{{#each model.active as |scene| }}

<div class="live-scenes-block">
  <div class="row live-scenes-heading">
    <div class="col col-xs-8">
      {{#if scene.is_unread}}
      <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-label="New Activity"></i></span>
      {{/if}}

      <LinkTo @route="scene-live" @model={{scene.id}} class="scene-title">Scene {{scene.id}}
      {{#if scene.title}}
       - {{scene.title}}
      {{/if}}
      </LinkTo>
   
    </div>
    
    <div class="col col-xs-4">
      <ScenePrivacyTag @scene={{scene}} />
      <SceneTypeTag @scene={{scene}} />
      {{#if scene.content_warning}}
      <ContentWarningTag @warning={{scene.content_warning}} @position="top" />
      {{/if}}
      
    </div>
  </div>
    

  <div class="row">
    <div class="col col-xs-12 col-sm-8">
      <div class="live-scenes-contents">
        {{#each scene.participants as |char|}}
        <CharIconInline @char={{char}} />
        {{/each}}
      
        {{#if (or scene.can_view (not scene.is_private))}}
          {{#if scene.summary}}
          <p><AnsiFormat @text={{scene.summary}} />
          </p>
          {{/if}}
        {{/if}}

        {{#if scene.limit}}
        <div><span class="scene-info-label">Limited Participation:</span> {{scene.limit}}</div>
        {{/if}}

        <div><span class="scene-info-label">IC Date:</span> {{scene.icdate}}</div>
      
        {{#if (or scene.can_view (not scene.is_private))}}
          <div><span class="scene-info-label">Location:</span> {{scene.location}}</div>
        {{/if}}

        <div>
          <span class="scene-info-label">Last Activity:</span> {{#if scene.last_posed}}
        {{scene.last_posed}} @ 
        {{/if}}
      
        {{scene.updated}} 
        </div>
      </div>
    </div>
    
    <div class="col col-xs-12 col-sm-4">
     <div class="live-scenes-controls">
      {{#if scene.watching}}
        <a href="#" {{action 'stopWatching' scene.id}}><i class="fa fa-eye-slash" aria-label="Stop Watching"></i> Unwatch</a>

      {{else}}
        {{#if scene.can_view}}
          <a href="#" {{action 'watchScene' scene.id}}><i class="fa fa-eye" aria-label="Watch"></i> Watch</a>
      
          {{#if (not scene.participating) }}
          <a href="#" {{action 'joinScene' scene.id}}><i class="fa fa-sign-in-alt" aria-label="Join"></i> Join</a>
          {{/if}}
        {{/if}}
  
      {{/if}}
      </div>
    </div>
      
  </div>
    
  
</div>
{{/each}}


{{#if model.unshared}}
<br>
<hr>
<div class="alert alert-info">
  <p>You have <LinkTo @route="scenes-unshared">unshared scenes</LinkTo>.  Share or download them before they time out.</p>
  <p><LinkTo @route="scenes-unshared">View Unshared Scenes</LinkTo></p>
</div>

{{/if}}
  
{{outlet}}