{{title pageTitle}}

 
 <div class="row">
   <div class="col col-xs-12">
       
    <h1>Scene {{model.scene.id}} - {{model.scene.icdate}}
        {{#if model.scene.title}}
         - {{model.scene.title}}
         {{/if}}
     </h1>

    <LiveSceneContext @scene={{model.scene}} />
    
</div>
</div>

<div class="row">
    <div class="col col-xs-12">
     
      <LiveSceneControl @scene={{model.scene}} @locations={{model.locations}} @abilities={{model.abilities}} @places={{model.scene.places}} @playerName={{currentUser.name}} @scrollPaused={{scrollPaused}} @refresh={{action "refresh"}} @scrollScene={{action "scrollScene"}} @setScroll={{action "setScroll"}} />
   </div>
</div>
{{outlet}}