{{title "Active Scenes"}}
<h1>Active Scenes</h1>

<p>This list shows scenes that are currently in progress.  Private scenes require an invitation, but open scenes are open to anyone.   You can play in-game or via the web portal.</p>

<p>The unread flags <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-hidden="true"></i></span> show new activity in scenes you're watching or participating in.</p>

{{#if isApproved}}
<div class="row">
    
    <div class="col pull-right">
        {{#link-to 'scene-create' class="btn btn-primary"}}Create Scene{{/link-to}}
    </div>
    
</div>
{{/if}}

<table class="table table-striped">
    
<tr>
  <th></th>
  <th>Title / Status</th>
  <th>Location</th>
  <th>Participants</th>
  <th>IC Date</th>
  <th>Last Activity</th>
</tr>

{{#each model as |scene| }}
<tr>
    <td>
        {{#if scene.is_unread}}
        <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-hidden="true"></i></span>
        {{/if}}
    </td>
    <td>
        
        {{#link-to 'scene-live' scene.id}}Scene {{scene.id}}
        {{#if scene.title}}
         - {{scene.title}}
        {{/if}}
        {{/link-to}}
        
        {{#if scene.is_private}}
        <span class="label label-danger">Private</span>
        {{else}}
        <span class="label label-success">Open</span>
        {{/if}}
    </td>
    <td>
        {{scene.location}}
    </td>
    <td>
        {{#each scene.participants as |char|}}
        {{char-icon-inline char=char icon-class=(if char.online '' 'faded')}}
        {{/each}}
    </td>
    <td>
      <p>{{scene.icdate}}</p>
    </td>
    <td>
      {{scene.updated}}
      {{#if scene.watching}}
        {{#if (not scene.participating) }}
          <button class="btn btn-default" {{action 'stopWatching' scene.id}}>
          <i class="fa fa-eye-slash" aria-hidden="true"></i>
          </button>
         {{/if}}
      {{/if}}
    </td>
</tr>
{{/each}}

</table>
  
  
{{outlet}}