{{title 'My Scenes'}}
 
 <h1>My Scenes</h1>
 
 <div class="row">
   <div class="col col-xs-12 col-md-3">
     
     <button class="btn btn-default visible-sm visible-xs hidden-md" type="button" data-toggle="collapse" data-target="#sceneMenuCollapse" aria-expanded="false" aria-controls="sceneMenuCollapse">
         <i class="fas fa-bars"></i>
         {{#if anyNewActivity}}
         <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-label="New Activity"></i></span>
         {{/if}}
       </button>

       <div class="collapse in" id="sceneMenuCollapse">
         
       {{#each model.scenes as |scene|}}
         
         <button {{action 'switchScene' scene.id}} 
            class="btn btn-default chat-button {{if (eq scene.id currentScene.id) 'chat-button-active' ''}}">
           #{{scene.id}} - {{scene.location.name}} 
           {{#if scene.is_unread}}
             <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-label="New Activity"></i></span>
           {{/if}}
           
           <p>
             {{#each scene.participants as |participant|}}
               {{participant.name}}
             {{/each}}
           </p>
           </button>
         
       {{/each}}
   
       <p class="cg-tip">
         Only scenes you have joined or watched will show up here.
       </p>
     
     </div>
     
     
   </div>
   
   <div class="col col-xs-12 col-md-9">
       
      <h3>Scene {{currentScene.id}} - {{currentScene.icdate}}
          {{#if currentScene.title}}
           - {{currentScene.title}}
           {{/if}}
       </h3>

      <LiveSceneContext @scene={{currentScene}} />
    
       <LiveSceneControl @scene={{currentScene}} @locations={{model.locations}} @abilities={{model.abilities}} @places={{currentScene.places}} @scrollPaused={{scrollPaused}} @playerName={{currentUser.name}} @refresh={{action "refresh"}} @scrollScene={{action "scrollScene"}} @setScroll={{action "setScroll"}} />
       

    </div>
</div>


{{outlet}}