<h1>{{this.model.title}}</h1>

{{#if this.model.shared}}
<p>Scene is already shared, so you can only download the finished, clean log.</p> 
{{else}}
<p>
  <Input @type="checkbox" @checked={{this.showOoc}} {{on "click" this.toggleOoc}} /> Show OOC <br>
  <Input @type="checkbox" @checked={{this.showSystem}} {{on "click" this.toggleSystem}} /> Show System Messages (rolls, combat, etc.)
  
</p>

{{/if}}

<p><a href="#" {{on 'click' this.download}} class="btn btn-primary">Download</a></p>

<hr>

<pre>
{{this.model.log}}
</pre>

{{outlet}}