{{title pageTitle}}
<h1>Scene {{model.id}}
    {{#if model.title}}
     - {{model.title}}
     {{/if}}
     
     (In Progress)
 </h1>

<div class="row log-wrap">
       
    <div class="log-box">
       
        <p>{{model.summary}}</p>

        <p><b>Date:</b> {{model.icdate}}</p>

        <p><b>Location:</b> {{model.location.name}}</p>
        
        {{#if model.description}}
        <p>{{{ansi-format text=model.description}}}</p>
        {{/if}}

        <div>
          
        {{scene-tag scene=model}}
         
         </div>
         
    </div>
    
    <div class="log-participants-box">
        
    {{#each model.participants as |p|}}
        <div class="profile-gallery">    
            {{char-icon char=p}}
        </div>
    {{/each}}
    
    </div>
    
    <div class="clearfix"> </div>


</div>

<p>{{#link-to "scenes-live"}}<i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Scenes{{/link-to}}</p>


<div class="ansi scene-log" id="live-scene-log">
    
{{#each model.poses as |pose|}}    
         
        {{#if pose.is_system_pose}}
            <div class="scene-system-pose">
            {{{ansi-format text=pose.pose}}}
            </div>
        {{else}}
            <div class="scene-pose-header">		
                {{char-icon-inline char=pose.char}}	
            </div>
             {{#if pose.is_setpose}}
                <div class="scene-set-pose">
                {{{ansi-format text=pose.pose}}}
                </div>
            {{else if pose.is_ooc}}
                <div class="scene-ooc-pose">
                <span class="label label-pill label-primary"> OOC</span>	
                {{{ansi-format text=pose.pose}}}
                </div>
            {{else}}        
                <div class="scene-pose">	
                    {{{ansi-format text=pose.pose}}}
                </div>
            {{/if}}
        {{/if}}
{{/each}}
    
</div>


{{#if isApproved}}

    {{markdown-editor text=scenePose}}
    

<div class="row">
    <div class="col col-xs-12">
        {{#if model.can_edit}}

            <ul class="nav navbar-nav">    
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                  <span class="btn btn-default" href="#" role="button">Scene Menu <span class="caret"></span></span> </a>
                  <ul class="dropdown-menu">

                  <li>{{#link-to 'scene-edit' model.id}}Edit Scene{{/link-to}}</li>

                  <li role="separator" class="divider"></li>

                  {{#if (not model.completed)}}
                  <li><a href="#" {{action 'changeSceneStatus' 'stop'}}>Stop Scene</a></li> 
                  {{else}}
                  <li><a href="#" {{action 'changeSceneStatus' 'restart'}}>Restart Scene</a></li> 
                  <li><a href="#" {{action 'changeSceneStatus' 'share'}}>Share Scene</a></li> 
                  {{/if}}
 	
                  </ul>
                </li>
            </ul>
            
        {{/if}}
        
        <div class="pull-right">
                
        {{#if (not model.completed)}}
        <button {{action 'addPose' 'ooc'}} class="btn btn-default">Add OOC Comment</button>
        <button {{action 'addPose' 'setpose'}} class="btn btn-default">Add Scene Set</button>
        <button {{action 'addPose' 'pose'}} class="btn btn-primary">Add Pose</button>
        {{/if}}
        
        <hr/>
                
        
    </div>
    </div>
</div>

{{/if}}

{{flash-messages}}

<div class="panel panel-default">
    <div class="panel-heading">
        {{model.location.name}}
    </div>
    <div class="panel-body">
        {{#if model.location.description}}
        {{{ansi-format text=model.location.description}}}
        {{/if}}
        
        {{#if model.location.scene_set}}
        <div class="scene-set-pose">
          {{{ansi-format text=model.location.scene_set}}}
        </div>
        {{/if}}
    </div>
</div>


{{outlet}}