{{title pageTitle}}
<a name="top"></a>

<h1>{{model.icdate}} - {{model.title}}</h1>
        
<div class="row log-wrap">
       
    <div class="log-box">
       
        <p><AnsiFormat @text={{model.summary}} /></p>

        {{#if model.content_warning}}
        <div class="alert alert-danger"><b>Content Warning:</b> {{model.content_warning}}</div>
        {{/if}}

        <p><b>IC Date:</b> {{model.icdate}}</p>

        <p><b>OOC Date:</b> {{model.date_created}}</p>

        <p><b>Location:</b> {{model.location}}</p>


        <p><b>Related Scenes:</b>
           {{#if model.related_scenes}}
             {{#each model.related_scenes as |related index|}}
                  {{#if (not-eq index 0)}}
                  &nbsp;
                  {{/if}}
                  <LinkTo @route="scene" @model={{related.id}}>{{related.title}}</LinkTo>
              {{/each}}
            {{else}}
               None
            {{/if}}
        </p>
            
        <p>
            <b>Plot: </b>
            {{#if model.plot}}
                <a href="/plot/{{model.plot.id}}">{{model.plot.title}}</a>
            {{else}}
                None
            {{/if}}
        </p>
        
        <p><b>Scene Number:</b> {{model.id}}</p>
        
        
        <div>
          
            
        <SceneTypeTag @scene={{model}} />
         
        {{#if isApproved}}
            {{#if model.has_liked}}
            <button {{action 'like' false}} class="badge badge-likes"><i class="fa fa-heart" aria-label="Liked"></i> {{model.likes}}</button>
            {{else}}
            <button {{action 'like' true}} class="badge badge-likes"><i class="far fa-heart" area-hidden="Like"></i> {{model.likes}}</button>
            {{/if}}
        {{else}}
            <span class="badge badge-likes"><i class="far fa-heart" area-label="Likes"></i> {{model.likes}}</span>
        {{/if}}
        
         </div>
         
    </div>
    
    <div class="log-participants-box">
        
    {{#each model.participants as |participant|}}
      {{#if (not participant.is_ooc)}}
        <div class="profile-gallery">    
            <CharIcon @char={{participant}} />
        </div>
      {{/if}}
    {{/each}}
    
    </div>
    
    <div class="clearfix"> </div>


</div>

<p><a href="#bottom"><i class="fas fa-chevron-circle-down"></i> Jump to Bottom</a></p>


<div class="scene-log">
    <AnsiFormat @text={{model.log}} />
</div>
    
<a name="bottom"></a>

<br>

<p><a href="#top"><i class="fas fa-chevron-circle-up"></i> Jump to Top</a></p>

<p>
    <b>Tags:</b>  
    {{#each model.tags as |tag|}}
    <LinkTo @route="wiki-tag" @model={{tag}}>{{tag}}</LinkTo>
    {{/each}}
   </p>
   
<p><LinkTo @route="scenes"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Scenes</LinkTo></p>


    
    <div class="row">
        <div class="col col-xs-12">

                <ul class="nav navbar-nav">    
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                      <span class="btn btn-default" href="#">Scene Menu <span class="caret"></span></span> </a>
                      <ul class="dropdown-menu">

                        {{#if model.can_edit}}

                        <li><LinkTo @route="scene-edit" @model={{model.id}}>Edit Scene</LinkTo></li>
                        <li><a href="#" {{action 'unshareScene'}}>Unshare Scene</a></li>
                        
                        {{#if model.can_delete}}
                        <li><a href="#" {{action (mut confirmDelete) true}}>Delete Scene</a></li>
                        {{/if}}
                         
                         <li role="separator" class="divider"></li>
                       {{/if}}
                       
                      <li><LinkTo @route="scene-download" @model={{model.id}}>Download Scene</LinkTo></li> 
 	
                      </ul>
                    </li>
                </ul>
        
        </div>
    </div>






<FlashMessages />

<BsModalSimple @title="Confirm Delete" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{false}} @open={{confirmDelete}} @onSubmit={{action "delete"}} @onHide={{action (mut confirmDelete) null}}>
    You're about to delete scene {{model.title}}. This cannot be undone.  Are you sure?
  </BsModalSimple>

{{outlet}}