{{page-title "Unshared Scenes"}}
<h1>Unshared Scenes</h1>

<p>These scenes have been stopped but not shared.</p>

{{#if this.model.delete_unshared}}
<p>Unshared scenes are marked for deletion after {{this.model.unshared_warning_days}} days. You will receive a notification and opportunity to download, share, or restart the scene before it's deleted.</p>
{{/if}}

<div class="unshared-scenes-list">
  
  {{#each this.model.unshared as |scene| }}

  <div class="unshared-scene-block">
    <div class="unshared-scene-heading">
      <div class="unshared-scene-title">
        <LinkTo @route="scene-live" @model={{scene.id}} class="scene-title">
        
        {{scene.id}} - 
        {{#if scene.title}}  
          {{scene.title}}
        {{else}}
          {{scene.location}}
        {{/if}}
        {{#if scene.content_warning}}
        <ContentWarningTag @warning={{scene.content_warning}} @position="top" />
        {{/if}}
        </LinkTo>        
        
      </div>
      <div class="unshared-scene-tags">
        
        <ScenePrivacyTag @scene={{scene}} />
        <ScenePacingTag @scene={{scene}} />
        <SceneTypeTag @scene={{scene}} />
      </div>
    </div>
    {{#if scene.in_trash}}     
    <div class="alert alert-warning scene-deletion-warning">
      <i class="fa fa-trash"></i>
      Marked for deletion. Download, share, or restart before it's deleted on {{scene.trash_date}}.
    </div>
    {{/if}}
    <div class="unshared-scene-body">    
        
      <div class="unshared-scene-participants">
        {{#each scene.participants as |char|}}
        <CharIconInline @char={{char}} />
        {{/each}}
      </div>
        
      <div class="unshared-scene-activity">
        {{#if scene.last_posed}}
          <div>{{scene.last_posed}}</div>
        {{/if}}
  
        <div>{{scene.last_pose_time_str}}</div>
      </div>
        
      <div class="unshared-scene-controls">
            <LinkTo @route="scene-live" @model={{scene.id}}><i class="fa fa-eye" aria-label="View Scene"></i> View </LinkTo>
          {{#if scene.can_edit}}
             <LinkTo @route="scene-edit" @model={{scene.id}}><i class="fa fa-edit" aria-label="Edit Scene"></i> Edit</LinkTo>
             <button class="btn-link" {{on 'click' (fn this.changeSceneStatus scene 'restart')}}><i class="fa fa-play" aria-label="Restart Scene"></i> Restart</button>
              <button class="btn-link" {{on 'click' (fn this.changeSceneStatus scene 'share')}}><i class="fa fa-share" aria-label="Share Scene"></i> Share</button>        
          {{/if}}
            <LinkTo @route="scene-download" @model={{scene.id}}><i class="fa fa-download" aria-label="Download Scene"></i> Download </LinkTo>
      </div>
    </div>
  </div>
  
    
  
  {{/each}}
</div>

{{outlet}}