{{title model.scene.title}}
<h1>Edit Scene {{model.scene.title}}</h1>
        
    {{#if (not model.scene.completed)}}

     <div class="form-group row">
       <div class="col-sm-3">     
         <label class="col-form-label">Scene Privacy:</label>
       </div>

       <div class="col-sm-9">
      {{#power-select selected=model.scene.privacy options=scenePrivacyValues onchange=(action "privacyChanged") as |type|}}
        {{type}}
      {{/power-select}}
       </div>
     </div>
    {{/if}}
    
   <div class="form-group row">
      <div class="col-sm-3">
          <label for="title" class="col-form-label">Title:</label>
      </div>
      <div class="col-sm-9">
          {{input type="text" size=25 id="title" enter=(action "save")  value=model.scene.title}}
      </div>
    </div>
    
   <div class="form-group row">
     <div class="col-sm-3">
          <label for="location" class="col-form-label">Location:</label>
      </div>
      <div class="col-sm-9">
          {{input type="text" size=25 id="location" enter=(action "save")  value=model.scene.location}}
      </div>
    </div>
    
    
   <div class="form-group row">
     <div class="col-sm-3">
          <label for="icdate" class="col-form-label">IC Date:</label>
      </div>
       <div class="col-sm-9">
          {{input type="text" size=25 id="icdate" enter=(action "save")  value=model.scene.icdate}}
      </div>
    </div>

   <div class="form-group row">
    <div class="col-sm-3">
        <label class="col-form-label">Scene Type:</label>
    </div>
     <div class="col-sm-9">
        {{#power-select selected=model.scene.scene_type options=sceneTypes onchange=(action "typeChanged") as |type|}}
          {{type}}
        {{/power-select}}
      
    </div>
  </div>
    
   <div class="form-group row">
     <div class="col-sm-3">
        <label class="col-form-label">Plot:</label>
     </div>
     <div class="col-sm-9">
        {{#power-select selected=model.scene.plot options=model.plots allowClear=true searchField="title" onchange=(action "plotChanged") as |plot|}}
          {{plot.title}}
        {{/power-select}}
     </div>
  </div>
    
   <div class="form-group row">
    <div class="col-sm-3">
        <label for="tags" class="col-form-label">Tags:</label>
    </div>
    <div class="col-sm-9">
        {{input type="text" size=25 id="tags" enter=(action "save")  value=model.scene.tags}}
    </div> 
  </div>

   <div class="form-group row">
    <div class="col-sm-3">
        <label for="participants" class="col-form-label">Participants:</label>
    </div>
    <div class="col-sm-9">
        {{#power-select-multiple selected=model.scene.participants options=model.characters searchField="name" onchange=(action "participantsChanged") as |char|}}
          {{char.name}}
        {{/power-select-multiple}}
    </div> 
  </div>
    

   <div class="form-group row">
    <div class="col-sm-3">
        <label for="related" class="col-form-label">Related Scenes:</label>
    </div>
    <div class="col-sm-9">
            {{#power-select-multiple selected=model.scene.related_scenes options=model.scenes.scenes searchField="title" onchange=(action "relatedChanged") as |scene|}}
              {{scene.icdate}} {{scene.title}}
            {{/power-select-multiple}}
    </div> 
  </div>
    
   <div class="form-group row">
    <div class="col-sm-3">
        <label for="summary" class="col-form-label">Summary:</label>
    </div>
    <div class="col-sm-9">
            {{markdown-editor text=model.scene.summary}}
            
    </div>
   </div>

   <div class="form-group row">
      <div class="col-sm-3">
          <label for="title" class="col-form-label">Content Warning:</label>
      </div>
      <div class="col-sm-9">
          {{input type="text" size=50 id="content_warning" enter=(action "save")  value=model.scene.content_warning}}
      </div>
    </div>

    {{#if model.scene.shared}}
    
    {{markdown-editor text=model.scene.log rows=20}}
    
    {{/if}}
    
    <div class="row">
        <div class="col col-xs-12">
            <div class="pull-right">
    
                {{#link-to 'scene' model.scene.id class="btn btn-default"}}Cancel{{/link-to}} 
                <button class="btn btn-primary" {{action 'save'}}>Save</button>
            </div>
        </div>
    </div>

{{flash-messages}}
{{outlet}}