{{page-title "Unshared Scenes"}}
<h1>Unshared Scenes</h1>

<p>These scenes have been stopped but not shared.</p>

<p>Unshared scenes may be automatically deleted after {{model.unshared_deletion_days}} days.</p>

<div class="unshared-scenes-list">
  
  {{#each model.unshared as |scene| }}

  <div class="unshared-scene-block">
    <div class="row unshared-scenes-heading">
      <div class="col col-xs-8">
        <LinkTo @route="scene-live" @model={{scene.id}} class="scene-title">
        {{scene.id}} - 
        {{#if scene.title}}  
          {{scene.title}}
        {{else}}
          {{scene.location}}
        {{/if}}
        {{#if scene.content_warning}}
        <ContentWarningTag @warning={{scene.content_warning}} @position="top" />
        {{/if}}
        </LinkTo>
        
        {{#if scene.content_warning}}
        <ContentWarningTag @warning={{scene.content_warning}} @position="top-left" />
        {{/if}}
        
      </div>
      <div class="col col-xs-4">
        
        <ScenePrivacyTag @scene={{scene}} />
        <ScenePacingTag @scene={{scene}} />
        <SceneTypeTag @scene={{scene}} />
      </div>
    </div>

  <div class="row">

      <div class="col col-xs-12 col-sm-8">    
        
        <div class="unshared-scenes-contents">
          {{#each scene.participants as |char|}}
          <CharIconInline @char={{char}} />
          {{/each}}
        </div>
        
        {{#if scene.summary}}
        <div><AnsiFormat @text={{scene.summary}} />
        </div>        
        {{/if}}        
        
      </div>
      <div class="col col-xs-12 col-sm-2">
        {{#if scene.last_posed}}
          <div>{{scene.last_posed}}</div>
        {{/if}}
  
        <div>{{scene.last_pose_time_str}}</div>
      </div>
        
        <div class="col col-xs-12 col-sm-2">
          <div class="unshared-scenes-controls">
                <LinkTo @route="scene-live" @model={{scene.id}}><i class="fa fa-eye" aria-label="View Scene"></i> View </LinkTo>
              {{#if scene.can_edit}}
                 <LinkTo @route="scene-edit" @model={{scene.id}}><i class="fa fa-edit" aria-label="Edit Scene"></i> Edit</LinkTo>
                 <a href="#" {{action 'changeSceneStatus' scene 'restart'}}><i class="fa fa-play" aria-label="Restart Scene"></i> Restart</a>
                  <a href="#" {{action 'changeSceneStatus' scene 'share'}}><i class="fa fa-share" aria-label="Share Scene"></i> Share</a>                 
              {{/if}}
          </div>
        </div>
        
      </div>
      
  </div>
  {{/each}}
</div>

{{outlet}}