{{title "Active Scenes"}}
<h1>Active Scenes</h1>

<p>This list shows scenes that are currently in progress.  Private scenes require an invitation, but open scenes are open to anyone.   You can play in-game or via the web portal.</p>

<p>The unread flags <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-label="New Activity Flag"></i></span> show new activity in public scenes or scenes you're watching/participating in.</p>

{{#if isApproved}}
<div class="row">
    
    <div class="col pull-right">
        {{#link-to 'scene-create' class="btn btn-default"}}Create Scene{{/link-to}}
        {{#link-to 'scenes-play' class="btn btn-primary"}}Play{{/link-to}}
    </div>
    
</div>
{{/if}}

<div class="table-responsive">
<table class="table table-striped">
    
<tr>
  <th></th>
  <th class="col-xs-3">Title / Status</th>
  <th class="col-xs-5">Participants / Location / Summary</th>
  <th class="col-xs-1">IC Date</th>
  <th class="col-xs-2">Last Activity</th>
  <th class="col-xs-1"></th>
</tr>

{{#each model.active as |scene| }}
<tr>
    <td>
        {{#if scene.is_unread}}
        <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-label="New Activity"></i></span>
        {{/if}}
        
    </td>
    <td>
        
        {{#link-to 'scene-live' scene.id}}Scene {{scene.id}}
        {{#if scene.title}}
         - {{scene.title}}
        {{/if}}
        {{/link-to}}
        
        {{#if scene.is_private}}
        <span class="label label-danger">Private</span>
        {{else}}
        <span class="label label-success">Open</span>
        {{/if}}
    </td>
    <td>
      
        {{#each scene.participants as |char|}}
        {{char-icon-inline char=char}}
        {{/each}}
        
        {{#if (or scene.can_view (not scene.is_private))}}
          <p>{{#if scene.content_warning}}
          {{content-warning-tag warning=scene.content_warning position='top'}}
          {{/if}}
 
            {{scene.location}}</p>
        
          {{#if scene.summary}}
          <p>{{{ansi-format text=scene.summary}}}
          </p>
          {{/if}}
        {{/if}}
        
    </td>
    <td>
      <p>{{scene.icdate}}</p>
    </td>
    <td>
      {{#if scene.last_posed}}
      {{scene.last_posed}} @ 
      {{/if}}
      
      {{scene.updated}} 
      
    </td>
    <td>
      {{#if scene.watching}}
        <a href="#" {{action 'stopWatching' scene.id}}>
          {{tooltip-icon position='left' message='Stop watching scene.' icon='fa fa-eye-slash'}}
        </a>
      {{else}}
        {{#if scene.can_view}}
          <a href="#" {{action 'watchScene' scene.id}}>
            {{tooltip-icon position='left' message='Watch scene.' icon='fa fa-eye'}}
          </a>

          {{#if (not scene.participating) }}
            <a href="#" {{action 'joinScene' scene.id}}>
              {{tooltip-icon position='left' message='Join scene.' icon='fa fa-sign-in-alt'}}
            </a>
          {{/if}}
        {{/if}}
    
      {{/if}}
    </td>
</tr>
{{/each}}

</table>


{{#if model.unshared}}
<br>
<hr>

<h4>Unshared Scenes</h4>
<p>You have the following stopped, unshared scenes. Unshared scenes may be deleted after {{model.unshared_deletion_days}} days, so you should download or share them before that happens.</p>
<ul>
{{#each model.unshared as |scene|}}
<li>{{#link-to 'scene-live' scene.id}}{{scene.title}}{{/link-to}} - {{scene.people}}</li>
{{/each}}
</ul>
{{/if}}
</div>
  
{{outlet}}