<h1>Create Scene</h1>
        

    <p>
        <label for="title" class="col-xs-2 col-form-label">Title:</label>

        <p>{{input type="text" size=50 id="title" action="save" value=model.scene.title}}</p>
    </p>
    
    <p>
        <label for="location" class="col-xs-2 col-form-label">Location:</label>
    
        <p>{{input type="text" size=50 id="location" action="save" value=model.scene.location}}</p>
    </p>
    
    
    <p>
        <label for="icdate" class="col-xs-2 col-form-label">IC Date:</label>
    
        <p>{{input type="text" size=50 id="icdate" action="save" value=model.scene.icdate}}</p>
    </p>

    <p>
        <label class="col-xs-2 col-form-label">Scene Type:</label>
    
        {{#power-select selected=model.scene.scene_type options=sceneTypes onchange=(action "typeChanged") as |type|}}
          {{type}}
        {{/power-select}}
        
    </p>
    
    <p>
        <label for="plot" class="col-xs-2 col-form-label">Plot:</label>
    
        {{#power-select selected=model.scene.plot options=model.plots allowClear=true onchange=(action "plotChanged") as |plot|}}
          {{plot.title}}
        {{/power-select}}
    
    </p>
    
    <p>
        <label for="tags" class="col-xs-2 col-form-label">Tags:</label>
        <p>{{input type="text" size=50 id="tags" action="save" value=model.scene.tags}}</p>
    </p>        
    <p>
        <label for="summary" class="col-xs-2 col-form-label">Summary:</label>
        {{textarea value=model.scene.summary cols="80" rows="6"}}
    </p>

    <p>
        <label for="participants" class="col-xs-2 col-form-label">Participants:</label>
    
        {{#power-select-multiple selected=model.scene.participants options=model.characters onchange=(action "participantsChanged") as |char|}}
          {{char.name}}
        {{/power-select-multiple}}
    
    </p>
    
    <p>
        <label for="related" class="col-xs-2 col-form-label">Related Scenes:</label>
        {{#power-select-multiple selected=model.scene.related_scenes options=model.scenes onchange=(action "relatedChanged") as |scene|}}
          {{scene.icdate}} {{scene.title}}
        {{/power-select-multiple}}
        <div class="hint">It may take a second for the related scenes list to pop up.</div>
    
    </p>

    
    <p>
        {{textarea value=model.scene.log cols="80" rows="25"}}
    </p>
    
    <p> {{#link-to 'scene' model.scene.id class="btn btn-default"}}Cancel{{/link-to}} 
        <button class="btn btn-primary" {{action 'save'}}>Save</button></p>
        
{{flash-messages}}
{{outlet}}