{{title pageTitle}}
<h1>Scene {{model.id}} - {{model.icdate}}
    {{#if model.title}}
     - {{model.title}}
     {{/if}}
 </h1>

{{live-scene-context scene=model}}

<div class="ansi scene-log" id="live-scene-log">
    
{{#each scenePoses as |pose|}}    
        {{#if (and isApproved pose.can_edit)}}
        <div class="hint pull-right">
            {{#if pose.editActive}}
            <a href="#" {{action 'saveScenePose' pose}}><i class="fa fa-save" aria-hidden="true"></i></a>
            <a href="#" {{action 'cancelScenePoseEdit' pose}}><i class="fa fa-ban" aria-hidden="true"></i></a>
            
            {{else}}
            <a href="#" {{action 'editScenePose' pose}}><i class="fa fa-edit" aria-hidden="true"></i></a>
            <a href="#" {{action (mut confirmDeleteScenePose) pose}}><i class="fa fa-trash" aria-hidden="true"></i></a>
            {{/if}}
        </div>
        {{/if}}
        
        {{#if pose.is_system_pose}}
            <div class="scene-system-pose">
            {{{ansi-format text=pose.pose}}}
            </div>
        {{else}}
            <div class="scene-pose-header">		
                {{char-icon-inline char=pose.char}}	
            </div>
             {{#if pose.editActive}}
                {{markdown-editor text=pose.raw_pose}}
             {{else}}
                 {{#if pose.is_setpose}}
                    <div class="scene-set-pose">
                    {{{ansi-format text=pose.pose}}}
                    </div>
                {{else if pose.is_ooc}}
                    <div class="scene-ooc-pose">
                    <span class="label label-pill label-primary"> OOC</span>	
                    {{{ansi-format text=pose.pose}}}
                    </div>
                {{else}}        
                    <div class="scene-pose">	
                        {{{ansi-format text=pose.pose}}}
                    </div>
                {{/if}}
             {{/if}}
        {{/if}}
{{/each}}
    
</div>


{{#if isApproved}}

    {{markdown-editor text=scenePose}}
    

<div class="row">
    <div class="col col-xs-12">
        {{#if model.can_edit}}

            <ul class="nav navbar-nav">    
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                  <span class="btn btn-default" href="#" role="button">Scene Menu <span class="caret"></span></span> </a>
                  <ul class="dropdown-menu">

                  <li>{{#link-to 'scene-edit' model.id}}Edit Scene{{/link-to}}</li>

                  <li role="separator" class="divider"></li>

                  {{#if (not model.completed)}}
                  <li><a href="#" {{action 'changeSceneStatus' 'stop'}}>Stop Scene</a></li> 
                  {{else}}
                  <li><a href="#" {{action 'changeSceneStatus' 'restart'}}>Restart Scene</a></li> 
                  <li><a href="#" {{action 'changeSceneStatus' 'share'}}>Share Scene</a></li> 
                  {{/if}}
 	
                  </ul>
                </li>
            </ul>
            
        {{/if}}
        
        <div class="pull-right">
                
        {{#if (not model.completed)}}
        <button {{action 'addPose' 'ooc'}} class="btn btn-default">Add OOC Comment</button>
        <button {{action 'addPose' 'setpose'}} class="btn btn-default">Add Scene Set</button>
        <button {{action 'addPose' 'pose'}} class="btn btn-primary">Add Pose</button>
        {{/if}}
        
        <hr/>
                
        
    </div>
    </div>
</div>

{{/if}}

{{flash-messages}}

{{live-scene-context scene=model}}

{{#bs-modal-simple
    title="Confirm Delete"
    closeTitle="Cancel"
    submitTitle="Confirm"
    size=null
    fade=false
    open=confirmDeleteScenePose
    onSubmit=(action "deleteScenePose")
    onHide=(action (mut confirmDeleteScenePose) null)}}
    You're about to delete this scene pose. This cannot be undone.  Are you sure?
  {{/bs-modal-simple}}

{{outlet}}