{{title pageTitle}}


 <div class="row">
   <div class="col col-xs-12">

    <h1>Scene {{model.scene.id}} - {{model.scene.icdate}}
        {{#if model.scene.title}}
         - {{model.scene.title}}
         {{/if}}
     </h1>

    {{live-scene-context scene=model.scene}}

</div>
</div>

<div class="row">
    <div class="col col-xs-12">

    {{#if showSceneSelection}}
      <div class="alert alert-info">
        {{#each model.my_scenes as |scene|}}
          {{#link-to 'scene-live' scene.id class='btn btn-default'}}#{{scene.id}} {{scene.title}}
          {{#if scene.is_unread}}
           <span class="label label-pill label-primary"> <i class="fa fa-flag" aria-hidden="true"></i></span>
          {{/if}}
          {{/link-to}}
        {{/each}}
       </div>
      {{/if}}

        <a href="#" {{action "scrollDown"}}><i class="fas fa-chevron-circle-down"></i> Jump to End</a>
 &nbsp;
  {{#if scrollPaused}}
          <a href="#" {{action "unpauseScroll"}}><i class="fas fa-play">
          </i> Resume Scrolling</a>
  {{else}}
          <a href="#" {{action "pauseScroll"}}><i class="fas fa-pause"></i> Pause Scrolling</a>
  {{/if}}

   &nbsp;
  {{#if model.scene.is_muted}}
  <a href="#" {{action 'muteScene' false}}><i class="fas fa-play"></i> Unmute Scene</a>
  {{else}}
  <<a href="#" {{action 'muteScene' true}}><i class="fas fa-microphone-slash"></i> Mute Scene</a>
  {{/if}}

 &nbsp;
    {{#if scrollPaused}}
    <br/>
       <span class="label label-warning">Scrolling is paused!</span>
    {{/if}}

    {{#if model.scene.is_muted}}
    <br/>
       <span class="label label-warning">Scene is muted!</span>

    {{/if}}

    <div class="ansi scene-log" id="live-scene-log">


    {{#each scenePoses as |pose|}}
            <div class="hint pull-right">


                {{#if (not pose.is_system_pose)}}
                <i class="fas fa-clock" >
                  {{#bs-tooltip placement="left"}}{{pose.timestamp}}{{/bs-tooltip}}
                </i>
                {{/if}}

                {{#if (and isApproved pose.can_edit)}}
                  {{#if (not pose.editActive)}}
                  <a href="#" {{action 'editScenePose' pose}}><i class="fa fa-edit" aria-hidden="true">
                    {{#bs-tooltip placement="left"}}Edit pose.{{/bs-tooltip}}
                  </i></a>
                  <a href="#" {{action (mut confirmDeleteScenePose) pose}}><i class="fa fa-trash" aria-hidden="true">
                    {{#bs-tooltip placement="left"}}Delete pose.{{/bs-tooltip}}
                  </i></a>
                  {{/if}}
                {{/if}}
            </div>

            {{#if pose.is_system_pose}}
                <div class="scene-system-pose">
                {{{ansi-format text=pose.pose}}}
                </div>
            {{else}}
                <div class="scene-pose-header">
                  {{#link-to "char" pose.char.name}}
                      {{#if pose.char.icon}}
                      <img class="small-profile-icon {{icon-class}}" src="/game/uploads/{{pose.char.icon}}" />
                      {{else}}
                      <img class="small-profile-icon {{icon-class}}" src="/game/uploads/theme_images/noicon.png" />
                      {{/if}}
                  {{/link-to}}

                  {{#link-to "char" pose.char.name}} {{pose.char.name}} {{/link-to}}
                </div>
                 {{#if pose.editActive}}
                    {{markdown-editor text=pose.raw_pose}}

                    <div class="pull-right">
                    <button class="btn-default" {{action 'cancelScenePoseEdit' pose}}>Cancel</button>
                    <button class="btn-warning" {{action 'saveScenePose' pose false}}>Typo</button>
                    <button class="btn-primary" {{action 'saveScenePose' pose true}}>Save</button>
                    </div>
                    <div class="clearfix"></div>

                 {{else}}
                     {{#if pose.is_setpose}}
                        <div class="scene-set-pose">
                        {{{ansi-format text=pose.pose}}}
                        </div>
                    {{else if pose.is_ooc}}
                        <div class="scene-ooc-pose">
                        <span class="label label-pill label-primary"> OOC</span>
                        {{{ansi-format text=pose.pose}}}
                        </div>
                    {{else}}
                        <div class="scene-pose">
                            {{{ansi-format text=pose.pose}}}
                        </div>
                    {{/if}}
                 {{/if}}
            {{/if}}
    {{/each}}

    </div>

  {{#if scrollPaused}}
     <span class="label label-warning">Scrolling is paused!</span>
  {{/if}}


    {{#if model.scene.is_muted}}
    <span class="label label-warning">
      Scene is muted!
    </span>
    {{/if}}


    {{#if isApproved}}
      {{#if model.scene.can_join}}
        {{cmd-box value=scenePose rows=6 allowMultiLine=true onEnter=(action "addPose" "pose")}}
      {{/if}}
    {{else}}
         <p>You must be approved to join a scene.</p>
    {{/if}}



    <div class="row">
        <div class="col col-xs-12">

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                      <span class="btn btn-default" href="#" role="button">Scene Menu <span class="caret"></span></span> </a>
                      <ul class="dropdown-menu">

                      {{#if model.scene.can_edit}}

                        <li>{{#link-to 'scene-edit' model.scene.id}}Edit Scene{{/link-to}}</li>

                        {{#if (not model.scene.completed)}}

                        {{#if rollEnabled}}
                        <li><a href="#" {{action (mut selectSkillRoll) true}}>Add Roll</a></li>
                        {{/if}}

                        <li><a href="#" {{action (mut selectLocation) true}}>Change Location</a></li>

                         <li role="separator" class="divider"></li>

                         <li><a href="#" {{action 'changeSceneStatus' 'stop'}}>Stop Scene</a></li>
                         {{else}}
                         <li><a href="#" {{action 'changeSceneStatus' 'restart'}}>Restart Scene</a></li>
                         <li><a href="#" {{action 'changeSceneStatus' 'share'}}>Share Scene</a></li>
                         {{/if}}
                       {{/if}}

                      <li>{{#link-to 'scene-download' model.scene.id}}Download Scene{{/link-to}}</li>

                      </ul>
                    </li>
                </ul>


    {{#if isApproved}}

            <div class="pull-right">
            {{#if model.scene.can_join}}
              {{#if (not model.scene.completed)}}
              <button {{action 'addPose' 'setpose'}} class="btn btn-default">Add Scene Set</button>
              <button {{action 'addPose' 'gm'}} class="btn btn-default">Add GM Pose</button>
              <button {{action 'addPose' 'ooc'}} class="btn btn-default">Add OOC Comment</button>
              <button {{action 'addPose' 'pose'}} class="btn btn-primary">Add Pose</button>


              {{/if}}
            {{/if}}



            </div>




    {{/if}}


         </div>
     </div>




    {{flash-messages}}

    {{#if (and model.scene.can_edit selectLocation)}}
    <div class="row">
        <div class="col col-xs-4">
           <p>
                {{#power-select selected=newLocation options=model.locations onchange=(action "locationSelected") as |location|}}
              {{location}}
            {{/power-select}}

            <div class="btn btn-default" {{action 'changeLocation'}}>Select Location</div>
        </p>
        </div>
    </div>
    {{/if}}

        <hr/>


    {{#bs-modal-simple
        title="Confirm Delete"
        closeTitle="Cancel"
        submitTitle="Confirm"
        size=null
        fade=false
        open=confirmDeleteScenePose
        onSubmit=(action "deleteScenePose")
        onHide=(action (mut confirmDeleteScenePose) null)}}
        You're about to delete this scene pose. This cannot be undone.  Are you sure?
      {{/bs-modal-simple}}

      {{#bs-modal-simple
          title="Select a Skill to Roll"
          closeTitle="Cancel"
          submitTitle="Roll"
          size=null
          fade=false
          open=selectSkillRoll
          onSubmit=(action "addSceneRoll")
          onHide=(action (mut selectSkillRoll) null)}}
          <select onchange={{action (mut rollString) value="target.value"}}>
            {{#each model.abilities as |ability|}}
              <option value={{ability}}>{{ability}}</option>
            {{/each}}
          </select>
          {{input type="text" size=25 id="rollString" enter="addSceneRoll" value=rollString}}

        {{/bs-modal-simple}}

   </div>
</div>
{{outlet}}
