{{page-title this.pageTitle}}
<a name="top"></a>

<h1>{{this.model.icdate}} - {{this.model.title}}</h1>
        
<div class="row log-wrap">
       
    <div class="log-box">
       
        <p><AnsiFormat @text={{this.model.summary}} /></p>

        {{#if this.model.content_warning}}
        <div class="alert alert-danger"><b>Content Warning:</b> {{this.model.content_warning}}</div>
        {{/if}}

        <p><b>IC Date:</b> {{this.model.icdate}}</p>

        <p><b>OOC Date:</b> {{this.model.date_created}}</p>

        <p><b>Location:</b> {{this.model.location}}</p>


        <p><b>Related Scenes:</b>
           {{#if this.model.related_scenes}}
             {{#each this.model.related_scenes as |related index|}}
                  {{#if (not-eq index 0)}}
                  &nbsp;
                  {{/if}}
                  <LinkTo @route="scene" @model={{related.id}}>{{related.title}}</LinkTo>
              {{/each}}
            {{else}}
               None
            {{/if}}
        </p>
            
        <p>
            <b>Plots: </b>
            {{#if this.model.plots}}
              {{#each this.model.plots as |plot index|}}
                {{#if (not-eq index 0)}}
                &nbsp;
                {{/if}}
                 <a href="/plot/{{plot.id}}">{{plot.title}}</a>
               {{/each}}
            {{else}}
                None
            {{/if}}
        </p>
        
        <p><b>Scene Number:</b> {{this.model.id}}</p>
        
        
        <div>
          
            
        <SceneTypeTag @scene={{this.model}} />
         
        {{#if this.isApproved}}
            {{#if this.model.has_liked}}
            <button {{action 'like' false}} class="badge badge-likes"><i class="fa fa-heart" aria-label="Liked"></i> {{this.model.likes}}</button>
            {{else}}
            <button {{action 'like' true}} class="badge badge-likes"><i class="far fa-heart" area-hidden="Like"></i> {{this.model.likes}}</button>
            {{/if}}
        {{else}}
            <span class="badge badge-likes"><i class="far fa-heart" area-label="Likes"></i> {{this.model.likes}}</span>
        {{/if}}
        
         </div>
         
    </div>
    
    <div class="log-participants-box">
        
    {{#each this.model.participants as |participant|}}
      {{#if (not participant.is_ooc)}}
        <div class="profile-gallery">    
            <CharIcon @char={{participant}} />
        </div>
      {{/if}}
    {{/each}}
    
    </div>
    
    <div class="clearfix"> </div>


</div>

<p><a href="#bottom"><i class="fas fa-angle-double-down"></i> Jump to End</a></p>


<div class="scene-log">
    <AnsiFormat @text={{this.model.log}} />
</div>
    
<a name="bottom"></a>

<br>

<p><a href="#top"><i class="fas fa-chevron-circle-up"></i> Jump to Top</a></p>

<p>
    <b>Tags:</b>  
    {{#each this.model.tags as |tag|}}
    <LinkTo @route="wiki-tag" @model={{tag}}>{{tag}}</LinkTo>
    {{/each}}
   </p>
   
<p><LinkTo @route="scenes"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Scenes</LinkTo></p>


    
    <div class="row">
        <div class="col col-xs-12">

                <ul class="nav navbar-nav">    
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                      <span class="btn btn-secondary" href="#">Scene Menu <span class="caret"></span></span> </a>
                      <ul class="dropdown-menu">

                        {{#if this.model.can_edit}}

                        <li><LinkTo @route="scene-edit" @model={{this.model.id}}>Edit Scene</LinkTo></li>
                        <li><a href="#" {{action 'unshareScene'}}>Unshare Scene</a></li>
                        
                         <li role="separator" class="divider"></li>
                       {{/if}}
                       
                      <li><LinkTo @route="scene-download" @model={{this.model.id}}>Download Scene</LinkTo></li> 
 	
                      </ul>
                    </li>
                </ul>
        
        </div>
    </div>






<FlashMessages />

{{outlet}}