{{page-title "Search Characters"}}

<h1>Search Characters</h1>

<SearchBar />

<hr>

{{#if searchResults}}
<a data-toggle="collapse" href="#searchFields" class="btn btn-default btn-collapse">Show/Hide Search</a>
{{/if}}

<div id="searchFields" class="panel-collapse collapse {{if searchResults '' 'in'}}">
    
<h3>Groups</h3>

<div class="row">
{{#each-in model.cgInfo.group_options as |key group| }}
  
  {{#if (not (eq key 'all_ranks'))}}
  <div class="col col-xs-3 col-md-2">
    <label>{{group.name}}:</label>
  </div>
  
  <div class="col col-xs-9 col-md-4">
        <p><Input @type="text" @size={{25}} @value={{mut (get searchGroups key)}} @enter={{action "search"}} /></p>
  </div>
  {{/if}}
  
{{/each-in}}
</div>

<h3>Demographics</h3>

<div class="row">
{{#each model.cgInfo.demographics as |demo| }}
  
  <div class="col col-xs-3 col-md-2">
    <label>{{demo}}:</label>
  </div>
  
  <div class="col col-xs-9 col-md-4">
        <p><Input @type="text" @size={{25}} @value={{mut (get searchDemographics demo)}} @enter={{action "search"}} /></p>
  </div>
  
{{/each}}
</div>

<h3>Other</h3>

<div class="row">
  
  <div class="col col-xs-3 col-md-2">
        <label>Name:</label>
  </div>
  
  <div class="col col-xs-9 col-md-4">
        <p><Input @type="text" @size={{25}} @id="name" @value={{searchName}} @enter={{action "search"}} /></p>
  </div>
  
  
  <div class="col col-xs-3 col-md-2">
        <label>Tag:</label>
  </div>
  
  <div class="col col-xs-9 col-md-4">
        <p><Input @type="text" @size={{25}} @id="tag" @value={{searchTag}} @enter={{action "search"}} /></p>
  </div>
  
</div>

<div class="row">
  
  <div class="col col-xs-3 col-md-2">
        <label>Relationship With:</label>
  </div>
  
  <div class="col col-xs-9 col-md-4">
        <p><Input @type="text" @size={{25}} @id="relation" @value={{searchRelation}} @enter={{action "search"}} /></p>
  </div>

  
</div>

    
    <div class="row">
        <div class="col col-xs-12">
            <div class="pull-right">
    
                <button class="btn btn-default" {{action 'reset'}}>Reset</button>
                <button class="btn btn-primary" {{action 'search'}}>Search</button>
            </div>
        </div>
    </div>

<p class="search-hint">Search is case-insensitive and matches ALL specified criteria.</p>

</div>

<hr>


<FlashMessages />

{{#if searchResults}}

<CharGroupList @name="Results" @chars={{searchResults}} />


{{else}}
<p>No search results.</p>
{{/if}}

{{outlet}}