{{#if this.model.is_job_admin}}
{{page-title "Search Jobs"}}

<h1>Search Jobs</h1>
{{else}}
{{page-title "Search Requests"}}

<h1>Search Requests</h1>

{{/if}}

<SearchBar />
  
<hr>

{{#if this.searchResults}}
<a data-bs-toggle="collapse" href="#searchFields" class="btn btn-secondary btn-collapse">Show/Hide Search</a>
{{/if}}

<div id="searchFields" class="card-collapse collapse {{if this.searchResults '' 'show'}}">

<div class="search-row">
  
  <label>Title:</label>

  <Input @type="text" size={{25}} id="title" @value={{this.searchTitle}} @enter={{this.search}} />  
</div>

{{#if this.model.is_job_admin}}

<div class="search-row">
  
    <label>Participant Name:</label>

    <div class="search-group">
        <p><Input @type="text" size={{25}} id="submitter" @value={{this.searchSubmitter}} @enter={{this.search}} /></p>
        <p class="hint">Enter a player's name.  Remember that automated jobs come from "System".</p>

    </div>
</div>

<div class="search-row">

  <label>Category:</label>
              
    {{#if this.searchCategory}}
      <span class="badge job-category job-category-{{this.searchCategory}}">&nbsp;</span> {{this.searchCategory}}    
    {{else}}
      Any
    {{/if}}
    
    <DropdownMenu @id="categoryDropdown" @title="Category">
        {{#each this.model.category_values as |category| }}
          <li><button {{on 'click' (fn this.changeSearchCategory category)}} class="dropdown-item"><span class="badge job-category job-category-{{category}}">&nbsp;</span> {{category}}</button></li>
        {{/each}}
    </DropdownMenu>
  
</div>

<div class="search-row">
  
      <label>Status:</label>
    
    {{#if this.searchStatus}}
      <span class="badge job-status job-status-{{this.searchStatus}}">&nbsp;</span> {{this.searchStatus}}    
    {{else}}
      Any
    {{/if}}
    
    
    <DropdownMenu @id="statusDropdown" @title="Status">
      {{#each this.model.status_values as |status| }}
        <li><button {{on 'click' (fn this.changeSearchStatus status)}} class="dropdown-item"><span class="badge job-status job-status-{{status}}">&nbsp;</span> {{status}}</button></li>
      {{/each}}
    </DropdownMenu>
          
</div>

{{#each-in this.searchCustom as |id field|}}
<div class="search-row">
  
  <label>{{field.name}}:</label>
                
    {{#if (eq field.field_type 'dropdown')}}
      {{#if field.search}}
        <span class="badge job-custom-{{id}}-{{field.search}}">&nbsp;</span> {{field.search}}  
      {{else}}
        Any
      {{/if}}
      <DropdownMenu @id="custom-{{id}}" @title="{{field.name}}">
        {{#each field.dropdown_values as |val| }}
          <li><button {{on 'click' (fn this.changeCustomDropdown id val)}} class="dropdown-item"><span class="badge job-custom job-custom-{{id}}-{{val}}">&nbsp;</span> {{val}}</button></li>
        {{/each}}
      </DropdownMenu>      
    {{else}}
       <Input @type="text" size={{25}} id="custom-{{id}}" @value={{field.search}} @enter={{this.search}} />
        {{#if (eq field.field_type 'date')}}
        <div class="hint">({{this.model.date_entry_format}})</div>
        {{/if}}
    {{/if}}    
      
</div>
{{/each-in}}


{{/if}}


<div class="search-row">
    <label>Tag:</label>
    <Input @type="text" size={{25}} id="tag" @value={{this.searchTag}} @enter={{this.search}} />
</div>

<div class="search-row">
    <label>Description and Comments:</label>

    <Input @type="text" size={{25}} id="text" @value={{this.searchText}} @enter={{this.search}} />
</div>




    
{{#if (not this.searchInProgress)}}
<div class="action-buttons">
    <button class="btn btn-secondary" {{on 'click' this.reset}}>Reset</button>
    <button class="btn btn-primary" {{on 'click' this.search}}>Search</button>
</div>
{{/if}}

<p class="search-hint">Search is case-insensitive and matches ALL specified criteria.</p>

</div>

<hr>

<FlashMessages />


{{#if this.searchInProgress}}
<i class="fas fa-spinner fa-spin"></i> Search In Progress...

{{else if this.searchResults}}

<JobsList @jobs={{this.searchResults}} />

{{else}}
<p>No search results.</p>
{{/if}}

{{outlet}}