{{title "Search Forum"}}

<h1>Search Forum</h1>

<SearchBar />

<p>The search will only match forum posts that contain ALL the specified search criteria.  Capitalization doesn't matter and the searches match entire words only.</p>

<hr>

{{#if searchResults}}
<a data-toggle="collapse" href="#searchFields" class="btn btn-default btn-collapse">Show/Hide Search</a>
{{/if}}

<div id="searchFields" class="panel-collapse collapse {{if searchResults '' 'in'}}">

<div class="row">
  
  <div class="col col-xs-3">
    <label>Title:</label>
  </div>
  
  <div class="col col-xs-9">
        <p><Input @type="text" @size={{25}} @id="title" @value={{searchTitle}} @enter={{action "search"}} /></p>
  </div>
  
</div>

<div class="row">
  
  <div class="col col-xs-3">
    <label>Author:</label>
  </div>
  
  <div class="col col-xs-9">
        <p><Input @type="text" @size={{25}} @id="author" @value={{searchAuthor}} @enter={{action "search"}} /></p>
        <p class="hint">Enter an author's name.  Remember that automated posts come from "System".</p>
  </div>
  
</div>

<div class="row">
  
  <div class="col col-xs-3">
    <label>Post and Replies:</label>
  </div>
  
  <div class="col col-xs-9">
        <p><Input @type="text" @size={{25}} @id="text" @value={{searchText}} @enter={{action "search"}} /></p>
  </div>
  
</div>

    
    <div class="row">
        <div class="col col-xs-12">
            <div class="pull-right">
    
                <button class="btn btn-default" {{action 'reset'}}>Reset</button>
                <button class="btn btn-primary" {{action 'search'}}>Search</button>
            </div>
        </div>
    </div>

</div>

<hr>

<FlashMessages />

{{#if searchResults}}

<ForumPostList @posts={{searchResults}} />


{{else}}
<p>No search results.</p>
{{/if}}

{{outlet}}