{{#if model.jobs_admin}}
{{page-title "Search Jobs"}}

<h1>Search Jobs</h1>
{{else}}
{{page-title "Search Requests"}}

<h1>Search Requests</h1>

{{/if}}

<SearchBar />
  
<hr>

{{#if searchResults}}
<a data-toggle="collapse" href="#searchFields" class="btn btn-default btn-collapse">Show/Hide Search</a>
{{/if}}

<div id="searchFields" class="panel-collapse collapse {{if searchResults '' 'in'}}">

<div class="row">
  
  <div class="col col-xs-3">
    <label>Title:</label>
  </div>
  
  <div class="col col-xs-9">
        <p><Input @type="text" @size={{25}} @id="title" @value={{searchTitle}} @enter={{action "search"}} /></p>
  </div>
  
</div>

{{#if model.is_job_admin}}

<div class="row">
  
  <div class="col col-xs-3">
        <label>Participant Name:</label>
  </div>
  
  <div class="col col-xs-9">
        <p><Input @type="text" @size={{25}} @id="submitter" @value={{searchSubmitter}} @enter={{action "search"}} /></p>
        <p class="hint">Enter a player's name.  Remember that automated jobs come from "System".</p>
  </div>
  
</div>

<div class="row">
  
  <div class="col col-xs-3">
        <label>Category:</label>
  </div>
  
  <div class="col col-xs-9">
    
    {{#if searchCategory}}
      <span class="label job-category job-category-{{searchCategory}}">&nbsp;</span> {{searchCategory}}    
    {{else}}
      Any
    {{/if}}
      <ul class="nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

          <span class="btn btn-default" href="#">Category <span class="caret"></span></span> </a>
          <ul class="dropdown-menu">
          {{#each model.category_values as |category| }}
            <li><a href="#" {{action 'changeSearchCategory' category}}><span class="label job-category job-category-{{category}}">&nbsp;</span> {{category}}</a></li>
          {{/each}}
          </ul>
        </li>
    </ul>
    
  </div>
  
</div>

<div class="row">
  
  <div class="col col-xs-3">
        <label>Status:</label>
  </div>
  
  <div class="col col-xs-9">
    
    {{#if searchStatus}}
      <span class="label job-status job-status-{{searchStatus}}">&nbsp;</span> {{searchStatus}}    
    {{else}}
      Any
    {{/if}}
    
      <ul class="nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

          <span class="btn btn-default" href="#">Status <span class="caret"></span></span> </a>
          <ul class="dropdown-menu">
          {{#each model.status_values as |status| }}
            <li><a href="#" {{action 'changeSearchStatus' status}}><span class="label job-status job-status-{{status}}">&nbsp;</span> {{status}}</a></li>
          {{/each}}
          </ul>
        </li>
    </ul>
    
  </div>
  
</div>

{{/if}}

<div class="row">
  
  <div class="col col-xs-3">
        <label>Description and Comments:</label>
  </div>
  
  <div class="col col-xs-9">
        <p><Input @type="text" @size={{25}} @id="text" @value={{searchText}} @enter={{action "search"}} /></p>
  </div>
  
</div>




    
{{#if (not searchInProgress)}}
    <div class="row">
        <div class="col col-xs-12">
            <div class="pull-right">
    
                <button class="btn btn-default" {{action 'reset'}}>Reset</button>
                <button class="btn btn-primary" {{action 'search'}}>Search</button>
            </div>
        </div>
    </div>
{{/if}}

<p class="search-hint">Search is case-insensitive and matches ALL specified criteria.</p>

</div>

<hr>

<FlashMessages />


{{#if searchInProgress}}
<i class="fas fa-spinner fa-spin"></i> Search In Progress...

{{else if searchResults}}

<JobsList @jobs={{searchResults}} />

{{else}}
<p>No search results.</p>
{{/if}}

{{outlet}}