{{title "Search Scenes"}}

<h1>Search Scenes</h1>

<SearchBar />

<p>The search will only match scenes that contain ALL the specified search criteria.  Searches match whole words unless otherwise specified.  Capitalization doesn't matter.</p>

<hr>

{{#if searchResults}}
<a data-toggle="collapse" href="#searchFields" class="btn btn-default btn-collapse">Show/Hide Search</a>
{{/if}}

<div id="searchFields" class="panel-collapse collapse {{if searchResults '' 'in'}}">

<div class="row">
  
  <div class="col col-xs-3">
    <label>Title:</label>
  </div>
  
  <div class="col col-xs-9">
        <p><Input @type="text" @size={{25}} @id="title" @value={{searchTitle}} @enter={{action "search"}} /></p>
  </div>
  
</div>

<div class="row">
  
  <div class="col col-xs-3">
        <label>Participant Names:</label>
  </div>
  
  <div class="col col-xs-9">
        <p><Input @type="text" @size={{25}} @id="participant" @value={{searchParticipant}} @enter={{action "search"}} /></p>
        <p class="hint">Enter one or more participant names (space-separated).</p>
  </div>
  
</div>

<div class="row">
  
  <div class="col col-xs-3">
        <label>IC Date:</label>
  </div>
  
  <div class="col col-xs-9">
        <p><Input @type="text" @size={{25}} @id="icdate" @value={{searchDate}} @enter={{action "search"}} /></p>
        <p class="hint">Matches the beginning of a scene's IC date, e.g. 2018-04 will find all scenes from April.</p>
  </div>
  
</div>

<div class="row">
  
  <div class="col col-xs-3">
        <label>Scene Type:</label>
  </div>
  
  <div class="col col-xs-9">

    <PowerSelect @selected={{searchType}} @options={{sceneTypes}} @onchange={{action "sceneTypeChanged"}} as |name|>
      {{name}}
    </PowerSelect>
    <br>
  </div>
  
</div>

<div class="row">
  
  <div class="col col-xs-3">
        <label>Location:</label>
  </div>
  
  <div class="col col-xs-9">
        <p><Input @type="text" @size={{25}} @id="location" @value={{searchLocation}} @enter={{action "search"}} /></p>
  </div>
  
</div>

<div class="row">
  
  <div class="col col-xs-3">
        <label>Tag:</label>
  </div>
  
  <div class="col col-xs-9">
        <p><Input @type="text" @size={{25}} @id="tag" @value={{searchTag}} @enter={{action "search"}} /></p>
  </div>
  
</div>


<div class="row">
  
  <div class="col col-xs-3">
        <label>Summary and Log:</label>
  </div>
  
  <div class="col col-xs-9">
        <p><Input @type="text" @size={{25}} @id="log" @value={{searchLog}} @enter={{action "search"}} /></p>

        <p class="hint">Matches a whole word or phrase from a log's summary or full log text.</p>
  </div>
  
</div>


    
    <div class="row">
        <div class="col col-xs-12">
            <div class="pull-right">
    
                <button class="btn btn-default" {{action 'reset'}}>Reset</button>
                <button class="btn btn-primary" {{action 'search'}}>Search</button>
            </div>
        </div>
    </div>

</div>

<hr>

<FlashMessages />

{{#if searchResults.pages}}

<SceneList @scenes={{searchResults.scenes}} @pages={{searchResults.pages}} @sceneTypes={{model.sceneTypes}} @filter={{searchType}} @page={{page}} @hideSearch={{true}} @goToPage={{action "goToPage"}} />

{{else}}
<p>No search results.</p>
{{/if}}

{{outlet}}