{{title "Search Wiki"}}

<h1>Search Wiki</h1>

{{search-bar}}

<p>The search will only match wiki pages that contain ALL the specified search criteria.  Capitalization doesn't matter.</p>

<hr/>

<div class="row">
  
  <div class="col col-xs-3">
    <label>Text:</label>
  </div>
  
  <div class="col col-xs-9">
        <p>{{input type="text" size=50 id="text"  value=searchText enter="search"}}</p>
  </div>
  
</div>

<div class="row">
  
  <div class="col col-xs-3">
        <label>Tag:</label>
  </div>
  
  <div class="col col-xs-9">
        <p>{{input type="text" size=50 id="tag"  value=searchTag enter="search"}}</p>
  </div>
  
</div>


    
    <div class="row">
        <div class="col col-xs-12">
            <div class="pull-right">
    
                <button class="btn btn-default" {{action 'reset'}}>Reset</button>
                <button class="btn btn-primary" {{action 'search'}}>Search</button>
            </div>
        </div>
    </div>

<hr/>

{{flash-messages}}

{{#if searchResults}}

<ul>
{{#each searchResults as |page|}}
<li>{{#link-to 'wiki-page' page.id}}{{page.heading}}{{/link-to}}</li>
{{/each}}
</ul>

{{else}}
<p>No search results.</p>
{{/if}}

{{outlet}}