<h1>Search Results for {{model.term}}</h1>

{{#each model.results as |item|}}

<p>
{{#if (eq item.category 'aresmush::area')}}
{{#link-to 'location' item.id}}{{item.name}}{{/link-to}} <i>(area)</i>
{{/if}}

{{#if (eq item.category 'aresmush::scene')}}
{{#link-to 'scene' item.id}}{{item.name}}{{/link-to}} <i>(scene)</i>
{{/if}}

{{#if (eq item.category 'aresmush::character')}}
{{#link-to 'char' item.id}}{{item.name}}{{/link-to}} <i>(character)</i>
{{/if}}

{{#if (eq item.category 'aresmush::wikipage')}}
{{#link-to 'wiki-page' item.id}}{{item.name}}{{/link-to}} <i>(wiki)</i>
{{/if}}
<br/>
{{item.summary}}
</p>
{{/each}}
{{outlet}}