{{title "Search Locations"}}

<h1>Search Locations</h1>

{{search-bar}}
  
<p>The search will only match locations that contain ALL the specified search criteria.  Searches match whole words unless otherwise specified.  Capitalization doesn't matter.</p>

<hr/>

{{#if searchResults}}
<a data-toggle="collapse" href="#searchFields"><button class="btn btn-default btn-collapse">Show/Hide Search</button></a>
{{/if}}

<div id="searchFields" class="panel-collapse collapse {{if searchResults '' 'in'}}">

<div class="row">
  
  <div class="col col-xs-3">
    <label>Name:</label>
  </div>
  
  <div class="col col-xs-9">
        <p>{{input type="text" size=25 id="name"  value=searchName enter="search"}}</p>
  </div>
  
</div>
<div class="row">
  
  <div class="col col-xs-3">
    <label>Description:</label>
  </div>
  
  <div class="col col-xs-9">
        <p>{{input type="text" size=25 id="desc"  value=searchDesc enter="search"}}</p>
  </div>
  
</div>


    
    <div class="row">
        <div class="col col-xs-12">
            <div class="pull-right">
    
                <button class="btn btn-default" {{action 'reset'}}>Reset</button>
                <button class="btn btn-primary" {{action 'search'}}>Search</button>
            </div>
        </div>
    </div>

</div>

<hr/>

{{flash-messages}}

{{#if searchResults}}

<ul>
{{#each searchResults as |loc|}}
  {{#if loc.area_id}}
    <li>{{#link-to 'location' loc.area_id}}{{loc.name_and_area}}{{/link-to}}</li>
  {{else}}
    <li>{{#link-to 'locations'}}{{loc.name_and_area}}{{/link-to}}</li>
  {{/if}}
{{/each}}
</ul>
    
{{else}}
<p>No search results.</p>
{{/if}}

{{outlet}}