{{title 'Secrets'}}

<h1>Secrets</h1>
<div class="table-responsive">

<table class="table table-striped">

  {{#each model.secrets as |secret|}}
    {{#if secret.secret_name}}
    <tr>
      <td>
        {{char-icon-inline char=secret.icon}} {{#link-to 'char' secret.id}}{{secret.name}}{{/link-to}}
      </td>
      <td>
        {{#if secret.secret_plot}}
          {{#link-to 'plot' secret.secret_plot}}{{secret.secret_name}} {{/link-to}}
        {{else}}
          <b>{{secret.secret_name}}</b>
        {{/if}}
        <br>

      {{secret.secret_summary}}
    </td>
  </tr>

    {{/if}}
  {{/each}}
</table>
</div>
