{{title 'Secrets'}}

<h1>Secrets</h1>
<h3>Active Characters</h3>
<div class="table-responsive">

<table class="table table-striped">

  {{#each model.active_chars as |char|}}

    <tr>
      <td>
        {{char-icon-inline char=char}}
      </td>
      <td>
        {{#if char.secret_name}}
          {{#if char.secret_plot}}
            {{#link-to 'plot' char.secret_plot}}{{char.secret_name}} {{/link-to}}
          {{else}}
            <b>{{char.secret_name}}</b>
          {{/if}}
        {{else}}
        <i>Not yet active.</i>
        {{/if}}
        <br>

      {{char.secret_summary}}
    </td>

  </tr>
  {{/each}}
</table>
</div>

<h3>Retired Characters</h3>
<div class="table-responsive">

<table class="table table-striped">

  {{#each model.idle_chars as |char|}}
    {{#if char.secret_name}}
      <tr>
        <td>
          {{char-icon-inline char=char}}
        </td>
        <td>

          {{#if char.secret_plot}}
            {{#link-to 'plot' char.secret_plot}}{{char.secret_name}} {{/link-to}}
          {{else}}
            <b>{{char.secret_name}}</b>
          {{/if}}
          <br>
        {{char.secret_summary}}
      </td>

    </tr>
  {{/if}}
  {{/each}}
</table>
</div>
