{{page-title "Game Setup"}}
<h1>Game Setup</h1>

<p>Here you can edit your game's configuration files.</p>

<div class="alert alert-info">You can find help for all the options in the <a href="http://aresmush.com/tutorials/config">Configuring AresMUSH</a> tutorial.</div>
   
<h2>Game Information</h2>
<ul>
    <li><LinkTo @route="game-edit">Game Directory Information</LinkTo></li>
    <li><LinkTo @route="textfile" @models={{array 'text' 'connect.txt'}}>Connect Screen</LinkTo></li>
    <li><LinkTo @route="textfile" @models={{array 'text' 'tos.txt'}}>Terms of Service</LinkTo></li>
</ul>

<h2>Website</h2>

<ul>
<li><LinkTo @route="setup-colors">Edit Theme Colors</LinkTo></li>
<li><LinkTo @route="textfile" @models={{array 'text' 'website.txt'}}>Home Page Text</LinkTo></li>
<li><LinkTo @route="files">Upload Files</LinkTo> <span class="hint">(Theme images live in the theme_files folder.)</span></li>
<li><LinkTo @route="textfile" @models={{array 'style' 'custom_style.scss'}}>Custom CSS Style</LinkTo></li>
</ul>

<h2>Plugin Setup</h2>
<ul>
    <li><LinkTo @route="plugins-edit">Enable or Disable Plugins</LinkTo></li>
    <li><LinkTo @route="channels-manage">Setup Channels</LinkTo></li>
    <li><LinkTo @route="forum-manage">Setup Forum</LinkTo></li>
    <li><LinkTo @route="jobcat-manage">Setup Job Categories</LinkTo></li>
</ul>


<h2>Config Files</h2>


<ul>
{{#each model.config as |file|}}
<li><LinkTo @route="config" @model={{file.name}}>{{file.name}}</LinkTo></li>
{{/each}}
</ul>

<h2>Text Files</h2>
<ul>
{{#each model.textfiles as |file|}}
<li><LinkTo @route="textfile" @models={{array file.file_type file.name}}>{{file.name}}</LinkTo></li>
{{/each}}
</ul>

{{outlet}}