{{page-title "Setup Theme Colors"}}
<h1>Setup Theme Colors</h1>

<table>
    
{{#each this.model as |color|}}
<tr>
    <td><b>{{color.name}}</b></td>
    <td><Input @type="color" class="color-select" @value={{color.value}} /> <Input @value={{color.value}} /> </td>
</tr>
{{/each}}

</table>

<div class="action-buttons">
    <button {{action 'saveColors'}} class="btn btn-primary">Save</button>
</div>

<FlashMessages/>
{{outlet}}