{{page-title this.model.title}}
<h1>{{this.model.title}}</h1>

<div class="ansi">

<p><center>[ {{#link-to 'schools' 'air'}}Air{{/link-to}} | {{#link-to 'schools' 'corpus'}}Corpus{{/link-to}} | {{#link-to 'schools' 'earth'}}Earth{{/link-to}} | {{#link-to 'schools' 'fire'}}Fire{{/link-to}} | {{#link-to 'schools' 'nature'}}Nature{{/link-to}} | {{#link-to 'schools' 'spirit'}}Spirit{{/link-to}} | {{#link-to 'schools' 'water'}}Water{{/link-to}} | {{#link-to 'schools' 'will'}}Will{{/link-to}} ]</center></p>



<p></p>


<div class="clear"></div>

<h2 style="padding-top:0px; margin-top:0px;">All Spells</h2>
{{#link-to 'search-spells' class="btn btn-secondary"}}<i class="fa fa-search" aria-hidden="true"></i> Search Spells{{/link-to}}<br><br>
<ul class="nav nav-tabs" role="tablist">
  {{#each-in this.model.spells as |group spells|}}
    <li ><a data-bs-toggle="tab" href="#{{group}}">Level {{group}}</a></li>
  {{/each-in}}
</ul>

<div class="tab-content">
  {{#each-in this.model.spells as |group spells|}}
  <div id="{{group}}" class="tab-pane fade show {{group}}">

    {{#each spells as |spell|}}

      {{spell-card spell=spell}}

    {{/each}}
  </div>
  {{/each-in}}
</div>



</div>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
