{{title model.file}}
<h1>Edit {{model.file}} Config</h1>

{{#if (eq model.file_type 'config')}}
    <YamlEditor @editorId="config" @text={{model.text}} @rows={{30}} />
{{else}}
    <Textarea @value={{model.text}} @cols="80" @rows={{30}} class="code-editor" />
{{/if}}

<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
            <LinkTo @route="setup" class="btn btn-default">Cancel</LinkTo>
            <button {{action 'save'}} class="btn btn-primary">Save</button>
        </div>
        
        <FlashMessages />
    </div>
</div>

{{outlet}}
