{{title "Tinker"}}
<h1>Tinker Command</h1>
    
    <AceEditor @editorId="editor" @resetEditorCallback={{resetEditor}} @text={{model.text}} @mode="html_ruby" @editorChanged={{action "editorChanged"}} />

<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
            <LinkTo @route="home" class="btn btn-default">Cancel</LinkTo>
            <button {{action 'save'}} class="btn btn-primary">Save</button>
        </div>
        
        <FlashMessages />
    </div>
</div>


<div class="panel panel-default">

    <div class="panel-body">
        <p>When you're finished - or if you get the code into a messed-up state - you can reset the tinker code back to its default.</p>
        <p>Be aware: This will erase any of your tinkering changes.  No other code will be affected.</p>

        <button {{action 'reset'}} class="btn btn-warning">Reset</button>
    </div>
</div>

{{outlet}}