{{page-title "Who's Online"}}
<h1>Who's Online</h1>

<p>{{this.model.who_count}} character(s) online.</p>

<table class="table who-list">
  <tbody>
    {{#each this.model.who as |char|}}
    <tr>
        <td> <CharIconInline @char={{char}} /> </td>   
        <td> 
          {{#if this.model.can_boot}}
          <a href="#" {{action (mut this.bootTarget) char}}>
            <TooltipIcon @position="right" @message="Boot player." @icon="fa-solid fa-user-slash" />
          </a>
          {{/if}}
        </td>     
    </tr>
    {{/each}}
  </tbody>
</table>

<br>

<h4>Legend</h4>
  
    
<span class="inline-block">
  <img class="small-profile-icon icon-status-game-active" alt="Active On Game" src="/game/uploads/theme_images/noicon.png" >
  Active on Game
</span>

<span class="inline-block">
  <img class="small-profile-icon icon-status-web-active" alt="Active On Portal" src="/game/uploads/theme_images/noicon.png" >
  Active on Portal
</span>

<span class="inline-block">
  <img class="small-profile-icon icon-status-game-inactive" alt="Idle" src="/game/uploads/theme_images/noicon.png" >
  Idle on Game
</span>

<span class="inline-block">
  <img class="small-profile-icon icon-status-web-inactive" alt="Idle" src="/game/uploads/theme_images/noicon.png" >
  Idle on Portal
</span>


<BsModalSimple @title="Boot Player" @closeTitle="Cancel" @submitTitle="Boot" @size={{null}} @fade={{true}} @open={{this.bootTarget}} @onSubmit={{action "bootPlayer"}} @onHide={{action (mut this.bootTarget) null}}>
    <p>Please enter the reason you are booting the player. Use the chat or scene reporting features if applicable to provide evidence. Abuse of the boot feature may result in disciplinary action.</p>
    
    <p><Textarea @type="text" id="bootReason" placeholder="Reason for booting" @value={{this.bootReason}} /></p>
</BsModalSimple>   
  
{{outlet}}
