<h1>Game Status</h1>

<h2>Who's Online</h2>

<p>{{model.who_count}} character(s) online.</p>

<table class="table table-striped">
    {{#each model.who as |char|}}
    <tr>
        <td> {{char-icon-inline char=char}} </td>        
    </tr>
    {{/each}}
</table>


<h2>Scenes</h2>

<p>{{model.scenes_count}} active scene(s).</p>

<table class="table table-striped">
    {{#each model.scenes as |scene|}}
    <tr>
        <td> <b>{{scene.location}}</b> - {{scene.people}}</td>        
    </tr>
    {{/each}}
</table>

{{outlet}}