{{title 'Create New Page'}}
<h1>Create New Page</h1>

    <p>
        <label for="title" class="col-xs-2 col-form-label">Title:</label>
        <p>{{input type="text" size=25 id="title" enter="save" value=model.title}}</p>
    </p>

    <p>
        <label for="tags" class="col-xs-2 col-form-label">Tags:</label>
        <p>{{input type="text" size=25 id="tags" enter="save" value=model.tags}}</p>
    </p>
    
   {{markdown-editor text=model.text rows=20}}
   
    
    <div class="row">
        <div class="col col-xs-12">
            <div class="pull-right">
                
              {{#link-to 'wiki' class="btn btn-default"}}Cancel{{/link-to}} 
                <button class="btn btn-primary" {{action 'save'}}>Save</button>
        </div>
      </div>
    </div>
    
    {{flash-messages}}
    

<hr/>
