<h1>{{model.heading}}</h1>

{{#if page.can_change_name}}
    <p>
        <label for="name" class="col-xs-2 col-form-label">Page Name:</label>
        <p>{{input type="text" size=50 id="name" enter="save" value=model.name}}</p>
    </p>
{{/if}}

    <p>
        <label for="title" class="col-xs-2 col-form-label">Title:</label>
        <p>{{input type="text" size=50 id="title" enter="save" value=model.title}}</p>
    </p>

    <p>
        <label for="tags" class="col-xs-2 col-form-label">Tags:</label>
        <p>{{input type="text" size=50 id="tags" enter="save" value=model.tags}}</p>
    </p>
    
   
    {{textarea value=model.text rows="25"}}
     
  
    <div class="row">
        <div class="col col-xs-12">
            <div class="pull-right">
                
              {{#link-to 'wiki-page' model.id class="btn btn-default"}}Cancel{{/link-to}} 
                <button class="btn btn-default" {{action 'preview'}}>Preview</button>
                <button class="btn btn-primary" {{action 'save'}}>Save</button>
        </div>
      </div>
    </div>
    
    {{flash-messages}}
    
    {{#if preview}}
    <div class="panel panel-default">
        <div class="panel panel-heading">
            Preview
        </div>
        <div class="panel panel-body">
            {{{preview}}}
        </div>
    </div>
    {{/if}}
    

<hr/>
