{{page-title model.heading}}
<h1>{{model.heading}} Source</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        Other Versions
    </div>

<ol>
    {{#each model.versions as |v|}}
    <li>
     
     <LinkTo @route="wiki-source" @models={{array model.page_id v.id}}>
     {{#if (eq v.id model.version_id)}}
     <i class="far fa-dot-circle fa-fw" aria-label="Current Version"></i>
     {{else}}
     <i class="far fa-circle fa-fw" aria-label="Other Version"></i>
     {{/if}}
     
     {{v.created}} ({{v.author}})</LinkTo>
     </li>
    {{/each}}
</ol>

</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Selected Version
    </div>
    <div class="panel-body">
        <pre>
        {{model.text}}
        </pre>
    </div>
</div>


{{#if model.diff}}

<div class="panel panel-default">
    <div class="panel-heading">
        Compared to Previous Version
        &nbsp;
        <a data-toggle="collapse" href="#compare" class="btn btn-default btn-collapse">Show/Hide</a>
        
    </div>
    <div id="compare" class="panel-collapse collapse">
        <div class="panel-body">
            {{{model.diff}}}
        </div>
    </div>
</div>

{{/if}}

<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">

  {{#if can_edit}}

        <button class="btn btn-default">Revert to This Version</button>
        
  {{/if}}
        
  </div>
  </div>
</div>

<LinkTo @route="wiki-page" @model={{model.name}}><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Back to Page</LinkTo>