{{title model.heading}}
<a name="top"></a>
<h1>{{model.heading}}</h1>

<div class="row wiki-breadcrumbs">
    <div class="col col-xs-10">
      <span class="wiki-breadcrumb">
        {{#each model.breadcrumbs as |crumb index|}}
          {{#if (not (eq index 0) ) }}
          <i class="fas fa-angle-double-right" aria-hidden="true"></i>
          {{/if}}
          {{#if crumb.url}}
          <a href="/wiki/{{crumb.url}}">{{crumb.title}}</a> 
          {{else}}
          {{crumb.title}}
          {{/if}}
        {{/each}}
      </span>
    </div>
    
    <div class="col col-xs-2">
        <a href="#bottom"><i class="fas fa-angle-double-down" aria-hidden="true"></i> Jump to End</a>
    </div>
</div>


<AnsiFormat @text={{model.text}} />

<hr>

<div class="row">
    <div class="col col-xs-12">
      <div class="pull-right">
        <a name="bottom"></a>
        <p><a href="#top"><i class="fas fa-chevron-circle-up"></i> Jump to Top</a></p>
      </div>
    </div>
</div>

{{#if model.tags}}
<b>Tags:</b>  
    {{#each model.tags as |tag|}}
    <LinkTo @route="wiki-tag" @model={{tag}}>{{tag}}</LinkTo>
    {{/each}}
{{/if}}

<div class="row">
    <div class="col col-xs-12">
        <div class="pull-right">
 
  {{#if model.can_delete}}
        <button {{action (mut confirmDelete) true}} class="btn btn-warning">Delete Page</button>
  {{else}}
        <button class="btn btn-warning" disabled="true">Delete Page</button>
  {{/if}}
      <LinkTo @route="wiki-source" @models={{array model.name model.current_version_id}} class="btn btn-default">Source/History</LinkTo>
      
   {{#if model.can_edit}}
        <LinkTo @route="wiki-edit" @model={{model.name}} class="btn btn-primary">Edit</LinkTo> 
   {{else}}
      <button class="btn btn-primary" disabled="true">Edit</button>
   {{/if}} 
   
       </div>
       
       {{#if model.lock_info}}
       <div class="alert alert-warning">This page is locked by {{model.lock_info.locked_by}}.  Their lock will expire on {{model.lock_info.time}} or when they're done editing.</div>
       {{/if}}
       
  </div>
</div>

<FlashMessages />


<BsModalSimple @title="Confirm Delete" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{false}} @open={{confirmDelete}} @onSubmit={{action "delete"}} @onHide={{action (mut confirmDelete) null}}>
    You're about to delete page {{model.heading}}. This cannot be undone.  Are you sure?
  </BsModalSimple>
  
{{outlet}}

    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
    