{{page-title 'Create New Page'}}
<h1>Create New Page</h1>

        
    <div class="form-item">
     <div class="form-item-label">
        <label for="title" class="col-xs-2 col-form-label">Title:</label>
     </div>
     <div class="form-item-entry">
       <Input @type="text" size={{25}} id="title" @enter={{this.save}} @value={{this.model.title}} />

        <div class="hint">This is the page title that the players see.</div>
     </div> 
   </div>

     <div class="form-item">
      <div class="form-item-label">
        <label for="name" class="col-xs-2 col-form-label">Page Name:</label>
      </div>
      <div class="form-item-entry">
        <Input @type="text" size={{25}} id="name" @enter={{this.save}} @value={{this.model.name}} />
        
        <div class="hint">If blank, the page title will be converted into a name.</div>
      </div> 
    </div>
       
    <div class="form-item">
     <div class="form-item-label">
        <label for="tags" class="col-xs-2 col-form-label">Tags:</label>
     </div>
     <div class="form-item-entry">
        <Input @type="text" size={{25}} id="tags" @enter={{this.save}} @value={{this.model.tags}} />
     </div> 
   </div>  
    
    <div class="form-item">
     <div class="form-item-label">
        <label for="tags" class="col-xs-2 col-form-label">Template:</label>
     </div>
     <div class="form-item-entry">
      <PowerSelect @selected={{this.model.template}} @options={{this.model.templates}} @searchField="title" @onChange={{this.templateChanged}} as |tmp|>
        {{tmp.title}}
      </PowerSelect>
     </div> 
   </div>  
    
   <MarkdownEditor @text={{this.model.text}} @rows={{30}} />
   
    
<div class="action-buttons">
  <LinkTo @route="wiki" class="btn btn-secondary">Cancel</LinkTo> 
  <button class="btn btn-primary" {{on 'click' this.save}}>Save</button>
</div>
    
    <FlashMessages />
    

<hr>
