{{page-title model.heading}}
<h1>{{model.heading}}</h1>

{{#if model.can_change_name}}
    
     <div class="form-group row">
      <div class="col-sm-3">
        <label for="name" class="col-xs-2 col-form-label">Page Name:</label>
      </div>
      <div class="col-sm-9">
        <Input @type="text" @size={{25}} @id="name" @enter={{action "save"}} @value={{model.name}} />
      </div> 
    </div>
    
{{/if}}

     <div class="form-group row">
      <div class="col-sm-3">
        <label for="title" class="col-xs-2 col-form-label">Title:</label>
      </div>
      <div class="col-sm-9">
        <Input @type="text" @size={{25}} @id="title" @enter={{action "save"}} @value={{model.title}} />
      </div> 
    </div>
    
     <div class="form-group row">
      <div class="col-sm-3">
         <label for="tags" class="col-xs-2 col-form-label">Tags:</label>
      </div>
      <div class="col-sm-9">
        <Input @type="text" @size={{25}} @id="tags" @enter={{action "save"}} @value={{model.tags}} />
      </div> 
    </div>

   
    <MarkdownEditor @text={{model.text}} @rows={{30}} />
  
    <div class="row">
        <div class="col col-xs-12">
            <div class="pull-right">

                {{#if model.can_do_minor_edits}}
                <Input @type="checkbox" @checked={{minorEdit}} /> Minor Edit
                {{/if}}
                <button class="btn btn-default" {{action 'cancel'}}>Cancel</button>
                <button class="btn btn-primary" {{action 'save'}}>Save</button>
        </div>
      </div>
    </div>
    
    <FlashMessages />
    
    {{#if preview}}
    <div class="panel panel-default">
        <div class="panel-heading">
            Preview
        </div>
        <div class="panel-body">
            {{{preview}}}
        </div>
    </div>
    {{/if}}
    

<hr>
