{{page-title this.model.name}}
<h1>Tag - {{this.model.name}}</h1>

{{#each this.model.groups as |group|}}
<h2>{{group.name}}</h2>
<ul>
{{#each group.items as |item| }}
  {{#if (eq "AresMUSH::BbsPost" item.type)}}
   <li><LinkTo @route="forum-topic" @models={{array 1 item.id}}>{{item.title}}</LinkTo></li>
  {{else}}
    <li><LinkTo @route={{item.route}} @model={{item.id}}>{{item.title}}</LinkTo></li>
  {{/if}}
{{/each}}
</ul>
{{/each}}
