{{page-title model.name}}
<h1>Tag - {{model.name}}</h1>
{{#each model.groups as |group|}}
<h2>{{group.name}}</h2>
<ul>
{{#each group.items as |item| }}
<li><LinkTo @route={{item.route}} @model={{item.id}}>{{item.title}}</LinkTo></li>
{{/each}}
</ul>
{{/each}}