{{page-title this.model.heading}}
<a name="top"></a>
<h1>{{this.model.heading}}</h1>

<div class="wiki-page-nav">
  <div class="wiki-breadcrumbs">
        <span class="wiki-breadcrumb">
          {{#each this.model.breadcrumbs as |crumb index|}}
            {{#if (not (eq index 0) ) }}
            <i class="fas fa-angle-double-right" aria-hidden="true"></i>
            {{/if}}
            {{#if crumb.url}}
            <a href="/wiki/{{crumb.url}}">{{crumb.title}}</a> 
            {{else}}
            {{crumb.title}}
            {{/if}}
          {{/each}}
        </span>

  </div>
  <a href="#bottom"><i class="fas fa-angle-double-down" aria-hidden="true"></i> Jump to End</a>
</div>


<AnsiFormat @text={{this.model.text}} />

<div class="clearfix"></div>

<hr>

<div class="action-buttons">
  <a name="bottom"></a>
  <p><a href="#top"><i class="fas fa-angle-double-up"></i> Jump to Top</a></p>
</div>

{{#if this.model.tags}}
<b>Tags:</b>  
    {{#each this.model.tags as |tag|}}
    <LinkTo @route="wiki-tag" @model={{tag}}>{{tag}}</LinkTo>
    {{/each}}
{{/if}}

<div class="action-buttons">
  {{#if this.model.can_delete}}
        <button {{on 'click' this.showActionConfirmation}} class="btn btn-warning">Delete Page</button>
  {{else}}
        <button class="btn btn-warning" disabled="true">Delete Page</button>
  {{/if}}
      <LinkTo @route="wiki-source" @models={{array this.model.name this.model.current_version_id}} class="btn btn-secondary">Source/History</LinkTo>
      
   {{#if this.model.can_edit}}
        <LinkTo @route="wiki-edit" @model={{this.model.name}} class="btn btn-primary">Edit</LinkTo> 
   {{else}}
      <button class="btn btn-primary" disabled="true">Edit</button>
   {{/if}} 
   
</div>
       
{{#if this.model.lock_info}}
<div class="alert alert-warning">This page is locked by {{this.model.lock_info.locked_by}}.  Their lock will expire on {{this.model.lock_info.time}} or when they're done editing.</div>
{{/if}}

<FlashMessages />


<BsModalSimple @title="Confirm Delete" @closeTitle="Cancel" @submitTitle="Confirm" @size={{null}} @fade={{true}} @open={{this.actionConfirmationVisible}} @onSubmit={{this.delete}} @onHide={{this.hideActionConfirmation}}>
    You're about to delete page {{this.model.heading}}. This cannot be undone.  Are you sure?
  </BsModalSimple>
  
{{outlet}}

    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
    